<div class="commercial-panel">
	<div class="commercial-tabs">
		<div class="commercial-tab active">
			<span class="commercial-tab__title">Кампании</span>
		</div>
	</div>
	<span class="commercial-panel__add">Новая кампания</span>
	<span class="commercial-panel__save">Сохранить</span>
	{{ if (0) { }}
		<span class="commercial-panel__export">Экспорт в Excel</span>
	{{ } }}
</div>
<div class="commercial-wrapper"></div>