<span class="commercial-table__cell commercial-table__cell--title" title="{{- title }}">{{- title }}</span>
<span class="commercial-table__cell commercial-table__cell--date" title="{{- date }}">{{- date }}</span>
<span class="commercial-table__cell commercial-table__cell--target" title="{{- targeting }}">{{- targeting }}</span>
<i class="commercial-table__remove"></i>