<div class="commercial-campaign-wrapper">
	<div class="commercial-campaign-section">
		<span class="commercial-section__title">Общие</span>
		<div class="commercial-section-field">
			<span class="commercial-field__title">Название кампании</span>
			<div class="commercial-data">
				<input type="text" name="title" class="commercial-data__input commercial-data__input--name" value="{{- title }}">
				<span class="commercial-data__hint">Выберите произвольное название для рекламной кампании</span>
			</div>
		</div>
		<div class="commercial-section-field">
			<span class="commercial-field__title">Продолжительность ролика</span>
			<div class="commercial-data">
				<input type="text" name="duration" class="commercial-data__input commercial-data__input--time" value="{{- duration }}">
				<span class="commercial-data__hint">Минут:секунд</span>
			</div>
		</div>
		<div class="commercial-section-field">
			<span class="commercial-field__title">Время действия</span>
			<div class="commercial-data">
				<span class="commercial-data__text"><strong><input type="text" name="start" readonly class="commercial-data__date commercial-data__date--since" value="{{- sinceDate }}"> - <input type="text" name="end" readonly class="commercial-data__date commercial-data__date--until" value="{{- untilDate }}"></strong></span>
			</div>
		</div>
	</div>
	<div class="commercial-campaign-section">
		<span class="commercial-section__title">Таргетинг</span>
		<div class="commercial-section-field commercial-section-field--halls">
			<span class="commercial-field__title">Залы</span>
			<div class="commercial-data">
				<span class="commercial-data__text">В каких залах <strong>{{- cinemaTitle }}</strong> будем показывать?</span>
				<ul class="commercial-data-list">
					<li class="commercial-data-item">
						<label><input type="radio" class="commercial-data-item__radio" name="halls" {{ if (halls.length === hallsData.length || !halls.length) { }}checked{{ } }}>Все залы</label>
					</li>
					<li class="commercial-data-item">
						{{ var hallTitle; }}
						<label><input type="radio" class="commercial-data-item__radio" name="halls" {{ if (halls.length && halls.length !== hallsData.length) { }}checked{{ } }}>Определённые залы</label>
						<span class="commercial-data-item__text"><strong>{{- hallsText }}</strong></span>
						<div class="commercial-data-hidden commercial-data-hidden--halls {{ if (halls.length && halls.length !== hallsData.length) { }}show{{ } }}">
							{{ _.each(hallsData, function(oneHall) { }}
								{{ var check = false; }}
								{{ if (halls === 'all') { }}
									{{ var index = _.indexOf(hallsData, oneHall); }}
									{{ if (hallsData.length >= 2 && (index === 0 || index === 1) || hallsData.length === 1) { }}
										{{ var check = true; }}
									{{ } }}
								{{ } else { }}
									{{ var index = _.indexOf(halls, oneHall.id); }}
									{{ if (index >= 0) { }}
										{{ var check = true; }}
									{{ } }}
								{{ } }}
								{{ if (_.isNaN(parseInt(oneHall.title))) { }}
									{{ hallTitle = oneHall.title + ' зал'; }}
								{{ } else { }}
									{{ hallTitle = 'Зал ' + oneHall.title; }}
								{{ } }}
								<label><input type="checkbox" {{ if (check) { }}checked{{ } }} data-id="{{- oneHall.id }}">{{- hallTitle }}</label>
							{{ }); }}
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="commercial-section-field commercial-section-field--daytime">
			<span class="commercial-field__title">Время показа</span>
			<div class="commercial-data">
				<ul class="commercial-data-list">
					<li class="commercial-data-item">
						<label><input type="radio" class="commercial-data-item__radio" name="showTime" {{ if (!day_time[0] || day_time[0].period.length === 3) { }}checked{{ } }}>Всё время</label>
					</li>
					<li class="commercial-data-item">
						<label><input type="radio" class="commercial-data-item__radio" name="showTime" {{ if (day_time.length && day_time[0].period.length !== 3) { }}checked{{ } }}>Определённое время дня</label>
						<span class="commercial-data-item__text"><strong>{{- dayTimeText }}</strong></span>
						<div class="commercial-data-hidden commercial-data-hidden--time {{ if (day_time.length && day_time[0].period.length !== 3) { }}show{{ } }}">
							<label><input type="checkbox" data-period="morning" data-start="07:00" data-end="12:00" {{- (day_time.length && _.filter(day_time[0].period, function(onePeriod){ return onePeriod === 'morning'; }).length) || (!day_time[0] || day_time[0].period.length === 3) ? 'checked' : '' }}>Утро <span class="commercial-data-item__text--gray">07:00 - 12:00</span></label>
							<label><input type="checkbox" data-period="day" data-start="12:00" data-end="17:00" {{- day_time.length && _.filter(day_time[0].period, function(onePeriod){ return onePeriod === 'day'; }).length ? 'checked' : '' }}>День <span class="commercial-data-item__text--gray">12:00 - 17:00</span></label>
							<label><input type="checkbox" data-period="eavning" data-start="17:00" data-end="23:00" {{- day_time.length && _.filter(day_time[0].period, function(onePeriod){ return onePeriod === 'eavning'; }).length ? 'checked' : '' }}>Вечер <span class="commercial-data-item__text--gray">17:00 - 23:00</span></label>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="commercial-section-field commercial-section-field--position">
			<span class="commercial-field__title">Перед фильмами</span>
			<div class="commercial-data">
				<ul class="commercial-data-list">
					<li class="commercial-data-item">
						<label><input type="radio" class="commercial-data-item__radio" name="films" {{ if ((position.format.length === 5 && position.age.length === 5) || (!position.format.length && !position.age.length)) { }}checked{{ } }}>Перед всеми фильмами</label>
					</li>
					<li class="commercial-data-item">
						<label><input type="radio" class="commercial-data-item__radio" name="films" {{ if ((position.format.length < 5 && position.format.length > 0) || (position.age.length < 5 && position.age.length > 0)) { }}checked{{ } }}>Формат и возраст</label>
						<span class="commercial-data-item__text"><strong>{{- positionText }}</strong></span>
						<div class="commercial-data-hidden commercial-data-hidden--formats {{ if ((position.format.length < 5 && position.format.length > 0) || (position.age.length < 5 && position.age.length > 0)) { }}show{{ } }}">
							<label><input type="checkbox" data-format="2d" {{- _.indexOf(position.format, '2d') >= 0 ? 'checked' : '' }}>2D</label>
							<label><input type="checkbox" data-format="3d" {{- _.indexOf(position.format, '3d') >= 0 ? 'checked' : '' }}>3D</label>
							<label><input type="checkbox" data-format="imax" {{- _.indexOf(position.format, 'imax') >= 0 ? 'checked' : '' }}>IMAX</label>
							<label><input type="checkbox" data-format="dbox" {{- _.indexOf(position.format, 'dbox') >= 0 ? 'checked' : '' }}>DBOX</label>
							<label><input type="checkbox" data-format="atmos" {{- _.indexOf(position.format, 'atmos') >= 0 ? 'checked' : '' }}>ATMOS</label>
						</div>
						<div class="commercial-data-hidden commercial-data-hidden--ages {{ if ((position.format.length < 5 && position.format.length > 0) || (position.age.length < 5 && position.age.length > 0)) { }}show{{ } }}">
							<label><input type="checkbox" data-age="0" {{- _.indexOf(position.age, 0) >= 0 ? 'checked' : '' }}>0+</label>
							<label><input type="checkbox" data-age="6" {{- _.indexOf(position.age, 6) >= 0 ? 'checked' : '' }}>6+</label>
							<label><input type="checkbox" data-age="12" {{- _.indexOf(position.age, 12) >= 0 ? 'checked' : '' }}>12+</label>
							<label><input type="checkbox" data-age="16" {{- _.indexOf(position.age, 16) >= 0 ? 'checked' : '' }}>16+</label>
							<label><input type="checkbox" data-age="18" {{- _.indexOf(position.age, 18) >= 0 ? 'checked' : '' }}>18+</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<span class="commercial-campaign__save">Сохранить кампанию</span>
	<span class="commercial-campaign__cancel">{{- isNew ? 'Отменить создание новой кампании' : 'Отмена' }}</span>
</div>