<div class="nt-sidebar-item-header">
	<span class="nt-sidebar-item-header__header">Чат</span>
</div>

<ul id="chatbox" class="nt-sidebar-chat-box">
	<i class="loader"></i>
</ul>

<div class="nt-sidebar-chat-send">
	{{ if (noPhoto) { }}
		<span class="nt-sidebar-chat-send__download-photo">Ой, кажется у вас не загружено фото!</span>
	{{ } }}
	<textarea name="chat-message" id="chat-message" cols="30" rows="1" maxlength="370" wrap="soft"></textarea>
	<a id="chat-send" href="#" class="nt-sidebar-chat-send__btn">Отправить</a>
</div>