<div class="nt-sidebar-chat-box__message-avatar" style="background-image: url({{- message.user.photo_medium }})">
	{{ if (message.user.employee) { }}
		<div class="nt-sidebar-chat-box__message-avatar__employee"></div>
	{{ } }}
</div>

<span class="nt-sidebar-chat-box__message-date">
	{{- message.created.format('HH:mm' + (moment(0, 'HH') > message.created ? ' DD.MM.YYYY' : '')) }}
</span>

<span class="nt-sidebar-chat-box__message-name">{{- message.user.first_name }} {{- message.user.last_name }}</span>

{{ if (moderator) { }}
	<span class="nt-sidebar-chat-box__message-remove"><i class="fa fa-times"></i></span>
	{{ if(message.ticket_id) { }}
		<a class="nt-sidebar-chat-box__ticket" href="{{- servicedeskURL + message.ticket_id }}" target="_blank"></a>
	{{ } else { }}
		<a class="nt-sidebar-chat-box__new-ticket" href="#"></a>
	{{ } }}
{{ } }}

<div class="nt-sidebar-chat-box__message-text">{{= message.text }}</div>
