<div class="repertoire_blocked"></div>
<div class="mechanic_blocked">
	<span>Информация о росписи отсутствует.<br><br>Обратитесь к менеджеру по репертуарному планировнию,<br>для получения доступа (если он пользуется системой Киноплан).</span>
</div>
<div class="filter">
	<div class="repertoire_sections">
		<div class="item section_network {{- cinemasCount == 1 ? 'hide' : '' }}">
			<span class="text">По сети</span>
		</div>
		<div class="item section_cinema active">
			<span class="text">По кинотеатру</span>
		</div>
		<div class="item section_halls {{- cinema.halls.length == 1 ? 'hide' : '' }}">
			<span class="text">По залам</span>
		</div>
	</div>

	{{ if (userType === 'cinema') { }}
		<a href="#" class="restart-tour"></a>
	{{ } }}

	<span class="btn_export"><span class="button">Экспорт в Excel</span></span>

	<div class="my_date" data-tour="show-planning-week">
		<div class="prev"><i class="my_date_prev"></i></div>
		<input class="my_date__date--input" type="text" value="{{- moment(date).format('MM YYYY') }}">
		<span class="my_date__date">{{- date.getMonth().toMonthName() }} {{- date.getFullYear() }}</span>
		<div class="next"><i class="my_date_next"></i></div>
	</div>

	<div class="full_halls_mode {{- fullHallsMode ? 'active' : '' }}"></div>

	<div class="screen {{- fullHallsMode ? 'hide' : '' }}">
		<i class="arrow_left"></i>
		<i class="arrow_right"></i>
	</div>

	<div class="full_weeks_mode_wrapper {{- monthWeeksStarts ? 'active' : '' }}">
		<i class="full_weeks_mode"></i>
		<i class="full_weeks_mode full_weeks_mode__enable"></i>
	</div>
</div>
<div class="fon_filter"></div>

<div id="repertoire" class="planning_section">
	<div id="my_repertoire_wr" class="repertoire_wrap"></div>
</div>
<div id="halls" class="planning_section">
	<div class="cinema_schedule"></div>
</div>
<div id="network" class="planning_section">
	<div class="network_wrap"></div>
</div>
