<div class="ad_time"></div>
<p class="film_title {{- _.contains(actualReleases, release_id) ? 'actual' : '' }}">{{- title }}</p>
{{ if (!defaultRelease) { }}
	<span class="repertoire_count">{{- count }}</span>
	<span class="count">
		<span class="current_count"></span>
		<span class="common_count">/ {{- count }}</span>
	</span>
{{ } }}
<div class="badg_cer {{- color }}" color="{{- color }}"></div>
<span class="release_info">
	{{- age }}+ {{- duration ? ', ' + duration + ' мин.' : '' }}

	{{ if (formats !== '2D' || upgrades.length) { }}
		<i title="{{- formats }} {{- upgrades }}">{{- formats }} {{- upgrades }}</i>
	{{ } }}
</span>