{{ if (userType === 'mechanic' && currentCinema.rights_id === 0) { }}
	<div class="mechanic_blocked"><span>Информация о росписи отсутствует.<br><br>Обратитесь к менеджеру по репертуарному планировнию,<br>для получения доступа (если он пользуется системой Киноплан).</span></div>
{{ } else { }}
	<div class="week_popup"></div>
	<div class="schedule_blocker"></div>
	<div class="list_films"></div>
	<div class="item_week"></div>
{{ } }}
