<div class="current_week">
	<div class="bk"><i class="bk__ico"></i></div>

	<input type="text" value="{{- moment(date).add('days', -6).format('DD.MM.YYYY') }}" style="display:none;">
	<span class="current_week_date">
	{{ if (days_week.first().month === days_week.last().month){ }}
		{{- days_week.first().day_of_month }} - {{- days_week.last().day_of_month }} {{- days_week.last().month }}, {{- currentYear }} г.
	{{ } else { }}
		{{- days_week.first().day_of_month }} {{- days_week.first().month }} - {{- days_week.last().day_of_month }} {{- days_week.last().month }}, {{- currentYear }} г.
	{{ } }}
	</span>

	<div class="ff"><i class="ff__ico"></i></div>
</div>

<i class="fa fa-filter change-display-mode {{- filterReleases ? 'active' : '' }}" title="Фильтрация релизов без росписи {{- filterReleases ? 'включена.' : 'отключена.' }}"></i>

<div class="list_films_wrap">
	<div class="found-releases"></div>
</div>

<span class="schedule_report"><i class="fa fa-file-text-o ico"></i>Отчет</span>
<span class="schedule_generation"><i class="fa fa-cogs ico"></i>Генерация</span>

<span class="export"><i class="excel_ico"></i>Экспорт в Excel</span>

<span class="clear_schedule"><i class="trash_ico"></i></span>
