@import '../../base';

.release-card {
	* {
		box-sizing: border-box;
		&:before,
		&:after {
			box-sizing: border-box;
		}
	}
	&-section {
		font-size: 14px;
		line-height: 22px;
		color: #333;
		&__title {
			margin: 20px 0 5px;
			font-size: 16px;
			font-weight: bold;
		}
	}
	&-table {
		vertical-align: top;
		&__type {
			width: 120px;
			padding-right: 15px;
			font-size: 13px;
			color: #898989;
			text-align: right;
			vertical-align: top;
		}
		&--cast,
		&--rating {
			display: inline-block;
			width: initial;
			max-width: 600px;
		}
		&--cast &__type,
		&--rating &__type {
			width: 100px;
		}
		&--cast &__type + td {
			padding-bottom: 5px;
		}
		tr {
			&.no-rights {
				pointer-events: none;
			}
			&:hover {
				.fa {
					display: inline-block;
				}
			}
		}
	}
	&-list {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&-trailer {
		display: inline-block;
		width: 200px;
		margin: 0 20px 10px 0;
		vertical-align: top;
		video {
			display: none;
		}
		&:last-child {
			margin-right: 0;
		}
		&-preview {
			position: relative;
			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 42px;
				height: 42px;
				margin: -21px 0 0 -21px;
				content: '';
				background: url(/img/release_play_ico.svg) no-repeat;
				transition: transform .3s;
				transform: translate3d(0, 0, 0);
			}
			&:hover:before {
				transform: scale(1.1);
			}
		}
		&-info {
			font-size: 12px;

			@include clearfix();
		}
		&__thumb {
			width: 100%;
			height: 84px;
		}
		&__duration {
			float: right;
			color: #9b9b9b;
		}
	}
	&__distributor,
	&__rating,
	&__set-duration {
		@extend %link-default;
	}
	&__choose-duration,
	&__edit-duration,
	&__remove-duration {
		display: none;
		color: #d4d4d4;
		cursor: pointer;
		transition: color .3s;
		&:hover {
			color: #000;
		}
	}
	&__description {
		width: 600px;
		margin: 0;
		line-height: 20px;
	}
	&__rating-of {
		font-size: 10px;
		color: #d4d4d4;
	}
}
