<span class="title" title="{{- title.ru }}">
	<span class="title_block" title="{{- title.ru }}">{{- title.ru }}</span>
	<span class="distributor_name" title="{{- allDistributorsFull }}">{{- allDistributorsShort }}</span>
</span>

<span class="format">{{- shipper == 'DD' ? 'цифровая копия' : 'диск' }}</span>

<span class="cinema" title="{{- cinema.title.ru }}">{{- cinema.title.ru }}</span>

<span class="date">
	{{ if (event !== 'add') { }}
		<div class="status"></div>
		доставлено
	{{ } else if (shipper == 'DD') { }}
		загружается
	{{ } else { }}
		в пути
	{{ } }}
</span>

<span class="date" title="{{- dateText }}">{{- dateText }}</span>
