<div class="head">
	<div class="top">
		<span class="title">Новое в релизах</span>
	</div>
	<div class="bottom">
		<span class="item name">релиз</span>
		<span class="item changed">изменено</span>
		<span class="item date">обновлено</span>
	</div>
	<div class="list"></div>
	<span class="all">Посмотреть все &raquo;</span>
</div>
