{{ if (event == 'update') { }}
	<span class="name"><span class="title_block" title="{{- title.ru }}">{{- title.ru }}</span> <span class="distributor_name"  title="{{- allDistributorsFull.join(', ') }}">{{- allDistributorsShort.join(', ') }}</span></span>
	{{ switch (updated_field[0].field) { case 'duration_clean': if (!updated_field[0].updated.new) { }}
		<span class="changed">изменено</span>
		{{ } else if (updated_field[0].updated.old) { }}
		<span class="changed" title="Длительность без трейлера изменена с {{- updated_field[0].updated.old }} мин на {{- updated_field[0].updated.new }} мин">{{- updated_field[0].updated.new }} мин</span>
		{{ } else { }}
		<span class="changed" title="Добавлена длительность без трейлера - {{- updated_field[0].updated.new }} мин">{{- updated_field[0].updated.new }} мин</span>
		{{ } break; case 'duration_full': if (!updated_field[0].updated.new) { }}
		<span class="changed">изменено</span>
		{{ } else if (updated_field[0].updated.old) { }}
		<span class="changed" title="Длительность c трейлером изменена с {{- updated_field[0].updated.old }} мин на {{- updated_field[0].updated.new }} мин">{{- updated_field[0].updated.new }} мин</span>
		{{ } else { }}
		<span class="changed" title="Добавлена длительность с трейлером - {{- updated_field[0].updated.new }} мин">{{- updated_field[0].updated.new }} мин</span>
		{{ } break; case 'date_russia_start': if (!updated_field[0].updated.new) { }}
		<span class="changed">изменено</span>
		{{ } else if (updated_field[0].updated.old) { }}
		<span class="changed" title="Дата начала показа изменена с {{- updated_field[0].updated.old }} на {{- updated_field[0].updated.new }}">{{- updated_field[0].updated.new }}</span>
		{{ } else { }}
		<span class="changed" title="Установлена дата начала показа на {{- updated_field[0].updated.new }}">{{- updated_field[0].updated.new }}</span>
		{{ } break; case 'date_russia_string': if (!updated_field[0].updated.new) { }}
		<span class="changed">изменено</span>
		{{ } else if (updated_field[0].updated.old) { }}
		<span class="changed" title="Дата начала показа изменена с {{- updated_field[0].updated.old }} на {{- updated_field[0].updated.new }}">{{- updated_field[0].updated.new }}</span>
		{{ } else { }}
		<span class="changed" title="Установлена дата начала показа на {{- updated_field[0].updated.new }}">{{- updated_field[0].updated.new }}</span>
		{{ } break; case 'date_russia_end': if (!updated_field[0].updated.new) { }}
		<span class="changed">изменено</span>
		{{ } else if (updated_field[0].updated.old) { }}
		<span class="changed" title="Дата конца показа изменена с {{- updated_field[0].updated.old }} на {{- updated_field[0].updated.new }}">изменено</span>
		{{ } else { }}
		<span class="changed" title="Установлена дата конца показа на {{- updated_field[0].updated.new }}">изменено</span>
		{{ } break; case 'date_world_start': if (!updated_field[0].updated.new) { }}
		<span class="changed">изменено</span>
		{{ } else if (updated_field[0].updated.old) { }}
		<span class="changed" title="Дата начала мировой премьеры изменена с {{- updated_field[0].updated.old }} на {{- updated_field[0].updated.new }}">изменено</span>
		{{ } else { }}
		<span class="changed" title="Установлена дата начала мировой премьеры на {{- updated_field[0].updated.new }}">изменено</span>
		{{ } break; case 'date_world_end': if (!updated_field[0].updated.new) { }}
		<span class="changed">изменено</span>
		{{ } else if (updated_field[0].updated.old) { }}
		<span class="changed" title="Дата конца мировой премьеры изменена с {{- updated_field[0].updated.old }} на {{- updated_field[0].updated.new }}">изменено</span>
		{{ } else { }}
		<span class="changed" title="Установлена дата конца мировой премьеры на {{- updated_field[0].updated.new }}">изменено</span>
		{{ } break; case 'formats': if (!updated_field[0].updated.new) { }}
		<span class="changed" title="Для данного фильма формат {{- updated_field[0].updated.old }} удален">удален {{- updated_field[0].updated.old }}</span>
		{{ } else if (updated_field[0].updated.old) { }}
		<span class="changed" title="Для данного фильма формат {{- updated_field[0].updated.old }} изменен на {{- (updated_field[0].updated.new).join(', ') }}">{{- (updated_field[0].updated.new).join(', ') }}</span>
		{{ } else { }}
		<span class="changed" title="Для данного фильма установлен формат {{- updated_field[0].updated.new }}">{{- updated_field[0].updated.new }}</span>
		{{ } break; case 'age': if (!updated_field[0].updated.new) { }}
		<span class="changed" title="Возрастная категория не установлена">изменено</span>
		{{ } else if (updated_field[0].updated.old) { }}
		<span class="changed" title="Изменена возрастная категория с {{- updated_field[0].updated.old }} лет на {{- updated_field[0].updated.new }} лет">возраст: {{- updated_field[0].updated.new }} лет</span>
		{{ } else { }}
		<span class="changed" title="Возрастная категория установлена в {{- updated_field[0].updated.new }} лет">возраст: {{- updated_field[0].updated.new }} лет</span>
	{{ } break; } }}
{{ } else if (event == 'add') { }}
	<span class="name"><span class="title_block" title="{{- title.ru }}">{{- title.ru }}</span> <span class="distributor_name" title="{{- allDistributorsFull.join(', ') }}">{{- allDistributorsShort.join(', ') }}</span></span>
	<span class="changed" title="Фильм добавлен в систему">Добавлен</span>
{{ } }}

<span class="date" title="Дата события: {{- dateText }}">{{- dateText }}</span>
