<div class="head">
	<div class="top">
		<span class="title">Кинотеатры</span>
	</div>
	<div class="bottom">
		<span class="item title">название</span>
		<span class="item city">город</span>
		<span class="item halls">залов</span>
	</div>
</div>
<div class="body">
	{{ _.each(cinemas, function(cinema) { }}
		<div class="line">
			<span class="item title" title="{{- cinema.title.ru }}">{{- cinema.title.ru }}</span>
			<span class="item city" title="{{- cinema.city.title.ru }}">{{- cinema.city.title.ru }}</span>
			<span class="item halls">{{- cinema.halls.length }}</span>
		</div>
	{{ }) }}
</div>
<span class="more">+ Добавить</span>
