<div class="head">
	<div class="top">
		<span class="title">Премьеры</span>
		<span class="date">{{- _.getWeekStartDate({week: week, year: year}).format('D MMMM') }} &mdash; {{- _.getWeekEndDate({week: week, year: year}).format('D MMMM') }}</span>
	</div>
	<div class="bottom"><span class="item key">статус</span><span class="item name">релиз</span></div>
</div>
<div class="body"></div>
