<div class="day_schedule">
	<div class="day_schedule_head">
		<div class="cur_date" chosen_day="{{- chosen_day }}">
			Зал {{- current_hall_title }}

			{{ if (lockMode == 'unlocked') { }}
				{{- ' (' + days_week[clickedDay].day_of_month + ' '  + days_week[clickedDay].month + ', ' + WEEKDAY[Date.create(days_week[clickedDay].date).format('{weekday}')] + ')' }}
			{{ } else { }}
				{{ if (nextFullDay != parseInt(chosen_day) + 1) { }}
					({{- days_week[chosen_day].day_of_month }}&nbsp{{- days_week[chosen_day].month }}, {{- WEEKDAY[Date.create(days_week[chosen_day].date).format('{weekday}')] }} - {{- days_week[nextFullDay - 1].day_of_month }}&nbsp{{- days_week[nextFullDay - 1].month }}, {{- WEEKDAY[Date.create(days_week[nextFullDay - 1].date).format('{weekday}')] }})
				{{ } else { }}
					({{- days_week[chosen_day].day_of_month }}&nbsp{{- days_week[chosen_day].month }}, {{- WEEKDAY[Date.create(days_week[chosen_day].date).format('{weekday}')] }})
				{{ } }}
			{{ } }}

		</div>
		<i class="fa fa-{{- lockMode == 'unlocked' ? 'unlock' : 'lock' }} unlock_day" title="Редактировать только один день"></i>
		<span class="save exit">
			<i class="week_settings__close"></i>
			<i class="week_settings__close week_settings__close_hover"></i>
			<i class="week_settings__close week_settings__close_active"></i>
		</span>
	</div>
	<div class="day_schedule_content">
		<div class="list_films"></div>
	</div>
</div>