<div class="wr_hall">
	<ul class="hall_list clearfix">
		<li class="hall_li active">
			{{- formats.join(', ') }} ({{- capasity }} мест)
			<i class="fa fa-wrench repair_duration" title="Выставить релизам актуальную длительность"></i>
		</li>
	</ul>
</div>

<div class="hall_content">
	<div class="hall_item active" data-cinema-id="{{- cinema_id }}" data-hall-id="{{- id }}" data-formats="{{- formats }}" data-hn="{{- number }}">
		<div class="wr_release_day">
			<div class="helper_block">Для добавления перетащите релиз</div>
		</div>
	</div>
</div>