/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Gradients 45deg
 */

 .gradient_1 {
	background: #8e8485;
	background: linear-gradient(135deg, #8e8485 0%,#856070 100%);
}
.gradient_2 {
	background: #856070;
	background: linear-gradient(135deg, #856070 0%,#8e8485 100%);
}
.gradient_3 {
	background: #e7846c;
	background: linear-gradient(135deg, #e7846c 0%,#6f919d 100%);
}
.gradient_4 {
	background: #6f919d;
	background: linear-gradient(135deg, #6f919d 0%,#e7846c 100%);
}
.gradient_5 {
	background: #856070;
	background: linear-gradient(135deg, #856070 0%,#6f919d 100%);
}
.gradient_6 {
	background: #6f919d;
	background: linear-gradient(135deg, #6f919d 0%,#856070 100%);
}
.gradient_7 {
	background: #e7846c;
	background: linear-gradient(135deg, #e7846c 0%,#856070 100%);
}
.gradient_8 {
	background: #856070;
	background: linear-gradient(135deg, #856070 0%,#e7846c 100%);
}

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

.no_scroll {
	overflow: hidden;
}

.none {
	display: none;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.chromeframe {
	text-align: center;
	color: $white;
}


/*
 * Floats
 */

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: $black !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}