.loader {
	position: absolute;
	top: 50%;
	left: calc(50% + 18px);
	z-index: 11000;
	display: none;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: -15px 0 0 -15px;
	color: #397ce9;
	background-color: transparent;
	border: 3px solid;
	border-top-color: transparent;
	border-left-color: transparent;
	border-radius: 50%;
	animation: load .9s linear infinite;
}

@keyframes load {
	100% {
		transform: rotate(360deg);
	}
}
