$font_family: Arial, Helvetica, sans-serif;

$sprite: url(/img/sprite.png);
$sprite_svg: url(/img/sprite.svg);

$red:   #bf382b;
$green: #22ae69;
$black: #000;
$white: #fff;
$default-border: #e5e5e5;

$span1: 97px;
$span2: 220px;
$span3: 298px;
$span6: 620px;
$span9: 940px;
$infinity: 9999px;

$cursor-disabled: not-allowed !default;

$default-palette: #6f6f6f #cc6666 #de935f #f0c674 #b5bd68 #8abeb7 #81a2be #b294bb #a3685a;



/*
 * Links default
 */

$link-color: #4378a4;
$link-hover-color: #e64c3b;