@import 'normalize';
@import 'vars';
@import 'helpers';
@import 'mixins';
@import 'base';
@import 'loader';

@import 'components/buttons';
@import 'components/buttons-groups';
@import 'components/dropdowns';
@import 'components/tables';
@import 'components/context-menu';
@import 'components/sections-tabs';

@import 'components/sidebar';
@import 'components/nt-sidebar';
@import 'components/feedback';
@import 'layouts/user-cinemas';

@import 'components/dashboard';
@import 'components/dashboard_distributor';
@import 'components/searching_module';

@import 'components/keys';
@import 'components/distributors';
@import 'components/repertoire';

@import 'components/schedule';
@import 'components/halls';
@import 'components/network';
@import 'components/employees';

@import 'layouts/cinemas-info';
@import 'layouts/analytics';
@import 'layouts/advertising';

@import 'components/statistic';
@import 'components/user_profile';

@import 'layouts/release-card';
@import 'layouts/release-edit-popup';
@import 'layouts/distributor-settings';
@import 'layouts/distributor-cinemas';
@import 'components/booking';
@import 'layouts/distributor-reports';
@import 'layouts/release-reports';
@import 'layouts/commercial';
@import 'layouts/copying';
@import 'layouts/service';



/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea{
	color: $black;
	font-family: $font_family;
}
/*input[type="text"], input[type="password"], textarea, select {
	@include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2), inset);
	border: 1px solid #b5b5b5;
	padding: 3px 5px 4px 5px;
}*/
/*::-moz-selection {
	background: $green;
	text-shadow: none;
}
::selection {
	background: $green;
	text-shadow: none;
}*/
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
img {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: none;
}
ol {
	list-style: none;
	counter-reset: point;
	padding-left: 1.3em;
	margin-top: 0;
	li:before {
		content: counter(point) ". ";
		counter-increment: point 1;
		font-weight: bold;
	}
	li.extra:before {
		content: "\0414\043E\043F\043E\043B\043D\0438\0442\0435\043B\044C\043D\044B\0439  \0442\0440\0435\043A: ";
	}
}

/* ==========================================================================
   Kinoplan custom styles
   ========================================================================== */

body {
	font-size: 16px;
	line-height: 1.25em;
	background: #fff;
	color: $black;
	font-family: $font_family;
	overflow: hidden;
	min-height: 390px;
	margin: 0;
	min-width: 1000px;
	& > .datepicker.center{
		&:before{
			left: calc(50% - 5px);
		}
		&:after{
			left: calc(50% - 4px);
		}
	}
	.hover_off {
		pointer-events: none;
	}
}

.tipsy {
	font-size: 11px;
}

.fon_filter {
	width: 100%;
	height: 50px;
}

.wrapper {
	position: fixed;
	overflow: hidden;
	right: 0;
	left: 0;
	top: 50px;
	margin-left: 50px;
	z-index: 20;
	min-width: 805px;
}

.head_wrapper {
	min-width: 805px;
	margin-left: 50px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	.head{
		position: relative;
		text-align: left;
		&:before{
			position: absolute;
			content: '';
			height: 1px;
			background-color: #94bcdd;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.header__page{
			float: left;
			padding-left: 20px;
			.header__page__item{
				display: none;
				font-size: 21px;
				line-height: 50px;
				color: #333;
				.last_change_date {
					display: inline-block;
					vertical-align: middle;
					font-size: 14px;
					line-height: 14px;
					color: #898989;
				}
			}
		}
		.header__cinema{
			float: left;
			display: none;
			margin-left: 10px;
			padding-top: 15px;
			font-size: 21px;
			position: relative;
			&.visible{
				display: inline-block;
			}
			&.single{
				border-bottom-color: transparent;
			}
			.jq-selectbox{
				margin: 0;
				.jq-selectbox__select{
					width: 150px;
				}
			}
			.jq-selectbox__dropdown{
				left: auto !important;
			}
			.select{
				position: relative;
				cursor: pointer;
				&.single{
					padding-right: 0;
					pointer-events: none;
					cursor: default;
				}
				&:hover{
					.active .cinema_and_city {
						color: #0b385f;
					}
					.arrow_down_select{
						background-position: 0 -11px;
					}
				}
				.active{
					position: relative;
					display: inline-block;
					overflow: hidden;
					text-overflow: ellipsis;
					color: #4378a4;
					vertical-align: top;
					white-space: nowrap;
					height: 23px;
					min-width: 80px;
					border-bottom: 1px dotted #4378a4;
					&:hover {
						color: #0b385f;
					}
					.cinema_and_city{
						color: #4378a4;
					}
				}
				.arrow_down_select {
					position: relative;
					display: inline-block;
					top: 50%;
					width: 14px;
					height: 12px;
					margin-top: -5px;
					background: url(/img/header__cinema__arrow.svg) no-repeat;
				}
				.list{
					display: none;
					left: auto;
					background-color: #fff;
					border-radius: 4px;
					box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
					margin: 0;
					padding: 10px 0;
					top: 35px;
					position: absolute;
					max-height: 500px;
					overflow-y: auto;
					&.visible{
						display: block;
					}
					.item{
						font-size: 13px;
						line-height: 25px;
						height: 25px;
						padding: 0 18px;
						white-space: nowrap;
						color: #666;
						cursor: pointer;
						&:hover{
							background-color: #2981b9;
							color: #fff;
						}
						&.selected{
							background-color: #a3abb1;
							color: #fff;
							cursor: default;
							&:hover{
								background-color: #a3abb1;
								color: #fff;
								cursor: default;
							}
						}
					}
				}
			}
		}
		.header-user {
			float: right;
			height: 36px;
			padding-top: 13px;
			margin: 0 15px;
			padding-left: 15px;
			color: #78a8d0;
			position: relative;
			z-index: 1;
			* {
				box-sizing: border-box;
			}
			.fa {
				vertical-align: middle;
			}
			&__name {
				display: inline-block;
				margin-right: 5px;
				color: #333;
				font-size: 14px;
			}
			&__avatar {
				display: inline-block;
				height: 24px;
				width: auto;
				margin-right: 3px;
				background-position: 0 0;
				background-size: 100%;
				background-repeat: no-repeat;
			}
			&.hover {
				.header-user-popup {
					display: block;
				}
			}
			&:hover {
				height: 43px;
				cursor: pointer;
				.header-user-popup {
					display: block;
				}
			}
			&-popup {
				display: none;
				cursor: default;
				position: fixed;
				top: 55px;
				right: 90px;
				margin: 0 -80px 0 0;
				padding: 25px;
				background-color: #f6f8fd;
				border: 1px solid #94bcdd;
				width: auto;
				&--triangle-top {
					&:before,
					&:after {
						content: "";
						position: absolute;
						width: 0;
						height: 0;
						border-style: solid;
						border-color: transparent;
						border-top: 0;
					}
					/* Stroke */
					&:before {
						top: -11px;
						right: 23px;
						border-bottom-color: #94bcdd;
						border-width: 11px;
					}
					/* Fill */
					&:after {
						top: -10px;
						right: 24px;
						border-bottom-color: #f6f8fd;
						border-width: 10px;
					}
				}
				&__avatar {
					float: left;
					height: 80px;
					width: auto;
				}
				&-inner {
					float: right;
					background-color: #fff;
					box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
					font-size: 14px;
					padding: 10px 30px 10px 20px;
					&__name {
						color: #333;
					}
					&__profile,
					&__cinemas,
					&__distributor-setting,
					&__logout {
						color: #4378a4;
						transition: color 0.3s;
						cursor: pointer;
						margin-right: 5px;
						&:hover {
							color: #e64c3b;
						}
					}
					&__logout {
						color: #d4d4d4;
						.fa {
							color: #e64c3b;
							vertical-align: middle;
							margin-left: 5px;
						}
					}
				}
			}
		}
		.sections{
			display: none;
			vertical-align: top;
			padding: 10px 0 0 10px;
			.item{
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
				background-color: transparent;
				border: 1px solid transparent;
				cursor: pointer;
				color: #666;
				font-size: 14px;
				line-height: 14px;
				padding: 8px 10px 6px;
				border-radius: 4px;
				transition: background-color 0.3s, color 0.3s, border-color 0.3s;
				&.single {
					display: none;
				}
				&:hover{
					background-color: #e4e4e4;
					border-color: #e4e4e4;
				}
				&:last-child{
					margin-right: 0;
				}
				&:active{
					border-color: #cacaca;
					background-color: #e4e4e4;
					color: #fff;
				}
				&.active{
					cursor: default;
					color: #4378a4;
					border-color: #94bcdd;
					background-color: #f6f6f6;
				}
			}
		}
	}
}

.scroll {
	overflow-y: auto;
	position: relative;
}

.head {
	height: 50px;
	background-color: #eaeef2;
	position: relative;
	text-align: center;
	h2 {
		text-transform: uppercase;
		margin: 0;
		font-size: 18px;
		color: #333;
	}
	.search {
		height: 28px;
		position: absolute;
		left: 20px;
		top: 22px;
		input {
			width: 153px;
			outline: none;
			font-size: 14px;
			color: #666;
			border-radius: 16px;
			padding: 5px 12px 3px 35px;
			border: none;
			background-color: #fff;
			border: 1px solid $default-border;
			transition: all 0.3s;
			&:focus{
				border-color: #94bcdd;
			}
		}
		.search_img {
			background: url(/img/search@2x.png) no-repeat;
			-webkit-background-size: 14px;
			background-size: 14px;
			display: block;
			width: 14px;
			height: 14px;
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -7px;
			opacity: 1;
			transition: opacity 0.3s;
		}
		.search_img_focus{
			background: url(/img/search@2x.png) no-repeat 0 -14px;
			-webkit-background-size: 14px;
			background-size: 14px;
			display: block;
			width: 14px;
			height: 14px;
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -7px;
			opacity: 0;
			transition: opacity 0.3s;
		}
		input:focus + .search_img {
			opacity: 0;
		}
		input:focus + .search_img + .search_img_focus {
			opacity: 1;
		}
	}
}
.filter {
	min-width: 805px;
	height: 40px;
	padding: 9px 0 0 15px;
	background-color: #f6f6f6;
	border-bottom: 1px solid $default-border;
	position: absolute;
	transform: translateZ(0);
	left: 0;
	right: 0;
	z-index: 100;
	transition: margin-left 0.3s;
	h2 {
		font-size: 18px;
		color: #000;
		margin: 5px 0 0 5px;
		font-weight: normal;
		display: inline-block;
	}
	#date,
	#distributor,
	#formats {
		display: inline-block;
	}
	.back {
		width: 76px;
		height: 28px;
		line-height: 28px;
		background-color: #f5f7fa;
		border: 1px solid #94bcdd;
		border-radius: 4px;
		text-align: center;
		font-size: 14px;
		transition: background-color 0.3s;
		a {
			text-decoration: none;
			color: #4378a4;
			display: block;
			text-align: left;
			img {
				background: url(/img/back.svg) no-repeat 8px 0;
				width: 8px;
				height: 13px;
				padding: 0 3px 0 9px;
				margin-top: -2px;
			}
		}
		&:hover{
			background-color: #eaf0f8;
		}
		&:active{
			background-color: #d6e2f1;
		}
	}
	.filt_select{
		display: inline-block;
		vertical-align: top;
	}
	.btn-new-release {
		float: right;
		margin-right: 15px;
	}
	.myfav_btn {
		background: url(/img/repertoire_release_top_stars.svg) no-repeat;
		width: 20px;
		height: 20px;
		margin: 5px 23px 0 14px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		&:hover {
			background-position: -24px 0;
		}
		&.active {
			background-position: -48px 0;
			&:hover{
				background-position: -72px 0;
			}
		}
	}
	.release_alt{
		display: inline-block;
		vertical-align: top;
		font-size: 0;
		line-height: 20px;
		padding-top: 5px;
		.alter_input{
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			border: none;
		}
		.alter_title{
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			padding-left: 7px;
			font-size: 14px;
			color: #333;
		}
	}
}

table {
	width: 100%;
	border: none;
	background-color: #fff;
	border-collapse: collapse;
}
.title {
	background-color: #eaeef2;
}
.item {
	background-color: #fff;
}
.date {
	font-size: 13px;
}
.name {
	width: 17%;
	font-size: 13px;
}
.descr {
	width: 10%;
	font-size: 13px;
}
#main_wr, #my_repertoire_wr, #distributor_wr {
	z-index: 1;
}
#filt_format-styler,
#filt_dist-styler {
	.jq-selectbox__select {
		&.chosen_item {
			background-color: #007ac2;
			border: 1px solid #007ac2;
			color: #fff;
			.jq-selectbox__trigger-arrow {
				background-position: 0 -14px;
			}
		}
	}
	.jq-selectbox__dropdown {
		left: 0px;
		right: auto;
	}
}
.release-wrapper{
	padding-top: 9px;
	height: calc(100% - 59px);
	.load_prev_releases {
		display: none;
		opacity: 0;
		width: 80%;
		height: 28px;
		line-height: 28px;
		text-align: center;
		margin: 0 auto 9px;
		color: #4378a4;
		font-size: 13px;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s, opacity 0.3s;
		&:hover{
			background-color: #eaeef2;
			color: #0b385f;
		}
		&:active{
			background-color: #d6e2f1;
		}
	}
	.releases_empty {
		font-size: 17px;
		margin-top: 200px;
		text-align: center;
	}
	.distributor_name {
		margin-left: 30px;
		font-size: 22px;
	}
	.releases_head {
		margin-top: 10px;
	}
	.releases_head,
	.releases_body{
		background-color: #eaeef2;
		border-bottom: 2px solid #d5d7dc;
		color: #9b9b9b;
		height: 30px;
		line-height: 30px;
		width: calc(100% - 60px);
		margin-left: 30px;
		font-size: 0;
		white-space: nowrap;
		.releases_cell{
			text-decoration: none;
			outline: none;
			display: inline-block;
			vertical-align: top;
			border-right: 1px solid #d5d7dc;
			font-size: 12px;
			padding: 0 9px;
			text-overflow: ellipsis;
			overflow: hidden;
			&:first-child{
				padding: 0;
				height: 100%;
			}
			&:last-child{
				border-right: none;
			}
		}
		.star_head{
			width: 31px;
		}
		.release_start_date {
			width: 85px;
			padding: 0 9px;
			.releases_start_dow {
				font-size: 12px;
				color: #9b9b9b;
				text-transform: uppercase;
			}
		}
		.release_name{
			width: calc((100% - 812px) / 2);
		}
		.dist{
			width: 155px;
		}
		.time{
			width: 61px;
		}
		.copies{
			width: 35px;
		}
		.age{
			width: 45px;
		}
		.formats{
			width: 125px;
		}
		.trailers{
			width: 61px;
		}
	}
	.releases_body{
		height: auto;
		border-bottom: none;
		margin-bottom: 30px;
		.info_item{
			background-color: #fff;
			cursor: pointer;
			height: 31px;
			line-height: 31px;
			border-bottom: 1px solid #d5d7dc;
			transition: background-color 0.3s;
			&.hide{
				display: none;
			}
			&.releases_admin{
				.release_name{
					width: calc((100% - 667px) / 3);
				}
				.schedule{
					width: calc((100% - 667px) / 3);
				}
				.schedule_c{
					width: calc((100% - 667px) / 3);
				}
			}
			&:hover{
				background-color: #eaeef2;
			}
			&:nth-child(2n-1){
				background-color: #f6f8fd;
				&:hover{
					background-color: #eaeef2;
				}
				&:active{
					background-color: #d5d7dc;
				}
				&.active{
					background-color: #f8f8f9;
				}
			}
			.releases_cell{
				color: #333;
				border-right-color: transparent;
				&:first-child{
					.star {
						display: block;
						img {
							background: url(/img/release_star.svg) 0 0 no-repeat;
							width: 14px;
							height: 14px;
							display: inline-block;
							margin: -2px 9px 0;
						}
						.active {
							background-position: 0 -28px;
						}
						&:hover{
							img{
								background-position: 0 -14px;
							}
							.active {
								background-position: 0 -28px;
							}
						}
					}
				}
			}
			&:active{
				background-color: #d5d7dc;
			}
			&.active{
				background-color: #f8f8f9;
			}
		}
	}
	.date-point{
		overflow: hidden;
		padding-bottom: 35px;
		&.hide{
			display: none;
		}
		.calendar{
			float: left;
			width: 50px;
			padding: 0 13px;
			.calendar__view{
				.calendar__view__month{
					height: 18px;
					background-color: #a9aaaa;
					border-radius: 4px 4px 0 0;
					text-align: center;
					line-height: 18px;
					font-size: 14px;
					color: #fff;
					text-transform: lowercase;
					&.thursday {
						background-color: #e64c3b;
					}
				}
				.calendar__view__number{
					height: 36px;
					line-height: 36px;
					text-align: center;
					font-size: 30px;
					color: #000;
					border: 1px solid #d4d4d4;
					border-top: none;
					border-radius: 0 0 4px 4px;
				}
			}
			.calendar__day{
				display: block;
				text-align: center;
				color: #898989;
				font-size: 12px;
				text-transform: uppercase;
				padding-top: 4px;
			}
		}
		.info{
			margin-left: 76px;
			padding-right: 13px;
			.releases_head{
				margin-top: 0px;
			}
			.releases_body{
				margin-bottom: 0px;
			}
			.releases_head,
			.releases_body{
				background-color: #eaeef2;
				border-bottom: 2px solid #d5d7dc;
				color: #9b9b9b;
				height: 30px;
				line-height: 30px;
				width: 100%;
				margin-left: 0px;
				font-size: 0;
				white-space: nowrap;
				.releases_cell{
					text-decoration: none;
					outline: none;
					display: inline-block;
					vertical-align: top;
					border-right: 1px solid #d5d7dc;
					font-size: 12px;
					padding: 0 9px;
					text-overflow: ellipsis;
					overflow: hidden;
					&:first-child{
						padding: 0;
						height: 100%;
					}
					&:last-child{
						border-right: none;
					}
				}
				.star_head{
					width: 31px;
				}
				.release_name{
					width: calc((100% - 667px) / 2);
				}
				.dist{
					width: 155px;
				}
				.time{
					width: 61px;
				}
				.copies{
					width: 35px;
				}
				.age{
					width: 45px;
				}
				.formats{
					width: 125px;
				}
				.trailers{
					width: 61px;
				}
				.schedule{
					width: calc((100% - 667px) / 2);
				}
				.schedule_c{
					width: calc((100% - 667px) / 2);
				}
			}
			.releases_body{
				height: auto;
				border-bottom: none;
				.info_item{
					background-color: #fff;
					cursor: pointer;
					height: 31px;
					line-height: 31px;
					border-bottom: 1px solid #d5d7dc;
					transition: background-color 0.3s;
					&.releases_admin{
						.release_name{
							width: calc((100% - 667px) / 3);
						}
						.schedule{
							width: calc((100% - 667px) / 3);
						}
						.schedule_c{
							width: calc((100% - 667px) / 3);
						}
					}
					&:hover{
						background-color: #eaeef2;
					}
					&:nth-child(2n-1){
						background-color: #f6f8fd;
						&:hover{
							background-color: #eaeef2;
						}
						&:active{
							background-color: #d5d7dc;
						}
						&.active{
							background-color: #f8f8f9;
						}
					}
					.releases_cell{
						color: #333;
						border-right-color: transparent;
						&:first-child{
							.star {
								display: block;
								img {
									background: url(/img/release_star.svg) 0 0 no-repeat;
									width: 14px;
									height: 14px;
									display: inline-block;
									margin: -2px 9px 0;
								}
								.active {
									background-position: 0 -28px;
								}
								&:hover{
									img{
										background-position: 0 -14px;
									}
									.active {
										background-position: 0 -28px;
									}
								}
							}
						}
					}
					&:active{
						background-color: #d5d7dc;
					}
					&.active{
						background-color: #f8f8f9;
					}
				}
			}
		}
	}
}

.table_title {
	height: 30px;
	width: 100%;
	font-size: 12px;
	line-height: 30px;
	color: #9b9b9b;
	border-bottom: 2px solid #d5d7dc;
	th{
		text-align: left;
		font-weight: normal;
		border-right: 1px solid #d5d7dc;
		padding: 2px 9px 0;
		white-space: nowrap;
		&:last-child{
			border-right: none;
		}
		&.star-head{
			padding: 0;
			min-width: 31px;
			max-width: 31px;
		}
		&:last-child{
			min-width: 125px;
		}
		&.distr{
			min-width: 145px;
			width: 13%;
		}
		&.release-name{
			width: 28%;
		}
	}
	.date {
		padding: 0 0 0 20px;
	}
}

.table_item {
	height: 31px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #d5d7dc;
	color: #666;
	font-size: 13px;
	line-height: 31px;
	cursor: pointer;
	transition: background-color 0.3s;
	&:nth-child(2n-1){
		background-color: #f6f8fd;
	}
	&:hover{
		background-color: #eaeef2;
	}
	&:active{
		background-color: #d5d7dc;
	}
	&.active{
		background-color: #f8f8f9;
	}
	td{
		white-space: nowrap;
		padding: 0 9px;
		&:first-child{
			padding: 0;
		}
		&.right{
			text-align: right;
		}
	}
}

#release {
	height: 100%;
	.release_item{
		min-width: 1000px;
		padding: 20px 0 20px 20px;
		height: calc(100% - 90px);
		overflow-x: hidden;
		.left{
			float: left;
			width: 240px;
			.poster{
				padding-bottom: 10px;
				img{
					max-width: 240px;
				}
				.release_poster_empty {
					display: table-cell;
					width: 240px;
					height: 350px;
					box-sizing: border-box;
					padding: 15px;
					font-size: 24px;
					line-height: 1.3;
					color: #fff;
					text-align: center;
					vertical-align: middle;
				}
				.js-poster{
					cursor: pointer;
				}
			}
			.mistake {
				display: inline-block;
				vertical-align: top;
				text-align: center;
				background-color: transparent;
				height: 26px;
				font-size: 13px;
				line-height: 26px;
				padding: 0 35px 0 60px;
				color: #898989;
				cursor: pointer;
				border-radius: 4px;
				cursor: pointer;
				position: relative;
				transition: color 0.3s;
				&:before{
					position: absolute;
					top: 50%;
					left: 43px;
					margin-top: -12px;
					font-size: 13px;
					content: '';
					font-family: 'FontAwesome';
					z-index: 1;
					transition: color 0.3s;
				}
				&:hover{
					color: #e64c3b;
					&:before{
						color: #e64c3b;
					}
				}
			}
			.last-date {
				display: block;
				margin-top: 15px;
				font-size: 12px;
				line-height: 17px;
				color: #a8a8a8;
				text-align: center;
			}
			.edit-release {
				@include clearfix();
				&__edit {
					float: left;
					font-size: 13px;
					line-height: 15px;
					color: #898989;
					text-decoration: none;
				}
				&__date {
					float: right;
					font-size: 12px;
					line-height: 17px;
					color: #a8a8a8;
				}
			}
			.passport{
				padding-bottom: 10px;
				.title{
					display: block;
					background: none;
					font-size: 14px;
					line-height: 14px;
					color: #898989;
				}
				.text{
					display: block;
					font-size: 13px;
					line-height: 13px;
					color: #333;
					padding-top: 7px;
					.url_license {
						color: #4378a4;
						text-decoration: none;
						transition: 0.3s color;
						&:hover {
							color: #e64c3b;
						}
					}
				}
			}
			.note{
				padding: 6px;
				background-color: #f6f6f6;
				border: 1px solid transparent;
				position: relative;
				margin-bottom: 15px;
				.textarea{
					background-color: #fff;
					border-radius: 4px;
					border: 1px solid #dedede;
					width: 200px;
					font-size: 12px;
					line-height: 14px;
					color: #333;
					padding: 8px 12px;
					height: 12px;
					text-overflow: clip;
					transition: border-color 0.3s,color 0.3s, background-color 0.3s, height 0.3s;
					&.no_transition{
						transition: height 0s;
					}
					&::-moz-placeholder{
						color: #9b9b9b;
					}
					&::input-placeholder{
						color: #9b9b9b;
					}
					&::-ms-input-placeholder{
						color: #9b9b9b;
					}
					&::-webkit-input-placeholder{
						color: #9b9b9b;
					}
					&:hover{
						border-color: #bfbfbf;
					}
					&:focus{
						border-color: #94bcdd;
						&::-moz-placeholder{
							color: #c5c5c5;
						}
						&::input-placeholder{
							color: #c5c5c5;
						}
						&::-ms-input-placeholder{
							color: #c5c5c5;
						}
						&::-webkit-input-placeholder{
							color: #c5c5c5;
						}
					}
				}
				.buttons{
					overflow: hidden;
					.add,
					.save{
						display: none;
						border: 1px solid #94bcdd;
						border-radius: 4px;
						background-color: #f5f7fa;
						text-align: center;
						height: 26px;
						line-height: 26px;
						color: #4378a4;
						font-size: 14px;
						float: left;
						clear: left;
						padding: 0 12px;
						cursor: pointer;
						margin-top: 5px;
						transition: background-color 0.3s;
						&:hover{
							background-color: #eaf0f8;
						}
						&:active{
							background-color: #d6e2f1;
						}
					}
					.save{
						display: none;
					}
				}
				.remove{
					display: none;
					width: 0;
					height: 0;
					background: url(/img/release_note_remove@2x.png) no-repeat;
					-webkit-background-size: 14px;
					background-size: 14px;
					position: absolute;
					top: 13px;
					right: 6px;
					opacity: 0;
					z-index: 1;
					cursor: pointer;
					transition: opacity 0.3s;
				}
				&.active{
					background-color: #fcfabf;
					border-color: #fee65a;
					.textarea{
						border-color: transparent;
						background-color: transparent;
					}
					&:hover{
						.remove{
							display: inline-block;
							width: 14px;
							height: 14px;
							opacity: 1;
							z-index: 1;
						}
						.textarea{
							color: #92942e;
						}
					}
				}
			}
		}
		.right{
			margin-left: 270px;
			height: 100%;
			.top__info{
				border-bottom: 1px solid #ececec;
				position: relative;
				.top{
					overflow: hidden;
					padding: 5px 0 11px;
					.top__left{
						float: left;
						display: inline-block;
						width: 100%;
						.ru{
							font-size: 30px;
							display: inline-block;
							vertical-align: top;
							color: #000;
							padding-right: 9px;
							font-weight: normal;
							margin: 0;
							width:66%;
						}
						.age {
							display: inline-block;
							width: 34px;
							height: 20px;
							margin-top: 10px;
							font-size: 14px;
							line-height: 20px;
							color: #fff;
							text-align: center;
							vertical-align: top;
							background-color: #9b9b9b;
							border-radius: 4px;
						}
						.delete_custom {
							font-size: 24px;
							color: #e64c3b;
							cursor: pointer;
						}
						.en{
							display: block;
							font-size: 20px;
							color: #9b9b9b;
							font-weight: normal;
							margin: 0;
							padding-top: 5px;
							width: 66%;
						}
						.data_list{
							padding-top: 10px;
							.data{
								display: inline-block;
								vertical-align: top;
								font-size: 10px;
								color: #8b8b8b;
								border: 1px solid #b9b9b9;
								border-radius: 4px;
								padding: 0 6px;
								height: 15px;
								line-height: 15px;
								margin-right: 2px;
								text-transform: uppercase;
							}
						}
					}
					.top__right{
						position: absolute;
						top: 50%;
						margin-top: -32px;
						right: 40px;
						.favorite{
							background-color: #f5f7fa;
							border: 1px solid #94bcdd;
							display: inline-block;
							vertical-align: top;
							width: 131px;
							height: 42px;
							padding-left: 37px;
							font-size: 16px;
							line-height: 42px;
							color: #4378a4;
							position: relative;
							cursor: pointer;
							border-radius: 40px;
							transition: background-color 0.3s, border-color 0.3s, color 0.3s;
							&:before{
								position: absolute;
								content: '';
								top: 50%;
								left: 18px;
								background: url(/img/favorite_inner_star.svg) no-repeat;
								width: 14px;
								height: 14px;
								margin-top: -8px;
								opacity: 1;
								transition: opacity 0.3s;
							}
							&:after{
								position: absolute;
								content: '';
								top: 50%;
								left: 18px;
								background: url(/img/favorite_inner_star.svg) no-repeat 0 -14px;
								width: 14px;
								height: 14px;
								margin-top: -8px;
								opacity: 0;
								transition: opacity 0.3s;
							}
							&:hover{
								background-color: #eaf0f8;
							}
							&:active{
								background-color: #d6e2f1;
							}
							&.active{
								border-color: #f0a430;
								background-color: #f0c330;
								color: #9a6a20;
								&:before{
									opacity: 0;
								}
								&:after{
									opacity: 1;
								}
								&:hover{
									background-color: #f0b030;
									border-color: #f09b30;
								}
								&:active{
									background-color: #f0a130;
									border-color: #f09230;
								}
							}
						}
					}
				}
				.tabs{
					padding: 11px 0 11px;
					.item{
						font-size: 14px;
						height: 24px;
						line-height: 24px;
						display: inline-block;
						vertical-align: top;
						padding: 0 10px;
						color: #666;
						cursor: pointer;
						border: 1px solid transparent;
						border-radius: 4px;
						margin-right: 4px;
						transition: color 0.3s, background-color 0.3s, border-color 0.3s;
						&.single {
							display: none;
						}
						&:hover{
							background-color: #e4e4e4;
							border-color: #e4e4e4;
						}
						&:active{
							color: #fff;
							border-color: #cacaca;
						}
						&.active,
						&.active:hover{
							color: #4378a4;
							background-color: transparent;
							border-color: #94bcdd;
							cursor: default;
						}
						.item_number {
							color: #9b9b9b;
						}
					}
				}
			}
			.release_card_wrapper {
				padding: 20px 0;
				position: relative;
				.section{
					position: absolute;
					top: 20px;
					left: 0;
					right: 0;
					bottom: 20px;
					transition: opacity 0.3s;
					&.active{
						opacity: 1;
						display: block;
					}
					.release_painting{
						max-width: 1000px;
						padding: 0 22px 20px 0;
						&-empty {
							font-size: 21px;
							text-align: center;
						}
						&-header {
							padding: 0 0 15px 12px;
						}
						.btn {
							margin-right: 15px;
						}
						.to_planning {
							margin-top: 20px;
							font-size: 17px;
							cursor: pointer;

							@extend %link-default;
						}
					}
					.looking_release {
						font-size: 22px;
						color: #9b9b9b;
					}
					.looking_files_table_title {
						color: #000;
						display: block;
						font-size: 18px;
						margin-top: 10px;
						line-height: 32px;
					}
					.trailers_statistics_table_title {
						color: #000;
						display: block;
						font-size: 18px;
						margin-top: 20px;
						line-height: 32px;
					}
					.trailers_statistics_table {
						display: inline-block;
						vertical-align: top;
						width: calc(100% - 20px);
						margin-bottom: 25px;
						.item{
							display: inline-block;
							vertical-align: top;
							font-size: 12px;
							border-right: 1px solid #d5d7dc;
							padding: 0 9px;
							background-color: transparent;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							&:last-child{
								border-right: none;
							}
							&.item_version {
								width: calc(50% - 65px);
							}
							&.item_views {
								width: calc(25% - 30px);
							}
							&.item_downloads {
								width: calc(25% - 35px);
								.trailer_type {
									line-height: 4px;
								}
							}
						}
						.head {
							background-color: #eaeef2;
							border-bottom: 2px solid #d5d7dc;
							color: #9b9b9b;
							font-size: 0;
							height: 30px;
							line-height: 30px;
							white-space: nowrap;
							width: 100%;
							text-align: left;
						}
						.body{
							.trailers_statistics_table_item {
								background-color: #fff;
								border-bottom: 1px solid #d5d7dc;
								display: inline-block;
								font-size: 0;
								line-height: 60px;
								vertical-align: top;
								width: 100%;
								&:nth-child(2n-1){
									background-color: #f6f8fd;
								}
								.item{
									color: #000;
									border-right-color: transparent;
								}
							}
						}
					}
					.looking_files_table {
						display: inline-block;
						vertical-align: top;
						width: calc(100% - 20px);
						.item{
							display: inline-block;
							vertical-align: top;
							font-size: 12px;
							border-right: 1px solid #d5d7dc;
							padding: 0 9px;
							background-color: transparent;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							&:last-child{
								border-right: none;
							}
							&.item_name {
								width: calc(50% - 65px);
							}
							&.item_type {
								width: calc(50% - 65px);
							}
							&.item_views {
								width: 70px;
								text-align: center;
							}
						}
						.head {
							background-color: #eaeef2;
							border-bottom: 2px solid #d5d7dc;
							color: #9b9b9b;
							font-size: 0;
							height: 30px;
							line-height: 30px;
							white-space: nowrap;
							width: 100%;
							text-align: left;
						}
						.body{
							.looking_files_table_item {
								background-color: #fff;
								border-bottom: 1px solid #d5d7dc;
								height: 31px;
								line-height: 31px;
								font-size: 0;
								&:nth-child(2n-1){
									background-color: #f6f8fd;
								}
								.item{
									color: #000;
									border-right-color: transparent;
								}
							}
						}

					}
					.kdm_table {
						display: inline-block;
						vertical-align: top;
						width: calc(100% - 20px);
						.item{
							display: inline-block;
							vertical-align: top;
							font-size: 12px;
							border-right: 1px solid #d5d7dc;
							padding: 0 9px;
							background-color: transparent;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							&:last-child{
								border-right: none;
							}
							&.item_hall_name{
								width: calc(30% - 110px);
								min-width: 100px;
							}
							&.item_since_until{
								width: 210px;
							}
							&.item_format{
								width: 100px;
							}
							&.item_kdm_name{
								width: calc(70% - 425px);
							}
							&.item_play_server {
								text-align: center;
								width: 61px;
							}
							&.item_download{
								width: 50px;
								text-align: center;
								.url {
									text-decoration: none;
									border-radius: 6px;
									height: 10px;
									width: 10px;
									padding: 2px 5px;
									color: #4378a4;
									font-size: 16px;
									&:before {
										display: inline-block;
										content: "";
										font-family: "FontAwesome";
									}
									&:hover{
										cursor: pointer;
										background-color: #007ac2;
										color: #fff;
										border-color: #007ac2;
									}
									&:active{
										background-color: #0b385f;
										border-color: #0b385f;
										color: #fff;
									}
								}
							}
						}
						.head{
							background-color: #eaeef2;
							border-bottom: 2px solid #d5d7dc;
							color: #9b9b9b;
							font-size: 0;
							height: 30px;
							line-height: 30px;
							white-space: nowrap;
							width: 100%;
							text-align: left;
						}
						.body{
							.kdm_table_item{
								background-color: #fff;
								border-bottom: 1px solid #d5d7dc;
								height: 31px;
								line-height: 31px;
								font-size: 0;
								&:nth-child(2n-1){
									background-color: #f6f8fd;
								}
								.item{
									color: #888;
									border-right-color: transparent;
								}
							}
						}
					}
					.trailers_list{
						.trailer_item{
							overflow: hidden;
							min-width: 1000px;
							.video_popup{
								display: none;
							}
							.title{
								display: block;
								margin: 0;
								font-weight: bold;
								font-size: 16px;
								color: #202020;
								background-color: transparent;
							}
							.release_added {
								font-size: 12px;
								color: #9b9b9b;
							}
							.image{
								display: table-cell;
								width: 300px;
								cursor: pointer;
								position: relative;
								.image__poster{
									background: url(/img/image__poster.png) no-repeat;
									display: block;
									width: 100%;
									height: 100%;
								}
								.no_trailer__text{
									color: #fff;
									position: absolute;
									top: 50%;
									margin-top: -28px;
									left: 20px;
									right: 20px;
									text-align: center;
									font-size: 12px;
									line-height: 14px;
								}
								.pic{
									width: 100%;
								}
								&.no_trailer{
									height: 163px;
								}
								&.no_trailer:before{
									height: 0;
									width: 0;
									position: static;
									opacity: 0;
									background:none;
									margin: 0;
								}
								&:before{
									position: absolute;
									content: '';
									top: 50%;
									left: 50%;
									width: 62px;
									height: 62px;
									margin: -31px 0 0 -31px;
									background: url(/img/release_play_big_ico.svg) no-repeat;
									transform: translate3d(0,0,0);
									transition: transform 0.3s;
								}
								&:hover:before{
									transform: scale(1.1);
								}
							}
							.download{
								.item{
									display: table-row;
									&-wrapper {
										margin: 20px 0 30px 0;
									}
									&-trailer {
										display: table-cell;
									}
									.info{
										&-wrapper {
											position: relative;
											display: table-cell;
											width: 650px;
											vertical-align: top;
											padding-left: 15px;
										}
										.type{
											font-size: 16px;
											line-height: 16px;
											color: #202020;
											display: inline-block;
											vertical-align: top;
										}
										.separator{
											color: #9b9b9b;
											font-size: 15px;
											line-height: 15px;
											display: inline-block;
											vertical-align: top;
										}
										.format{
											font-size: 16px;
											line-height: 16px;
											color: #202020;
											text-transform: lowercase;
											display: inline-block;
											vertical-align: top;
										}
									}
									.duration{
										font-size: 12px;
										line-height: 12px;
										color: #898989;
										display: block;
										padding: 3px 0 5px;
									}
									.links{
										padding: 8px 0 5px;
										overflow: hidden;
										.links_item{
											display: inline-block;
											&:before {
												color: #9b9b9b;
												content: '/';
											}
											&:first-child:before {
												content: initial;
											}
											.link{
												text-decoration: none;
												font-size: 14px;
												color: #4378a4;
												transition: color 0.3s;
												cursor: pointer;
												&:hover{
													color: #e64c3b;
												}
											}
										}
									}
									.dcp{
										position: absolute;
										bottom: 0;
										display: block;
										font-size: 12px;
										line-height: 12px;
										color: #333;
									}
									.md{
										position: absolute;
										bottom: -18px;
										display: block;
										font-size: 12px;
										line-height: 12px;
										color: #9b9b9b;
									}

								}

							}
						}
					}
				}
			}
		}
	}
}

.poster_wrap{
	text-align: center;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 40px 0;
	.closeWrap{
		top: 0;
		right: 0;
		margin: 0;
	}
	.js-poster{
		border-bottom: 3px solid #6083a6;
	}
}

.form {
	display: none;
	position: absolute;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	z-index: 10;
	text-align: center;
	a {
		color: #000 !important;
		font-size: 24px;
		display: block;
		margin: 0 0 20px 0;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
		span {
			font-weight: bold;
		}
	}
	.field {
		margin: 0 0 25px 0;
		input {
			height: 30px;
			width: 275px;
			padding: 0;
			margin: 0;
			text-align: center;
			border: 1px solid #bdc3c8;
			outline: none;
			&.error {
				border-color: #bf382b;
			}
		}
		input[type=submit] {
			height: 30px;
			width: 277px;
			background-color: #3398da;
			font-weight: bold;
			color: #fff;
			border: none;
		}
	}
	p {
		padding: 0 10px;
		font-size: 16px;
		line-height: 24px;
	}
}

.unapproved {
	position: absolute;
	top: calc(50% - 80px);
	left: 50%;
	z-index: 10;
	width: 400px;
	margin-left: -200px;
	text-align: center;
	a {
		display: block;
		margin: 0 0 20px 0;
		font-size: 24px;
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	p {
		padding: 0 10px;
		font-size: 16px;
		line-height: 24px;
	}
}

#repertoire{
	height: calc(100% - 50px);
}

.export_popup{
	background-color: #fff;
	border-radius: 8px;
	margin: 0 auto;
	width: 500px;
	overflow: hidden;
	transition: opacity 0.3s;
	&__head{
		position: relative;
		height: 50px;
		border-bottom: 1px solid $default-border;
		.export_popup__title{
			text-align: center;
			position: absolute;
			top: 50%;
			margin-top: -7px;
			left: 0;
			right: 0;
			font-size: 20px;
			color: #000;
		}
		.arcticmodal-close{
			background: none;
			left: auto;
			position: absolute;
			top: 50%;
			right: 20px;
			width: 31px;
			height: 31px;
			margin-top: -15px;
			cursor: pointer;
			.export__close{
				background: url(/img/popup_close.svg) no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 31px;
				height: 31px;
				opacity: 1;
				transition: opacity 0.3s, transform 0.3s;
				&_hover{
					background-position: 0 -31.5px;
					opacity: 0;
				}
				&_active{
					background-position: 0 -63.5px;
					opacity: 0;
				}
			}
			&:hover{
				.export__close{
					opacity: 0;
					transform: rotate(180deg);
					&_hover{
						opacity: 1;
						transform: rotate(180deg);
					}
					&_active{
						opacity: 0;
						transform: rotate(180deg);
					}
				}
			}
			&:active{
				.export__close{
					opacity: 0;
					transform: rotate(180deg);
					&_hover{
						opacity: 0;
						transform: rotate(180deg);
					}
					&_active{
						opacity: 1;
						transform: rotate(180deg);
					}
				}
			}
			.cell_week{
				display: table-cell;
				font-weight: normal;
				position: relative;
				height: 35px;
				font-size: 12px;
				padding: 0;
				border-bottom: 1px solid #ccc;
				&:before{
					transition: background-color 0.3s;
				}
				&:after{
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					width: 1px;
					background-color: #ccc;
					content: '';
					z-index: 1;
				}
				span {
					color: #333;
					white-space: nowrap;
					vertical-align: middle;
				}
				.add_week_release{
					cursor: pointer;
					display: inline-block;
					vertical-align: top;
					width: 29px;
					background: url(/img/icon_add.svg) no-repeat 50% 50%;
					position: absolute;
					top: 50%;
					top: 0;
					right: 0;
					bottom: 0;
					opacity: 0.3;
					&:hover{
						opacity: 1;
					}
				}
				.duration{
					display: inline-block;
					padding-left: 7px;
					.cinema_time{
						display: block;
						line-height: 12px;
					}
					.rel_time{
						display: block;
						padding-top: 3px;
						line-height: 12px;
						&.low{
							color: #cc0000;
						}
					}
				}
				.cell{
					padding: 0;
					border: none !important;
				}
			}
		}
		.key {
			background-image: url(/img/key.png);
			background-position: center bottom;
			background-repeat: repeat-x;
		}
		.key_first {
			background-image: url(/img/key-first.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			vertical-align: top;
		}
	}
	&__content{
		padding: 21px 17px;
		.col{
			padding-bottom: 19px;
			.date{
				display: inline-block;
				vertical-align: top;
				width: 45%;
				&:first-child{
					padding-right: 5%;
				}
				&_input{
					background-color: #fff;
					border: 1px solid #dadada;
					color: #000;
					font-size: 14px;
					height: 30px;
					line-height: 30px;
					padding: 0 10px;
					width: 80px;
					border-radius: 3px;
					&#date{
						width: 99px;
					}
					&.error {
						color: #e64c3b;
						border-color: #e64c3b;
					}
				}
			}
		}
	}
	&__bottom{
		border-top: 1px solid $default-border;
		background-color: #f6f6f6;
		height: 26px;
		padding: 17px;
		.done{
			background-color: #f6f6f6;
			border: 1px solid #94bcdd;
			color: #4378a4;
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			height: 19px;
			line-height: 12px;
			padding: 8px 15px 0;
			border-radius: 4px;
			transition: background-color 0.3s;
			&:hover{
				background-color: #eaf0f8;
			}
			&:active{
				background-color: #d6e2fa;
			}
		}
	}
}

.blue {
	background-color: #a2c1ff;
	border-left: 1px dotted rgba(145, 145, 145, 0.1) !important;
	border-right: 1px dotted rgba(145, 145, 145, 0.1) !important;
	color: #1f4a9e;
	a {
		color: #1f4a9e;
	}
}
.pink {
	background-color: #da81ed;
	border-left: 1px dotted rgba(145, 145, 145, 0.1) !important;
	border-right: 1px dotted rgba(145, 145, 145, 0.1) !important;
	color: #660e79;
	a {
		color: #660e79;
	}
}
.green {
	background-color: #86dad2;
	border-left: 1px dotted rgba(145, 145, 145, 0.1) !important;
	border-right: 1px dotted rgba(145, 145, 145, 0.1) !important;
	color: #075d55;
	a {
		color: #075d55;
	}
}
.gray {
	background-color: #aeaeae;
	border-left: 1px dotted rgba(145, 145, 145, 0.1) !important;
	border-right: 1px dotted rgba(145, 145, 145, 0.1) !important;
	color: #3a3a3a;
	a {
		color: #3a3a3a;
	}
}
.orange {
	background-color: #ff9d74;
	border-left: 1px dotted rgba(145, 145, 145, 0.1) !important;
	border-right: 1px dotted rgba(145, 145, 145, 0.1) !important;
	color: #933f1c;
	a {
		color: #933f1c;
	}
}

.change_my_popup,
.release_painting-item {
	display: inline-block;
	vertical-align: top;
	min-width: 450px;
	background-color: #fff;
	position: relative;
	text-align: left;
	border-radius: 8px;
	.top{
		position: relative;
		height: 60px;
		line-height: 60px;
		border-bottom: 1px solid #95bcdc;
		.title{
			display: block;
			font-size: 18px;
			color: #000;
			padding-top: 2px;
			background: none;
			text-align: center;
			padding: 0 50px;
		}
		.exit{
			background: none;
			left: auto;
			position: absolute;
			top: 50%;
			right: 10px;
			width: 31px;
			height: 31px;
			margin-top: -15px;
			cursor: pointer;
			.ico{
				background: url(/img/popup_close.svg) no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 31px;
				height: 31px;
				opacity: 1;
				transition: opacity 0.3s, transform 0.3s;
			}
			.hover{
				background-position: 0 -31.5px;
				opacity: 0;
			}
			.active{
				background-position: 0 -63.5px;
				opacity: 0;
			}
			&:hover{
				.ico{
					opacity: 0;
					transform: rotate(180deg);
				}
				.hover{
					opacity: 1;
					transform: rotate(180deg);
				}
				.active{
					opacity: 0;
					transform: rotate(180deg);
				}
			}
			&:active{
				.ico{
					opacity: 0;
					transform: rotate(180deg);
				}
				.hover{
					opacity: 0;
					transform: rotate(180deg);
				}
				.active{
					opacity: 1;
					transform: rotate(180deg);
				}
			}
		}
	}
	.center{
		padding: 11px 13px;
		.hire_range {
			margin: 0 auto;
			text-align: center;
			.text {
				font-size: 13px;
				color: #bcbcbc;
				&.until_date,
				&.since_date {
					border: none;
					display: inline;
					width: 66px;
					&.active {
						color: #4378a4;
						border-bottom: 1px dotted #4378a4;
						cursor: pointer;
						transition: color 0.3s;
						&:hover {
							color: #00adef;
						}
					}
				}
			}
		}
		.table{
			font-size: 0;
			padding-bottom: 15px;
			margin-top: 8px;
			&.show{
				display: block;
			}
			.head{
				height: 33px;
				line-height: 33px;
				background-color: #eaeef2;
				border-bottom: 2px solid #d5d7dc;
				padding: 0 33px 0 13px;
				text-align: left;
				.week{
					font-size: 12px;
					line-height: 35px;
					color: #9b9b9b;
					width: 200px;
					display: inline-block;
					vertical-align: top;
				}
				.format{
					display: inline-block;
					vertical-align: middle;
					font-size: 12px;
					line-height: 35px;
					color: #9b9b9b;
					width: 135px;
					text-transform: uppercase;
					position: relative;
					background: initial;
					&.format_custom{
						line-height: normal;
					}
					.format_custom_block{
						display: inline-block;
						vertical-align: middle;
						padding: 0 3px;
						border-radius: 4px;
						cursor: pointer;
						position: relative;
						left: -3px;
						z-index: 3;
						transition: background-color 0.3s;
						.name{
							display: block;
							font-size: 12px;
							line-height: 14px;
							color: #9b9b9b;
							width: auto;
						}
						.upgrades{
							display: block;
							font-size: 8px;
							line-height: 8px;
							color: #9b9b9b;
							white-space: nowrap;
						}
						&.active{
							background-color: #d2d5d8;
							&:before{
								background: url(/img/add_format_triangle@2x.png) no-repeat;
								-webkit-background-size: 11px;
								background-size: 11px;
								content: '';
								position: absolute;
								bottom: -5px;
								left: 10px;
								margin-left: -5px;
								width: 11px;
								height: 6px;
								z-index: 1;
							}
							.name,
							.upgrades{
								color: #666;
							}
						}
					}
					.custom_format{
						text-align: left;
						font-size: 0;
						position: absolute;
						top: 35px;
						background-color: #fff;
						height: 0;
						left: 10%;
						overflow: hidden;
						z-index: 10;
						padding: 0 12px;
						border-radius: 4px;
						text-transform: none;
						min-width: 175px;
						box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
						transition: height 0.3s, padding-top 0.3s;
						&.visible{
							height: auto;
							padding-top: 13px;
						}
						.list{
							white-space: nowrap;
							padding-bottom: 15px;
							.item{
								display: inline-block;
								vertical-align: top;
								text-transform: uppercase;
								font-size: 13px;
								line-height: 13px;
								color: #2a6496;
								border-bottom: 1px dotted #2a6496;
								padding: 4px 0 1px;
								margin: 0 15px 0 5px;
								height: auto;
								background: transparent;
								cursor: pointer;
								transition: color 0.3s, background-color 0.3s;
								&.active{
									background-color: #eaeef2;
									color: #666;
									border-bottom-color: transparent;
									margin: 0 10px 0 0;
									padding: 4px 5px 1px;
									border-radius: 4px;
								}
							}
						}
						.technology{
							.couple{
								white-space: nowrap;
								padding-bottom: 11px;
								&:last-child{
									padding-bottom: 0;
								}
								.couple__item{
									display: inline-block;
									vertical-align: top;
									padding-right: 49px;
									input{
										display: inline-block;
										vertical-align: top;
									}
									label{
										display: inline-block;
										vertical-align: top;
										padding-left: 5px;
										font-size: 13px;
										line-height: 15px;
										color: #666;
										cursor: pointer;
									}
									&:last-child{
										padding-right: 0;
									}
								}
							}
						}
						.actions{
							height: 37px;
							background-color: #f6f6f6;
							border-top: 1px solid $default-border;
							margin: 13px -12px 0;
							text-align: center;
							border-radius: 0 0 4px 4px;
							.remove_format{
								display: inline-block;
								vertical-align: top;
								width: 50%;
								line-height: 39px;
								font-size: 14px;
								color: #d0021b;
								cursor: pointer;
							}
							.save_format_pack{
								display: inline-block;
								vertical-align: top;
								width: 50%;
								line-height: 39px;
								font-size: 14px;
								color: #4378a4;
								cursor: pointer;
								transition: color 0.3s;
								&:hover{
									color: #00adef;
								}
							}
						}
					}
				}
				.new_format{
					display: inline-block;
					vertical-align: top;
					width: 100px;
					height: 100%;
					text-align: center;
					position: relative;
					&:hover{
						.new_format__top{
							color: #00adef;
						}
					}
					&.active{
						.new_format__top{
							background-color: #d2d5d8;
							color: #666;
							&:before{
								background: url(/img/add_format_triangle@2x.png) no-repeat;
								-webkit-background-size: 11px;
								background-size: 11px;
								content: '';
								position: absolute;
								bottom: -8px;
								left: 50%;
								margin-left: -5px;
								width: 11px;
								height: 6px;
								z-index: 1;
							}
						}
					}
					.new_format__top{
						position: relative;
						z-index: 3;
						font-size: 12px;
						line-height: 23px;
						color: #2a6496;
						display: inline-block;
						vertical-align: top;
						width: 70px;
						height: 22px;
						margin-top: 6px;
						cursor: pointer;
						border-radius: 4px;
						transition: color 0.3s, background-color 0.3s;
					}
					.add_format{
						text-align: left;
						font-size: 0;
						line-height: normal;
						position: absolute;
						top: 35px;
						background-color: #fff;
						height: 0;
						left: 50%;
						overflow: hidden;
						z-index: 10;
						padding: 0 12px;
						border-radius: 4px;
						box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
						transition: height 0.3s, padding-top 0.3s;
						&.visible{
							height: auto;
							padding-top: 13px;
						}
						.list{
							white-space: nowrap;
							padding-bottom: 15px;
							.item{
								display: inline-block;
								vertical-align: top;
								text-transform: uppercase;
								font-size: 13px;
								line-height: 13px;
								color: #2a6496;
								border-bottom: 1px dotted #2a6496;
								padding: 4px 0 2px;
								margin: 0 15px 0 5px;
								height: auto;
								background: transparent;
								cursor: pointer;
								transition: color 0.3s, background-color 0.3s;
								&.active{
									background-color: #eaeef2;
									color: #666;
									border-bottom-color: transparent;
									margin: 0 10px 0 0;
									padding: 4px 5px 2px;
									border-radius: 4px;
								}
							}
						}
						.technology{
							.couple{
								white-space: nowrap;
								padding-bottom: 11px;
								&:last-child{
									padding-bottom: 0;
								}
								.couple__item{
									display: inline-block;
									vertical-align: top;
									padding-right: 19px;
									input{
										display: inline-block;
										vertical-align: middle;
									}
									label{
										display: inline-block;
										vertical-align: middle;
										padding-left: 5px;
										font-size: 13px;
										line-height: 15px;
										color: #666;
										cursor: pointer;
									}
									&:last-child{
										padding-right: 0;
									}
								}
							}
						}
						.actions{
							height: 37px;
							background-color: #f6f6f6;
							border-top: 1px solid $default-border;
							margin: 13px -12px 0;
							text-align: center;
							border-radius: 0 0 4px 4px;
							.remove_format{
								display: inline-block;
								vertical-align: top;
								width: 50%;
								line-height: 37px;
								font-size: 14px;
								color: #d0021b;
								display: none;
								cursor: pointer;
							}
							.save_format_pack,
							.add_format_pack{
								display: inline-block;
								vertical-align: top;
								width: 50%;
								line-height: 37px;
								font-size: 14px;
								color: #4378a4;
								cursor: pointer;
								transition: color 0.3s;
								&:hover{
									color: #00adef;
								}
							}
							.save_format_pack{
								display: none;
							}
						}
					}
				}
			}
			.item{
				height: 32px;
				border-bottom: 1px solid #d5d7dc;
				background-color: #f6f8fd;
				white-space: nowrap;
				position: relative;
				padding: 0 33px 0 13px;
				&:nth-child(2n-1){
					background-color: #fff;
				}
				&:hover{
					&:nth-child(2),
					&:last-child{
						.remove_week{
							display: block;
						}
					}
				}
				.week{
					padding-top: 12px;
					font-size: 12px;
					line-height: 12px;
					color: #333;
					width: 200px;
					display: inline-block;
					vertical-align: top;
					.date{
						padding-left: 9px;
						color: #bcbcbc;
						font-size: 12px;
						line-height: 12px;
					}
				}
				.format{
					display: inline-block;
					vertical-align: top;
					width: 135px;
					position: relative;
					.text{
						display: inline-block;
						vertical-align: top;
						margin-top: 9px;
						font-size: 13px;
						line-height: 13px;
						color: #2a6496;
						border-bottom: 1px dotted #2a6496;
						cursor: pointer;
						transition: color 0.3s, border-bottom-color 0.3s;
						&:hover{
							color: #00adef;
							border-bottom-color: #00adef;
						}
					}
					.input{
						margin-top: 5px;
						position: relative;
						left: -5px;
						display: none;
						background-color: #fff;
						border: 1px solid #bcbcbc;
						width: 20px;
						padding: 0 4px;
						height: 20px;
						font-size: 13px;
						color: #333;
						transition: border-color 0.3s;
						&.error{
							border-color: #e64c3b;
						}
					}
					.no_edit{
						display: inline-block;
						vertical-align: top;
						margin-top: 11px;
						font-size: 13px;
						line-height: 13px;
						color: #2a6496;
					}
					.halls{
						display: inline-table;
						vertical-align: top;
						white-space: normal;
						height: 32px;
						max-width: 90px;
						.halls_text{
							color: #2a6496;
							font-size: 10px;
							line-height: 13px;
							display: table-cell;
							vertical-align: middle;
							padding-left: 7px;

						}

					}
					.halls_list{
						width: 100px;
						background-color: #fff;
						border-radius: 4px;
						box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
						white-space: normal;
						padding: 0 0 0 11px;
						position: absolute;
						left: 0;
						top: 31px;
						z-index: 10;
						display: none;
						&.visible{
							display: block;
						}
						.halls_title{
							display: block;
							margin-left: -11px;
							padding-bottom: 3px;
							text-align: center;
							color: #333;
							font-size: 13px;
							line-height: 30px;
							height: 30px;
						}
						.one_hall{
							display: inline-block;
							vertical-align: top;
							width: 50px;
							height: 15px;
							padding-bottom: 9px;
							.check{

							}
							.title{
								font-size: 12px;
								line-height: 12px;
								color: #666;
								cursor: pointer;
								background-color: transparent;
								padding-left: 7px;
							}
						}
						.save_halls{
							display: block;
							border-top: 1px solid $default-border;
							background-color: #f6f6f6;
							height: 31px;
							line-height: 30px;
							text-align: center;
							color: #4378a4;
							font-size: 14px;
							cursor: pointer;
							transition: color 0.3s;
							margin-left: -11px;
							border-radius: 0 0 4px 4px;
							&:hover{
								color: #00adef;
							}
						}
					}
					.halls_edit{
						font-family: 'FontAwesome';
						font-size: 10px;
						line-height: 12px;
						display: inline-block;
						vertical-align: top;
						position: relative;
						width: 12px;
						height: 12px;
						margin: 10px 0 0 5px;
						color: #777;
						cursor: pointer;
						opacity: 0.7;
						transition: opacity 0.3s;
						&:before{
							content: '';
						}
						&:hover{
							opacity: 1;
						}
					}
				}
				.remove_week{
					background: url(/img/remove_week.svg) no-repeat;
					position: absolute;
					right: 9px;
					top: 50%;
					margin-top: -7px;
					width: 15px;
					height: 15px;
					display: none;
					cursor: pointer;
				}
			}
		}
		.add{
			color: #4378a4;
			font-size: 14px;
			cursor: pointer;
			width: 140px;
			text-align: center;
			margin: 0 auto;
			display: block;
			transition: color 0.3s;
			&:hover{
				color: #00adef;
			}
		}
	}
	.bottom{
		border-top: 1px solid $default-border;
		height: 45px;
		padding: 15px 0 0 19px;
		background-color: #f6f6f6;
		border-radius: 0 0 8px 8px;
		.save{
			float: left;
			border: 1px solid #94bcdd;
			font-size: 14px;
			line-height: 28px;
			color: #4378a4;
			height: 28px;
			padding: 0 10px;
			border-radius: 4px;
			cursor: pointer;
			transition: background-color 0.3s;
			&:hover{
				background-color: #eaf0f8;
			}
			&:active{
				background-color: #d6e2f1;
			}
		}
		.remove{
			display: none;
			font-size: 14px;
			color: #d0021b;
			float: left;
			margin: 7px 0 0 18px;
			cursor: pointer;
		}
		.status{
			padding: 1px 5px 0 0;
			float: right;
			font-size: 0;
			.status_name{
				display: inline-block;
				vertical-align: top;
				font-size: 14px;
				line-height: 14px;
				color: #666;
				padding: 8px 3px 0 0;
			}
			.choose_wrap{
				display: inline-block;
				vertical-align: top;
				position: relative;
				top: -7px;
				width: 186px;
				&.visible{
					.active_status{
						display: none;
					}
					.choose{
						display: block;
					}
				}
			}
			.active_status{
				position: absolute;
				top: 8px;
				left: 1px;
				right: 0;
				margin-left: 7px;
				width: 158px;
				height: 19px;
				padding: 5px 0 0 10px;
				border: 1px solid transparent;
				margin-bottom: 10px;
				font-size: 14px;
				line-height: 14px;
				border-radius: 4px;
				&.activated{
					cursor: pointer;
					background: url(/img/cinema_schedule_arrow_down.svg) no-repeat 95% 50%;
				}
				&[data-status="1"]{
					background-color: #86dad2;
					border-color: #4eb4aa;
					color: #167269;
				}
				&[data-status="2"]{
					background-color: #ff9d74;
					border-color: #e2794d;
					color: #aa4a22;
				}
				&[data-status="3"]{
					background-color: #a2c1ff;
					border-color: #7799dc;
					color: #3e5d9a;
				}
				&[data-status="4"]{
					background-color: #da81ed;
					border-color: #b650cc;
					color: #7f2992;
				}
			}
			.choose{
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				border: 1px solid $default-border;
				background-color: #fff;
				border-radius: 8px;
				padding: 7px;
				.item{
					display: block;
					width: 158px;
					height: 24px;
					padding: 0 0 0 10px;
					border: 1px solid transparent;
					font-size: 14px;
					line-height: 24px;
					margin-bottom: 10px;
					cursor: pointer;
					border-radius: 4px;
					&:last-child{
						margin-bottom: 0;
					}
					&.active{
						display: block;
						position: relative;
						&:before{
							position: absolute;
							content: '';
							font-family: 'FontAwesome';
							right: 6px;
						}
					}
					&[data-status="1"]{
						background-color: #86dad2;
						border-color: #4eb4aa;
						color: #167269;
					}
					&[data-status="2"]{
						background-color: #ff9d74;
						border-color: #e2794d;
						color: #aa4a22;
					}
					&[data-status="3"]{
						background-color: #a2c1ff;
						border-color: #7799dc;
						color: #3e5d9a;
					}
					&[data-status="4"]{
						background-color: #da81ed;
						border-color: #b650cc;
						color: #7f2992;
					}
				}
			}
		}
	}
	h2 {
		font-weight: normal;
		margin: 0 0 25px 0;
		font-size: 21px;
	}
	.group {
		float: left;
	}
	.left {
		margin: 0 25px 0 0;
	}
	.right {
		width: 230px;
	}
	.close {
		position: fixed;
		transform: translateZ(0);
		margin: -50px 0 0 400px;
		display: block;
		width: 10px;
		height: 12px;
		background: url(/img/sprite.svg) -57px -5px no-repeat;
	}
	p {
		color: #010000;
		font-size: 14px;
		margin: 0;
	}
	a {
		color: #2981b9;
		text-decoration: none;
		font-size: 14px;
		width: 100%;
		height: 100%;
		display: block;
	}
	.add_del {
		text-align: center;
		padding: 0 0 10px 0;
	}
	.add_week, .del_week {
		display: inline;
	}
	.del_week {
		color: #e64c3b;
	}
	ul.color_ch {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			float: left;
			width: 28px;
			height: 28px;
			border: 1px solid #929292;
			margin: 0 13px 0 0;
			img {
				display: none;
				background: url(/img/sprite.svg) -73px -49px no-repeat;
			}
			img.checked {
				display: block;
			}
		}
	}
	.rep_week {
		margin: 0 0 10px 0;
		width: 50px;
	}
	.week_num {
		width: 125px;
		padding: 0 0 10px;
		text-align: right;
	}
	.week_format_text_count{
		padding: 0 0 10px;
	}
	.weeks {
		margin: 10px;
		padding: 10px;
		text-align: center;
	}
	.name_formats {
		text-align: center;
	}
}

.release_painting-item {
	display: block;
	margin-bottom: 50px;
	.title {
		text-align: left;
		padding-left: 13px;
		color: #666;
		background: none;
	}
	.btn_export {
		margin: 7px 15px 0 15px;
		a {
			width: auto;
		}
	}
	.rep_settings .center .table {
		.head .format {
			width: 110px;
		}
		.item .format {
			width: 110px;
		}
	}
	.rep_settings .bottom {
		height: 30px;
		border: none;
		padding: 0;
		background: none;

		.choose {
			z-index: 1000;
		}
	}
	.head {
		min-width: 700px;
	}
	.head,
	.item {
		.week {
			width: 150px !important;
		}
	}
	.center .table .item .format .halls {
		max-width: initial !important;
	}
	.center .table .item .format .halls_text {
		padding-right: 30px;
	}
	.status{
		padding: 1px 5px 0 0;
		float: right;
		font-size: 0;
		.status_name{
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			line-height: 14px;
			color: #666;
			padding: 8px 3px 0 0;
		}
		.choose_wrap{
			display: inline-block;
			vertical-align: top;
			position: relative;
			top: -7px;
			width: 186px;
			&.visible{
				.active_status{
					display: none;
				}
				.choose{
					display: block;
				}
			}
		}
		.active_status{
			position: absolute;
			top: 8px;
			left: 1px;
			right: 0;
			margin-left: 7px;
			width: 158px;
			height: 19px;
			padding: 5px 0 0 10px;
			border: 1px solid transparent;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 14px;
			border-radius: 4px;
			&.activated{
				cursor: pointer;
				background: url(/img/cinema_schedule_arrow_down.svg) no-repeat 95% 50%;
			}
			&[data-status="1"]{
				background-color: #86dad2;
				border-color: #4eb4aa;
				color: #167269;
			}
			&[data-status="2"]{
				background-color: #ff9d74;
				border-color: #e2794d;
				color: #aa4a22;
			}
			&[data-status="3"]{
				background-color: #a2c1ff;
				border-color: #7799dc;
				color: #3e5d9a;
			}
			&[data-status="4"]{
				background-color: #da81ed;
				border-color: #b650cc;
				color: #7f2992;
			}
		}
		.choose{
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border: 1px solid $default-border;
			background-color: #fff;
			border-radius: 8px;
			padding: 7px;
			z-index: 10000;
			.item{
				display: block;
				width: 158px;
				height: 24px;
				padding: 0 0 0 10px;
				border: 1px solid transparent;
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 10px;
				cursor: pointer;
				border-radius: 4px;
				&:last-child{
					margin-bottom: 0;
				}
				&.active{
					display: block;
					position: relative;
					&:before{
						position: absolute;
						content: '';
						font-family: 'FontAwesome';
						right: 6px;
					}
				}
				&[data-status="1"]{
					background-color: #86dad2;
					border-color: #4eb4aa;
					color: #167269;
				}
				&[data-status="2"]{
					background-color: #ff9d74;
					border-color: #e2794d;
					color: #aa4a22;
				}
				&[data-status="3"]{
					background-color: #a2c1ff;
					border-color: #7799dc;
					color: #3e5d9a;
				}
				&[data-status="4"]{
					background-color: #da81ed;
					border-color: #b650cc;
					color: #7f2992;
				}
			}
		}
	}
}

.halls-popup,
.edit-value-popup {
	position: absolute;
	top: -16px;
	left: 20px;
	min-width: 100px;
	z-index: 10000;
	padding: 15px 15px 0;
	font-size: 12px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #d5d7dc;

	input[type='checkbox'] {
		margin-right: 5px;
		vertical-align: baseline;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
		border-left: 0;
	}

	&:before {
		top: 20px;
		left: -11px;
		border-right-color: #d5d7dc;
		border-width: 11px;
	}
	&:after {
		top: 21px;
		left: -10px;
		border-right-color: #fff;
		border-width: 10px;
	}

	&-top {
		display: block;
		margin-bottom: 10px;
		text-align: center;
		user-select: none;

		&__input {
			width: 20px;
			padding: 10px 10px 8px;
			margin: 0 auto;
			overflow: hidden;
			line-height: 1.2;
			color: #333;
			text-align: center;
			background: #f9f9f9;
			border: 1px solid #ccc;
			border-radius: 3px;

			-moz-appearance: textfield;
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			&:focus {
				background-color: #fff;
			}

			&-plus,
			&-minus {
				font-size: 18px;
				color: #666;
				vertical-align: middle;
				cursor: pointer;
			}

			&-plus {
				margin-left: 8px;
			}
			&-minus {
				margin-right: 8px;
			}


		}
	}
	&-header {
		margin-bottom: 5px;
		@include clearfix();
		&__title {
			font-weight: bold;
		}
		&__all {
			float: right;
		}
	}
	&-list {
		display: block;
		margin-bottom: 10px;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		&-hall {
			display: block;
			&__formats {
				color: #9b9b9b;
			}
		}
	}
	&__save {
		text-align: center;
		line-height: 37px;
		margin: 0 -15px 0;
		background-color: #f6f6f6;
		border-top: 1px solid $default-border;
		border-radius: 0 0 4px 4px;
		cursor: pointer;
		font-size: 14px;
		color: #4378a4;

		transition: color 0.3s;

		&:hover {
			color: #00adef;
		}
	}
}

.edit-value-popup {
	top: inherit;
	left: inherit;
	margin-top: -21px;
}

.export_popup{
	background-color: #fff;
	border-radius: 8px;
	margin: 0 auto;
	width: 500px;
	overflow: hidden;
	transition: opacity 0.3s;
	.export_popup__head{
		position: relative;
		height: 50px;
		border-bottom: 1px solid $default-border;
		.export_popup__title{
			text-align: center;
			position: absolute;
			top: 50%;
			margin-top: -7px;
			left: 0;
			right: 0;
			font-size: 20px;
			color: #000;
		}
		.arcticmodal-close{
			left: auto;
			position: absolute;
			top: 50%;
			right: 20px;
			width: 31px;
			height: 31px;
			margin-top: -15px;
			cursor: pointer;
			.export__close{
				background: url(/img/popup_close.svg) no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 31px;
				height: 31px;
				opacity: 1;
				transition: opacity 0.3s, transform 0.3s;
			}
			.export__close_hover{
				background-position: 0 -31.5px;
				opacity: 0;
			}
			.export__close_active{
				background-position: 0 -63.5px;
				opacity: 0;
			}
			&:hover{
				.export__close{
					opacity: 0;
					transform: rotate(180deg);
				}
				.export__close_hover{
					opacity: 1;
					transform: rotate(180deg);
				}
				.export__close_active{
					opacity: 0;
					transform: rotate(180deg);
				}
			}
			&:active{
				.export__close{
					opacity: 0;
					transform: rotate(180deg);
				}
				.export__close_hover{
					opacity: 0;
					transform: rotate(180deg);
				}
				.export__close_active{
					opacity: 1;
					transform: rotate(180deg);
				}
			}
		}
	}
	.export_popup__content{
		padding: 21px 17px;
		.export_question {
			font-size: 14px;
			color: #9c9c9c;
		}
		.col{
			padding-bottom: 19px;
			.date{
				display: inline-block;
				vertical-align: top;
				width: 45%;
				&:first-child{
					padding-right: 5%;
				}
				.date_input{
					background-color: #fff;
					border: 1px solid #dadada;
					color: #000;
					display: block;
					font-size: 14px;
					height: 30px;
					line-height: 30px;
					padding: 0 10px;
					width: calc(100% - 20px);
					border-radius: 3px;
					&.error {
						color: #e64c3b;
						border-color: #e64c3b;
					}
				}
			}
			.text{
				color: #9c9c9c;
				font-size: 14px;
				line-height: 14px;
				padding-bottom: 7px;
			}
			.email{
				background-color: #fff;
				border: 1px solid #dadada;
				color: #000;
				display: inline-block;
				vertical-align: top;
				font-size: 14px;
				height: 30px;
				line-height: 30px;
				padding: 0 10px;
				width: calc(100% - 20px);
				border-radius: 3px;
				&.error {
					color: #e64c3b;
					border-color: #e64c3b;
				}
			}
			.layout{
				background-color: #fff;
				border: 1px solid #dadada;
				color: #000;
				display: inline-block;
				vertical-align: top;
				font-size: 14px;
				height: 30px;
				line-height: 30px;
				padding: 0 10px;
				width: calc(100% - 20px);
				border-radius: 3px;
			}
			.full{
				display: inline-block;
				vertical-align: top;
				width: 45%;
				/*padding-left: 4%;*/
				.question{
					float: left;
					width: 115px;
					color: #9c9c9c;
					font-size: 14px;
					line-height: 14px;
					cursor: pointer;
				}
				.full_check{
					float: left;
					margin-top: 6px;
					cursor: pointer;
					outline: none;
				}
			}
			.model{
				display: inline-block;
				vertical-align: top;
				padding-left: 5%;
				width: 49%;
			}
			.alternative{
				display: inline-block;
				vertical-align: top;
				width: 100%;
				margin-top: 10px;
				.question{
					float: left;
					width: 160px;
					color: #9c9c9c;
					font-size: 14px;
					line-height: 25px;
					cursor: pointer;
				}
				.alternative_check{
					float: left;
					margin-top: 6px;
					cursor: pointer;
					outline: none;
				}
			}
			&:last-child{
				padding-bottom: 0;
			}
		}
	}
	.export_popup__bottom{
		border-top: 1px solid $default-border;
		background-color: #f6f6f6;
		height: 26px;
		padding: 17px;
		.done{
			background-color: #f6f6f6;
			border: 1px solid #94bcdd;
			color: #4378a4;
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			height: 19px;
			line-height: 12px;
			padding: 8px 15px 0;
			border-radius: 4px;
			transition: background-color 0.3s;
			&:hover{
				background-color: #eaf0f8;
			}
			&:active{
				background-color: #d6e2fa;
			}
		}
	}
}

span.preview:hover {text-decoration: underline;}

.checkbox {
	display: inline-block;
	cursor: pointer;
	font-size: 13px; margin-right:10px; line-height:18px;
}

.favorite_modal {
	h3 {
		margin: 0;
		font-weight: normal;
	}
	p {
		font-size: 16px;
		color: #636363;
		width: 500px;
	}
	label {
		color: #474747;
		margin: 0 0 20px 0;
		display: block;
	}
	input:focus {
		outline: none;
	}
	input[type=checkbox] {
		margin: 0 10px 0 0;
		border: none;
	}
	.popupWrap__content{
		&__fave{
			font-size: 0;
			&__wrap{
				padding: 20px;
				overflow: hidden;
				&__city{
					color: #d4d4d4;
				}
			}
			&__all{
				padding-bottom: 9px;
				overflow: hidden;
			}
			label{
				margin: 0;
				padding-bottom: 5px;
				font-size: 12px;
				color: #a0a0a0;
				float: left;
				white-space: nowrap;
			}
			&.popupWrap__content__fave_ready{
				label{
					float: none;
					display: inline-block;
					vertical-align: top;
					width: 50%;
					&.readonly{
						color: #d4d4d4;
					}
				}
			}
		}
		&__group{
			display: block;
			border-bottom: 1px solid #e3e3e3;
			margin-bottom: 10px;
			&:last-child{
				border-bottom: none;
				margin-bottom: 0;
			}
			&__check{

			}
			&__title{
				display: block;
				font-size: 14px;
				padding-bottom: 7px;
			}
		}
	}
}

.uv-icon {
	z-index: 99 !important;

	&.uv-bottom-right {
		background: transparent;
	}
}

.datepicker * {
	box-sizing: border-box;
}

.tour-popup {
	text-align: center;
}

.restart-tour {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: transparent url(/img/icon-restart-tour.svg) no-repeat !important;
	margin: 10px;
}

.btn_export {
	float: right;
	display: block;
	margin-right: 20px;
	margin-top: 7px;
	.button {
		color: #4378a4;
		background: #f5f7fa url(/img/export_excel@2x.png) no-repeat 11px 50%;
		-webkit-background-size: 18px;
		background-size: 18px;
		border-radius: 4px;
		cursor: pointer;
		text-decoration: none;
		padding: 0 12px 0 38px;
		font-size: 14px;
		line-height: 26px;
		height: 26px;
		display: inline-block;
		vertical-align: top;
		border: 1px solid #94bcdd;
		margin-top: -5px;
		transition: background-color 0.3s;
		&:hover{
			background-color: #eaf0f8;
		}
		&:active{
			background-color: #d6e2f1;
		}
	}
	&.disabled {
		opacity: 0.5;
		pointer-events: none;
		.button {
			cursor: default !important;
			&:hover,
			&:active {
				background-color: #f5f7fa;
			}
		}
	}
}

.download-trailer {
	width: 500px;
	margin-bottom: 20px;
	padding: 10px 0;
	border-top: 1px solid $default-border;
	border-bottom: 1px solid $default-border;
	&__status {
		color: #999;
		font-size: 14px;
		line-height: 16px;
	}
	&__label {
		display: block;
		color: #A0A0A0;
		font-size: 12px;
	}
	&__city {
		color: #D4D4D4;
		font-size: 12px;
	}
	&__submit {
		margin-top: 10px;
	}
}

.popover[class*=tour-] {
	min-width: 250px;
}

@-moz-keyframes spin-clockwise { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin-clockwise { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin-clockwise { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-counterclockwise { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-counterclockwise { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-counterclockwise { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@media (-webkit-min-device-pixel-ratio: 2) {
	#my_repertoire_table .key_first {
		background-image: url(/img/key-first@2x.png);
		-webkit-background-size: 100px;
		background-size: 100px;
	}
}
@media (-moz-device-pixel-ratio: 2) {
	#my_repertoire_table .key_first {
		background-image: url(/img/key-first@2x.png);
		-webkit-background-size: 100px;
		background-size: 100px;
	}
}

.mechanic-webinar {
	z-index: 10000;
	width: 600px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 14px;
	background-color: #fff;
	border-radius: 8px;
	&-top {
		position: relative;
		z-index: 1;
		height: 60px;
		line-height: 60px;
		text-align: center;
		border-bottom: 1px solid $default-border;
	}
	&-content {
		padding: 20px;
	}
	&-list li {
		background: initial;
		color: initial;
		cursor: default;
	}
	&__link {
		color: #4378a4;
		text-decoration: none;
		transition: color .3s;
		&:hover,
		&:focus {
			color: #e64c3b;
		}
	}
}
