$gray-border: #d5d7dc;
$gray-background: #eaeef2;

.commercial {
	&-table {
		position: relative;
		height: calc(100% - 51px);
		font-size: 0;
		&-header,
		&-row {
			height: 30px;
		}
		&-header {
			line-height: 32px;
			color: #9b9b9b;
			background-color: $gray-background;
			border-bottom: 2px solid $gray-border;
		}
		&-body {
			color: #333;
			&.scroll {
				position: absolute;
				left: 0;
				width: 100%;
				height: calc(100% - 67px);
				overflow: hidden;
				border-bottom: 1px solid $gray-border;
			}
		}
		&-body.scroll &-row:last-child {
			border-bottom: none;
		}
		&-body.scroll &-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow-y: scroll;
		}
		&-row {
			line-height: 30px;
			cursor: pointer;
			border-bottom: 1px solid $gray-border;
			transition: background-color .3s;
			&:nth-child(2n-1) {
				background-color: #f6f8fd;
			}
			&:hover {
				background-color: $gray-background;
			}
		}
		&__cell {
			display: inline-block;
			overflow: hidden;
			font-size: 12px;
			text-overflow: ellipsis;
			white-space: nowrap;
			vertical-align: top;
			&--title {
				width: calc(28% - 14px);
				padding-left: 14px;
			}
			&--date {
				width: 23%;
			}
			&--target {
				width: calc(49% - 35px);
			}
		}
		&-row:hover &__remove {
			display: inline-block;
		}
		&__remove {
			display: none;
			padding: 0 3px;
			margin-left: 6px;
			font-family: 'FontAwesome';
			font-size: 14px;
			font-style: normal;
			vertical-align: top;
			transition: color .3s;
			&:before {
				content: '';
			}
			&:hover {
				color: #e64c3b;
			}
		}
		&-body.scroll + &__add {
			position: absolute;
			bottom: 6px;
			left: 0;
		}
		&__add {
			display: inline-block;
			margin: 8px 0 0 14px;
			font-size: 12px;
			color: #4378a4;
			vertical-align: top;
			cursor: pointer;
			transition: color .3s;
			&:hover {
				color: #e64c3b;
			}
		}
	}
}
