$blue: #4378a4;
$gray: #9b9b9b;

.commercial {
	&-campaign {
		position: relative;
		width: 100%;
		height: calc(100% - 51px);
		overflow: hidden;
		&-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow-y: scroll;
		}
		&-section {
			padding-top: 31px;
			font-size: 0;
			border-bottom: 1px solid #dfdfdf;
			&:first-child {
				padding-top: 0;
			}
		}
		&__save,
		&__cancel {
			display: inline-block;
			height: 24px;
			padding: 0 13px;
			margin: 19px 0 21px;
			font-size: 14px;
			line-height: 24px;
			vertical-align: top;
			cursor: pointer;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		&__save {
			margin-right: 11px;
			color: #fff;
			background-color: $blue;
			border-color: $blue;
		}
		&__cancel {
			color: $gray;
			background-color: #fff;
			border-color: $gray;
		}
	}
	&-section {
		&__title {
			display: block;
			padding-bottom: 21px;
			font-size: 16px;
			font-weight: bold;
			color: #333;
		}
		&-field {
			padding-bottom: 25px;
		}
	}
	&-field {
		&__title {
			display: inline-block;
			width: 140px;
			padding-right: 20px;
			font-size: 13px;
			line-height: 15px;
			color: $gray;
			text-align: right;
			vertical-align: top;
		}
	}
	&-data {
		display: inline-block;
		vertical-align: top;
		&__input {
			height: 29px;
			padding: 0 9px;
			font-size: 13px;
			color: #333;
			border: 1px solid #d9d9d9;
			border-top-color: #c0c0c0;
			&--name {
				width: 333px;
				margin-top: -5px;
			}
			&--time {
				width: 33px;
			}
		}
		&__date {
			display: inline-block;
			width: 66px;
			font-size: 13px;
			line-height: 15px;
			color: $blue;
			vertical-align: top;
			cursor: pointer;
			border: none;
			border-bottom: 1px dotted $blue;
			transition: color .3s;
			&:hover {
				color: #00adef;
			}
		}
		&__hint {
			display: block;
			padding-top: 1px;
			font-size: 10px;
			color: $gray;
		}
		&__text {
			display: block;
			font-size: 13px;
			line-height: 15px;
			color: #333;
		}
		&__button {
			font-size: 13px;
			line-height: 15px;
			color: $blue;
			cursor: pointer;
			transition: color .3s;
			&:hover {
				color: #e64c3b;
			}
		}
		&-list {
			padding: 10px 0 0 0;
			margin: 0;
			list-style: none;
			&:first-child {
				padding-top: 0;
			}
		}
		&-item {
			&:hover {
				color: #333;
				cursor: default;
				background-color: transparent;
			}
			&:last-child > label {
				margin-bottom: 0;
			}
			label {
				display: block;
				margin-bottom: 5px;
				font-size: 13px;
				input {
					margin-right: 7px;
				}
			}
			&__text {
				display: inline-block;
				padding: 5px 0 0 20px;
				font-size: 13px;
				line-height: 15px;
				color: #333;
				vertical-align: top;
				&--gray {
					color: $gray;
				}
			}
		}
		&-hidden {
			display: none;
			min-width: 305px;
			padding: 11px;
			margin: 10px 0 0 20px;
			background-color: #f6f5f3;
			&.show {
				display: block;
			}
		}
	}
}
