{{ _.each(releases, function(release) { }}
	<div class="item" data-release_id="{{- release.release_id }}">
		<span class="ru">{{- release.release_title.ru }}</span>
		<span class="en">{{- release.release_title.en }}</span>
		<span class="active">Активных ключей: {{- release.keys_number }}</span>
		<span class="dates">{{- release.valid_since.format('D MMM YYYY') }} &mdash; {{- release.valid_till.format('D MMM YYYY') }}</span>
	</div>
{{ }); }}
