<div class="service-device-params-group-info">
	<span class="service-device-params__icon">
		<i class="fa fa-circle"></i>
	</span>
	<span class="service-device-params__title">
		{{- groupTitle }}
	</span>
	<span class="service-device-params__description">
		Все работает в штатном режиме.
		Проблем не обнаружено.
	</span>
</div>

<div class="service-device-params-list">
	{{ if (hasServiceFirstLVL) { }}
		<div class="service-device-params__no-access">
			Вы используете бесплатную версию раздела, чтобы видеть все данные и их историю звоните: <strong>8 (800) 100-11-24</strong>.
		</div>
	{{ } else { }}
		{{ _.each(paramsGroup, function(paramValue, paramKey) { }}
			{{ if (!_.isArray(paramValue)) { }}
			<div class="service-device-params-list__item">
				<span class="service-device-params__icon service-device-params__icon--small">
					<i class="fa fa-circle"></i>
				</span>
				<span class="service-device-params__key" title="{{- paramKey }}">{{- paramKey }}</span>
				<span class="service-device-params__value" title="{{- paramValue }}">{{- paramValue }}</span>
			</div>
			{{ } }}
		{{ }); }}
	{{ } }}
</div>