{{ _.each(cinemas, function(cinema) { }}
	<div class="service-cinemas-list-item {{- currentCinemaID === cinema.id ? 'active' : '' }}" data-cinema-id="{{- cinema.id }}">
		<span class="service-cinemas-list-item__title" title="{{- cinema.title }}">{{- cinema.title }}</span>
		<span class="service-cinemas-list-item__description" title="{{- cinema.city }}, {{- cinema.halls }}">
			{{- cinema.city }}, {{- cinema.halls }}
		</span>
	</div>
{{ }); }}