<span class="service-cinema-info__title">{{- cinema.title.ru || cinema.title.en }},</span>
<span class="service-cinema-info__city">{{- cinema.city.title.ru || cinema.city.title.en }}</span>

<div class="service-lamps-header">
	<div class="service-lamps-tabs">
		{{ _.each(tabs, function(value, key) { }}
			<span class="btn btn-tab {{ if (currentTab === key) { }}btn-tab--active{{ } }}" data-tab="{{- key }}">{{- value }}</span>
		{{ }); }}
	</div>
</div>
