<div class="service-lamp-card__foto service-lamp-card__foto--lamp"></div>

<div class="service-params">
	<span class="service-lamp-card__title">
		{{ if (lamp.vendor && lamp.model) { }}
			{{- lamp.vendor || '' }} {{- lamp.model || '' }}
		{{ } else { }}
			Неизвестная лампа
		{{ } }}
	</span>
	<span class="service-lamp-card__sn service__description">
		s/n: {{- lamp.serialNumber }}
	</span>

	<table class="service-params-table">
		<tr class="service-params-table__row">
			<td class="service-params-table__cell">
				<span class="service__description">проектор:</span>
			</td>
			<td class="service-params-table__cell">
				Зал {{- hall.title }}
				<span class="service__device-link service__device-link--inline" data-serial-number="{{- lamp.projector.serialNumber }}">
					{{- lamp.projector.vendor || '' }} {{- lamp.projector.model || '' }}
				</span>
			</td>
		</tr>
		<tr class="service-params-table__row">
			<td class="service-params-table__cell">
				<span class="service__description">средний срок:</span>
			</td>
			<td class="service-params-table__cell">
				{{- lamp.averageTime ? lamp.averageTime + _.declOfNum(lamp.averageTime, [' час', ' часа', ' часов']) : '-' }}
			</td>
		</tr>
		<tr class="service-params-table__row">
			<td class="service-params-table__cell">
				<span class="service__description">гарантия:</span>
			</td>
			<td class="service-params-table__cell">
				{{- lamp.warranty ? lamp.warranty + _.declOfNum(lamp.warranty, [' час', ' часа', ' часов']) : '-' }}
			</td>
		</tr>
		<tr class="service-params-table__row">
			<td class="service-params-table__cell">
				<span class="service__description">осталось:</span>
			</td>
			<td class="service-params-table__cell">
				{{- lamp.remainTime > 0 ? lamp.remainTime + _.declOfNum(lamp.remainTime, [' час', ' часа', ' часов']) : '' }}
				{{- lamp.remainTime < 0 ? 'превышен срок работы лампы' : '' }}
				<span class="service__description">
					{{- moment(lamp.remainDate).isValid() ? moment(lamp.remainDate).format('до D MMMM YYYY') : '' }}
					{{- _.isNull(lamp.remainTime) ? '-' : '' }}
				</span>
			</td>
		</tr>
		<tr class="service-params-table__row">
			<td class="service-params-table__cell">
				<span class="service__description">установка:</span>
			</td>
			<td class="service-params-table__cell">
				{{- moment(lamp.installed).isValid() ? moment(lamp.installed).format('D MMMM YYYY') : '-' }}
			</td>
		</tr>
	</table>
</div>

{{ if (lamp.history.length) { }}
<span class="service-table__title">Использовалась в залах:</span>

<table class="service-table table-default table-default--condensed table-default--striped">
	<thead class="service-table-head">
		<tr>
			<th class="service-table-head__cell service-table-head__cell--first">№</th>
			<th class="service-table-head__cell">Кинотеатр</th>
			<th class="service-table-head__cell">Проектор</th>
			<th class="service-table-head__cell">Время работы</th>
			<th class="service-table-head__cell">Установлена</th>
			<th class="service-table-head__cell">Заменена</th>
		</tr>
	</thead>
	<tbody class="service-table-body">
		{{ _.each(lamp.history, function(item, id) { }}
			<tr class="service-table-body__row">
				<td class="service-table-body__cell service-table-body__cell--first">{{- id + 1 }}</td>
				<td class="service-table-body__cell">
					{{- item.hallTitle ? ['Зал ' + item.hallTitle, item.cinemaTitle].join(', ') : '' }}
					<span class="service__description">
						{{- item.cinemaCity ? item.cinemaCity : '-' }}
					</span>
				</td>
				<td class="service-table-body__cell">
					<span class="service__device-link" data-serial-number="{{- item.projector.serialNumber }}">
						{{- item.projector.vendor || '' }} {{- item.projector.model || '' }}
					</span>
				</td>
				<td class="service-table-body__cell">
					{{- item.workTime ? item.workTime : '' }}
					<span class="service__description">
						{{- item.workTime ? 'часов' : '-' }}</span>
				</td>
				<td class="service-table-body__cell">
					{{- moment(item.installed).isValid() ? moment(item.instlalled).format('D MMM YYYY') : '' }}
					<span class="service__description">
						{{- item.installedTime ? item.installedTime + _.declOfNum(item.installedTime, [' час', ' часа', ' часов']) : '-' }}
					</span>
				</td>
				<td class="service-table-body__cell">
					{{- moment(item.removed).isValid() ? moment(item.removed).format('D MMM YYYY') : '' }}
					<span class="service__description">
						{{- item.removedTime ? item.removedTime + _.declOfNum(item.removedTime, [' час', ' часа', ' часов']) : '-' }}
					</span>
				</td>
			</tr>
		{{ }); }}
	</tbody>
</table>
{{ } else { }}
<span class="service-table__title">История лампы отсутствует.</span>
{{ } }}