<thead class="service-table-head">
	<tr>
		<th class="service-table-head__cell service-table-head__cell--first">Зал</th>
		<th class="service-table-head__cell">Проектор</th>
		<th class="service-table-head__cell">Лампа</th>
		<th class="service-table-head__cell">Гарантия</th>
		<th class="service-table-head__cell">Средний срок</th>
		<th class="service-table-head__cell">Осталось</th>
		<th class="service-table-head__cell">Дата установки</th>
	</tr>
</thead>
<tbody class="service-table-body">
	{{ _.each(halls, function(hall) { }}
		<tr class="service-table-body__row">
			<td class="service-table-body__cell service-table-body__cell--first">{{- hall.title }}</td>
			<td class="service-table-body__cell">
				{{ _.each(hall.projectors, function(projector) { }}
				<span class="service__device-link" data-serial-number="{{- projector.serialNumber }}">
					{{- projector.vendor || '' }} {{- projector.model || '' }}
				</span>
				{{ }); }}
			</td>
			<td class="service-table-body__cell">
				{{ _.each(hall.lamps, function(lamp) { }}
				<span class="service__lamp-link {{- !hasAccessToLampCard ? 'service__lamp-link--inactive' : '' }}" data-serial-number="{{- lamp.serialNumber }}">
				{{ if (lamp.vendor && lamp.model) { }}
					{{- lamp.vendor || '' }} {{- lamp.model || '' }}
				{{ } else { }}
					Неизвестная лампа
				{{ } }}
				</span>
				<span class="service__description">s/n: {{- lamp.serialNumber || '-' }}</span>
				{{ }); }}
			</td>
			<td class="service-table-body__cell">
				{{ _.each(hall.lamps, function(lamp) { }}
					{{- lamp.warranty || '' }}
					<span class="service__description">
						{{- lamp.warranty ? _.declOfNum(lamp.warranty, [' час', ' часа', ' часов']) : '-' }}
					</span>
				{{ }); }}
			</td>
			<td class="service-table-body__cell">
				{{ _.each(hall.lamps, function(lamp) { }}
					{{- lamp.averageTime || '' }}
					<span class="service__description">
						{{- lamp.averageTime ? _.declOfNum(lamp.averageTime, [' час', ' часа', ' часов']) : '-' }}
					</span>
				{{ }); }}
			</td>
			<td class="service-table-body__cell">
				{{ _.each(hall.lamps, function(lamp) { }}
					{{- lamp.remainTime > 0 ? lamp.remainTime + _.declOfNum(lamp.remainTime, [' час', ' часа', ' часов']) : '' }}
					{{- lamp.remainTime < 0 ? 'превышен срок работы лампы' : '' }}
					<span class="service__description">
						{{- moment(lamp.remainDate).isValid() ? moment(lamp.remainDate).format('до D MMMM YYYY') : '' }}
						{{- _.isNull(lamp.remainTime) ? '-' : '' }}
					</span>
				{{ }); }}
			</td>
			<td class="service-table-body__cell">
				{{ _.each(hall.lamps, function(lamp) { }}
					{{- moment(lamp.installed).isValid() ? moment(lamp.installed).format('D MMMM YYYY') : '-' }}
				{{ }); }}
			</td>
		</tr>
	{{ }); }}
</tbody>