<div class="service-devices-list">
	{{ _.each(halls, function(hall) { }}
		<div class="service-devices-list-hall">
			<span class="service-devices-list-hall__title">ЗАЛ {{- hall.title }}</span>
			<span class="service-devices-list-hall__formats">{{- hall.formats }}</span>
		</div>
		{{ _.each(hall.projectors, function(projector) { }}
			<div class="service-devices-list__item {{- projector.serialNumber == serialNumber ? 'active' : '' }}" data-serial-number="{{- projector.serialNumber }}">
				<span class="service-devices-list__icon">
					<i class="fa fa-video-camera"></i>
				</span>
				<span class="service-devices-list__device-title">
					{{- projector.vendor || '' }} {{- projector.model || '' }}
				</span>
			</div>
		{{ }); }}
		{{ _.each(hall.playservers, function(playserver) { }}
			<div class="service-devices-list__item {{- playserver.serialNumber == serialNumber ? 'active' : '' }}" data-serial-number="{{- playserver.serialNumber }}">
				<span class="service-devices-list__icon">
					<i class="fa fa-database"></i>
				</span>
				<span class="service-devices-list__device-title">
					{{- playserver.vendor || '' }} {{- playserver.model || '' }}
				</span>
			</div>
		{{ }); }}
	{{ }); }}
</div>
<div class="service-device-card"></div>