<span class="service-cinema-info__title">{{- cinema.title.ru || cinema.title.en }},</span>
<span class="service-cinema-info__city">{{- cinema.city.title.ru || cinema.city.title.en }}</span>

<div class="service-cinema-halls">
	{{ _.each(halls, function(hall) { }}
		<div class="service-cinema-halls-item">
			<div class="service-cinema-halls-item-header">
				<span class="service-cinema-halls-item__title">Зал {{- hall.title }}</span>
				<span class="service-cinema-halls-item__formats">{{- hall.formats }}</span>
			</div>
			{{ _.each(hall.projectors, function(projector) { }}
				<div class="service-dashboard-device">
					<span class="service-dashboard-device-icon">
						<i class="fa fa-video-camera"></i>
					</span>
					<div class="service-dashboard-device-info">
						<span class="service__device-link service__device-link--larger" data-serial-number="{{- projector.serialNumber }}">
							{{- projector.vendor || '' }} {{- projector.model || '' }}
						</span>
						<span class="service__description">
							{{ if (projector.lampInfo.workTime) { }}
								<i class="fa fa-lightbulb-o"></i>
								{{- projector.lampInfo.workTime + (projector.lampInfo.averageTime ? ' из ' + projector.lampInfo.averageTime + ' ч.' : ' ч. отработано') }}
							{{ } else { }}
								не подключен
							{{ } }}
						</span>
					</div>
				</div>
			{{ }); }}
			{{ _.each(hall.playservers, function(playserver) { }}
				<div class="service-dashboard-device">
					<span class="service-dashboard-device-icon">
						<i class="fa fa-database"></i>
					</span>
					<div class="service-dashboard-device-info">
						<span class="service__device-link service__device-link--larger" data-serial-number="{{- playserver.serialNumber }}">
							{{- playserver.vendor || '' }} {{- playserver.model || '' }}
						</span>
						<span class="service__description">
							{{- !_.isUndefined(playserver.storeFree) ? _.formatBytes(playserver.storeFree) + ' свободно' : 'не подключен' }}
						</span>
					</div>
				</div>
			{{ }); }}
		</div>
	{{ }); }}
</div>