$gray-lighter: #f6f6f6;
$gray-light: #ccc;
$gray: #bbb;
$gray-dark: #a7a7a7;
$gray-darker: #333;

$inner-trailer-bg: #d0021b;
$inner-trailer-border: #b70016;

$added-trailer-bg: #4a90e2;
$added-trailer-border: #4378a4;

$hover-color: #eaeef2;



.advertising {
	position: relative;
	height: inherit;
	* {
		box-sizing: border-box;
		&:before,
		&:after {
			box-sizing: border-box;
		}
	}
	&-panel {
		position: relative;
		z-index: 1000;
		height: 50px;
		padding: 10px 20px;
		background-color: $gray-lighter;
		border-bottom: 1px solid $gray-dark;

		@include clearfix();
	}
	&-sections {
		display: inline-block;
		font-size: 0;
		vertical-align: top;
		&__item {
			display: inline-block;
			width: 145px;
			height: 39px;
			font-size: 12px;
			line-height: 38px;
			text-align: center;
			text-decoration: none;
			vertical-align: top;
			cursor: pointer;
			background-color: #fff;
			border-top: 1px solid $default-border;
			border-right: 1px solid $default-border;
			border-bottom: 1px solid $default-border;
			&:first-child {
				border: 1px solid $default-border;
			}
			&.active {
				cursor: default;
				border-bottom-color: transparent;
				.text {
					border-color: #6083a6;
				}
				&:hover {
					.text {
						border-color: #6083a6;
					}
				}
			}
			&:hover {
				.text {
					border-color: #aaa;
				}
			}
			.text {
				display: block;
				margin: -1px;
				color: #333;
				border-color: transparent;
				border-top: 2px solid transparent;
				&.two_lines {
					padding-top: 4px;
					line-height: 15px;
				}
			}
		}
	}
	&-age-restrictions {
		margin-top: 6px;
		margin-left: 10px;
		font-size: 12px;
		& input {
			margin: 0 5px;
			vertical-align: text-top;
		}
	}
	&__mode {
		outline: none;
	}
	&-header {
		width: 100%;
		height: 174px;
		background: $gray-lighter;

		@include clearfix();
	}
	&-legend {
		position: relative;
		z-index: 1;
		float: left;
		width: 277px;
		height: 100%;
		padding: 20px;
		border-right: 1px solid $gray-dark;
		&:before {
			position: absolute;
			top: 0;
			right: -123px;
			width: 124px;
			height: 31px;
			content: '';
			background-color: $gray-lighter;
			border-right: 1px solid $gray-dark;
		}
		&:after {
			position: absolute;
			top: 18px;
			right: -117px;
			width: 172px;
			height: 87px;
			content: '';
			background-color: $gray-lighter;
			border-bottom: 1px solid $gray-dark;
			transform: rotate(-45deg);
		}
		&__item {
			position: relative;
			display: block;
			padding-left: 17px;
			font-size: 12px;
			line-height: 12px;
			color: #333;
			&:before {
				position: absolute;
				left: 0;
				width: 10px;
				height: 10px;
				content: '';
				border: 1px solid transparent;
				border-radius: 50%;
			}
		}
		&--inner {
			padding-bottom: 11px;
			&:before {
				background-color: $inner-trailer-bg;
				border-color: $inner-trailer-border;
			}
		}
		&--added:before {
			background-color: $added-trailer-bg;
			border-color: $added-trailer-border;
		}
	}
	&-wrapper {
		position: relative;
		height: calc(100% - 225px);
		background: $gray-lighter;
	}
	&-data-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: scroll;
	}
	&-empty {
		display: table;
		width: 100%;
		height: 100%;
		&-center {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
		&__warning {
			display: block;
			font-size: 23px;
		}
		&__link {
			display: inline-block;
			margin-top: 20px;
			font-size: 17px;
			color: #4378a4;
			text-decoration: none;
			vertical-align: top;
			transition: color .3s;
			&:hover {
				color: #e64c3b;
			}
		}
	}
}

@import 'advertising/advertising-releases';
@import 'advertising/advertising-trailers';
@import 'advertising/advertising-data';
