.analytics {
	height: calc(100% - 50px);
	* {
		box-sizing: border-box;
	}
	&__date {
		line-height: 32px;
	}
	&__muted {
		display: block;
		font-size: 11px;
		color: #a9aaaa;
	}
	&-filter {
		width: 100%;
		min-width: 805px;
		height: 50px;
		padding: 10px 20px 0;
		background-color: #f6f6f6;
		border-bottom: 1px solid $default-border;

		@include clearfix();
		.jq-selectbox__dropdown {
			left: auto !important;
		}
	}
	&-wrapper {
		height: calc(100%);
		padding: 20px;
		overflow: auto;
		font-size: 12px;
	}
	.table-default {
		width: 1000px;
		margin: 0 auto;
		tbody > tr > td:first-child {
			width: 30%;
			text-align: left;
		}
		.analytics {
			&-new {
				color: #e64c3b;
			}
			&-minus {
				color: #e64c3b;
				&:before {
					font-size: inherit;
					content: ' -';
				}
			}
			&-plus {
				color: #8bc34a;
				&:before {
					font-size: inherit;
					content: ' +';
				}
			}
		}
	}
}
