.cinema-info {
	&-wrapper {
		height: 100%;
		box-sizing: border-box;
		padding: 15px;
		overflow-y: scroll;
		* {
			box-sizing: border-box;
		}
	}
	&-item {
		margin-bottom: 30px;
		line-height: 1.3;
		&-title {
			font-size: 24px;
			&__info {
				color: #9b9b9b;
			}
		}
		&__dd24 {
			color: #22ae69;
		}
		&__address {
			font-size: 14px;
			font-weight: normal;
			color: #9b9b9b;
		}
		&__mistake {
			font-size: 14px;
			cursor: pointer;
		}
	}
	&-table {
		margin-top: 10px;
		background: #eaeef2;
		th:nth-of-type(1),
		td:nth-of-type(1) {
			padding: 0 9px !important;
			text-align: right;
		}
		tr {
			height: 40px;
			line-height: 1.3;
		}
		&__item-info {
			display: block;
			color: #9b9b9b;
		}
		.table_item {
			cursor: default;
		}
		&__hall,
		&__formats {
			width: 5%;
		}
		&__capasity {
			width: 35px;
		}
		&__playserver,
		&__installed {
			width: 20%;
		}
	}
}
