$gray-light: #e5e5e5;
$gray-panel-border: 1px solid $gray-light;
$blue: #4378a4;

.commercial {
	height: inherit;
	&-panel {
		position: relative;
		height: 40px;
		padding: 9px 15px 0;
		background-color: #f6f6f6;
		border-bottom: $gray-panel-border;
		&__add,
		&__export,
		&__save {
			display: inline-block;
			float: right;
			height: 26px;
			padding: 0 11px;
			margin-top: 2px;
			font-size: 14px;
			line-height: 26px;
			color: $blue;
			vertical-align: top;
			cursor: pointer;
			border: 1px solid $blue;
			border-radius: 4px;
		}
		&__add,
		&__save {
			color: #fff;
			background-color: $blue;
		}
		&__save {
			display: none;
		}
		&__export {
			margin-right: 10px;
			background-color: #fff;
		}
	}
	&-tabs {
		display: inline-block;
		font-size: 0;
		vertical-align: top;
	}
	&-tab {
		display: inline-block;
		width: 145px;
		height: 39px;
		font-size: 14px;
		line-height: 38px;
		text-align: center;
		text-decoration: none;
		vertical-align: top;
		cursor: pointer;
		background-color: #fff;
		border-top: $gray-panel-border;
		border-right: $gray-panel-border;
		border-bottom: $gray-panel-border;
		&:first-child {
			border: $gray-panel-border;
		}
		&.active {
			cursor: default;
			border-bottom-color: transparent;
		}
		&.active &__title {
			border-color: #6083a6;
		}
		&.active:hover &__title {
			border-color: #6083a6;
		}
		&:hover &__title {
			border-color: #aaa;
		}
		&__title {
			display: block;
			margin: -1px;
			color: #333;
			border-color: transparent;
			border-top: 2px solid transparent;
		}
	}
	&-wrapper {
		height: calc(100% - 31px);
		padding: 31px 47px 0;
	}
	&-empty {
		display: table;
		width: 100%;
		height: 100%;
		&-center {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
		&__warning {
			display: block;
			font-size: 23px;
		}
		&__link {
			display: inline-block;
			margin-top: 20px;
			font-size: 17px;
			color: #4378a4;
			text-decoration: none;
			vertical-align: top;
			cursor: pointer;
			transition: color .3s;
			&:hover {
				color: #e64c3b;
			}
		}
	}
}

@import 'commercial/commercial-table';
@import 'commercial/commercial-campaign';
