.copying{
	width: 700px;
	height: 515px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	&-header{
		height: 74px;
		border-bottom: 1px solid #e1e8ed;
		position: relative;
		padding-left: 22px;
		&__title{
			display: block;
			font-size: 24px;
			color: #000;
			padding-top: 19px;
		}
		&__cinema{
			display: block;
			font-size: 14px;
			color: #4f4f4f;
			padding-top: 5px;
		}
		.close{
			top: 23px;
			right: 23px;
			left: auto;
			cursor: pointer;
			position: absolute;
			.arcticmodal-close{
				right: 0;
				left: auto;
			}
			&:hover{
				.arcticmodal-close{
					opacity: 0;
					transform: rotate(180deg);
				}
				.arcticmodal-close_hover{
					opacity: 1;
					transform: rotate(180deg);
				}
				.arcticmodal-close_active{
					opacity: 0;
					transform: rotate(180deg);
				}
			}
			&:active{
				.arcticmodal-close{
					opacity: 0;
					transform: rotate(180deg);
				}
				.arcticmodal-close_hover{
					opacity: 0;
					transform: rotate(180deg);
				}
				.arcticmodal-close_active{
					opacity: 1;
					transform: rotate(180deg);
				}
			}
		}
	}
	&-body{
		height: 368px;
		padding: 12px 14px 0;
		&-cinemas{
			padding: 11px 5px 5px;
			width: 320px;
			height: 338px;
			background-color: #f6f5f3;
			display: inline-block;
			vertical-align: top;
		}
		&-search{
			position: relative;
			padding-bottom: 10px;
			&__ico{
				background: url(/img/release_search.svg) no-repeat;
				width: 14px;
				height: 16px;
				position: absolute;
				top: 7px;
				left: 9px;
			}
			&__input{
				width: 268px;
				height: 26px;
				border-radius: 13px;
				border: 1px solid $default-border;
				padding: 0 23px 0 27px;
				color: #333;
				font-size: 14px;
				&:focus{
					border-color: #2a6496;
					+ .copying-body-search__ico{
						background-position: 0 -18px;
					}
				}
			}
		}
		&-scroll{
			background-color: #fff;
			padding: 7px;
			overflow: hidden;
		}
		&-list{
			height: inherit;
			overflow-y: scroll;
			height: 286px;
			&-item{
				font-size: 0;
				&.active{
					.copying-body-list-item__cinema{
						background-color: #f6f5f3;
						&:after{
							color: #4378a4;
						}
					}
				}
				&__cinema{
					font-size: 13px;
					line-height: 24px;
					color: #333;
					display: block;
					padding-left: 7px;
					height: 24px;
					position: relative;
					cursor: pointer;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 279px;
					padding-right: 20px;
					&:after{
						content: '';
						font-family: 'FontAwesome';
						font-size: 12px;
						line-height: 12px;
						color: #d6d6d6;
						position: absolute;
						top: 4px;
						right: 7px;
					}
					&:hover{
						background-color: #f6f5f3;
						&:after{
							color: #4378a4;
						}
					}
				}
				&__city{
					font-size: 13px;
					line-height: 24px;
					color: #9b9b9b;
					padding-left: 4px;
				}
			}
			&-halls{
				padding: 0 17px;
				overflow: hidden;
				height: 0;
				transition: height 0.3s;
				&-item{
					font-size: 0;
					height: 24px;
					display: block;
					cursor: pointer;
					&__checkbox{
						display: inline-block;
						vertical-align: top;
						margin: 5px 5px 0 0;
					}
					&__title{
						display: inline-block;
						vertical-align: top;
						font-size: 13px;
						line-height: 24px;
						color: #333;
					}
					&__info{
						display: inline-block;
						vertical-align: top;
						font-size: 13px;
						line-height: 24px;
						color: #9b9b9b;
						padding-left: 5px;
					}
				}
			}
		}
		&-targets{
			display: inline-block;
			vertical-align: top;
			padding: 15px 0 0 25px;
			width: 312px;
			&__title{
				display: none;
				font-size: 16px;
				font-weight: bold;
				color: #000;
				padding-bottom: 9px;
			}
			&-scroll{
				overflow: hidden;
				padding-left: 5px;
			}
			&-list{
				margin-bottom: 0;
				overflow-y: scroll;
				height: 303px;
				padding-left: 0;
				&-item{
					line-height: 20px;
					font-size: 13px;
					&:hover{
						.copying-body-targets-list-item__remove{
							display: inline-block;
							vertical-align: top;
						}
					}
					&:before{
						color: #a0a0a0;
						font-weight: normal;
					}
					&__title{
						color: #333;
						display: inline-block;
						vertical-align: top;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						max-width: 267px;
					}
					&__remove{
						display: none;
						cursor: pointer;
						color: #a0a0a0;
						margin: 3px 0 0 5px;
						&:hover{
							color: #e64c3b;
						}
					}
				}
			}
		}
	}
	&-footer{
		background-color: #f6f5f3;
		height: 59px;
		line-height: 59px;
		border-top: 1px solid $default-border;
		padding: 0 14px;
		font-size: 0;
		&__copy{
			display: inline-block;
			vertical-align: middle;
		}
		&__warning{
			display: inline-block;
			vertical-align: middle;
			font-size: 13px;
			color: #000;
			padding-left: 14px;
		}
	}
}
