.distributor_cinemas_wrapper {
	height: 100%;
	.cinemas_search {
		position: relative;
		float: right;
		height: 26px;
		margin: 3px 24px 0 0;
		&.focus:before {
			background-position: 0 -18px;
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 8px;
			z-index: 1;
			width: 14px;
			height: 14px;
			margin-top: -7px;
			content: '';
			background: #fff url(/img/release_search.svg) no-repeat;
		}
		&:hover {
			&:before {
				background-position: 0 -18px;
			}
		}
		.input {
			width: 140px;
			height: 24px;
			padding: 0 25px 0 27px;
			font-size: 13px;
			line-height: 13px;
			color: #666;
			border: 1px solid $default-border;
			border-radius: 16px;
			transition: width .3s;
			&:hover {
				border-color: #94bcdd;
			}
			&:focus {
				width: 308px;
				border-color: #94bcdd;
			}
			&.full {
				width: 308px;
				border-color: #94bcdd;
			}
		}
		.remove {
			position: absolute;
			top: 7px;
			right: 8px;
			display: none;
			width: 12px;
			height: 12px;
			cursor: pointer;
			background: url(/img/release-remove@2x.png) no-repeat;
			-webkit-background-size: 12px;
			        background-size: 12px;
		}
	}
	.cinemas_list_wrapper {
		height: 100%;
	}
	.cinemas_list {
		height: calc(100% - 80px);
		padding: 15px;
		overflow-y: auto;
		.cinemas_empty {
			margin-top: 200px;
			font-size: 17px;
			text-align: center;
		}
	}
	.distributor_cinemas_cell {
		display: inline-block;
		padding: 0 9px;
		overflow: hidden;
		font-size: 12px;
		text-decoration: none;
		text-decoration: none;
		text-overflow: ellipsis;
		vertical-align: top;
		border-right: 1px solid #d5d7dc;
		outline: none;
		&:last-child {
			border-right: none;
		}
		&.cinema_name {
			width: 35%;
		}
		&.cinema_location {
			width: 26%;
			.grey_text {
				color: #9b9b9b;
			}
		}
		&.cinema_halls_number {
			width: 5%;
		}
		&.cinema_capacity {
			width: 7%;
		}
		&.cinema_formats {
			width: 27%;
		}
	}
	.distributor_cinemas_head,
	.distributor_cinemas_body {
		width: 1000px;
		height: 30px;
		margin: 0 auto;
		font-size: 0;
		line-height: 30px;
		color: #9b9b9b;
		white-space: nowrap;
		background-color: #eaeef2;
		border-bottom: 2px solid #d5d7dc;
	}
	.distributor_cinemas_body {
		height: auto;
		border-bottom: none;
		.cinema_item {
			height: 31px;
			line-height: 31px;
			cursor: pointer;
			background-color: #fff;
			border-bottom: 1px solid #d5d7dc;
			transition: background-color .3s;
			.distributor_cinemas_cell {
				border: none;
			}
			a {
				color: #333;
			}
			&:hover {
				background-color: #eaeef2;
			}
			&:nth-child(2n-1) {
				background-color: #f6f8fd;
				&:hover {
					background-color: #eaeef2;
				}
				&:active {
					background-color: #d5d7dc;
				}
				&.active {
					background-color: #f8f8f9;
				}
			}
		}
	}
}
.cinema_card {
	height: 100%;
	.cinema_item {
		min-width: 1000px;
		height: calc(100% - 90px);
		padding: 20px 0 20px 20px;
		overflow-x: hidden;
	}
	.left {
		float: left;
		width: 240px;
		.cinema_location {
			padding-bottom: 10px;
			#yandex_map_location {
				width: 240px;
				height: 350px;
			}
			.cinema_location_undefined {
				display: table-cell;
				width: 240px;
				height: 350px;
				box-sizing: border-box;
				padding: 15px;
				font-size: 24px;
				line-height: 1.3;
				color: #fff;
				text-align: center;
				vertical-align: middle;
			}
		}
	}
	.right {
		height: 100%;
		margin-left: 270px;
		.top__info {
			position: relative;
			width: calc(100% - 25px);
			border-bottom: 1px solid #ececec;
			.top {
				padding: 5px 0 11px;
				overflow: hidden;
				.top__left {
					display: inline-block;
					float: left;
					width: 100%;
					.title {
						display: inline-block;
						width: 66%;
						padding-right: 9px;
						margin: 0;
						font-size: 30px;
						font-weight: normal;
						color: #000;
						vertical-align: top;
						background-color: #fff;
					}
					.city_and_region {
						display: block;
						width: 66%;
						padding-top: 5px;
						margin: 0;
						font-size: 20px;
						font-weight: normal;
						color: #9b9b9b;
					}
					.formats_list {
						padding-top: 10px;
						.format {
							display: inline-block;
							height: 15px;
							padding: 0 6px;
							margin-right: 2px;
							font-size: 10px;
							line-height: 15px;
							color: #8b8b8b;
							text-transform: uppercase;
							vertical-align: top;
							border: 1px solid #b9b9b9;
							border-radius: 4px;
						}
					}
				}
			}
			.tabs {
				padding: 11px 0 11px;
				.item {
					display: inline-block;
					height: 24px;
					padding: 0 10px;
					margin-right: 4px;
					font-size: 14px;
					line-height: 24px;
					color: #666;
					vertical-align: top;
					cursor: pointer;
					border: 1px solid transparent;
					border-radius: 4px;
					transition: color .3s, background-color .3s, border-color .3s;
					&:hover {
						background-color: #e4e4e4;
						border-color: #e4e4e4;
					}
					&:active {
						color: #fff;
						border-color: #cacaca;
					}
					&.active,
					&.active:hover {
						color: #4378a4;
						cursor: default;
						background-color: transparent;
						border-color: #94bcdd;
					}
				}
			}
		}
		.cinema_card_wrapper {
			position: relative;
			padding: 20px 0;
		}
		.cinema_info {
			position: absolute;
			top: 20px;
			width: calc(100% - 25px);
			line-height: 1.25em;
			.name {
				display: inline-block;
				width: 120px;
				padding-right: 15px;
				vertical-align: top;
				.text {
					display: block;
					padding-bottom: 4px;
					font-size: 14px;
					color: #898989;
					text-align: right;
				}
			}
			.desc {
				display: inline-block;
				vertical-align: top;
				.text {
					display: block;
					padding-bottom: 4px;
					font-size: 14px;
					color: #333;
					.link {
						font-size: 14px;
						color: #4378a4;
						text-decoration: none;
					}
				}
			}
			.halls_table_title {
				display: block;
				margin-top: 20px;
				font-size: 17px;
				font-weight: bolder;
			}
			.halls_table {
				width: 100%;
				min-width: 765px;
				margin-top: 10px;
				margin-bottom: 20px;
				.head {
					width: 100%;
					height: 30px;
					font-size: 0;
					line-height: 30px;
					color: #9b9b9b;
					text-align: left;
					white-space: nowrap;
					background-color: #eaeef2;
					border-bottom: 2px solid #d5d7dc;
					.item {
						border-right: 1px solid #d5d7dc;
						&:last-child {
							border-right: none;
						}
					}
				}
				.item {
					display: inline-block;
					padding: 0 9px;
					overflow: hidden;
					font-size: 12px;
					text-overflow: ellipsis;
					white-space: nowrap;
					vertical-align: top;
					background-color: transparent;
					&.item_title {
						width: 15%;
					}
					&.item_formats {
						width: 15%;
					}
					&.item_proector {
						width: 17%;
						&.visible {
							overflow: visible;
						}
					}
					&.item_playserver {
						width: 17%;
					}
					&.item_3d_system {
						width: 17%;
					}
					&.item_another {
						width: calc(25% - 140px);
					}
				}
				.halls_table_item {
					height: 31px;
					font-size: 0;
					line-height: 31px;
					background-color: #fff;
					border-bottom: 1px solid #d5d7dc;
					&:nth-child(2n-1) {
						background-color: #f6f8fd;
					}
					.item {
						padding: 0 10px;
						&:first-child {
							padding: 0 9px;
						}
					}
				}
			}
		}
		.cinema_contacts {
			.contact_table {
				width: 100%;
				margin-top: 45px;
				margin-left: 40px;
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 40px;
				}
				.left_col {
					width: 70px;
					font-size: 15px;
					color: #9b9b9b;
					text-align: right;
					&.contact_phone {
						padding-top: 10px;
					}
					&.contact_email {
						padding-top: 10px;
					}
				}
				.right_col {
					padding-left: 15px;
					&.contact_post {
						font-size: 18px;
					}
					&.contact_name {
						padding-top: 4px;
						font-size: 17px;
						color: #9b9b9b;
					}
					&.contact_phone {
						padding-top: 10px;
						font-size: 15px;
					}
					&.contact_email {
						padding-top: 10px;
						font-size: 15px;
						.mail {
							color: #4378a4;
							transition: color .3s;
							&:hover {
								color: #e64c3b;
							}
						}
					}
				}
			}
		}
	}
}
