$border-gray: #d5d7dc;
$background-gray: #eaeef2;
$cell: reports-table__cell;

@mixin quantity($arg) {
	@if type-of($arg) == number {
		.#{$cell}:nth-last-child(#{$arg}):first-child,
		.#{$cell}:nth-last-child(#{$arg}):first-child ~ .#{$cell} {
			@content;
		}
	} @else if str-slice($arg, 1, 1) == "<" {
		@if str-slice($arg, 2, 2) == "=" {
			$arg: number(str-slice($arg, 3));

			.#{$cell}:nth-last-child(-n+#{$arg}):first-child,
			.#{$cell}:nth-last-child(-n+#{$arg}):first-child ~ .#{$cell} {
				@content;
			}
		} @else {
			$arg: number(str-slice($arg, 2));

			.#{$cell}:nth-last-child(-n+#{$arg - 1}):first-child,
			.#{$cell}:nth-last-child(-n+#{$arg - 1}):first-child ~ .#{$cell} {
				@content;
			}
		}
	} @else if str-slice($arg, 1, 1) == ">" {
		@if str-slice($arg, 2, 2) == "=" {
			$arg: number(str-slice($arg, 3));

			.#{$cell}:nth-last-child(n+#{$arg}),
			.#{$cell}:nth-last-child(n+#{$arg}) ~ .#{$cell} {
				@content;
			}
		} @else {
			$arg: number(str-slice($arg, 2));

			.#{$cell}:nth-last-child(n+#{$arg + 1}),
			.#{$cell}:nth-last-child(n+#{$arg + 1}) ~ .#{$cell} {
				@content;
			}
		}
	}
}

@function number($string) {
	$strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
	$numbers:  0   1   2   3   4   5   6   7   8   9;

	$result: 0;

	@for $i from 1 through str-length($string) {
		$character: str-slice($string, $i, $i);
		$index: index($strings, $character);

		@if not $index {
			@warn "Неизвестный символ `#{$character}`.";
			@return false;
		}

		$number: nth($numbers, $index);
		$result: $result * 10 + $number;
	}

	@return $result;
}

.distributor-reports {
	height: 100%;
	.filter {
		.back {
			display: inline-block;
			vertical-align: top;
			&.hide {
				display: none;
			}
		}
		.searching-module {
			display: none;
		}
	}
	.reports {
		height: calc(100% - 10px);
		padding: 10px 30px 0;
		&-tabs {
			padding-bottom: 8px;
			border-bottom: 1px solid #ececec;
		}
		&-table {
			position: relative;
			height: calc(100% - 50px);
			overflow: hidden;
			&__title {
				display: block;
				padding: 16px 0 8px;
				font-size: 22px;
			}
			&__release {
				display: block;
				font-size: 15px;
			}
			&-head,
			&-body {
				font-size: 0;
				white-space: nowrap;
			}
			&-head {
				height: 30px;
				margin-top: 16px;
				line-height: 30px;
				color: #9b9b9b;
				background-color: $background-gray;
				border-bottom: 2px solid $border-gray;
				.#{$cell} {
					cursor: default;
				}
			}
			&-scroll {
				overflow-x: hidden;
				overflow-y: scroll;
				&:nth-child(2) {
					height: calc(100% - 48px);
				}
				&:nth-child(3) {
					height: calc(100% - 92px);
				}
				&:nth-child(4) {
					height: calc(100% - 160px);
				}
				&--weeks:nth-child(3) {
					height: calc(100% - 128px);
					margin-top: 16px;
					> .reports-table-head:first-child {
						margin-top: 0;
					}
				}
			}
			&-body {
				.#{$cell} {
					border-right-color: transparent;
				}
			}
			&-item {
				height: 31px;
				line-height: 31px;
				border-bottom: 1px solid $border-gray;
				transition: background-color .3s;
				&.disabled {
					.#{$cell} {
						cursor: default;
					}
					&:hover {
						background-color: transparent;
					}
				}
				&--total {
					background-color: $background-gray;
				}
				&:nth-child(odd) {
					background-color: #f6f8fd;
				}
				&:hover {
					background-color: $background-gray;
				}
			}
			&__cell {
				display: inline-block;
				padding: 0 9px;
				overflow: hidden;
				font-size: 12px;
				color: #333;
				text-overflow: ellipsis;
				vertical-align: top;
				cursor: pointer;
				border-right: 1px solid $border-gray;
				&:last-child {
					border-right: none;
				}
			}
		}
		.cinema_contacts {
			padding-top: 17px;
			.contact_table {
				width: 100%;
				margin-top: 45px;
				margin-left: 40px;
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 40px;
				}
				.left_col {
					width: 70px;
					font-size: 15px;
					color: #9b9b9b;
					text-align: right;
					&.contact_phone {
						padding-top: 10px;
					}
					&.contact_email {
						padding-top: 10px;
					}
				}
				.right_col {
					padding-left: 15px;
					&.contact_post {
						font-size: 18px;
					}
					&.contact_name {
						padding-top: 4px;
						font-size: 17px;
						color: #9b9b9b;
					}
					&.contact_phone {
						padding-top: 10px;
						font-size: 15px;
					}
					&.contact_email {
						padding-top: 10px;
						font-size: 15px;
						.mail {
							color: #4378a4;
							transition: color .3s;
							&:hover {
								color: #e64c3b;
							}
						}
					}
				}
			}
		}
	}
	@for $i from 5 through 7 {
		@include quantity($i) {
			width: calc(100% / #{$i} - 18px);
			@if $i == 5 {
				cursor: default;
			}
		}
	}
}
