.distributor-settings,
.distributor-settings * {
	box-sizing: border-box;
}

.distributor-settings {
	position: fixed;
	top: 16%;
	left: calc(50% - 225px);
	z-index: 10000;
	width: 550px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 14px;
	background-color: #fff;
	border-radius: 8px;
	&-top {
		position: relative;
		z-index: 1;
		height: 60px;
		line-height: 60px;
		text-align: center;
		border-bottom: 1px solid $default-border;
		&__title {
			display: inline-block;
			padding-top: 6px;
			font-size: 18px;
			line-height: 18px;
			color: #000;
			vertical-align: middle;
			background: none;
		}
	}
	&-inner {
		padding: 20px;
	}
	&-table {
		thead {
			display: block;
			font-size: 12px;
			line-height: 30px;
			color: #9b9b9b;
			background-color: #eaeef2;
			border-bottom: 2px solid #d5d7dc;
			th {
				padding: 0 9px;
				font-weight: normal;
				text-align: left;
			}
		}
		tbody {
			display: block;
			width: 510px;
			min-height: 150px;
			max-height: 300px;
			overflow-y: scroll;
			line-height: 32px;
			tr {
				border-bottom: 1px solid #d5d7dc;
			}
			td {
				width: 385px;
				padding: 0 9px;
				&:last-child {
					width: 145px;
				}
				&.partner {
					color: #07a900;
				}
				&.competitor {
					color: #e64c3b;
				}
			}
		}
		&__name {
			width: 365px;
		}
		&__status {
			width: 145px;
		}
	}
}
