@mixin icon-file-type($formats, $y) {
	@each $format in $formats {
		&[href*='.#{$format}'], {
			&:before { background-position: 0 #{$y}; }
			&:hover {
				&:before { background-position: -84px #{$y}; }
			}
			&:after { content: ' #{$format}'; }
		}
	}
}

.files-item {
	display: block;
	float: left;
	width: 200px;
	height: 180px;
	margin-top: 10px;
	text-align: center;
}

.files-links {
	display: block;
	max-width: 1000px;

	@include clearfix();
	&__title {
		display: block;
		padding: 7px 0 9px;
		margin: 0;
		font-size: 16px;
		font-weight: bold;
		background-color: transparent;
	}
	&__link {
		position: relative;
		display: block;
		margin: 0 10px;
		font-size: 14px;
		line-height: 16px;
		color: #4378a4;
		text-decoration: none;

		// Images
		@include icon-file-type((jpg, jpeg, gif, png, bmp, tif),  -588px);
		// Documents
		@include icon-file-type((pdf, PDF),  -490px);
		@include icon-file-type((xls, csv),  -196px);
		@include icon-file-type((doc, doc, txt, ppt),  -294px);
		@include icon-file-type((psd, psb, Psb, PSB),  -784px);
		// Audio
		@include icon-file-type((mp3, m4a, mpc, ogg, wav, wma),  -98px);
		// Video
		@include icon-file-type((mov, avi, mkv, flv, wmv, afs, mp4, m4v, mpg), -392px);
		// Archive
		@include icon-file-type((zip, rar),  -686px);

		&:hover {
			color: #e64c3b;
			&:before {
				background-position: -84px 0;
			}
		}
		&:before {
			display: block;
			width: 74px;
			height: 90px;
			margin: 0 auto;
			margin-bottom: 10px;
			content: ' ';
			background: url(/img/kp-files-icons.svg) no-repeat;
			background-position: 0 0;
			background-size: initial;
		}
		&:after {
			display: block;
			font-size: 12px;
			line-height: 25px;
			color: #999;
			text-transform: uppercase;
			letter-spacing: .10em;
		}
	}
}

.files-screenshots {
	max-width: 1000px;
	&__title {
		display: block;
		padding: 7px 0 9px;
		margin-bottom: 0;
		font-size: 16px;
		font-weight: bold;
		background-color: transparent;
	}
	&__link {
		position: relative;
		display: inline-block;
		margin: 25px;
		margin-right: 21px;
		vertical-align: top;
		transition: background-color .3s;
		img {
			width: 280px;
			height: auto;
			box-shadow: #fff 0 0 0;
			transition: opacity .3s;
		}
		&:hover {
			background-color: #000;
			img {
				opacity: .6;
			}
			.files-screenshots__link__download {
				display: block !important;
			}
		}
		&__download {
			position: absolute;
			right: calc(50% - 29px);
			bottom: calc(50% - 33px);
			display: none !important;
			font-size: 55px;
			color: #fff;
			cursor: pointer;
		}
	}
	&-popup {
		position: relative;
		display: block;
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
		}
		&:hover {
			.files-screenshots-popup__download {
				display: block !important;
			}
		}
		&__download {
			position: absolute;
			top: 0;
			right: calc(50% - 22px);
			display: none !important;
			padding: 7px 6px 2px 6px;
			font-size: 34px;
			color: #fff;
			cursor: pointer;
			background: #34485e;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}
}

.analysis {
	&-empty {
		font-size: 16px;
		color: #666;
		text-align: center;
	}
	&-confidentially {
		margin: 0 27px 5px 0;
		font-size: 14px;
		font-weight: bold;
		color: #e64c3b;
		text-align: right;
		text-transform: uppercase;
	}
	&-table {
		margin-bottom: 20px;
		table-layout: fixed;
		background: #eaeef2;
		.table_item {
			cursor: default;
		}
		&--width {
			width: calc(100% - 27px);
		}
		.triangle_down {
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 4px;
			border-top: 6px solid #000;
			border-right: 3px solid transparent;
			border-left: 3px solid transparent;
			opacity: 0;
			transition: opacity .3s;
		}
		.sorted_item {
			cursor: pointer;
			border-bottom: 1px dashed #888;
		}
		th {
			padding: 2px 2px;
			overflow: hidden;
			text-overflow: ellipsis;
			&:last-child {
				min-width: initial;
				text-align: center;
			}
		}
		tr {
			height: 40px;
			line-height: 1.3;
			color: #888;
		}
		td {
			overflow: hidden;
			text-overflow: ellipsis;
			&:first-child {
				padding: 0 9px !important;
			}
			&:last-child {
				text-align: center;
			}
		}
		&__name {
			width: 15%;
			padding: 0 9px !important;
		}
		&__distributor {
			width: 81px;
		}
		&__start-date {
			width: 90px;
			text-align: center !important;
		}
		&__week,
		&__hire_week {
			width: 51px;
			text-align: center !important;
		}
		&__week--current {
			font-weight: bold;
			color: #000;
			border-right: 1px solid #d5d7dc;
			border-left: 1px solid #d5d7dc;
		}
		&__distributor {
			padding: 0 9px !important;
		}
		&__summ {
			width: 50px;
		}
		&--current-release {
			font-weight: bold !important;
			color: #000 !important;
			background-color: #eaeef2 !important;
		}
		.analysis_item {
			cursor: pointer;
		}
	}
}

@import 'release-card/release-info';
