.release-edit {
	position: fixed;
	top: 7%;
	left: calc(50% - 300px);
	z-index: 10000;
	width: 600px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 14px;
	background-color: #fff;
	border-radius: 8px;
	&-top {
		position: relative;
		z-index: 1;
		height: 60px;
		line-height: 60px;
		text-align: center;
		border-bottom: 1px solid $default-border;
		&__title {
			display: inline-block;
			padding-top: 6px;
			font-size: 18px;
			line-height: 18px;
			color: #000;
			vertical-align: middle;
			background: none;
		}
	}
	&-confirm {
		display: none;
		padding: 17px;
		text-align: center;
		background-color: #f6f6f6;
		border-bottom: 1px solid #e1e8ed;
	}
	&-form {
		color: #333;
		&__wrapper {
			height: 600px;
			padding: 20px 40px 10px;
			overflow-y: scroll;

			@include clearfix();
		}
		&_group {
			float: left;
			width: 100%;

			@include clearfix();
			&.error {
				input,
				textarea {
					border-color: #d0021b;
				}
			}
			&.error &__input-checkbox {
				color: #d0021b;
			}
			&--separator {
				margin-bottom: 20px;
			}
			&__label {
				float: left;
				width: 130px;
				margin-top: 3px;
				font-size: inherit;
				color: #9c9c9c;
				text-align: right;
			}
			&[required] &__label:after {
				position: relative;
				top: -.5em;
				font-size: 75%;
				color: #d0021b;
				content: '*';
			}
			&__input,
			&__textarea {
				width: calc(100% - 170px);
				margin-bottom: 10px;
				margin-left: 15px;
				font-size: inherit;
				color: inherit;
				border: 1px solid #ccc;
				border-radius: 5px;
				&:disabled {
					color: #777;
					background: #eee;
				}
			}
			&__input {
				height: 26px;
				padding: 0 10px;
			}
			&__input-checkbox {
				display: inline-block;
				margin: 4px 15px 5px;
				vertical-align: middle;
				input {
					margin-top: -2px;
					vertical-align: inherit;
				}
			}
			&__textarea {
				height: 125px;
				padding: 10px;
				overflow-y: scroll;
			}
			&-dropdown {
				margin:0 15px;
				display: inline-block;
				padding-bottom: 10px;
				cursor: pointer;
				position: relative;
				&-toggle {
					padding: 3px 10px;
					border: 1px solid #ccc;
					border-radius: 5px;
					height: 28px;
					box-sizing: border-box;
					&__chosen-value {
						min-width: 40px;
						display: inline-block;
					}
				}
				&.open{
					.release-edit-form_group-dropdown-list{
						display: block;
					}
				}

				&-list {
					position: absolute;
					top: 100%;
					left: 0;
					z-index: 12000;
					display: none;
					float: left;
					min-width: 78px;
					padding: 5px 0;
					margin: -5px 0 0;
					font-size: 12px;
					text-align: left;
					list-style: none;
					background-color: #fff;
					background-clip: padding-box;
					border: 1px solid $default-border;
					border-radius: 4px;
					box-shadow: 0 6px 12px rgba(0,0,0,0.175);
					&__item {
						display: block;
						font-size: 13px;
						padding: 0 18px;
						height: 25px;
						line-height: 25px;
						color: #666;
						white-space: nowrap;
						cursor: pointer;
						transition: background .3s,color .3s;
						&:hover {
							background: #2981b9;
							color: #fff;
						}
						&.selected, &.selected:hover {
							background: #a3abb1;
							color: #fff;
							cursor: default;
						}
					}
				}
			}

		}
	}
	&__input-confirm {
		display: none;
		width: 100px;
		height: 26px;
		padding: 0 10px;
		margin-right: 10px;
		font-size: inherit;
		color: inherit;
		vertical-align: top;
		border: 1px solid #ccc;
		border-radius: 5px;
		&.error {
			border-color: #d0021b;
		}
	}
	&__loader {
		display: none;
		margin-left: 10px;
		font-size: 26px;
		color: #4378a4;
		vertical-align: middle;
		animation: spin-clockwise 1s linear infinite;
	}
	&__error {
		display: none;
		height: 28px;
		margin-left: 10px;
		line-height: 28px;
		color: #d0021b;
	}
}

@media screen and (max-height: 768px) {
	.release-edit-form__wrapper {
		height: 380px;
	}
}
