.release-reports {
	padding: 0 13px;
	&-cinema {
		padding-bottom: 25px;
		text-align: center;
		&__title {
			display: block;
			padding-bottom: 10px;
			font-size: 16px;
			color: #666;
			text-align: left;
		}
		&__add {
			display: inline-block;
			font-size: 14px;
			color: #4378a4;
			vertical-align: top;
			cursor: pointer;
			transition: color .3s;
			&:hover {
				color: #00adef;
			}
		}
	}
	&-week {
		padding: 20px;
		margin-bottom: 20px;
		text-align: left;
		background-color: #f0f0f0;
		&__title {
			display: block;
			padding-bottom: 20px;
		}
		&-header {
			padding-bottom: 7px;
			&__text {
				display: inline-block;
				width: 169px;
				padding: 0 11px;
				font-size: 16px;
				vertical-align: top;
			}
		}
	}
	&-day {
		padding-bottom: 10px;
		&__input {
			display: inline-block;
			width: 169px;
			height: 26px;
			padding: 0 10px;
			vertical-align: top;
			border: 1px solid #ccc;
			border-radius: 4px;
			outline: none;
			&[disabled] {
				background-color: #f0f0f0;
			}
			&.error {
				border-color: #bf382b;
			}
		}
		&__save,
		&__change {
			display: inline-block;
			width: 28px;
			height: 28px;
			line-height: 28px;
			color: #fff;
			text-align: center;
			vertical-align: top;
			cursor: pointer;
			border-radius: 4px;
			&.fa-check {
				background-color: #6083a6;
			}
			&.fa-pencil {
				background-color: #6f6f6f;
			}
			&.hide {
				display: none;
			}
		}
	}
}
