.service {
	height: 100%;
	width: 100%;
	* {
		box-sizing: border-box;
		&:before,
		&:after {
			box-sizing: border-box;
		}
	}

	&-invite {
		position: absolute;
		top: 50%;
		width: 100%;
		height: 150px;
		margin-top: -75px;
		&__title,
		&__description {
			display: inline-block;
			width: 100%;
			text-align: center;
			line-height: 30px;
		}
		&__title {
			font-size: 24px;
			line-height: 60px;
		}
	}

	&__empty {
		position: relative;
		display: block;
		top: 50%;
		height: 50px;
		margin: -25px auto;
		text-align: center;
		font-size: 16px;
	}

	&-cinemas {
		height: 100%;
		width: 265px;
		border-right: 1px solid $default-border;
		display: inline-block;
		&-search {
			height: 50px;
			padding: 12px;
			background-color: #f6f6f6;
			border-bottom: 1px solid $default-border;
		}
		&-list {
			height: calc(100% - 50px);
			overflow: auto;
			&-item {
				position: relative;
				width: 100%;
				height: 65px;
				padding: 10px 15px;
				line-height: 19px;
				cursor: pointer;
				border-bottom: 1px solid $default-border;
				&.active {
					background-color: #007ac2;
					border-bottom: 1px solid #007ac2;
					pointer-events: none;
					.service-cinemas-list-item__title,
					.service-cinemas-list-item__description {
						color: #fff;
					}
				}
				&__title,
				&__description {
					width: 100%;
					display: inline-block;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-size: 16px;
				}
				&__description {
					font-size: 12px;
					color: #aaa;
				}
				&:not(.active):hover {
					background-color: #eaeef2;
				}
				&:not(.active):active {
					background-color: #0b385f;
					color: #fff;
				}
			}
		}
	}

	&-cinema-info {
		vertical-align: top;
		width: calc(100% - 265px);
		height: 100%;
		display: inline-block;
		&--wide {
			width: 100%;
		}
		&-header {
			height: 50px;
			background-color: #f6f6f6;
			border-bottom: 1px solid $default-border;
			padding: 10px;
		}
		&-content {
			height: calc(100% - 50px);
			overflow: auto;
		}
		&__title,
		&__city {
			font-size: 24px;
		}
		&__city {
			color: #aaa;
		}
	}
	&-dashboard {
		padding: 35px;
		&-device {
			border-bottom: 1px solid $default-border;
			border-left: 1px solid $default-border;
			border-right: 1px solid $default-border;
			height: 55px;
			&-icon {
				width: 60px;
				font-size: 20px;
				display: inline-block;
				border-right: 1px solid $default-border;
				padding: 17px 21px;
			}
			&-info {
				display: inline-block;
				line-height: 16px;
				height: 100%;
				padding: 8px 10px;
				vertical-align: middle;
			}
		}
	}

	&__device-link,
	&__lamp-link,
	&__description {
		display: inline-block;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__device-link,
	&__lamp-link {
		font-size: 13px;
		text-decoration: underline;
		cursor: pointer;
		@extend %link-default;
		&--larger {
			font-size: 14px;
		}
		&--inline {
			display: inline;
		}
		&--inactive {
			text-decoration: none;
			color: #000;
			pointer-events: none;
		}
	}

	&__description {
		color: #aaa;
		font-size: 13px;
		&--black {
			color: #000;
		}
	}

	&-cinema-halls-item {
		display: inline-block;
		width: calc(50% - 20px);
		margin-top: 35px;
		vertical-align: top;
		&:nth-child(2n-1) {
			margin-right: 35px;
		}
		&:first-child,
		&:nth-child(2) {
			margin-top: 20px;
		}
		&-header {
			width: 100%;
			height: 40px;
			background-color: #eaeef2;
			padding: 8px 15px;
			border-radius: 4px 4px 0px 0px;
			border: 1px solid $default-border;
		}
		&__title {
			font-size: 18px;
		}
		&__formats {
			float: right;
			color: #aaa;
		}
	}

	&-lamps {
		padding: 35px;
		&-header {
			height: 50px;
			border-bottom: 1px solid #e5e5e5;
			padding: 12px 0px;
			margin-bottom: 12px;
		}
		&-tabs {
			display: inline-block;
			height: 24px;
		}
	}

	&-table {
		text-align: left;
		font-size: 13px;
		&__title {
			margin: 12px 0px;
			display: inline-block;
			font-size: 18px;
			width: 100%;
		}
		&-head {
			border-bottom: 2px solid #e5e5e5;
			&__cell {
				height: 40px;
				padding-left: 16px;
				&:first-child {
					text-align: right;
				}
			}
		}
		&-body {
			color: #000;
			&__cell {
				&:first-child {
					text-align: right;
				}
			}
		}
	}

	&-lamp-card,
	&-device-card {
		height: 100%;
		width: 100%;
		padding: 35px;
		display: inline-block;
		vertical-align: top;
		overflow: auto;
		&__title {
			font-size: 24px;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		&__hall-title {
			color: #aaa;
		}
		&__sn {
			font-size: 17px;
			margin: 12px 0;
		}
		&__foto {
			display: inline-block;
			width: 230px;
			height: 150px;
			margin-bottom: 20px;
			background-size: 230px 150px;
			background-repeat: no-repeat;
			&--playserver {
				background-image: url(/img/service/server_default.png);
			}
			&--lamp {
				background-image: url(/img/service/lamp_default.png);
			}
			&--projector {
				background-image: url(/img/service/projector_default.png);
			}
		}
	}

	&-device-card {
		width: calc(100% - 250px);
	}

	&-params {
		display: inline-block;
		width: calc(100% - 300px);
		vertical-align: top;
		padding: 10px 0 0 30px;
		&-table {
			vertical-align: top;
			width: 310px;
			font-size: 14px;
			&__cell {
				vertical-align: top;
				padding-right: 20px;
			}
		}
	}

	&-devices-list {
		width: 250px;
		height: 100%;
		border-right: 1px solid $default-border;
		display: inline-block;
		font-size: 14px;
		overflow: auto;
		&-wrap {
			height: 100%;
			overflow: hidden;
			font-size: 0px;
		}
		&-hall {
			width: 100%;
			height: 30px;
			background-color: #f6f6f6;
			padding: 5px 12px;
			border-bottom: 1px solid $default-border;
			&__formats {
				color: #aaa;
				float: right;
			}
		}
		&__item {
			height: 40px;
			padding: 10px 12px;
			border-bottom: 1px solid $default-border;
			cursor: pointer;
			&.active {
				background-color: #007ac2;
				border-bottom: 1px solid #007ac2;
				pointer-events: none;
				.service-devices-list__device-title {
					color: #fff;
				}
			}
			&:not(.active):hover {
				background-color: #eaeef2;
			}
			&:not(.active):active {
				background-color: #0b385f;
				border-bottom: 1px solid #0b385f;
				.service-devices-list__device-title {
					color: #fff;
				}
			}
		}
	}

	&-device-params {
		width: 100%;
		border: 1px solid $default-border;
		border-radius: 4px;
		font-size: 0px;
		overflow: hidden;
		&__no-access {
			background-color: #fcfabf;
			border: 1px solid #fee65a;
			padding: 10px;
		}
		&-groups {
			display: inline-block;
			vertical-align: top;
			width: 230px;
			height: 100%;
			font-size: 14px;
			&__item {
				height: 40px;
				padding: 10px 12px;
				background-color: #f6f6f6;
				border-bottom: 1px solid $default-border;
				cursor: pointer;
				&.active {
					background-color: #007ac2;
					border-bottom: 1px solid #007ac2;
					pointer-events: none;
					.service-device-params__title {
						color: #fff;
					}
				}
				&:not(.active):hover {
					background-color: #eaeef2;
				}
				&:not(.active):active {
					background-color: #0b385f;
					border-bottom: 1px solid #0b385f;
					.service-device-params__title {
						color: #fff;
					}
				}
			}
		}
		&__icon {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			width: 15px;
			&--small {
				font-size: 10px;
			}
		}
		&__key {
		}
		&__value,
		&__key {
			display: inline-block;
			width: calc(50% - 15px);
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		&__value {
			float: right;
			text-align: right;
		}
		&__description {
			display: inline-block;
			width: 100%;
			font-size: 14px;
			line-height: 14px;
		}
		&-group {
			vertical-align: top;
			display: inline-block;
			width: calc(100% - 230px);
			border-left: 1px solid $default-border;
			&-info {
				padding: 35px;
				font-size: 22px;
				line-height: 30px;
				border-bottom: 1px solid $default-border;
			}
		}
		&-list {
			padding: 25px;
			font-size: 12px;
			&__item {
				width: 100%;
				padding: 5px 10px;
				height: 30px;
				&:nth-child(odd) {
					background-color: #f6f6f6;
				}
			}
		}
	}
}
