.user-cinemas {
	display: inline-block;
	width: 882px;
	text-align: left;
	vertical-align: top;
	&-header {
		position: relative;
		height: 41px;
		.close {
			position: absolute;
			top: 0;
			right: 31px;
			cursor: pointer;
			&:hover {
				.arcticmodal-close {
					opacity: 0;
					transform: rotate(180deg);
				}
				.arcticmodal-close_hover {
					opacity: 1;
					transform: rotate(180deg);
				}
				.arcticmodal-close_active {
					opacity: 0;
					transform: rotate(180deg);
				}
			}
			&:active {
				.arcticmodal-close {
					opacity: 0;
					transform: rotate(180deg);
				}
				.arcticmodal-close_hover {
					opacity: 0;
					transform: rotate(180deg);
				}
				.arcticmodal-close_active {
					opacity: 1;
					transform: rotate(180deg);
				}
			}
		}
	}
	&-tabs {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 36px;
		@include clearfix();
	}
	&__tab {
		display: block;
		float:left;
		height: 33px;
		padding: 1px 16px;
		margin: 0 4px;
		font-size: 14px;
		line-height: 33px;
		color: #9a9a9a;
		text-align: center;
		vertical-align: bottom;
		cursor: pointer;
		border: 1px solid #898989;
		border-bottom: none;
		border-radius: 4px 4px 0 0;
		&:first-child {
			margin-left: 0;
		}
		&.active {
			height: 34px;
			padding: 0 15px;
			line-height: 34px;
			color: #060606;
			cursor: default;
			background-color: #fff;
			border-color: #fff;
			border-width: 2px;
		}
	}
	&-wrapper {
		height: 440px;
		padding: 20px 10px 0;
		background-color: #fff;
		border-radius: 0 4px 0 0;
	}
	&-settings {
		height: inherit;
		@include clearfix();
		&-tabs {
			padding: 0 0 11px;
			margin-bottom: 7px;
			border-bottom: 1px solid #ececec;
			&-item {
				display: inline-block;
				height: 24px;
				padding: 0 10px;
				margin-right: 4px;
				font-size: 14px;
				line-height: 24px;
				color: #666;
				vertical-align: top;
				cursor: pointer;
				border: 1px solid transparent;
				border-radius: 4px;
				transition: color .3s, background-color .3s, border-color .3s;
				&:hover {
					background-color: #e4e4e4;
					border-color: #e4e4e4;
				}
				&:active {
					color: #fff;
					border-color: #cacaca;
				}
				&.active,
				&.active:hover {
					color: #4378a4;
					cursor: default;
					background-color: transparent;
					border-color: #94bcdd;
				}
				.count {
					color: #9b9b9b;
				}
			}
		}
		&--groups {
			.user-cinemas-groups-item__title {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.user-cinemas-list--group:empty + .cinemas-group-add {
				border-top-color: #d5d5d5;
			}
			.cinemas-group-add {
				display: block;
				padding: 8px 0 9px;
				font-size: 14px;
				line-height: 17px;
				color: #4378a4;
				text-align: center;
				cursor: pointer;
				border-top: 1px solid transparent;
			}
		}
	}
	&-left {
		display: block;
		width: 220px;
		height: inherit;
		overflow-y: auto;
		vertical-align: top;
		border-right: 1px solid #d5d5d5;
		float: left;
	}
	&-list{
		&-item {
			position: relative;
			padding: 11px 20px 8px;
			cursor: pointer;
			transition: background-color .3s;
			&__title {
				display: block;
				width: auto;
				font-size: 14px;
				line-height: 16px;
				color: #333;
			}
			&__subtitle {
				display: block;
				padding-top: 5px;
				font-size: 12px;
				line-height: 12px;
				color: #cacaca;
				transition: color .3s;
			}
			&:before {
				position: absolute;
				top: 0;
				right: 0;
				left: 20px;
				height: 1px;
				content: '';
				background-color: #d5d5d5;
			}
			&:after {
				position: absolute;
				right: 0;
				bottom: -1px;
				left: 20px;
				z-index: 1;
				height: 1px;
				content: '';
				background-color: #d5d5d5;
			}
			&.active {
				background-color: #e5e5e5;
				pointer-events: none;
				.city {
					color: #9b9b9b;
				}
				&:before,
				&:after {
					left: 0;
				}
			}
		}
	}
	&-right {
		position: relative;
		display: block;
		width: calc(100% - 237px);
		height: 100%;
		padding-left: 15px;
		vertical-align: top;
		border-top: 1px solid #d5d5d5;
		float: right;
	}
	&-settings-container {
		&.active {
			z-index: 2;
			opacity: 1;
		}
		&.master {
			.user-cinemas-halls-table {
				.user-cinemas-scroll-table-bottom {
					height: 132px;
				}
			}
		}
		&__title {
			display: block;
			padding: 13px 0 11px;
			font-size: 16px;
			line-height: 16px;
			color: #000;
		}
	}
	&-settings-data {
		width: 610px;
		&-block {
			margin-bottom: 10px;
			font-size: 12px;
			line-height: 1.4;
			color: #333;
			&__title {
				font-weight: bold;
			}
			&-group {
				margin: 5px 0;
				input {
					width: 35px;
					text-align: center;
				}
				&-title {
					display: inline-block;
					width: 90px;
					&.inline {
						width: auto;
					}
				}
			}
			&__unit {
				color: #9b9b9b;
			}
		}
		&--personal {
			display: none;
		}
	}
	&-scroll-table {
		&-top {
			height: 32px;
			background-color: #eaeef2;
			border-bottom: 2px solid #d5d7dc;
			color: #9b9b9b;
			.table-cell {
				padding-top: 0;
			}
		}
		&-bottom {
			height: 177px;
			overflow-y: auto;
			.user-cinemas-scroll-table-row {
				height: 33px;
				border-bottom: 1px solid #d5d7dc;
			}
		}
		&-row {
			@include clearfix();
			&:last-child {
				border-bottom: 1px solid transparent;
			}
		}
		&-cell {
			display: block;
			vertical-align: top;
			font-size: 12px;
			float:left;
			&__name {
				display: block;
				padding-top: 12px;
				line-height: 12px;
				white-space: nowrap;
			}
		}
	}
	&-halls-table {
		&-bottom {
			.user-cinemas-halls-table-col-hall-open,
			.user-cinemas-halls-table-col-hall-close,
			.user-cinemas-halls-table-col-pause,
			.user-cinemas-halls-table-col-tms {
				padding-top: 7px;
			}
		}
		&-col-hall-open,
		&-col-hall-close {
			width: 126px;
		}
		&-col-pause {
			width: 100px;
		}
		&-col-tms {
			width: 70px;
		}
		&-col-hall-name {
			width: 160px;
			padding-left: 12px;
		}
	}
	&-personal {
		&-table {
			&-col-personal {
				width: 160px;
				padding-left: 12px;
			}
			&-bottom {
				height: 164px;
				.user-cinemas-personal-table-col-rights {
					padding-top: 8px;
				}
				.user-cinemas-personal-table-col-rights--no-select {
					padding-top: 0;
				}
			}
		}
		&-invite {
			position: relative;
			display: none;
			height: 52px;
			padding: 12px 14px;
			margin-top: 11px;
			background-color: #f6f6f6;
			border-top: 4px solid #d8d8d8;
			transition: height .3s ease .3s;
			&__text {
				display: block;
				padding-bottom: 6px;
				font-size: 13px;
				line-height: 15px;
				color: #333;
			}
			&__input {
				width: 387px;
				height: 26px;
				padding: 2px 9px 0;
				font-size: 13px;
				color: #333;
				border: 1px solid #d6d6d6;
				border-radius: 4px;
				transition: width .3s ease .3s, border-color .3s ease .3s, background-color .3s ease .3s;
			}
			&-actions {
				opacity: 0;
				transition: opacity .3s;
				&__send {
					display: inline-block;
					width: 58px;
					height: 12px;
					padding: 6px 9px;
					margin: 8px 8px 0 0;
					font-size: 12px;
					line-height: 14px;
					color: #4378a4;
					text-align: center;
					vertical-align: top;
					cursor: pointer;
					background-color: #f6f6f6;
					border: 1px solid #94bcdd;
					border-radius: 4px;
					transition: background-color .3s;
					&:hover {
						background-color: #eaf0f8;
					}
					&:active {
						background-color: #d6e2f1;
					}
				}
				&__cancel {
					display: inline-block;
					width: 45px;
					height: 12px;
					padding: 6px 9px;
					margin-top: 8px;
					font-size: 12px;
					line-height: 14px;
					color: #8a8a8a;
					text-align: center;
					vertical-align: top;
					cursor: pointer;
					background-color: #f5f7fa;
					border: 1px solid #c5c5c5;
					border-radius: 4px;
				}
			}
			.jq-selectbox {
				position: absolute !important;
				top: 33px;
				right: 0;
				width: 147px;
				opacity: 0;
				transition: opacity 0.3s;
			}
			&.full {
				height: 92px;
				transition-delay: 0s;
				.user-cinemas-personal-invite__input {
					display: inline-block;
					width: 230px;
					margin-right: 7px;
					vertical-align: top;
					background-color: #fff;
					border-color: #94bcdd;
					transition-delay: 0s;
				}
				.user-cinemas-personal-invite-actions,
				.jq-selectbox {
					opacity: 1;
					transition-delay: .3s;
				}
			}
		}
	}
	&-group {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		height: calc(100% - 21px);
		padding-top: 20px;
		opacity: 1;
		&__title {
			display: block;
			padding: 23px 0 8px;
			font-size: 16px;
			font-weight: bold;
			color: #333;
			&:first-child {
				padding-top: 0;
			}
		}
		&__name {
			width: 333px;
			height: 29px;
			padding: 0 9px;
			font-size: 13px;
			color: #333;
			border: 1px solid #d9d9d9;
			border-top-color: #c0c0c0;
		}
		&__hint {
			display: block;
			padding-top: 6px;
			font-size: 12px;
			color: #9b9b9b;
		}
		&-wrapper {
			width: 567px;
			height: 210px;
			padding: 15px 0 8px 15px;
			overflow: hidden;
			background-color: #f6f5f3;
			border-radius: 4px;
		}
		&-scroll {
			position: relative;
			right: 0;
			left: 0;
			height: inherit;
			overflow-x: hidden;
			overflow-y: scroll;
		}
		&-columns {
			column-count: 2;
		}
		&-cinema {
			display: block;
			width: calc(100% - 15px);
			margin-bottom: 7px;
			overflow: hidden;
			font-size: 12px;
			color: #333;
			text-overflow: ellipsis;
			white-space: nowrap;
			vertical-align: top;
		}
		&__remove {
			position: absolute;
			bottom: 11px;
			left: 0;
			font-size: 13px;
			color: #d0021b;
			cursor: pointer;
		}
	}
	.ui-timepicker-select {
		font-size: 12px;
	}

	&-bottom {
		height: 60px;
		background-color: #f6f5f3;
		border-top: 1px solid #e5e5e5;
		border-radius: 0 0 8px 8px;
	}
	&__save {
		display: inline-block;
		width: 130px;
		height: 24px;
		margin: 17px 0 0 22px;
		font-size: 14px;
		line-height: 24px;
		color: #4378a4;
		text-align: center;
		vertical-align: top;
		cursor: pointer;
		border: 1px solid #94bcdd;
		border-radius: 4px;
		transition: background-color .3s;
		&:hover {
			background-color: #eaf0f8;
		}
		&:active {
			background-color: #d6e2fa;
		}
	}
}
