{{ if (length) { }}
	<table class="history_table">
		<thead>
			<tr class="table_title">
				<th width="15%" class="history_table__film" title="Название фильма">Название фильма</th>
				<th width="15%" class="history_table__dist" title="Дистрибьютор">Дистрибьютор</th>
				<th width="10%" class="history_table__from_date" title="Ушел с даты">Ушел с даты</th>
				<th width="30%" class="history_table__your_films_old" title="Фильмы {{- userName }}">Фильмы {{- userName }}</th>
				<th width="10%" class="history_table__to_date" title="Пришел на дату">Пришел на дату</th>
				<th width="30%" class="history_table__your_films_new" title="Фильмы {{- userName }}">Фильмы {{- userName }}</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
{{ } else { }}
	<p class="history_empty">История недоступна. Укажите конкурентов в настройках.</p>
{{ } }}
