<td title="{{- attributes.title.ru || attributes.title.en || '-' }}">{{- attributes.title.ru || attributes.title.en || '-' }}</td>
<td class="analysis-table__distributor" title="{{- attributes.distributorsList || '-' }}">{{- attributes.distributorsList || '-' }}</td>
<td class="analysis-table__start-date" title="{{- Date.create(attributes.date.russia.start).format('{dd}.{MM}.{yyyy}') }}">{{- Date.create(attributes.date.russia.start).format('{dd}.{MM}.{yyyy}') }}</td>

<td class="analysis-table__hire_week">{{- attributes.hireWeek || '-' }}</td>

{{ _.each(attributes.weeks, function(week) { }}
	<td class="analysis-table__week {{- (new Date()).getWeek() === week.week ? 'analysis-table__week--current' : '' }}">
		{{ if(attributes.date.week <= week.week) { }}
			{{ if(week.percent > 0) { }}
				{{- week.percent.toFixed(1) + '%' }}
			{{ } }}
		{{ } }}
	</td>
{{ }) }}

<td>
	{{ if (attributes.all_count) { }}
		{{ var percent = ((attributes.all_count / collection.total) * 100); }}
		{{ if (isFinite(percent) && !isNaN(percent)) { }}
			{{ collection.totalPercent = collection.totalPercent + percent }}
		{{ } }}
		{{- (isFinite(percent) && !isNaN(percent) ? percent.toFixed(1) + '%' : '') }}
	{{ } }}
</td>