<div class="distributor-settings-top">
	<span class="distributor-settings-top__title">Настройки</span>
	<div class="closeWrap">
		<i class="arcticmodal-close"></i>
		<i class="arcticmodal-close arcticmodal-close_hover"></i>
		<i class="arcticmodal-close arcticmodal-close_active"></i>
	</div>
</div>
<i class="loader"></i>
<div class="distributor-settings-inner">
	<table class="distributor-settings-table">
		<thead>
			<tr>
				<th class="distributor-settings-table__name">Название</th>
				<th class="distributor-settings-table__status">Статус</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

<div class="popupWrap__bottom">
	<input type="submit" class="popupWrap__button" value="Сохранить изменения">
</div>