{{ _.each(distributors, function(distributor) { }}
	<tr>
		<td class="{{- _.contains(partners,    distributor.id) ? 'partner' : _.contains(competitors, distributor.id) ? 'competitor' : '' }}">{{- distributor.get('name').full || distributor.get('name').short || '-' }}</td>
		<td>
			<select data-id="{{- distributor.id }}">
				<option value="">Не интересно</option>
				<option value="partner"    {{- _.contains(partners,    distributor.id) ? 'selected' : '' }}>Партнер</option>
				<option value="competitor" {{- _.contains(competitors, distributor.id) ? 'selected' : '' }}>Конкурент</option>
			</select>
		</td>
	</tr>
{{ }) }}
