{{ if (reportsState === 'cinemas') { }}
	<span class="reports-table__title">Отчет по проекту: {{- releaseTitle }}</span>
{{ } else if (reportsState === 'reports') { }}
	<span class="reports-table__title">{{- cinema }}</span>
	<span class="reports-table__release">Отчет по проекту: {{- releaseTitle }}</span>
{{ } }}

{{ if (reportsState === 'releases' || reportsState === 'cinemas') { }}
	<div class="reports-table-head">
		{{ _.each(headers, function(header) { }}
			<span class="reports-table__cell">{{- header }}</span>
		{{ }); }}
	</div>
	<div class="reports-table-scroll">
		<div class="reports-table-body">
			{{ _.each(data, function(item) { }}
				<div class="reports-table-item {{- item.disabled ? 'disabled' : '' }}" data-id="{{- item.id }}">
					{{ _.each(item.content, function(content) { }}
						<span class="reports-table__cell" title="{{- content }}">{{- content }}</span>
					{{ }); }}
				</div>
			{{ }); }}
		</div>
	</div>
{{ } else { }}
	<div class="reports-table-scroll reports-table-scroll--weeks">
		{{ _.each(data, function(weekReports) { }}
			<div class="reports-table-head">
				{{ _.each(headers, function(header) { }}
					<span class="reports-table__cell">{{- header }}</span>
				{{ }); }}
			</div>
			<div class="reports-table-body">
				{{ _.each(weekReports.reports, function(report) { }}
					<div class="reports-table-item">
						{{ _.each(report, function(content) { }}
							<span class="reports-table__cell" title="{{- content }}">{{- content }}</span>
						{{ }); }}
					</div>
				{{ }); }}
				<div class="reports-table-item reports-table-item--total">
					<span class="reports-table__cell" title="Итого">Итого</span>
					<span class="reports-table__cell" title="{{- weekReports.seances }}">{{- weekReports.seances }}</span>
					<span class="reports-table__cell" title="{{- weekReports.viewers }}">{{- weekReports.viewers }}</span>
					<span class="reports-table__cell" title="{{- weekReports.boxOffice }}">{{- weekReports.boxOffice }}</span>
					<span class="reports-table__cell"></span>
				</div>
			</div>
		{{ }); }}
	</div>
{{ } }}
