<div class="filter">
	<div class="back hide">
		<a href="#"><img width="10" height="15" alt="" src="/img/pixel.gif"> Назад</a>
	</div>
	<div class="searching-module">
		<input type="text" class="input">
		<i class="remove"></i>
	</div>
</div>
<div class="fon_filter"></div>
<div class="reports">
	<div class="sections-tabs-inner reports--tabs hide">
		<span class="sections-tabs-inner__item active" data-tab="reports">Отчетность</span>
		<span class="sections-tabs-inner__item" data-tab="contacts">Контакты</span>
	</div>
</div>