<div class="nt-sidebar-trailers-item {{- model.status }}" data-status="{{- model.status }}">
	<a href="/release/{{- model.release_id }}" class="nt-sidebar-trailers-item__name">{{- model.release_title.ru }}</a>
	{{ if (model.trailer.version) { }}
		<span class="nt-sidebar-trailers-item__data">{{- model.trailer.version }}</span>
	{{ } }}
	{{ if (model.trailer.aspect) { }}
		<span class="nt-sidebar-trailers-item__data">{{- model.trailer.aspect }}</span>
	{{ } }}
	{{ _.each(model.trailer.formats, function(format) { }}
		<span class="nt-sidebar-trailers-item__data">{{- format }}</span>
	{{ }) }}

	<div class="nt-sidebar-trailers-item__progress-wraper">
		<div class="nt-sidebar-trailers-item__progress {{- model.status }}" style="width:{{- model.percent || 0}}%"></div>
		{{ if(downloadRights) { }}
			{{ switch (model.status) { case 'download': }}
					<span class="nt-sidebar-trailers-item__control icon-stop" data-action="stop"></span>
				{{ break; case 'unpack': }}
					<span class="nt-sidebar-trailers-item__control icon-stop" data-action="stop"></span>
				{{ break; case 'pause': }}
					<span class="nt-sidebar-trailers-item__control icon-start" data-action="start"></span>
				{{ break; case 'ready': }}
					<span class="nt-sidebar-trailers-item__control icon-delete" data-action="delete"></span>
				{{ break; case 'error': }}
					<span class="nt-sidebar-trailers-item__control icon-start" data-action="start"></span>
				{{ break; case 'wait': }}
				{{ default: '' }}
			{{ } }}
		{{ } }}
	</div>

	<div class="nt-sidebar-trailers-item__status-waraper">
		{{ switch (model.status) { case 'download': }}
				<span class="nt-sidebar-trailers-item__status">Загружается ({{- model.percent || 0}}%)</span>
				{{ if(downloadRights) { }}
					<span class="nt-sidebar-trailers-item__delete" data-action="delete">Удалить</span>
				{{ } }}
			{{ break; case 'unpack': }}
				<span class="nt-sidebar-trailers-item__status">Идет распаковка файлов</span>
				{{ if(downloadRights) { }}
					<span class="nt-sidebar-trailers-item__delete" data-action="delete">Удалить</span>
				{{ } }}
			{{ break; case 'pause': }}
				<span class="nt-sidebar-trailers-item__status">Приостановлено ({{- model.percent || 0}}%)</span>
				{{ if(downloadRights) { }}
					<span class="nt-sidebar-trailers-item__delete" data-action="delete">Удалить</span>
				{{ } }}
			{{ break; case 'ready': }}
				<span class="nt-sidebar-trailers-item__status">Загружен</span>
			{{ break; case 'error': }}
				<span class="nt-sidebar-trailers-item__status"><span class="error">Ошибка: </span>сбой связи с сервером</span>
				{{ if(downloadRights) { }}
					<span class="nt-sidebar-trailers-item__delete" data-action="delete">Удалить</span>
				{{ } }}
			{{ break; case 'wait': }}
				<span class="nt-sidebar-trailers-item__status">Ожидание начала загрузки</span>
				{{ if(downloadRights) { }}
					<span class="nt-sidebar-trailers-item__delete" data-action="delete">Удалить</span>
				{{ } }}
			{{ default: '' }}
		{{ } }}
	</div>
</div>
