{{ if(type == 'schedule' && data.release) { }}
	{{ var actions 		= { 'add': 'добавил(а)', 'change': 'изменил(а)', 'update': 'обновил(а)', 'delete': 'удалил(а)' } }}
	{{ var yourActions 	= { 'add': 'добавили',   'change': 'изменили',   'update': 'обновили',   'delete': 'удалили' } }}
	{{ var photo = user.photo_medium || '/img/avatar.png' }}
	{{ var relTitle = data.release.title ? (data.release.title.ru || data.release.title.en || '') : 'Удаленный релиз' }}

	{{ if (user) { }}
		{{ var userName = ((user.first_name || '') + ' ' + (user.last_name + ' ' || '')) || '' }}
	{{ } }}

	{{ if (data.release && (relTitle.length > 25)) { }}
		{{ relTitle = relTitle.slice(0, 23) + '...' }}
	{{ } }}

	<div class="nt-sidebar-user-updates-item">
		<div class="nt-sidebar-user-updates-item-head_wrapper">
			<div class="nt-sidebar-user-updates-item__avatar" style="background-image: url({{- photo }})"></div>
			<div class="nt-sidebar-user-updates-item-user">{{- your ? 'Вы ' : userName + ' ' }}
				<span class="nt-sidebar-user-updates-item-user__action"> {{- your ? yourActions[data.action] : actions[data.action] }}:</span>
				<div class="nt-sidebar-user-updates-item__date">{{- Date.create(created*1000).format('{d} {month} {yyyy}, {HH}:{mm}') }}</div>
			</div>
		</div>
		{{ if(data.schedule && data.schedule.weeks.length) { }}
			{{ for(var i in data.schedule.weeks) { }}

				{{ var weeks =  data.schedule.weeks}}
				{{ var weekNumber = weeks[i].number; }}
				{{ var weekStartDate = moment().year(weeks[i].year).week(weekNumber).startOf('week'); }}
				{{ var weekEndDate = moment().year(weeks[i].year).week(weekNumber).endOf('week'); }}

				{{ var releaseWeekStartDate = weekStartDate; }}

				{{ var fromDate = releaseWeekStartDate.date(); }}
				{{ var fromMonth = releaseWeekStartDate.month(); }}
				{{ var endDate = weekEndDate.date(); }}
				{{ var endMonth = weekEndDate.month(); }}

				{{ if (fromMonth != endMonth) { }}
					{{ var fromMonthText = Date.create(releaseWeekStartDate.toString()).format('{mon}'); }}
					{{ var endMonthText = Date.create(weekEndDate.toString()).format('{mon}'); }}
					{{ var weekDate = fromDate + ' ' + fromMonthText + ' - ' + endDate + ' ' + endMonthText; }}
				{{ } else { }}
					{{ var endMonthText = Date.create(weekEndDate.toString()).format('{month}'); }}
					{{ var weekDate = fromDate + ' - ' + endDate + ' ' + endMonthText; }}
				{{ } }}
				<div class="nt-sidebar-user-updates-item-info_wrapper">
					<a href="/release/{{- data.release_id }}" class="nt-sidebar-user-updates-item__name">{{- relTitle }}</a>

					<span class="nt-sidebar-user-updates-item__date-update">{{- weekDate }}</span>{{- data.action !== 'add' ? ', сеансов: ' + data.schedule.weeks[i].count : '' }}

					{{ if (data.action !== 'add') { }}
						{{ if(data.schedule.weeks[i].technology && data.schedule.weeks[i].technology.length) { }}
							<ul class="nt-sidebar-user-updates-item__changes">
								{{ for(var k in data.schedule.weeks[i].technology) { }}
									<li><span class="nt-sidebar-user-updates-item__data">{{- data.schedule.weeks[i].technology[k].format }}</span>
										<span class="nt-sidebar-user-updates-item__data">
										{{ if(data.schedule.weeks[i].technology[k].upgrades.length) { }}
											{{ for(var j in data.schedule.weeks[i].technology[k].upgrades) { }}
												{{- data.schedule.weeks[i].technology[k].upgrades[j] }}
											{{ } }}
										{{ } }}
										:</span> {{- data.schedule.weeks[i].technology[k].count }}
									</li>
								{{ } }}
							</ul>
						{{ } }}
					{{ } }}
				</div>
			{{ } }}
		{{ } }}

		{{ if(data.action === 'delete') { }}
			<div class="nt-sidebar-user-updates-item-info_wrapper">
				<a href="/release/{{- data.release_id }}" class="nt-sidebar-user-updates-item__name">{{- relTitle }}</a>
			</div>
		{{ } }}
	</div>
{{ } }}



