{{ _.each(releasesTechnologys, function(tech) { }}
	<div class="release" data-id="{{- tech.releaseId }}" data-format="{{- tech.format }}" {{ if (tech.upgrades.length != 0) { }} data-upgrades="{{- tech.upgrades.join(', ')}}" {{ } }} data-title="{{- tech.releaseTitle }}">
		<div class="line">
			<span class="status" data-status="{{- tech.releaseColor }}">{{- tech.count }}</span>
			<span class="name">{{- tech.releaseTitle }}</span>
			{{ if (tech.format) { }}
				{{ if (tech.upgrades.length != 0) { }}
					<span class="format">{{- tech.format }}+</span>
				{{ } else if (tech.format.toLowerCase() !== '2d') { }}
					<span class="format">{{- tech.format.toLowerCase() == 'public video' ? 'pv' : tech.format }}</span>
				{{ } }}
			{{ } }}
		</div>
		<div class="halls_list">
			<span class="halls_release">{{- tech.releaseTitle }}</span>
			<span class="halls_title">Залы</span>
			<div class="halls_checkboxes">
				{{ var cinemaHalls = _.sortBy(cinema.halls, function(hall){ return parseInt(hall.number); }); }}
				{{ for (var hall in cinemaHalls) { }}
					{{ var hallReleaseMatch = _.has(tech.hall_id, cinemaHalls[hall].id); }}
					<div class="one_hall" data-id="{{- cinemaHalls[hall].id }}">
						<input type="checkbox" name="" class="check" {{- hallReleaseMatch ? 'checked' : '' }}>
						<label class="title">{{- cinemaHalls[hall].number }}</label>
					</div>
				{{ } }}
			</div>
			<span class="save_halls">Сохранить</span>
		</div>
	</div>
{{ }); }}

<div class="zeros">
	{{ _.each(zeroCountReleasesTechnology, function(tech) { }}
		<div class="release" data-id="{{- tech.releaseId }}" data-format="{{- tech.format }}" {{ if (tech.upgrades.length != 0) { }} data-upgrades="{{- tech.upgrades.join(', ')}}" {{ } }} data-title="{{- tech.releaseTitle }}">
			<div class="line">
				<span class="status" data-status="{{- tech.releaseColor }}">{{- tech.count }}</span>
				<span class="name">{{- tech.releaseTitle }}</span>
				{{ if (tech.format) { }}
					{{ if (tech.upgrades.length != 0) { }}
						<span class="format">{{- tech.format }}+</span>
					{{ } else if (tech.format.toLowerCase() !== '2d') { }}
						<span class="format">{{- tech.format.toLowerCase() == 'public video' ? 'pv' : tech.format }}</span>
					{{ } }}
				{{ } }}
			</div>
			<div class="halls_list">
				<span class="halls_release">{{- tech.releaseTitle }}</span>
				<span class="halls_title">Залы</span>
				<div class="halls_checkboxes">
					{{ var cinemaHalls = _.sortBy(cinema.halls, function(hall){ return parseInt(hall.number); }); }}
					{{ for (var hall in cinemaHalls) { }}
						{{ var hallReleaseMatch = _.has(tech.hall_id, cinemaHalls[hall].id); }}
						<div class="one_hall" data-id="{{- cinemaHalls[hall].id }}">
							<input type="checkbox" name="" class="check" {{- hallReleaseMatch ? 'checked' : '' }}>
							<label class="title">{{- cinemaHalls[hall].number }}</label>
						</div>
					{{ } }}
				</div>
				<span class="save_halls">Сохранить</span>
			</div>
		</div>
	{{ }); }}
</div>