<span class="date">Неделя</span>
<div class="list">
	{{ _.each(cinemaArr, function(cinema) { }}
		<div class="item">
			<span class="title" data-hall-title="{{- cinema.title.ru || cinema.title.en }}">{{- cinema.title.ru || cinema.title.en }}</span>
			<span class="capacity" style="padding: 4px 0 0 10px;">{{- cinema.city.title.ru }}</span>
			<span class="capacity">, {{- cinema.halls.length + _.declOfNum(cinema.halls.length, [' зал',' зала',' залов']) }}</span>
		</div>
	{{ }) }}
	{{ if (cinemaArr.length < 7) { }}
		{{ for (var j = cinemaArr.length; j<7; j++) { }}
			<div class="item inactive">
				<span class="title"></span>
				<span class="capacity" style="padding: 4px 0 0 10px;"></span>
				<span class="capacity"></span>
			</div>
		{{ } }}
	{{ } }}
</div>