<div class="calendar">
	<div class="info">
		<span class="day">{{- date }}</span>
		<span class="month">{{- Date.create().set({month: currentMonth, day: parseInt(date), year: currentYear }).format('{Month}') }}</span>
	</div>
	<i class="repertoire_viewer"></i>
</div>

<div class="list">
	{{ _.each(cinemaArr, function(cinema) { }}
		{{ var cinemaIndex = _.indexOf(cinemaArr, cinema); }}
		<div class="section {{- cinema.rights_id == 1 || cinema.rights_id == 2 ? 'no_rights' : '' }}" data-cinema-id="{{- cinema.id }}">
			<div class="bottom">
				{{ if (cinemaIndex) { }}
					<i class="copy_left"></i>
				{{ } }}
				<i class="generate_timeline"></i>
				{{ if (cinemaIndex + 1 !== cinemaArr.length) { }}
					<i class="copy_right"></i>
				{{ } }}
			</div>
		</div>
	{{ }) }}
	{{ if (cinemaArr.length < 7) { }}
		{{ for (var j = cinemaArr.length; j<7; j++) { }}
			<div class="section empty_section"></div>
		{{ } }}
	{{ } }}
</div>