.advertising {
	&-data {
		box-sizing: content-box;
		padding-right: 122px;
		padding-left: 277px;
		font-size: 0;
		&-row {
			height: 30px;
			white-space: nowrap;
			cursor: pointer;
			&:first-child {
				height: 29px;
			}
			&:last-child {
				height: 31px;
			}
		}
		&-group {
			border-top: 1px solid $gray-dark;
			&:first-child {
				border-top: none;
			}
			&:last-child {
				border-bottom: 1px solid $gray-dark;
			}
			&--current {
				margin-bottom: 8px;
				border-bottom: 1px solid $gray-dark;
			}
			& + &--current {
				margin-top: 8px;
			}
		}
		&-group:last-child &-row:last-child {
			height: 29px;
			&:not(:only-child) {
				height: 30px;
			}
		}
		&-row:first-child &__cell,
		&-row:only-child &__cell {
			border-top: none;
		}
		&-row:hover &__cell {
			background-color: $hover-color;
		}
		&-row:only-child {
			height: 30px;
		}
		&-row.readonly &__cell {
			cursor: default;
			&:after {
				display: none;
			}
			&--added:hover:after {
				content: '\f067';
			}
		}
		&__cell {
			position: relative;
			display: inline-block;
			width: 39px;
			height: 100%;
			vertical-align: top;
			background-color: #fff;
			border-top: 1px dotted $gray-light;
			border-right: 1px dotted $gray-light;
			&:after {
				position: absolute;
				top: 50%;
				left: 50%;
				display: none;
				width: 20px;
				height: 20px;
				margin: -10px 0 0 -10px;
				font-family: FontAwesome;
				font-size: 13px;
				line-height: 20px;
				color: #fff;
				text-align: center;
				content: '';
				background-color: #fff;
				border: 1px solid $gray-light;
				border-radius: 50%;
				transition: background-color .3s, border-color .3s, transform .3s, color .1s;
			}
			&:active:after {
				transform: scale(1.3);
			}
			&:hover {
				&:after {
					display: block;
				}
			}
			&.hover {
				background-color: $hover-color;
			}
			&.blocked:after {
				display: block;
				line-height: 19px;
				content: '';
				background-color: $inner-trailer-bg;
				border-color: $inner-trailer-border;
			}
			&--single {
				width: 38px;
				border-right: 1px solid $gray-dark;
			}
			&--first {
				width: 38px;
			}
			&--last {
				position: relative;
				border-right-color: transparent;
				&:before {
					position: absolute;
					top: -1px;
					right: -1px;
					bottom: -1px;
					z-index: 1;
					width: 1px;
					content: '';
					background-color: $gray-dark;
				}
			}
			&--inner,
			&--inner.blocked {
				cursor: default;
				&:after {
					display: block !important;
					line-height: 19px;
					content: '\f023';
					background-color: $inner-trailer-bg;
					border-color: $inner-trailer-border;
				}
				&:active:after {
					transform: scale(1);
				}
			}
			&--added {
				&:after {
					display: block !important;
					content: '\f067';
					background-color: $added-trailer-bg;
					border-color: $added-trailer-border;
				}
				&:hover:after {
					content: '';
				}
			}
			&--last-week {
				background-color: $gray-lighter;
			}
		}
	}
}
