html.opera .advertising-releases-group__header {
	transform: rotate(-90deg) translateZ(0);
}

.advertising {
	&-releases {
		position: absolute;
		top: -1px;
		left: 0;
		z-index: 2;
		width: 277px;
		overflow: hidden;
		border-top: 1px solid $gray-dark;
	}
	&-releases-group {
		position: relative;
		width: 277px;
		overflow: hidden;
		background: $gray-lighter;
		border: 1px solid $gray-dark;
		border-top: none;
		border-left: none;
		&--cureent-week {
			margin-bottom: 8px;
			border-bottom: 1px solid $gray-dark;
		}
		&--cureent-week + & {
			border-top: 1px solid $gray-dark;
		}
		&__header {
			position: absolute;
			top: 0;
			display: inline-block;
			height: 30px;
			margin-top: -30px;
			font-size: 12px;
			line-height: 30px;
			color: $gray-darker;
			text-align: center;
			white-space: nowrap;
			border-bottom: 1px solid $gray-dark;
			transform: rotate(-90deg);
			transform-origin: right bottom 0;
		}
	}
	&-releases-group:last-child &-release:last-child {
		height: 29px;
	}
	&-release {
		display: block;
		width: 246px;
		height: 30px;
		margin-left: 30px;
		font-size: 0;
		line-height: 30px;
		text-decoration: none;
		cursor: pointer;
		background-color: #fff;
		border-bottom: 1px dotted $gray-light;
		&:focus {
			outline: none;
		}
		&:first-of-type &-duration {
			padding-top: 2px;
		}
		&:last-child {
			border: none;
		}
		&.hover {
			background-color: $hover-color;
		}
		&__title {
			display: inline-block;
			width: 164px;
			padding-left: 7px;
			overflow: hidden;
			font-size: 13px;
			font-weight: bold;
			color: $gray-darker;
			text-overflow: ellipsis;
			white-space: nowrap;
			vertical-align: top;
		}
		&__age {
			display: inline-block;
			width: 42px;
			padding-right: 10px;
			font-size: 12px;
			color: $gray-dark;
			text-align: right;
			vertical-align: top;
			transition: color .3s, font-size .3s;
			&.animate {
				font-size: 16px;
				color: $inner-trailer-bg;
			}
		}
		&-duration {
			position: relative;
			display: inline-block;
			width: 40px;
			height: 100%;
			padding: 3px 3px 0 0;
			line-height: normal;
			text-align: right;
			vertical-align: top;
			&:before {
				position: absolute;
				top: 0;
				bottom: -1px;
				left: -1px;
				width: 1px;
				content: '';
				background-color: $gray-dark;
			}
			&__trailers,
			&__total {
				display: block;
				height: 13px;
				font-size: 11px;
				line-height: 13px;
			}
			&__total {
				color: $gray-darker;
			}
			&__trailers {
				color: $gray-dark;
				transition: color .3s, font-size .3s;
				&.animate {
					font-size: 13px;
					color: $added-trailer-bg;
				}
			}
		}
		&-tooltip {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			&-list + &-list {
				margin-top: 1em;
			}
			&__total {
				margin-top: 1em;
			}
		}
	}
}
