html.opera .advertising-trailer__title {
	transform: rotate(-45deg) translateZ(0);
}

.advertising {
	&-trailers {
		height: inherit;
		padding-right: 150px;
		overflow: hidden;
		color: $gray-darker;
		white-space: nowrap;
		&--highlighted {
			color: $gray-dark;
		}
	}
	&-trailers-group {
		position: relative;
		display: inline-block;
		height: 174px;
		margin-left: -1px;
		font-size: 0;
		vertical-align: top;
		&__header {
			position: absolute;
			top: 0;
			right: -122px;
			display: block;
			width: 100%;
			min-width: 39px;
			height: 31px;
			font-size: 11px;
			line-height: 31px;
			color: $gray-darker;
			text-align: center;
			border-right: 1px solid $gray-dark;
			border-left: 1px solid $gray-dark;
		}
	}
	&-trailer {
		position: relative;
		top: 31px;
		display: inline-block;
		width: 39px;
		height: 143px;
		vertical-align: top;
		transition: color .1s;
		&:first-of-type &__background,
		&:first-of-type &__age {
			border-left: 1px solid $gray-dark;
		}
		&:first-of-type {
			width: 39px;
		}
		&:last-child &__background,
		&:last-child &__age {
			border-right: 1px solid $gray-dark;
		}
		&.hover &__background,
		&.hover &__age {
			background-color: $hover-color;
		}
		&__age {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 21px;
			font-size: 12px;
			line-height: 21px;
			color: $gray-dark;
			text-align: center;
			background-color: #fff;
			border-right: 1px dotted $gray-light;
			border-bottom: 1px solid $gray-dark;
			transition: color .2s, font-size .2s;
			&.animate {
				font-size: 16px;
				color: $inner-trailer-bg;
			}
		}
		&__background {
			position: absolute;
			width: 39px;
			height: 122px;
			background-color: #fff;
			border-top: 1px solid $gray-light;
			border-right: 1px dotted $gray-dark;
			border-bottom: 1px solid $gray-dark;
			transform: skewX(-45deg) translateX(61px);

			backface-visibility: hidden;
			will-change: transform;
			&:last-child {
				border-bottom: none;
			}
		}
		&__title {
			position: absolute;
			top: 47px;
			left: 8px;
			width: 144px;
			overflow: hidden;
			font-size: 13px;
			line-height: 26px;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: color .2s;
			transform: rotate(-45deg);
		}
		&--inner {
			color: $inner-trailer-bg;
		}
		&--added {
			color: $added-trailer-bg;
		}
	}
}
