<div class="filter">
	<div class="back">
		<a href="#"><img src="/img/pixel.gif" width="10" height="15" alt=""> Назад</a>
	</div>
	<span class="btn btn-primary" data-action="open-popup">Создать ключ</span>
</div>
<div class="fon_filter"></div>

<div id="keygen_wr" class="release-wrapper scroll scrollable">
	<h1>{{- current_request.title }}</h1>
	<div class="action_key_head">
		<span class="key_extend"><i class="fa fa-clock-o"></i>Сгенерировать</span>
		<span class="key_lock"><i class="fa fa-lock"></i>Блокировать</span>
	</div>
	<p class="descript">
		Ключи: <span>{{- current_request.total }}</span>.
		Отправлено: <span>{{- current_request.sent }}</span>.
		Залы: <span>{{- current_request.halls }}</span>.
	</p>
	<div class="date-point">
		<form id="info_form" class="info">
			<div class="releases_head">
				<div class="releases_cell release_arrow"></div>
				<div class="releases_cell release_check"><input type="checkbox" id="release_check"></div>
				<div class="releases_cell release_name">Кинотеатр</div>
				<div class="releases_cell release_city">Город</div>
				<div class="releases_cell release_key">Ключи</div>
				<div class="releases_cell release_status">Статус</div>
			</div>
			<div class="releases_body"></div>
		</form>
	</div>
</div>
