{{ if (release.title.ru) { }}
	<a class="left_side linked" data-release="{{- release_id }}" original-title="{{- release.title.ru }}<br>({{- dist.join(', ') }})" href="/release/{{- release_id }}">
		<span>{{- release.title.ru }}</span>
	</a>
{{ } else { }}
	<div class="left_side"></div>
{{ } }}

<div class="right_side">
	{{ _.each(weekGroup, function(week) { }}
		{{ var daysCount = week.length; }}
		{{ var weekNumber = week[0].number_of_week; }}

		{{ var weekData = _.findWhere(weeks, {number: weekNumber}) }}

		{{ if (!_.isUndefined(weekData)) { }}
			{{ var countArray = []; }}
			{{ _.each(weekData.technology, function(tech) { }}
				{{ if (tech.count != 0) { }}
					{{ if (tech.upgrades.length != 0) { }}
						{{ var techUpgrades = tech.upgrades.join(', '); }}
						{{ countArray.push(tech.count + ': ' + tech.format.toUpperCase() + ' ' + techUpgrades.toUpperCase()); }}
					{{ } else { }}
						{{ countArray.push(tech.count + ': ' + tech.format.toUpperCase()); }}
					{{ } }}
				{{ } }}
			{{ }); }}
			{{ var hint = release.title.ru + ' ('+dist.join(", ")+')' + '<br>Запланировано ' + weekData.count + ' сеансов:<br>' + countArray.join('<br>'); }}
		{{ } }}

		<div class="week {{- addRel ? addRel : '' }}" data-week="{{- weekNumber }}" data-year="{{- curYear }}" data-days="{{- daysCount }}" style="width: calc((100% / {{- days.length }}) * {{- daysCount }})" {{ if (addRel) { }}original-title="Нажмите, чтобы добавить фильм в репертуар"{{ } }}>
			{{ _.each(week, function(day) { }}
				{{ if (key) { var key_valid = day.date.isBetween(valid_since, valid_till, 1); } }}
				{{ if (key_valid && (valid_since.is(day.date))) { var key_class = 'key_first' } else { var key_class = 'key' } }}

				{{ var matchWeek = _.filter(weeks, function(oneWeek){ return oneWeek.number == day.number_of_week; }) }}

				{{ if (matchWeek.length != 0) { }} <!-- бежим по неделям из модели -->
					{{ var matchWeekDays = _.filter(matchWeek, function(oneWeek) { }}
						{{ return oneWeek.days; }}
					{{ }); }}

					{{ var ourDayOfWeek = day.day_of_week - 3; }}

					{{ if (ourDayOfWeek < 1) ourDayOfWeek = 7 - Math.abs(ourDayOfWeek); }}

					{{ if (matchWeekDays != 0 && matchWeekDays[0].days.length != 0) { }}
						{{ var matchDay = _.filter(matchWeekDays[0].days, function(oneDay){ return oneDay == ourDayOfWeek }); }}

						{{ if (matchDay.length != 0) { }}
							<div class="cell {{- key_valid ? key_class : '' }} color {{- COLOR[color] }} {{- day.day_of_week == 6 || !day.day_of_week ? 'holiday' : '' }} {{- cinemaRight == 1 || cinemaRight == 2 ? 'not_show' : '' }}" style="width: calc(100% / {{- daysCount }})" data-day="{{- day.day_of_month }}" {{ if (weekData.count != 0 && _.indexOf(week, day) === 0) { }}original-title="{{- hint }}"{{ } }}>
								{{ if (matchWeekDays[0].days[0] == ourDayOfWeek || day.start) { }}
									{{ var seancesCount = weeks.find(function(e){ return e.number == day.number_of_week }).count }}
									{{ if (seancesCount > 0) { }}
										{{- seancesCount }}
									{{ } }}
								{{ } }}
							</div>
						{{ } else { }}
							<div class="cell {{- key_valid ? key_class : '' }} {{- day.day_of_week == 6 || !day.day_of_week ? 'holiday' : '' }}" style="width: calc(100% / {{- daysCount }})" data-day="{{- day.day_of_month }}"></div>
						{{ } }}
					{{ } else { }}
						{{ if (release.date && (moment(day.date).isSame(trueDateStart) || moment(day.date).isAfter(trueDateStart)) ) { }}
							{{ if (cinema) var cinemaRight = cinema.rights_id; }}
							<div class="cell {{- key_valid ? key_class : '' }} color {{- COLOR[color] }} {{- day.day_of_week == 6 || !day.day_of_week ? 'holiday' : '' }} {{- cinemaRight == 1 || cinemaRight == 2 ? 'not_show' : '' }}" style="width: calc(100% / {{- daysCount }})" data-day="{{- day.day_of_month }}" {{ if (weekData.count != 0 && _.indexOf(week, day) === 0) { }}original-title="{{- hint }}"{{ } }}>
								{{ if (moment(day.date).isSame(trueDateStart) || day.start) { }}
									{{ var seancesCount = weeks.find(function(e){ return e.number == day.number_of_week }).count }}
									{{ if (seancesCount > 0) { }}
										{{- seancesCount }}
									{{ } }}
								{{ } }}
							</div>
						{{ } else { }}
							{{ var releaseStartDate = moment(trueDateStart); }}

							{{ if (releaseStartDate.weeks() > day.number_of_week) { }}
								<div class="cell {{- key_valid ? key_class : '' }} color {{- COLOR[color] }} {{- day.day_of_week == 6 || !day.day_of_week ? 'holiday' : '' }} {{- cinemaRight == 1 || cinemaRight == 2 ? 'not_show' : '' }}" style="width: calc(100% / {{- daysCount }})" data-day="{{- day.day_of_month }}" {{ if (weekData.count != 0 && _.indexOf(week, day) === 0) { }}original-title="{{- hint }}"{{ } }}>
									{{ if (day.start) { }}
										{{ var seancesCount = weeks.find(function(e){ return e.number == day.number_of_week }).count }}
										{{ if (seancesCount > 0) { }}
											{{- seancesCount }}
										{{ } }}
									{{ } }}
								</div>
							{{ } else { }}
								<div class="cell {{- key_valid ? key_class : '' }} {{- day.day_of_week == 6 || !day.day_of_week ? 'holiday' : '' }}" style="width: calc(100% / {{- daysCount }})" data-day="{{- day.day_of_month }}"></div>
							{{ } }}
						{{ } }}
					{{ } }}
				{{ } else { }}
					<div class="cell {{- key_valid ? key_class : '' }} {{- day.day_of_week == 6 || !day.day_of_week ? 'holiday' : '' }}" style="width: calc(100% / {{- daysCount }})" data-day="{{- day.day_of_month }}"></div>
				{{ } }}
			{{ }); }}
		</div>
	{{ }); }}

	{{ if (release_id) { }}
		<div class="move_block {{- COLOR[color] }}"></div>
	{{ } }}

</div>