{{ _.each(distributors, function(distributor) { }}
	<div class="item" data-id="{{- distributor.id }}">
		<span class="long">{{- distributor.name.full }}
			{{ if (distributor.count_releases) { }}
				<span class="releases_number">{{- distributor.count_releases }}</span>
			{{ } }}
		</span>
		<span class="short">{{- distributor.name.short }}</span>
	</div>
{{ }) }}