<div class="popupWrap">
	<div class="popupWrap__top">
		<h3>Репертуар кинотеатров</h3>
		<i class="close"></i>
		<div class="closeWrap">
			<i class="arcticmodal-close"></i>
			<i class="arcticmodal-close arcticmodal-close_hover"></i>
			<i class="arcticmodal-close arcticmodal-close_active"></i>
		</div>
	</div>
	<div class="popupWrap__content">
		<form action="" method="post" class="fave popupWrap__content__fave">
			<div class="popupWrap__content__fave__wrap">
				<div class="popupWrap__content__fave__all">
					<label><input type="checkbox" class="popupWrap__content__fave__all__check">Выбрать все</label>
				</div>

				{{ if (widthGroups) { }}
					{{ _.each(cinemas, function(group) { }}
						<div class="popupWrap__content__group">
							<span class="popupWrap__content__group__title"><input type="checkbox" class="popupWrap__content__fave__group__check">{{- group.title }}</span>
							{{ _.each(group.cinemas, function(cinema) { }}
								<label class="popupWrap__content__fave__label {{- _.contains([1,2],cinema.rights_id) ? 'readonly' : '' }}" data-release-id="{{- cinema.id }}" data-cinema-info="{{- cinema.title }}, {{- cinema.city }}">
									<input type="checkbox" class="popupWrap__content__fave__check" {{- _.contains([1,2],cinema.rights_id) ? 'readonly' : '' }} {{- _.contains(my, cinema.id) ? 'checked' : '' }} name="{{- cinema.id || 0 }}" id="{{- cinema.id || 0 }}">{{- cinema.title }}. <span class="popupWrap__content__fave__wrap__city">{{- cinema.city }}</span>
								</label>
							{{ }); }}
						</div>
					{{ }); }}
				{{ } else { }}
					{{ _.each(cinemas, function(cinema) { }}
						<label class="popupWrap__content__fave__label {{- _.contains([1,2],cinema.rights_id) ? 'readonly' : '' }}" data-release-id="{{- cinema.id }}" data-cinema-info="{{- cinema.title.ru }}, {{- cinema.city.title.ru }}">
							<input type="checkbox" class="popupWrap__content__fave__check" {{- _.contains([1,2],cinema.rights_id) ? 'readonly' : '' }} {{- _.contains(my, cinema.id) ? 'checked' : '' }} name="{{- cinema.id || 0 }}" id="{{- cinema.id || 0 }}">{{- cinema.title.ru }}. <span class="popupWrap__content__fave__wrap__city">{{- cinema.city.title.ru }}</span>
						</label>
					{{ }); }}
				{{ } }}
			</div>
			<div class="popupWrap__bottom">
				<input type="submit" value="Сохранить" class="popupWrap__button">
			</div>
		</form>
	</div>
</div>


