<div class="release-edit-top">
	<span class="release-edit-top__title">Новый релиз</span>
	<div class="closeWrap">
			<i class="arcticmodal-close"></i>
			<i class="arcticmodal-close arcticmodal-close_hover"></i>
			<i class="arcticmodal-close arcticmodal-close_active"></i>
	</div>
</div>

<form class="release-edit-form">
	<div class="release-edit-form__wrapper">
		<div class="release-edit-form_group" required>
			<div class="release-edit-form_group__label">
				<label>Название (ru)</label>
			</div>
			<input name="title_ru" class="release-edit-form_group__input" type="text" maxlength="100" autofocus>
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Название (en)</label>
			</div>
			<input name="title_en" class="release-edit-form_group__input" type="text" maxlength="100">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator" required>
			<div class="release-edit-form_group__label">
				<label>Возраст</label>
			</div>
			<div class="release-edit-form_group-dropdown">
				<div class="release-edit-form_group-dropdown-toggle">
					<span class="release-edit-form_group-dropdown-toggle__chosen-value">{{- age}}+</span>
					<i class="fa fa-chevron-down"></i>
				</div>
				<ul class="release-edit-form_group-dropdown-list">
					{{ _.each(ages, function(ageItem) { }}
						<li class="release-edit-form_group-dropdown-list__item {{- (ageItem === age) ? 'selected' : ''}}" data-age="{{- ageItem}}">{{- ageItem}}+</li>
					{{ }) }}
				</ul>
			</div>
		</div>
		<div class="release-edit-form_group date" required>
			<div class="release-edit-form_group__label">
				<label>Дата релиза</label>
			</div>
			<input name="startDate" class="release-edit-form_group__input" type="text" maxlength="100">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator date">
			<div class="release-edit-form_group__label">
				<label>Мир</label>
			</div>
			<input name="startWorldDate" class="release-edit-form_group__input" type="text" maxlength="100">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator" required>
			<div class="release-edit-form_group__label">
				Форматы
			</div>
				<label class="release-edit-form_group__input-checkbox"><input type="checkbox" name="formats" value="2D"> 2D</label>
				<label class="release-edit-form_group__input-checkbox"><input type="checkbox" name="formats" value="3D"> 3D</label>
				<label class="release-edit-form_group__input-checkbox"><input type="checkbox" name="formats" value="35mm"> 35mm</label>
				<label class="release-edit-form_group__input-checkbox"><input type="checkbox" name="formats" value="IMAX"> IMAX</label>
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Жанр</label>
			</div>
			<input name="genres" class="release-edit-form_group__input" type="text" maxlength="100">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Копий</label>
			</div>
			<input name="copies" class="release-edit-form_group__input" type="text" maxlength="100">
		</div>
		<div class="release-edit-form_group" required>
			<div class="release-edit-form_group__label">
				<label>Длительность</label>
			</div>
			<input name="durationClean" class="release-edit-form_group__input" type="text" maxlength="100">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>С роликами</label>
			</div>
			<input name="durationFull" class="release-edit-form_group__input" type="text" maxlength="100">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Сюжет</label>
			</div>
			<textarea name="description" cols="30" rows="10" class="release-edit-form_group__textarea"></textarea>
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Актеры</label>
			</div>
			<textarea name="cast" cols="30" rows="10" class="release-edit-form_group__textarea"></textarea>
		</div>
		<div class="release-edit-form_group">
			<div class="release-edit-form_group__label">
				<label>№ ПУ</label>
			</div>
			<input name="passport" class="release-edit-form_group__input" type="text" maxlength="100">
		</div>
		<div class="release-edit-form_group date">
			<div class="release-edit-form_group__label">
				<label>Дата выдачи ПУ</label>
			</div>
			<input name="passportValidFrom" class="release-edit-form_group__input" type="text" maxlength="100">
		</div>
	</div>
</form>

<div class="popupWrap__bottom">
	<button class="btn btn-default">Добавить</button>
</div>
