<div class="calendar">
	<div class="calendar__view">
		<div class="calendar__view__month {{- dayWeek === 'Чт' ? 'thursday' : '' }}">{{- month }}</div>
		<div class="calendar__view__number">{{- dayMonth }}</div>
	</div>
	<span class="calendar__day">{{- dayWeek }}</span>
</div>
<div class="info">
	<div class="releases_head">
		<div class="releases_cell star_head"></div>
		<span class="releases_cell release_name">Название</span>
		<span class="releases_cell release_name">Оригинальное название</span>
		<span class="releases_cell dist">Дистрибьютор</span>
		<span class="releases_cell time">Хроно</span>
		<span class="releases_cell copies">Копии</span>
		<span class="releases_cell age">Возраст</span>
		<span class="releases_cell formats">Формат</span>
		<span class="releases_cell trailers">Трейлеры</span>
	</div>
	<div class="releases_body"></div>
</div>