<div class="filter">
	<div class="filt_select">

		{{ if (!_.contains(['distributor','guest','partner'], userType)) { }}
			<i class="myfav_btn" style="display: inline-block" title="Фильмы в моем репертуаре"></i>
		{{ } }}

		<select id="filt_dist">
			<option value="date">Все дистрибьюторы</option>
			{{ _.each(distributors, function(distributor) { }}
				<option value="{{- distributor.id }}">{{- distributor.name.full || distributor.name.short || '' }} {{- distributor.count ? '(' + distributor.count + ')' : '' }}</option>
			{{ }) }}
		</select>
		<select id="filt_format">
			<option value="date">Все форматы</option>
			<option value="35mm">35mm</option>
			<option value="2D">2D</option>
			<option value="3D">3D</option>
			<option value="3dhfr">3D HFR</option>
			<option value="IMAX">IMAX</option>
			<option disabled>---</option>
			<option value="ATMOS">ATMOS</option>
			<option value="AURO">AURO</option>
			<option disabled>---</option>
			<option value="4DX">4DX</option>
			<option value="DBOX">DBOX</option>
		</select>
	</div>
	<div class="release_alt">
		<input type="checkbox" name="" id="alter_input" class="alter_input">
		<label for="alter_input" class="alter_title" title="Пьесы, оперы, концерты и прочее">Альтернативный контент</label>
	</div>
	{{ if (isMaster) { }}
		<a class="btn btn-default btn-new-release" href="#">Новый релиз</a>
	{{ } }}
</div>
<div class="fon_filter"></div>