<span class="release-reports-week__title">{{- dateRange }}</span>
<div class="release-reports-week-header">
	<span class="release-reports-week-header__text">Дата</span>
	<span class="release-reports-week-header__text">Сеансов</span>
	<span class="release-reports-week-header__text">Зрителей</span>
	<span class="release-reports-week-header__text">Сборы (руб.)</span>
</div>