{{ if (unf_passport || memorandum || license || files.length) { }}
	<div class="files-links">

		{{ if (unf_passport) { }}
			<div class="files-item">
				<a href="{{- unf_passport }}" file_id="unf_passport" class="files-links__link" target="blank" download>УНФ</a>
			</div>
		{{ } }}

		{{ if (memorandum) { }}
			<div class="files-item">
				<a href="{{- memorandum }}" file_id="memorandum" class="files-links__link" target="blank" download>Меморандум</a>
			</div>
		{{ } }}

		{{ if (license) { }}
			<div class="files-item">
				<a href="{{- license }}" file_id="license" class="files-links__link" target="blank" download>Прокатное удостоверение</a>
			</div>
		{{ } }}

		{{ if (files.length) { }}
			{{ _.each(files, function(file) { }}
				<div class="files-item">
					<a href="{{- file.path }}" data-file-id="{{- file.id }}" class="files-links__link" target="blank" {{- file.is_target ? '' : 'download' }} >{{- file.title }}</a>
				</div>
			{{ }) }}
		{{ } }}
	</div>
{{ } }}

{{ if (screenshots.length) { }}
	<div class="files-screenshots">
		<h3 class="files-screenshots__title">Кадры из фильма</h3>
		{{ _.each(screenshots, function(screenshot) { }}
			<a href="{{- screenshot.path }}" class="files-screenshots__link" target="blank" download>
				<img src="{{- screenshot.thumb }}" width="200px" height="85px" alt="{{- screenshot.path }}">
				<i class="files-screenshots__link__download fa fa-cloud-download"></i>
			</a>
		{{ }) }}
	</div>
{{ } }}