<div class="release-edit-top">
	<span class="release-edit-top__title">Редактирование релиза</span>
	<div class="closeWrap">
			<i class="arcticmodal-close"></i>
			<i class="arcticmodal-close arcticmodal-close_hover"></i>
			<i class="arcticmodal-close arcticmodal-close_active"></i>
	</div>
</div>
<form class="release-edit-form">
	<div class="release-edit-form__wrapper">
		<div class="release-edit-form_group">
			<div class="release-edit-form_group__label">
				<label>Название (ru)</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="title" maxlength="100" value="{{- title.ru }}" autofocus>
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Название (en)</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="title_en" maxlength="100" value="{{- title.en }}">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Возраст</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="age" maxlength="100" value="{{- age }}">
		</div>
		<div class="release-edit-form_group date" required>
			<div class="release-edit-form_group__label">
				<label>Дата релиза</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="startDate" maxlength="100" value="{{- (new Date(date.russia.start).getTime()) ? Date.create(moment(date.russia.start).format()).format('{dd} {Mon} {yyyy}') : '' }}">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator date">
			<div class="release-edit-form_group__label">
				<label>Мир</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="startWorldDate" maxlength="100" value="{{- (new Date(date.world.start).getTime()) ? Date.create(moment(date.world.start).format()).format('{dd} {Mon} {yyyy}') : '' }}">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Жанр</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="genre" maxlength="100" value="{{- genres.join(', ') }}">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Копий</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="copies" maxlength="100" value="{{- copies }}">
		</div>
		<div class="release-edit-form_group">
			<div class="release-edit-form_group__label">
				<label>Длительность</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="duration" maxlength="100" value="{{- duration.clean }}">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>С роликами</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="duration_w_trailer" maxlength="100" value="{{- duration.full }}">
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Сюжет</label>
			</div>
			<textarea name="info" cols="30" rows="10" class="release-edit-form_group__textarea">{{- description }}</textarea>
		</div>
		<div class="release-edit-form_group release-edit-form_group--separator">
			<div class="release-edit-form_group__label">
				<label>Актеры</label>
			</div>
			<textarea name="incast" cols="30" rows="10" class="release-edit-form_group__textarea">{{- cast.join(',\n') }}</textarea>
		</div>
		<div class="release-edit-form_group">
			<div class="release-edit-form_group__label">
				<label>№ ПУ</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="passport" maxlength="100" value="{{- passport }}">
		</div>
		<div class="release-edit-form_group date">
			<div class="release-edit-form_group__label">
				<label>Дата выдачи ПУ</label>
			</div>
			<input class="release-edit-form_group__input" type="text" name="passportBeginDate" maxlength="100" value="{{- (new Date(passport_valid.from).getTime()) ? Date.create(moment(passport_valid.from).format()).format('{dd} {Mon} {yyyy}') : '' }}">
		</div>
	</div>
</form>
<div class="popupWrap__bottom">
	<input class="release-edit__input-confirm" type="text" name="code" maxlength="6" placeholder="СМС код">
	<input id="confirm-edit-release" class="popupWrap__button" type="submit" value="Получить СМС код">
	<span class="release-edit__loader"><i class="fa fa-spinner"></i></span>
	<span class="release-edit__error">Код не верный!</span>
	<button class="popupWrap__button pull-right hidden">Редактировать</button>
</div>
