<input type="text" class="release-reports-day__input release-reports-day__date" {{- dateParam }} value="{{- date }}" data-field="date">
<input type="text" class="release-reports-day__input release-reports-day__seances" value="{{- seances }}" data-field="seances" {{- saved ? 'disabled' : '' }}>
<input type="text" class="release-reports-day__input release-reports-day__viewers" value="{{- viewers }}" data-field="viewers" {{- saved ? 'disabled' : '' }}>
<input type="text" class="release-reports-day__input release-reports-day__box-office" value="{{- box_office }}" data-field="box_office" {{- saved ? 'disabled' : '' }}>
{{ if (saved) { }}
	<i class="fa fa-pencil release-reports-day__change" title="Изменить"></i>
{{ } else { }}
	<i class="fa fa-check release-reports-day__save" title="Сохранить"></i>
{{ } }}