{{ var curDate = Date.create(); }}
{{ var groupCinema = _.groupBy(kdm, function(key) { }}
	{{ return key.hall.cinema.title.ru; }}
{{ }); }}

<div class="kdm_table">
	<div class="head">
		<span class="item item_hall_name" title="Название кинотеатра и зал">Название кинотеатра и зал</span>
		<span class="item item_since_until" title="Срок действия">Срок действия</span>
		<span class="item item_format" title="Формат">Формат</span>
		{{ if (currentUser.admin || currentUser.access_content) { }}
			<span class="item item_kdm_name" title="Название файла">Название файла</span>
		{{ } else { }}
			<span class="item item_kdm_name" title="Название файла" style="width: calc(70% - 345px);">Название файла</span>
		{{ } }}
		{{ if (currentUser.admin || currentUser.access_content) { }}
			<span class="item item_play_server">Play server</span>
		{{ } }}
		<span class="item item_download" title="Скачать">Скачать</span>
	</div>
	<div class="body">
		{{ _.each(groupCinema, function(oneCinema) { }}
			{{ var groupHall = _.groupBy(oneCinema, function(key) { }}
				{{ return key.hall.title }}
			{{ }); }}

			{{ _.each(groupHall, function(kdm) { }}
				{{ for (var key in kdm) { }}
					{{ var validTill = Date.create(kdm[key].valid_till_time*1000); }}
					{{ if (validTill >= curDate) { }}
						{{ var format = '-' }}
						{{ if (kdm[key].dcp) { }}
							{{ if (kdm[key].dcp.format) { }}
								{{ format = kdm[key].dcp.format }}
							{{ } }}
						{{ } }}
						<div class="kdm_table_item ">
							<span class="item item_hall_name" title="{{- kdm[key].hall.cinema.title.ru }}, {{- kdm[key].hall.cinema.city.ru }}, Зал: {{- kdm[key].hall.title }}">{{- kdm[key].hall.cinema.title.ru }}, {{- kdm[key].hall.cinema.city.ru }}, Зал: {{- kdm[key].hall.title }}</span>
							<span class="item item_since_until" title="{{- Date.create(kdm[key].valid_since).format('{dd}.{MM}.{yyyy}, {HH}:{mm}') }} - {{- Date.create(kdm[key].valid_till).format('{dd}.{MM}.{yyyy}, {HH}:{mm}') }}">{{- Date.create(kdm[key].valid_since).format('{dd}.{MM}.{yyyy}, {HH}:{mm}') }} - {{- Date.create(kdm[key].valid_till).format('{dd}.{MM}.{yyyy}, {HH}:{mm}') }}</span>
							<span class="item item_format" title="{{- format }}">{{- format }}</span>
							{{ if (currentUser.admin || currentUser.access_content) { }}
								<span class="item item_kdm_name" title="{{- kdm[key].title }}">{{- kdm[key].title }}</span>
							{{ } else { }}
								<span class="item item_kdm_name" title="{{- kdm[key].title }}" style="width: calc(70% - 345px);">{{- kdm[key].title }}</span>
							{{ } }}
							{{ if (currentUser.admin || currentUser.access_content) { }}
							<span class="item item_play_server">
								{{ if (kdm[key].play_server) { }}
									Загружен
								{{ } else { }}
								{{ } }}
							</span>
							{{ } }}
							<span class="item item_download" title="Скачать ключ">
								{{ if (kdm[key].path) { }}
									<a class="url" onclick="_gaq.push(['_trackEvent', 'Ключи', 'Скачали ключ']);" download href="{{- kdm[key].path }}"></a>
								{{ } }}
							</span>
						</div>
					{{ } }}
				{{ } }}
			{{ }); }}
		{{ }); }}
	</div>
</div>