<div class="trailers_list">
	{{ _.each(trailers, function(trailer) { }}
		{{ _.contains(trailer.formats, 'IMAX') ? trailer.noImax = 0 : trailer.noImax = 1; }}
	{{ }); }}

	{{ for (var i in version) { }}

		{{ if (version[i][0].version) { }}
			{{ if (isFinite(version[i][0].version) == true) { }}
				{{ var versionName = version[i][0].version; }}
				{{ var noImax = 1; }}
			{{ } else { }}
				{{ var versionName = version[i][0].version.toLowerCase(); }}
				{{ if (versionName.indexOf('imax') + 1) { }}
					{{ var noImax = 0; }}
				{{ } else { }}
					{{ var noImax = 1; }}
				{{ } }}
			{{ } }}
		{{ } }}

		{{ if (version[i][0].hidden != 1) { }}
			{{ var trailersDates =  _.pluck(_.filter(version[i], function(trailer) { return trailer.release_date; }), 'release_date') }}

			{{ if (version[i][0].show_preview != 0 && noImax == 1) { }}
				<div class="trailer_item">
					<h4 class="title">Трейлер {{- version[i][0].version }}</h4>
					{{ if(trailersDates.length) { }}
						<div class="release_added" title="Дата публикации трейлера на сайте">{{- Date.create(trailersDates.max()*1000).format('{dd}.{MM}.{yyyy} {HH}:{mm}') }}</div>
					{{ } }}
					<div class="download">
						{{ for (j in version[i]) { }}
							<div class="item-wrapper">
								<div class="item">
									<div class="item-trailer">
										{{ if(version[i][j].noImax) { }}
											<a href="{{- version[i][j].preview }}" class="image js_trailer" target="_blank" data-id="{{- version[i][j].id }}">
												<img src="{{- version[i][j].thumbHD || version[i][j].thumb || '/img/trailer.jpg' }}" alt="" class="pic">
											</a>
										{{ } else { }}
											<div class="image no_trailer">
												<i class="image__poster"></i>
											</div>
										{{ } }}
										<div class="video_popup">
											<div class="video_popup__wrap">
												<video poster="{{- version[i][j].thumbHD || version[i][j].thumb || '/img/trailer.jpg' }}" width="700" height="100%" controls preload="none" class="video_popup__item">
													<source src="{{- version[i][j].preview }}">
												</video>
											</div>
										</div>
									</div>
									<div class="info-wrapper">
										<div class="info">
											{{ if (version[i][j].formats) { }}
												<span class="type">{{- version[i][j].formats.join(', ') }}</span>
											{{ } }}
											{{ if (version[i][j].aspect && version[i][j].formats) { }}
												<span class="separator">|</span>
											{{ } }}
											{{ if (version[i][j].aspect) { }}
												<span class="format">{{- version[i][j].aspect }}</span>
											{{ } }}
										</div>
										{{ var hour =  Math.floor(version[i][j].duration / 60); }}
										{{ var min =  version[i][j].duration - (Math.floor(version[i][j].duration/60)*60); }}
										<span class="duration">{{- hour }} мин. {{- min }} сек.</span>
										{{ if(version[i][j].type.length) { }}
											<div class="links">
												Скачать:
												{{ for (var type in version[i][j].type) { }}
													<div class="links_item">
														<a href="/download?id={{- version[i][j].id + '&type=' }}{{- version[i][j].type[type] + '&user_id=' + currentUser.user_id }}" class="link" onClick="_gaq.push(['_trackEvent', 'Трейлеры', 'Скачали DCP']);">
															{{ if (version[i][j].type[type].toUpperCase() === 'HD') { }}
																HD1080
															{{ } else { }}
																{{- version[i][j].type[type].toUpperCase() }}
															{{ } }}
														</a>
													</div>
												{{ } }}
											</div>
										{{ } }}

										{{ if (version[i][j].dcp && version[i][j].dcp.path.length) { }}
											{{ var dcp = version[i][j].dcp.path.split('/').pop() }}
											{{ if (	(currentUser.type === 'cinema' && (currentCinema.master || currentCinema.rights_id || (currentUser.approved && currentUser.access_dd4_serv))) || (currentUser.type === 'mechanic' && currentUser.approved)) { }}
												{{ if( _.find(currentUser.cinema, function(cinema){ return Boolean(cinema.dd24_pro) }) ) { }}
													{{ if(currentUser.cinema.length === 1) { }}
														<div class="links">
															<div class="links_item">
																{{ if(version[i][j].download_status[currentUser.cinema[0].id] === 'ready') { }}
																	<span class="download-trailer__status">Загружен на сервер {{- currentUser.cinema[0].title.ru }}, {{- currentUser.cinema[0].city.title.ru }}</span>
																{{ } else if(version[i][j].download_status[currentUser.cinema[0].id] && version[i][j].download_status[currentUser.cinema[0].id] !== 'deleted') { }}
																	<span class="download-trailer__status">Загружется на сервер {{- currentUser.cinema[0].title.ru }}, {{- currentUser.cinema[0].city.title.ru }}</span>
																{{ } else { }}
																	<span class="link download2dcp" data-trailer-id="{{- version[i][j].id }}">Загрузить на сервер DCP24</span>
																{{ } }}
															</div>
														</div>
													{{ } else { }}
														<div class="links">
															<div class="links_item">
																<span class="link download2dcp" data-trailer-id="{{- version[i][j].id }}">Загрузить на сервер DCP24 </span>
																{{ var readyCount = 0; var downloadingCount = 0; var inCinema; }}
																{{ for (var c in currentUser.cinema) { }}
																	{{ if (version[i][j].download_status[currentUser.cinema[c].id] === 'ready') { }}
																		{{ readyCount++; inCinema = currentUser.cinema[c]; }}
																	{{ } }}
																	{{ if ( version[i][j].download_status[currentUser.cinema[c].id] && version[i][j].download_status[currentUser.cinema[c].id] !== 'deleted') { }}
																		{{ downloadingCount++; inCinema = currentUser.cinema[c]; }}
																	{{ } }}
																{{ } }}

																{{ if(downloadingCount > 1) { }}
																	<span class="download-trailer__status">Загружается в несколько кинотеатров</span>
																{{ } else if(downloadingCount) { }}
																	<span class="download-trailer__status">Загружется на сервер {{- inCinema.title.ru }}, {{- inCinema.city.title.ru }}</span>
																{{ } else if(readyCount === 1) { }}
																	<span class="download-trailer__status">Загружен на сервер {{- inCinema.title.ru }}, {{- inCinema.city.title.ru }}</span>
																{{ } }}
															</div>
														</div>
														<form class="download-trailer" style="display:none" data-trailer-id="{{- version[i][j].id }}">
															<label class="download-trailer__label"><input type="checkbox" class="download-trailer__checkbox download-trailer__check-all">  Выбрать все</label>
															{{ for (var c in currentUser.cinema) { }}
																{{ if(currentUser.cinema[c].dd24_pro) { }}
																	<label class="download-trailer__label">
																		<input class="download-trailer__checkbox" type="checkbox" name="{{- currentUser.cinema[c].dd24_pro }}" {{- version[i][j].download_status[currentUser.cinema[c].id] && version[i][		j].	download_status[currentUser.cinema[0].id] !== 'deleted' ? 'checked disabled' : '' }}>  {{- currentUser.cinema[c].title.ru }}
																		<span class="download-trailer__city" >{{- currentUser.cinema[c].city.title.ru }}</span>
																	</label>
																{{ } }}
															{{ } }}
															<input type="submit" value="Загрузить" class="download-trailer__submit popupWrap__button">
														</form>
													{{ } }}
												{{ } }}
											{{ } }}

											<span class="dcp">{{- dcp }}</span>
											{{ if (version[i][j].dcp && version[i][j].dcp.path.length) { }}
												<span class="md">md5: [{{- version[i][j].dcp.md5 }}]</span>
											{{ } }}
										{{ } }}
									</div>
								</div>
							</div>
						{{ } }}
					</div>
				</div>

			{{ } else if (version[i][0].show_preview == 0 && noImax == 1) { }}
				<div class="trailer_item">
					<h4 class="title">Трейлер {{- version[i][0].version }}</h4>
					{{ if(trailersDates.length) { }}
						<div class="release_added" title="Дата публикации трейлера на сайте">{{- Date.create(trailersDates.max()*1000).format('{dd}.{MM}.{yyyy} {HH}:{mm}') }}</div>
					{{ } }}
					<div class="download">
						{{ for (j in version[i]) { }}
							<div class="item-wrapper">
								<div class="item">
									<div class="item-trailer">
										<div class="image no_trailer">
											<i class="image__poster"></i>
											<span class="no_trailer__text">По требованию дистрибьютора<br>данный трейлер мы можем предоставить вам<br>только в формате DCP.<br>Приносим свои извинения.</span>
										</div>
									</div>
									<div class="info-wrapper">
										<div class="info">
											{{ if (version[i][j].formats) { }}
												<span class="type">{{- version[i][j].formats.join(', ') }}</span>
											{{ } }}
											{{ if (version[i][j].aspect && version[i][j].formats) { }}
												<span class="separator">|</span>
											{{ } }}
											{{ if (version[i][j].aspect) { }}
												<span class="format">{{- version[i][j].aspect }}</span>
											{{ } }}
										</div>
										{{ var hour =  Math.floor(version[i][j].duration / 60); }}
										{{ var min =  version[i][j].duration - (Math.floor(version[i][j].duration/60)*60); }}
										<span class="duration">{{- hour }} мин. {{- min }} сек.</span>
										{{ if(version[i][j].dcp) { }}
											<div class="links">
												Скачать:
												<div class="links_item">
													<a href="/download?id={{- version[i][j].id + '&type=dcp' + '&user_id=' + currentUser.user_id }}" class="link" onClick="_gaq.push(['_trackEvent', 'Трейлеры', 'Скачали DCP']);">DCP</a>
												</div>
											</div>
										{{ } }}
										{{ if (version[i][j].dcp && version[i][j].dcp.path.length) { }}
											{{ var dcp = version[i][j].dcp.path.split('/').pop() }}
											{{ if (	(currentUser.type === 'cinema' && (currentCinema.master || currentCinema.rights_id || (currentUser.approved && currentUser.access_dd4_serv))) || (currentUser.type === 'mechanic' && currentUser.approved)) { }}
												{{ if( _.find(currentUser.cinema, function(cinema){ return Boolean(cinema.dd24_pro) }) ) { }}
													{{ if(currentUser.cinema.length === 1) { }}
														<div class="links">
															<div class="links_item">
																{{ if(version[i][j].download_status[currentUser.cinema[0].id] === 'ready') { }}
																	<span class="download-trailer__status">Загружен на сервер {{- currentUser.cinema[0].title.ru }}, {{- currentUser.cinema[0].city.title.ru }}</span>
																{{ } else if(version[i][j].download_status[currentUser.cinema[0].id] && version[i][j].download_status[currentUser.cinema[0].id] !== 'deleted') { }}
																	<span class="download-trailer__status">Загружется на сервер {{- currentUser.cinema[0].title.ru }}, {{- currentUser.cinema[0].city.title.ru }}</span>
																{{ } else { }}
																	<span class="link download2dcp" data-trailer-id="{{- version[i][j].id }}">Загрузить на сервер DCP24</span>
																{{ } }}
															</div>
														</div>
													{{ } else { }}
														<div class="links">
															<div class="links_item">
																<span class="link download2dcp" data-trailer-id="{{- version[i][j].id }}">Загрузить на сервер DCP24 </span>
																{{ var readyCount = 0; var downloadingCount = 0; var inCinema; }}
																{{ for (var c in currentUser.cinema) { }}
																	{{ if (version[i][j].download_status[currentUser.cinema[c].id] === 'ready') { }}
																		{{ readyCount++; inCinema = currentUser.cinema[c]; }}
																	{{ } }}
																	{{ if ( version[i][j].download_status[currentUser.cinema[c].id] && version[i][j].download_status[currentUser.cinema[c].id] !== 'deleted') { }}
																		{{ downloadingCount++; inCinema = currentUser.cinema[c]; }}
																	{{ } }}
																{{ } }}

																{{ if(downloadingCount > 1) { }}
																	<span class="download-trailer__status">Загружается в несколько кинотеатров</span>
																{{ } else if(downloadingCount) { }}
																	<span class="download-trailer__status">Загружется на сервер {{- inCinema.title.ru }}, {{- inCinema.city.title.ru }}</span>
																{{ } else if(readyCount === 1) { }}
																	<span class="download-trailer__status">Загружен на сервер {{- inCinema.title.ru }}, {{- inCinema.city.title.ru }}</span>
																{{ } }}
															</div>
														</div>
														<form class="download-trailer" style="display:none" data-trailer-id="{{- version[i][j].id }}">
															<label class="download-trailer__label"><input type="checkbox" class="download-trailer__checkbox download-trailer__check-all">  Выбрать все</label>
															{{ for (var c in currentUser.cinema) { }}
																{{ if(currentUser.cinema[c].dd24_pro) { }}
																	<label class="download-trailer__label">
																		<input class="download-trailer__checkbox" type="checkbox" name="{{- currentUser.cinema[c].dd24_pro }}" {{- version[i][j].download_status[currentUser.cinema[c].id] && version[i][		j].	download_status[currentUser.cinema[0].id] !== 'deleted' ? 'checked disabled' : '' }}>  {{- currentUser.cinema[c].title.ru }}
																		<span class="download-trailer__city" >{{- currentUser.cinema[c].city.title.ru }}</span>
																	</label>
																{{ } }}
															{{ } }}
															<input type="submit" value="Загрузить" class="download-trailer__submit popupWrap__button">
														</form>
													{{ } }}
												{{ } }}
											{{ } }}

											<span class="dcp">{{- dcp }}</span>

											{{ if (version[i][j].dcp && version[i][j].dcp.path.length) { }}
												<span class="md">md5: [{{- version[i][j].dcp.md5 }}]</span>
											{{ } }}
										{{ } }}
									</div>
								</div>
							</div>
						{{ } }}
					</div>
				</div>

			{{ } else if (noImax == 0) { }}
				<div class="trailer_item">
					<h4 class="title">Трейлер {{- version[i][0].version }}</h4>
					{{ if(trailersDates.length) { }}
						<div class="release_added" title="Дата публикации трейлера на сайте">{{- Date.create(trailersDates.max()*1000).format('{dd}.{MM}.{yyyy} {HH}:{mm}') }}</div>
					{{ } }}
					<div class="download">
						{{ for (j in version[i]) { }}
							<div class="item-wrapper">
								<div class="item">
									<div class="item-trailer">
										<div class="image no_trailer">
											<i class="image__poster"></i>
										</div>
									</div>
									<div class="info-wrapper">
										<div class="info">
											{{ if (version[i][j].formats) { }}
												<span class="type">{{- version[i][j].formats.join(', ') }}</span>
											{{ } }}
											{{ if (version[i][j].aspect && version[i][j].formats) { }}
												<span class="separator">|</span>
											{{ } }}
											{{ if (version[i][j].aspect) { }}
												<span class="format">{{- version[i][j].aspect }}</span>
											{{ } }}
										</div>
										{{ var hour =  Math.floor(version[i][j].duration / 60); }}
										{{ var min =  version[i][j].duration - (Math.floor(version[i][j].duration/60)*60); }}
										<span class="duration">{{- hour }} мин. {{- min }} сек.</span>
										{{ if(version[i][j].dcp) { }}
											<div class="links">
												Скачать:
												<div class="links_item">
													<a href="/download?id={{- version[i][j].id + '&type=dcp' + '&user_id=' + currentUser.user_id }}" class="link" onClick="_gaq.push(['_trackEvent', 'Трейлеры', 'Скачали DCP']);">DCP</a>
												</div>
											</div>
										{{ } }}
										{{ if (version[i][j].dcp && version[i][j].dcp.path.length) { }}
											{{ var dcp = version[i][j].dcp.path.split('/').pop() }}
											{{ if (	(currentUser.type === 'cinema' && (currentCinema.master || currentCinema.rights_id || (currentUser.approved && currentUser.access_dd4_serv))) || (currentUser.type === 'mechanic' && currentUser.approved)) { }}
												{{ if( _.find(currentUser.cinema, function(cinema){ return Boolean(cinema.dd24_pro) }) ) { }}
													{{ if(currentUser.cinema.length === 1) { }}
														<div class="links">
															<div class="links_item">
																{{ if(version[i][j].download_status[currentUser.cinema[0].id] === 'ready') { }}
																	<span class="download-trailer__status">Загружен на сервер {{- currentUser.cinema[0].title.ru }}, {{- currentUser.cinema[0].city.title.ru }}</span>
																{{ } else if(version[i][j].download_status[currentUser.cinema[0].id] && version[i][j].download_status[currentUser.cinema[0].id] !== 'deleted') { }}
																	<span class="download-trailer__status">Загружется на сервер {{- currentUser.cinema[0].title.ru }}, {{- currentUser.cinema[0].city.title.ru }}</span>
																{{ } else { }}
																	<span class="link download2dcp" data-trailer-id="{{- version[i][j].id }}">Загрузить на сервер DCP24</span>
																{{ } }}
															</div>
														</div>
													{{ } else { }}
														<div class="links">
															<div class="links_item">
																<span class="link download2dcp" data-trailer-id="{{- version[i][j].id }}">Загрузить на сервер DCP24 </span>
																{{ var readyCount = 0; var downloadingCount = 0; var inCinema; }}
																{{ for (var c in currentUser.cinema) { }}
																	{{ if (version[i][j].download_status[currentUser.cinema[c].id] === 'ready') { }}
																		{{ readyCount++; inCinema = currentUser.cinema[c]; }}
																	{{ } }}
																	{{ if ( version[i][j].download_status[currentUser.cinema[c].id] && version[i][j].download_status[currentUser.cinema[c].id] !== 'deleted') { }}
																		{{ downloadingCount++; inCinema = currentUser.cinema[c]; }}
																	{{ } }}
																{{ } }}

																{{ if(downloadingCount > 1) { }}
																	<span class="download-trailer__status">Загружается в несколько кинотеатров</span>
																{{ } else if(downloadingCount) { }}
																	<span class="download-trailer__status">Загружется на сервер {{- inCinema.title.ru }}, {{- inCinema.city.title.ru }}</span>
																{{ } else if(readyCount === 1) { }}
																	<span class="download-trailer__status">Загружен на сервер {{- inCinema.title.ru }}, {{- inCinema.city.title.ru }}</span>
																{{ } }}
															</div>
														</div>
														<form class="download-trailer" style="display:none" data-trailer-id="{{- version[i][j].id }}">
															<label class="download-trailer__label"><input type="checkbox" class="download-trailer__checkbox download-trailer__check-all">  Выбрать все</label>
															{{ for (var c in currentUser.cinema) { }}
																{{ if(currentUser.cinema[c].dd24_pro) { }}
																	<label class="download-trailer__label">
																		<input class="download-trailer__checkbox" type="checkbox" name="{{- currentUser.cinema[c].dd24_pro }}" {{- version[i][j].download_status[currentUser.cinema[c].id] && version[i][j].download_status[currentUser.cinema[0].id] !== 'deleted' ? 'checked disabled' : '' }}>  {{- currentUser.cinema[c].title.ru }}
																		<span class="download-trailer__city" >{{- currentUser.cinema[c].city.title.ru }}</span>
																	</label>
																{{ } }}
															{{ } }}
															<input type="submit" value="Загрузить" class="download-trailer__submit popupWrap__button">
														</form>
													{{ } }}
												{{ } }}
											{{ } }}

											<span class="dcp">{{- dcp }}</span>

											{{ if (version[i][j].dcp && version[i][j].dcp.path.length) { }}
												<span class="md">md5: [{{- version[i][j].dcp.md5 }}]</span>
											{{ } }}

										{{ } }}
									</div>
								</div>
							</div>
						{{ } }}
					</div>
				</div>
			{{ } }}

		{{ } }}
	{{ } }}
</div>