{{ if (seances.length){ }}
	{{ var releases = seances[0].releases; }}
	{{ _.each(releases, function(rel, index){ }}
		{{ var relDuration 		= rel.duration; }}
		{{ var relUpgrades 		= (rel.upgrades.length > 0) ? rel.upgrades.join(', ').toUpperCase() : ''; }}
		{{ var relStart 	 	= (index === 0) ? defaultStart : ''; }}
		{{ var showingFormats 	= (rel.formats.toUpperCase() === '2D' && relUpgrades === '') ? '' : rel.formats.toUpperCase()+' '+relUpgrades; }}

		<div class="film_item_timeline" identifier="{{- rel.id }}{{- rel.formats.toUpperCase() }}{{- relUpgrades }}" release_id="{{- rel.id }}" formats="{{- rel.formats.toUpperCase() }}" upgrades="{{- relUpgrades }}" ad="{{- defaultAd }}" pause="{{- defaultPause }}" duration="{{- rel.duration }}" start="{{- relStart }}">
			<div class="film_start_marker"></div>
			<span class="film_title_timeline" release_title="{{- rel.title }}" title="{{- rel.title }}">{{- rel.title }}</span>
			<span class="film_format_timeline" title="{{- showingFormats }}">{{- showingFormats }}</span>
			<div class="film_time_wrap" title="">
				<span class="film_start_timeline">{{- relStart }}</span>
				<span class="film_end_timeline"></span>
			</div>
			<i class="remove"></i>
		</div>
	{{ }); }}
{{ } }}
<div class="half_films_timeline"></div>