<div class="header_timeline">
	<div class="halls_timeline">
		{{ hallsWeek.each(function(hallWeek){ }}
			<div class="hall_timeline" hall_title="{{- hallWeek.get('title') }}" hall_number="{{- hallWeek.get('number') }}" cinema_id="{{- hallWeek.get('cinema_id') }}" hall_id="{{- hallWeek.get('id') }}">
				{{ if (hallWeek.get('title').length <= 2) { }}
					<span class="hall_number_timeline" title="Зал {{- hallWeek.get('title') }}">Зал {{- hallWeek.get('title') }}</span>
				{{ } else { }}
					<span class="hall_number_timeline" title="Зал {{- hallWeek.get('title') }}">{{- hallWeek.get('title') }}</span>
				{{ } }}
				<span class="hall_places_timeline">{{- hallWeek.get('capasity') }} мест</span>
				<i class="fa fa-wrench repair_changed_films" title="Выставить релизам актуальную длительность" hall_number="{{- hallWeek.get('number') }}"></i>
			</div>
		{{ }); }}
	</div>

	<span class="week_switch"><img width="10" height="15" alt="" src="/img/pixel.gif">&nbspНазад</span>

	<span class="chosen_day_timeline">
		<span>
			<i class="prev_day_ico"></i>
		</span>
		{{- days_week[chosen_day].day_of_month }}&nbsp{{- days_week[chosen_day].month }}, {{- Date.create(days_week[chosen_day].date).format('{Weekday}') }}
		<span>
			<i class="next_day_ico"></i>
		</span>
		<i class="fa fa-lock unlock_day" title="Редактировать только один день"></i>
	</span>
	<div class="off_ads">
		<input id="off_ads" type="checkbox">
		<label for="off_ads">Скрыть рекламные блоки</label>
	</div>

</div>

<div class="left_added_block">
	<div class="added_time_wrap">
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">07:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">06:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">05:00</span>
		</div>
	</div>
	<div class="added_time_space"></div>
	{{ hallsWeek.each(function(hallWeek){ }}
		<div class="added_films_timeline">
			<div class="added_half_films_timeline"></div>
		</div>
	{{ }); }}
</div>

<div class="day_timeline_wr" id='day_timeline_wr'>
	<div class="position_marker_start">
		<span class="position_time">00:00</span>
	</div>
	<div class="position_marker_end"></div>
	<div class="day_timeline">
		{{ for (var hour = 8; hour<24; hour++) { }}
			<div class="hour_timeline">
				{{ if (hour<10) { }}
					<span id="hour0{{- hour }}" class="hour_number">0{{- hour }}:00</span>
				{{ } else { }}
					<span id="hour{{- hour }}" class="hour_number">{{- hour }}:00</span>
				{{ } }}
			</div>
			{{ for (var i = 1; i<6; i++) { }}
				<div class="minute_timeline"></div>
			{{ } }}
				<div class="half_hour_timeline"></div>
			{{ for (var i = 1; i<6; i++) { }}
				<div class="minute_timeline"></div>
			{{ } }}
		{{ } }}

		{{ for (var hour = 0; hour<4; hour++) { }}
			<div class="hour_timeline">
				{{ if (hour<10) { }}
					<span id="hour{{- hour }}" class="hour_number">0{{- hour }}:00</span>
				{{ } else { }}
					<span id="hour{{- hour }}" class="hour_number">{{- hour }}:00</span>
				{{ } }}
			</div>
			{{ for (var i = 1; i<6; i++) { }}
				<div class="minute_timeline"></div>
			{{ } }}
				<div class="half_hour_timeline"></div>
			{{ for (var i = 1; i<6; i++) { }}
				<div class="minute_timeline"></div>
			{{ } }}
		{{ } }}
		<div id="halls_timeline_collection"></div>
	</div>
</div>

<div class="right_added_block">
	<div class="added_time_wrap">
		<div class="hour_timeline">
			<span class="hour_number">04:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">05:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">06:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline" id="right_timeline_border">
			<span class="hour_number">07:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">08:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
	</div>
	<div class="added_time_space"></div>
	{{ hallsWeek.each(function(hallWeek){ }}
		<div class="added_films_timeline">
			<div class="added_half_films_timeline"></div>
		</div>
	{{ }); }}
</div>

<div class="release_block_space"></div>

<div class="release_block"></div>