<div class="header_timeline">

	<span class="info">
		{{- model.cinema_title }}, {{- model.cinema_city }}<br>
		<span style="color: #b8b8b8;">с</span> {{- _.getWeekStartDate({week: model.week, year: model.year}).format('DD.MM.YYYY') }}
		<span style="color: #b8b8b8;">по</span> {{- _.getWeekEndDate({week: model.week, year: model.year}).format('DD.MM.YYYY') }}
	</span>

	<span class="filled_info">
		Заполненность кинотеатра составляет
		{{ if (model.filled_percent > 100) { }}
			<span style="color: #cc0000">{{- model.filled_percent }}%</span>
		{{ } else { }}
			{{- model.filled_percent }}%
		{{ } }}
		<br>
		{{ if (model.minutes_remaining < 0) { }}
			временной лимит кинотеатра превышен на <span style="color: #cc0000">{{- model.minutes_remaining }}</span> минут(ы)
		{{ } else { }}
			свободно еще {{- model.minutes_remaining }} минут(ы)
		{{ } }}
	</span>

	<div class="halls_timeline">
		{{ hallsTimelineModule.each(function(hallTimelineModule){ }}
			{{ var hallTitle = hallTimelineModule.get('title') ? hallTimelineModule.get('title') : hallTimelineModule.get('number').toString(); }}
			<div class="hall_timeline" hall_title="{{- hallTitle }}" hall_number="{{- hallTimelineModule.get('number') }}" cinema_id="{{- hallTimelineModule.get('cinema_id') }}" hall_id="{{- hallTimelineModule.get('id') }}">
				{{ if (hallTitle.length <= 2) { }}
					<span class="hall_number_timeline" title="Зал {{- hallTitle }}">Зал {{- hallTitle }}</span>
				{{ } else { }}
					<span class="hall_number_timeline" title="Зал {{- hallTitle }}">{{- hallTitle }}</span>
				{{ } }}
				<span class="hall_places_timeline">{{- hallTimelineModule.get('capasity') }} мест</span>
			</div>
		{{ }); }}
	</div>

	<span class="arcticmodal-close">
		<i class="timeline_module__close"></i>
		<i class="timeline_module__close timeline_module__close_hover"></i>
		<i class="timeline_module__close timeline_module__close_active"></i>
	</span>
</div>

<div class="left_added_block">
	<div class="added_time_wrap">
		{{ for (var i=1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i=1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">07:00</span>
		</div>
		{{ for (var i=1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i=1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">06:00</span>
		</div>
		{{ for (var i=1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i=1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">05:00</span>
		</div>
	</div>
	<div class="added_time_space"></div>
	{{ hallsTimelineModule.each(function(hallTimelineModule){ }}
		<div class="added_films_timeline">
			<div class="added_half_films_timeline"></div>
		</div>
	{{ }); }}
</div>

<div class="day_timeline_wr" id='day_timeline_module_wr'>
	<div class="position_marker_start">
		<span class="position_time">00:00</span>
	</div>
	<div class="position_marker_end"></div>
	<div class="day_timeline">
		{{ for (var hour = 8; hour<24; hour++) { }}
			<div class="hour_timeline">
				{{ if (hour<10) { }}
					<span id="hour0{{- hour }}" class="hour_number">0{{- hour }}:00</span>
				{{ } else { }}
					<span id="hour{{- hour }}" class="hour_number">{{- hour }}:00</span>
				{{ } }}
			</div>
			{{ for (var i = 1; i<6; i++) { }}
				<div class="minute_timeline"></div>
			{{ } }}
				<div class="half_hour_timeline"></div>
			{{ for (var i = 1; i<6; i++) { }}
				<div class="minute_timeline"></div>
			{{ } }}
		{{ } }}

		{{ for (var hour = 0; hour<4; hour++) { }}
			<div class="hour_timeline">
				{{ if (hour<10) { }}
					<span id="hour{{- hour }}" class="hour_number">0{{- hour }}:00</span>
				{{ } else { }}
					<span id="hour{{- hour }}" class="hour_number">{{- hour }}:00</span>
				{{ } }}
			</div>
			{{ for (var i = 1; i<6; i++) { }}
				<div class="minute_timeline"></div>
			{{ } }}
				<div class="half_hour_timeline"></div>
			{{ for (var i = 1; i<6; i++) { }}
				<div class="minute_timeline"></div>
			{{ } }}
		{{ } }}
	</div>
</div>

<div class="right_added_block">
	<div class="added_time_wrap">
		<div class="hour_timeline">
			<span class="hour_number">04:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">05:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">06:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline" id="right_timeline_border">
			<span class="hour_number">07:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
		<div class="hour_timeline">
			<span class="hour_number">08:00</span>
		</div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
			<div class="half_hour_timeline"></div>
		{{ for (var i = 1; i<6; i++) { }}
			<div class="minute_timeline"></div>
		{{ } }}
	</div>
	<div class="added_time_space"></div>
	{{ hallsTimelineModule.each(function(hallTimelineModule){ }}
		<div class="added_films_timeline">
			<div class="added_half_films_timeline"></div>
		</div>
	{{ }); }}
</div>
