<i class="remove"></i>
<span class="rel_time {{- changedDurationClass }}">{{- start }}</span>
<span class="rel_title {{- problem ? 'problem' : '' }}" release_title="{{- title }}">
	{{ if (comment) { }}
		<i class="fa fa-comment" title="{{- comment }}"></i>
	{{ } }}
	{{ if (accessContent) { }}
		{{ if (has_copy && has_kdm) { }}
			<i class="has_copy_kdm" title="Ключ и копии есть"></i>
		{{ } else if (has_copy) { }}
			<i class="has_copy" title="Есть копии, но ключ отсутствует"></i>
		{{ } else if (has_kdm) { }}
			<i class="has_kdm" title="Есть ключ, но копии отсутствуют"></i>
		{{ } }}
	{{ } }}

	{{- relTitle }}&nbsp;
	<i>{{- showingFormats }}</i>
</span>
