<div class="filter">
	<div class="repertoire_sections">
		<div class="item section_network active">
			<span class="text">Проекты</span>
		</div>
	</div>
</div>
<div class="fon_filter"></div>

<div id="booking_wr" class="release-wrapper scroll scrollable"></div>
