{{ if (!approved) { }}
	<div class="unapproved">
		<a href="/"><b>Кино</b>план</a>
		<p>Благодарим Вас за регистрацию и предоставленную информацию! Как только в кинотеатре, который Вы указали при регистрации подтвердят Ваше трудоустройство — менеджер Киноплана откроет Вам доступ к кинотеатрам.</p>
	</div>
{{ } else if (error) { }}
	<div class="unapproved">
		<a href="/"><b>Кино</b>план</a>
		<p>У Вас нет доступа к этому кинотеатру.</p>
	</div>
{{ } else { }}
	{{ if(cinema) { }}
		<div class="cinema-info-item">
			<div class="cinema-info-item-title">{{- cinema.title ? cinema.title.ru || cinema.title.en : '' }}
				{{ if (cinema.dd24_pro) { }}
					<span class="cinema-info-item__dd24" title="Кинотеатр подключен к системе DD24"><i class="fa fa-check-circle"></i></span>
				{{ } }}
				<span class="cinema-info-item-title__info">{{- cinema.city && cinema.city.title ? cinema.city.title.ru : '' }}, {{- cinema.halls ? cinema.halls_str : '' }} <i class="cinema-info-item__mistake fa fa-pencil"></i></span>
			</div>
			<div class="cinema-info-item__address">{{- cinema.address || '' }}</div>
			<table class="cinema-info-table">
				<thead>
					<tr class="table_title">
						<th>Зал</th>
						<th>Места</th>
						<th>Форматы</th>
						<th>Проектор</th>
						<th>Плейсервер</th>
						<th>3D</th>
						<th>Установка оборудования</th>
					</tr>
				</thead>
				<tbody>
					{{ _.each(cinema.halls, function(hall) { }}
						<tr class="table_item">
							<td class="cinema-info-table__hall">{{- hall.title || hall.number || '-' }}</td>
							<td class="cinema-info-table__capasity">{{- hall.capasity || 0 }}</td>
							<td class="cinema-info-table__formats">{{- hall.formats.join(', ') || '' }}</td>
							{{ var projector = hall.projectors[0] || {} }}
							<td class="cinema-info-table__projector">{{- projector.model }}
								<span class="cinema-info-table__item-info">s/n: {{- projector.serial || 'неизвестен' }}</span>
							</td>
							{{ var playserver = hall.server || {} }}
							<td class="cinema-info-table__playserver">{{- playserver.type }} {{- playserver.model }}
								<span class="cinema-info-table__item-info">{{- playserver.serial }}</span>
							</td>
							<td>{{- hall.type3d && !_.contains(['No', 'Нет данных', 'Система не установлена'], hall.type3d) ? hall.type3d :'Нет' }}</td>
							<td class="cinema-info-table__installed">{{- hall.installed ? hall.installed : '' }}
								<span class="cinema-info-table__item-info">{{- hall.support }}</span>
							</td>
						</tr>
					{{ }) }}
				</tbody>
			</table>
		</div>
	{{ } }}
{{ } }}
