<input class="comment-popover__input" type="text" value="{{- comment }}" placeholder="Комментировать...">
<div class="comment-popover-actions">
	<span class="comment-popover__save">Сохранить</span>
	<span class="comment-popover__delete">Удалить</span>
</div>
