<div class="copying-header">
	<span class="copying-header__title">Копирование {{- fromPlanning ? 'репертуара' : 'расписания' }}</span>
	<span class="copying-header__cinema">{{- currentHallTile }} зал &laquo;{{- currentCinemaTitle }}&raquo;, {{- date }}</span>
	<div class="close">
		<i class="arcticmodal-close"></i>
		<i class="arcticmodal-close arcticmodal-close_hover"></i>
		<i class="arcticmodal-close arcticmodal-close_active"></i>
	</div>
</div>
<div class="copying-body">
	<div class="copying-body-cinemas">
		<div class="copying-body-search">
			<input type="text" class="copying-body-search__input">
			<i class="copying-body-search__ico"></i>
		</div>
		<div class="copying-body-scroll">
			<div class="copying-body-list"></div>
		</div>
	</div>
	<div class="copying-body-targets">
		<span class="copying-body-targets__title">Будет скопировано в:</span>
		<div class="copying-body-targets-scroll">
			<ol class="copying-body-targets-list"></ol>
		</div>
	</div>
</div>
<div class="copying-footer">
	<span class="btn btn-default copying-footer__copy">Скопировать</span>
	<span class="copying-footer__warning">Внимание! {{- fromPlanning ? 'Репертуар' : 'Расписание' }} в выбранных залах будет {{- fromPlanning ? 'перезаписан' : 'перезаписано' }}.</span>
</div>
