<div class="head">
	<div class="header__page">
		{{ _.each(titles, function(title, page) { }}
			<span class="header__page__item" data-page="{{- page }}">{{- title }}</span>
		{{ }); }}
	</div>

	{{ if (cinemas.length) { }}
		<div class="header__cinema {{- cinemas.length === 1 ? 'single' : '' }}">
			<div class="select {{- cinemas.length === 1 ? 'single' : '' }}">
				<div class="active" cinema-active-id="{{- cinemas[0].id }}">
					<span class="cinema_and_city">{{- cinemas[0].title.ru }}, {{- cinemas[0].city.title.ru }}
				</div>
				{{ if (cinemas.length > 1) { }}
					<i class="arrow_down_select"></i>
				{{ } }}
				<div class="list">
					{{ _.each(cinemas, function(cinema, i) { }}
						<div class="item {{- i ? '' : 'selected'  }}" data-cinema-id="{{- cinema.id }}">
							<span class="cinema_and_city">{{- cinema.title.ru }}, {{- cinema.city.title.ru }}</span>
						</div>
					{{ }) }}
				</div>
			</div>
		</div>
	{{ } }}

	<div class="nt-sidebar-toggle"></div>
</div>
