% layout 'default', title => 'Киноплан';

% content_for head => begin
	<meta name="viewport" content="width=1200">
	<link rel="stylesheet" href="/css/jquery.timepicker.min.css">
	<link rel="stylesheet" href="/packed/components.min.css<%= '?' + (+new Date()) %>">
	<link rel="stylesheet" href="/packed/kinoplan.min.css<%= '?'   + (+new Date()) %>">

	<script src="/js/highcharts.js" defer></script>
	<script src="https://api-maps.yandex.ru/2.1/?load=Map,Placemark&lang=ru-RU" defer></script>
% end

<div class="loader"></div>

<div class="nt-sidebar"></div>
<div class="wrapper"></div>

<div class="modal_popup_fav modal_popap js-popup"></div>
<div class="timeline_module_popup js-popup"></div>
<div id="js-popup"></div>

% content_for scripts => begin
	<script src="/packed/components.min.js<%= '?' + (+new Date()) %>"></script>
	<script src="/packed/kinoplan.min.js<%=   '?' + (+new Date()) %>" defer></script>
	<script defer>
		if(navigator.userAgent.match(/Opera|OPR\//)) $('html').addClass('opera');
		WEB_SOCKET_SWF_LOCATION = "/js/WebSocketMain.swf";
	</script>

	% unless (is_dev) {
		<script async>
			$(function() {
				$.failsafe({
					checkUrl      : '/failsafe.html',
					checkInterval : 5000,
					checkBattery  : false,
					offlineMsg    : 'Вы не подключены к интернету',
					onlineMsg     : 'Вы сейчас в сети'
				});
			});
		</script>
	% }
% end
