<div class="halls-popup-top">
	<i class="halls-popup-top__input-minus fa fa-minus-square-o"></i>
	<input class="halls-popup-top__input" type="number" min="0" max="99" step="1" pattern="[0-9]*" value="{{- technology.count || 0 }}" autofocus>
	<i class="halls-popup-top__input-plus fa fa-plus-square-o"></i>
</div>
<div class="halls-popup-header">
	<label class="halls-popup-header__all"><input type="checkbox" value="all" {{- allChecked ? 'checked' : '' }}>Все</label>
	<span class="halls-popup-header__title">Залы</span>
</div>
<div class="halls-popup-list">
	{{ _.each(halls, function(hall) { }}
		<label class="halls-popup-list-hall">
			<input type="checkbox" data-hall-id="{{- hall.id }}" {{- _.has(technology.hall_id, hall.id) ? 'checked' : '' }}>
			{{- hall.title || hall.number || '-' }} <span class="halls-popup-list-hall__formats">{{- hall.formats.join(', ') }}</span>
		</label>
	{{ }) }}
</div>
<div class="halls-popup__save" data-action="save">Сохранить</div>