<div class="top">
	<span class="title">{{- release.title.ru }}</span>
	<div class="exit">
		<i class="ico"></i>
		<i class="ico hover"></i>
		<i class="ico active"></i>
	</div>
</div>
<div class="center">
	<div class="hire_range">
		<span class="text">Дата начала проката</span>
		<input class="text since_date {{- cinemaRights ? 'active' : '' }}" value="{{- hireRange.sinceDate.format('DD.MM.YYYY') }}" readonly>
		<span class="text">&nbsp;&nbsp;&mdash;&nbsp;&nbsp; Дата конца проката</span>
		<input class="text until_date {{- cinemaRights ? 'active' : '' }}" value="{{- hireRange.untilDate.format('DD.MM.YYYY') }}" readonly>
	</div>
	<div class="table">
		<div class="head">
			<span class="week">Неделя</span>
			{{ _.each(weeks[0].technology, function(technology) { }}
				{{ if (technology.format === 'Public Video' || technology.format === 'public video') technology.format = 'Public Video'; }}
				{{ if (!technology.upgrades.length && !_.contains(['imax', 'luxe', 'Public Video'], technology.format)) { }}
					<span class="format">{{- technology.format }}</span>
				{{ } else { }}
					<div class="format format_custom">
						<div class="format_custom_block">
							<span class="name">{{- technology.format === 'Public Video' ? 'pv' : technology.format }}</span>
							<span class="upgrades">{{- technology.upgrades.join(', ') }}</span>
						</div>
						{{ if (cinemaRights) { }}
							<div class="custom_format">
								<div class="list">
									<span class="item {{- technology.format === technology.format ? 'active' : '' }}" data-format="{{- technology.format }}">{{- technology.format === 'Public Video' ? 'pv' : technology.format }}</span>
								</div>
								<div class="technology">
									<div class="couple">
										<div class="couple__item">
											{{ var dbox = _.filter(technology.upgrades, function(f){ return f == 'dbox'; }); }}
											<label><input type="checkbox" data-format="dbox" name="1" {{- dbox.length === 1 ? 'checked' : '' }}> DBOX</label>
										</div>
										<div class="couple__item">
											{{ var dx = _.filter(technology.upgrades, function(f){ return f == '4dx'; }); }}
											<label><input type="checkbox" data-format="4dx" name="1" {{- dx.length === 1 ? 'checked' : '' }}> 4DX</label>
										</div>
									</div>
									<div class="couple">
										<div class="couple__item">
											{{ var auro = _.filter(technology.upgrades, function(f){ return f == 'auro'; }); }}
											<label><input type="checkbox" data-format="auro" name="2" {{- auro.length === 1 ? 'checked' : '' }}> AURO</label>
										</div>
										<div class="couple__item">
											{{ var atmos = _.filter(technology.upgrades, function(f){ return f == 'atmos'; }); }}
											<label><input type="checkbox" data-format="atmos" name="2" {{- atmos.length === 1 ? 'checked' : '' }}> ATMOS</label>
										</div>
									</div>
									<div class="couple">
										<div class="couple__item">
											{{ var sub = _.filter(technology.upgrades, function(f){ return f == 'sub'; }); }}
											<label><input type="checkbox" data-format="sub" name="3" {{- sub.length === 1 ? 'checked' : '' }}> Субтитры</label>
										</div>
									</div>
									<div class="couple">
										<div class="couple__item">
											{{ var sub = _.filter(technology.upgrades, function(f){ return f == 'hfr'; }); }}
											<label><input type="checkbox" data-format="hfr" name="4" {{- sub.length === 1 ? 'checked' : '' }}> HFR</label>
										</div>
									</div>
								</div>
								<div class="actions">
									<span class="remove_format" data-action="remove">Удалить</span>
									<span class="save_format_pack" data-action="save">Сохранить</span>
								</div>
							</div>
						{{ } }}
					</div>
				{{ } }}
			{{ }) }}
			{{ if (cinemaRights && allowedFormats.length) { }}
				<div class="new_format">
					{{ if (weeks[0].technology.length < 7) { }}
						<span class="new_format__top">+ Формат</span>
					{{ } }}
					<div class="add_format">
						<div class="list">
							{{ _.each(allowedFormats, function(format) { }}
								<span class="item" data-format="{{- format.toLowerCase() }}">{{- format == 'Public Video' ? 'pv' : format }}</span>
							{{ }) }}
						</div>
						<div class="technology">
							<div class="couple">
								<div class="couple__item">
									<label><input type="checkbox" data-format="dbox" name="1"> DBOX</label>
								</div>
								<div class="couple__item">
									<label><input type="checkbox" data-format="4dx" name="1"> 4DX</label>
								</div>
							</div>
							<div class="couple">
								<div class="couple__item">
									<label><input type="checkbox" data-format="auro" name="2"> AURO</label>
								</div>
								<div class="couple__item">
									<label><input type="checkbox" data-format="atmos" name="2"> ATMOS</label>
								</div>
							</div>
							<div class="couple">
								<div class="couple__item">
									<label><input type="checkbox" data-format="sub" name="3"> Субтитры</label>
								</div>
							</div>
							<div class="couple">
								<div class="couple__item">
									<label><input type="checkbox" data-format="hfr" name="4"> HFR</label>
								</div>
							</div>
						</div>
						<div class="actions">
							<span class="add_format_pack" data-action="add">Добавить</span>
						</div>
					</div>
				</div>
			{{ } }}
		</div>
		{{ var weekNumberCount = firstWeekNumber; }}
		{{ for (var i in weeks) { }}
			{{ var weekNumber = weeks[i].number; }}
			{{ var weekStartDate = moment().year(weeks[i].year).week(weekNumber).startOf('week'); }}
			{{ var weekEndDate = moment().year(weeks[i].year).week(weekNumber).endOf('week'); }}

			{{ var releaseWeekStartDate = weekStartDate; }}

			{{ if (weeks[i].days && weeks[i].days.length !== 0) { }}
				{{ var fromDate = releaseWeekStartDate.day(_.first(weeks[i].days) + 3).date(); }}
				{{ var endDate = weekEndDate.day(_.last(weeks[i].days) - 4).date(); }}
			{{ } else if (weekNumber == moment(release.date.russia.start).weeks()) { }}
				{{ var fromDate = releaseWeekStartDate.day(moment(release.date.russia.start).weekday() + 4).date(); }}
				{{ var endDate = weekEndDate.date(); }}
			{{ } else { }}
				{{ var fromDate = releaseWeekStartDate.date(); }}
				{{ var endDate = weekEndDate.date(); }}
			{{ } }}
			{{ var fromMonth = releaseWeekStartDate.month(); }}
			{{ var endMonth = weekEndDate.month(); }}

			{{ if (fromMonth != endMonth) { }}
				{{ var fromMonthText = Date.create(releaseWeekStartDate.toString()).format('{mon}'); }}
				{{ var endMonthText = Date.create(weekEndDate.toString()).format('{mon}'); }}
				{{ var text = fromDate + ' ' + fromMonthText + ' - ' + endDate + ' ' + endMonthText; }}
			{{ } else { }}
				{{ var endMonthText = Date.create(weekEndDate.toString()).format('{mon}'); }}
				{{ var text = (fromDate != endDate ? fromDate + ' - ' : '') + endDate + ' ' + endMonthText; }}
			{{ } }}

			<div class="item" data-week="{{- weekNumber }}" data-year="{{- weeks[i].year }}">
				<span class="week" title="{{- weekNumberCount < 1 ? 'Предпоказ' : weekNumberCount + '-я неделя проката' }}">{{- weekNumberCount < 1 ? 'п' : weekNumberCount }}<span class="date">{{- text }}</span></span>
				{{ weekNumberCount++; }}
				{{ for (var f in weeks[i].technology) { }}
					{{ var checkedHallsId = _.keys(weeks[i].technology[f].hall_id); }}
					{{ var halldNumbers = []; }}
					{{ for (var id in checkedHallsId) { }}
						{{ var oneMatchId = parseInt(checkedHallsId[id]); }}
						{{ var matchHall = _.filter(cinema.halls, function(hall){ return hall.id == oneMatchId; }); }}
						{{ halldNumbers.push(parseInt(matchHall[0].number)); }}
					{{ } }}
					{{ var halldNumbers = _.sortBy(halldNumbers); }}

					{{ if (cinemaRights) { }}
						<div class="format" data-format="{{- weeks[i].technology[f].format }}" data-upgrades="{{- weeks[i].technology[f].upgrades.join(', ') }}">
							<span class="text">{{- weeks[i].technology[f].count }}</span>
							<div class="halls">
								{{ if (!halldNumbers.length) { }}
									<span class="halls_text"></span>
								{{ } else { }}
									<span class="halls_text">({{- halldNumbers.join(', ') }})</span>
								{{ } }}
							</div>
						</div>
					{{ } else { }}
						<div class="format">
							<span class="no_edit">{{- weeks[i].technology[f].count }}</span>
							{{ if (!halldNumbers.length) { }}
								<div class="halls">
									<span class="halls_text"></span>
								</div>
							{{ } else { }}
								<div class="halls">
									<span class="halls_text">({{- halldNumbers.join(', ') }})</span>
								</div>
							{{ } }}
						</div>
					{{ } }}
				{{ } }}
				{{ if (weeks.length > 1) { }}
					{{ if (cinemaRights) { }}
						<i class="remove_week"></i>
					{{ } }}
				{{ } }}
			</div>
		{{ } }}
	</div>
	{{ if (cinemaRights) { }}
		<span class="add">+ Добавить неделю</span>
	{{ } }}
</div>
<div class="bottom">
	{{ if (cinemaRights) { }}
		<span class="save">Сохранить</span>
	{{ } }}
	<div class="status">
		<span class="status_name">Статус:</span>
		<div class="choose_wrap">
			<span class="active_status {{- cinemaRights ? 'activated' : '' }}" data-status="{{- color ? color : 3 }}">{{- color ? colorName[color] : 'Запланировано' }}</span>
			{{ if (cinemaRights) { }}
				<div class="choose">
					<span class="item {{- color == 3 ? 'active' : '' }}" data-status="3">Запланировано</span>
					<span class="item {{- color == 2 ? 'active' : '' }}" data-status="2">Рассматривается</span>
					<span class="item {{- color == 4 ? 'active' : '' }}" data-status="4">Переговоры</span>
					<span class="item {{- color == 1 ? 'active' : '' }}" data-status="1">Утверждён</span>
				</div>
			{{ } }}
		</div>
	</div>
</div>
