<div class="filter">
	<ul class="tabs clearfix">
		<li id="stat" class="active"><span data-tab="stat" data-navigate="statistic" href="#">Статистика</span></li>
		<li id="cinema"><span data-tab="cinema" data-navigate="statistic/cinemas" href="#">Кинотеатры</span></li>
		<li id="chart"><span data-tab="chart" data-navigate="statistic/charts" href="#">Диаграммы</span></li>
	</ul>
	<div class="cinema_search">
		<form action="" id="cinema_search">
			<input type="text" class="input">
		</form>
	</div>
</div>
<div class="fon_filter"></div>
<div id="statistic_wr" class="statistic-wrapper scroll scrollable">
	<div class="stat_tab tab active">
		<div class="item_container clearfix">
			<div id="server" class="container_highcharts" style="min-width: 555px; height: 380px; width: 555px;"></div>

			<div class="table grafic">
				<h2>Серверы</h2>
				<table id="server_table" class="title">
					<thead>
						<tr class="table_title">
							<th width="10"></th>
							<th>Производитель сервера</th>
							<th width="180">Количество</th>
							<th width="180">Проценты</th>
						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>
			</div>
		</div>

		<div class="item_container clearfix">
			<div id="projector_make" class="container_highcharts" style="min-width: 555px; height: 380px; width: 555px;"></div>
			<div class="table grafic">
				<h2>Производитель проектора</h2>
				<table id="projector_make_table" class="title">

					<thead>
						<tr class="table_title">
							<th width="10"></th>
							<th>Производитель проектора</th>
							<th width="180">Количество</th>
							<th width="180">Проценты</th>
						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>
			</div>
		</div>

		<div class="item_container clearfix">
			<div id="dbox" class="container_highcharts" style="min-width: 555px; height: 380px; width: 555px;"></div>
			<div class="table grafic">
				<h2>Dbox</h2>
				<table id="dbox_table" class="title">

					<thead>
						<tr class="table_title">
							<th width="10"></th>
							<th>Тип Dbox</th>
							<th width="180">Количество</th>
							<th width="180">Проценты</th>
						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>
			</div>
		</div>

		<div class="item_container clearfix">
			<div id="type3d" class="container_highcharts" style="min-width: 555px; height: 380px; width: 555px;"></div>

			<div class="table grafic">
				<h2>Тип 3D</h2>
				<table id="type3d_table" class="title">

					<thead>
						<tr class="table_title">
							<th width="10"></th>
							<th>Тип 3D</th>
							<th width="180">Количество</th>
							<th width="180">Проценты</th>
						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>
			</div>
		</div>

		<div class="item_container clearfix">
			<div id="projector_model" class="container_highcharts" style="min-width: 555px; height: 380px; width: 555px;"></div>

			<div class="table grafic">
				<h2>Модель проектора</h2>
				<table id="projector_model_table" class="title">

					<thead>
						<tr class="table_title">
							<th width="10"></th>
							<th>Модель проектора</th>
							<th width="180">Количество</th>
							<th width="180">Проценты</th>
						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>
			</div>
		</div>

		<div class="item_container clearfix">
			<div id="integrator" class="container_highcharts" style="min-width: 555px; height: 380px; width: 555px;"></div>

			<div class="table grafic">
				<h2>Компания интегратор/Обслуживающая компания</h2>
				<table id="integrator_table" class="title">

					<thead>
						<tr class="table_title">
							<th width="10"></th>
							<th>Компания интегратор/Обслуживающая компания</th>
							<th width="180">Количество</th>
							<th width="180">Проценты</th>
						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>
			</div>
		</div>

		<div class="item_container clearfix">
			<div id="city" class="container_highcharts" style="min-width: 555px; height: 380px; width: 555px;"></div>

			<div class="table grafic">
				<h2>Города</h2>
				<table id="city_table" class="title">

					<thead>
						<tr class="table_title">
							<th width="24"></th>
							<th width="40%">Город</th>
							<th width="180">Количество</th>
							<th width="180">Проценты</th>
							<th width="180">Население (в тысячах)</th>
						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>
			</div>
		</div>

		<div class="item_container clearfix">
			<div id="owner" class="container_highcharts" style="min-width: 555px; height: 380px; width: 555px;"></div>

			<div class="table grafic">
				<h2>Прокатчик/Владелец кинотеатра</h2>
				<table id="owner_table" class="title">

					<thead>
						<tr class="table_title">
							<th width="10"></th>
							<th>Прокатчик/Владелец кинотеатра</th>
							<th width="180">Количество</th>
							<th width="180">Проценты</th>
						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="cinema_tab tab">
		<h2><a href="#" class="default_filter">Статистика</a><span></span></h2>
		<table class="title">
			<thead>
				<tr class="table_title">
					<th>Кинотеатр</th>
					<th>Город</th>
					<th>Экран</th>
					<th>Мест</th>
					<th>Интегратор</th>
					<th>Проектор</th>
					<th>Сервер</th>
					<th>3D</th>
					<th><a href="#" class="date_order">Дата установки</a></th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
	<div class="chart_tab tab clearfix">
		<h2>Количество цифровых залов и кинотеатров</h2>
		<div id="cinemas_and_halls" style="width: calc(100% - 50px); height: 600px;"></div>
		<h2>Количество инсталляций цифровых залов поквартально</h2>
		<div id="halls_by_period" style="width: calc(100% - 50px); height: 600px;"></div>
		<h2>Серверы</h2>
		<div id="servers_graph" style="width: calc(100% - 50px); height: 600px;"></div>
		<h2>Проекторы</h2>
		<div id="projectors_graph" style="width: calc(100% - 50px); height: 600px;"></div>
		<h2>3D Системы</h2>
		<div id="type3d_graph" style="width: calc(100% - 50px); height: 600px;"></div>
		<h2>Кинотеатральная сеть</h2>
		<div id="owner_graph" style="width: calc(100% - 50px); height: 600px;"></div>
	</div>
</div>
