<td class="hall-title" rowspan="{{- releasesNumber || 2 }}">Зал {{- number }}</td>
<td class="hall-params">{{- capasity }} мест, {{- formats.join(', ') }}</td>
<td class="hall-params"></td>
{{ for (var i = 0; i < 16; i++) { }}
	<td class="hall-params"></td>
{{ } }}