<div class="user-cinemas-left">
	<div class="user-cinemas-list user-cinemas-list--group"></div>
	<span class="cinemas-group-add">+ Добавить группу</span>
</div>
<div class="user-cinemas-right"></div>
