<div class="filter">
	<div class="back">
		<a href="#"><img src="/img/pixel.gif" width="10" height="15" alt=""> Назад</a>
	</div>
</div>
<div class="fon_filter"></div>
<div class="cinema_item scroll"></div>