<div class="left">
	<div class="cinema_location">
		{{ if (Math.floor(location.longitude) !== 0 && Math.floor(location.latitude) !== 0) { }}
			<div id="yandex_map_location"></div>
		{{ } else { }}
			<div class="cinema_location_undefined gradient_{{- Math.floor(Math.random() * (8)) + 1 }}">Расположение данного кинотеатра неизвестно</div>
		{{ } }}
	</div>
</div>
<div class="right">
	<div class="top__info">
		<div class="top">
			<div class="top__left">
				<h1 class="title">{{- title }}</h1>
					<h2 class="city_and_region">{{- location.city }}, {{- location.region }}</h2>
				<div class="formats_list">
					{{ for (var i in formats) { }}
						<span class="format">{{- formats[i] }}</span>
					{{ } }}
				</div>
			</div>
		</div>
		<div class="tabs">
				<span class="item active" data-tab="cinema_info">Информация</span>
				<span class="item" data-tab="cinema_contacts">Контакты</span>
		</div>
	</div>
	<div class="cinema_card_wrapper"></div>
</div>