<div class="name">
	<span class="text">адрес</span>
	<span class="text">сайт</span>
	<span class="text">часовой пояс</span>
	<span class="text">залов</span>
</div>
<div class="desc">
	<span class="text">{{- location.address }}</span>
	<span class="text">
		{{ if (link) { }}
			<a href="{{- link }}" class="link">{{- link }}</a>
		{{ } else { }}
			неизвестен
		{{ } }}
	</span>
	<span class="text">{{- location.utc }}</span>
	<span class="text">{{- halls.length }}</span>
</div>
{{ if (halls.length) { }}
	<span class="halls_table_title">Залы</span>
	<div class="halls_table">
		<div class="head">
			<span class="item item_title">Зал</span>
			<span class="item item_formats">Форматы</span>
			<span class="item item_proector">Проектор</span>
			<span class="item item_playserver">Плейсервер</span>
			<span class="item item_3d_system">3D система</span>
		</div>
		<div class="body">
			{{ _.each(halls, function(hall) { }}
				{{ hall.formats = _.sortBy(hall.formats, function(format) { if (format === '35mm') return format; }); }}
				<div class="halls_table_item">
					<span class="item item_title">{{- hall.title }}</span>
					<span class="item item_formats">{{- hall.formats.join(', ') }}</span>
					{{ if (checkDistributor) { }}
						<span class="item item_proector"></span>
						<span class="item item_playserver"></span>
						<span class="item item_3d_system"></span>
					{{ } else { }}
						<span class="item item_proector visible">Для получения доступа к информации обратитесь по адресу support@kinoplan24.ru</span>
						<span class="item item_playserver"></span>
						<span class="item item_3d_system"></span>
					{{ } }}
				</div>
			{{ }); }}
		</div>
	</div>
{{ } }}