.header__page__item {
	.pr_title {
		color: #4278a4;
	}
	.pr_date {
		color: #9b9b9b;
	}
}

#booking_table {
	height: 100%;
	color: #666;
	&.booking_scroll {
		width: calc(100% + 15px);
		overflow-x: hidden;
		overflow-y: initial;
	}
	#filt_dist-styler .jq-selectbox__dropdown {
		right: 0 !important;
		left: auto !important;
	}
	.jq-selectbox__select-text {
		max-width: 250px;
	}
	.filter {
		height: 50px;
		padding: 9px 0 0 0;
		.back {
			float: left;
			margin: 0 15px;
		}
		.popupWrap__button {
			margin: 0 0 0 15px;
		}
		.filt_select {
			float: right;
			margin-bottom: 10px;
		}
		.repertoire_sections {
			display: inline-block;
			font-size: 0;
			vertical-align: top;
			.item {
				display: inline-block;
				width: 145px;
				height: 39px;
				font-size: 14px;
				line-height: 38px;
				text-align: center;
				text-decoration: none;
				vertical-align: top;
				cursor: pointer;
				background-color: #fff;
				border-top: 1px solid $default-border;
				border-right: 1px solid $default-border;
				border-bottom: 1px solid $default-border;
				&:first-child {
					border: 1px solid $default-border;
				}
				&.active {
					cursor: default;
					.text {
						border-color: #6083a6;
					}
					&:hover {
						.text {
							border-color: #6083a6;
						}
					}
				}
				&.hide {
					display: none;
				}
				&:hover {
					.text {
						border-color: #aaa;
					}
				}
				.text {
					display: block;
					margin: -1px;
					color: #333;
					border-color: transparent;
					border-top: 2px solid transparent;
				}
			}
		}
		.my_date {
			position: absolute;
			top: 10px;
			left: 50%;
			width: 260px;
			height: 30px;
			margin-left: -100px;
			.prev,
			.next {
				position: absolute;
				top: 0;
				width: 30px;
				height: 30px;
				cursor: pointer;
			}
			.prev {
				left: 0;
			}
			.next {
				right: 0;
			}
			.my_date_prev {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8px;
				height: 13px;
				margin: -7px 0 0 -5px;
				background: url(/img/arrow_left_right.svg) no-repeat;
			}
			.my_date_next {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8px;
				height: 13px;
				margin: -7px 0 0 -4px;
				background: url(/img/arrow_left_right.svg) no-repeat 0 -13px;
			}
			.my_date__date {
				display: block;
				height: 30px;
				font-size: 20px;
				line-height: 30px;
				color: #333;
				text-align: center;
			}
		}
		.screen {
			display: none;
			float: right;
			padding: 2px 11px 0 0;
			font-size: 0;
			.arrow_left {
				position: relative;
				display: inline-block;
				width: 28px;
				height: 28px;
				margin-right: 8px;
				vertical-align: top;
				cursor: pointer;
				background: url(/img/arrow_left_right_in_circle.svg) no-repeat;
			}
			.arrow_right {
				position: relative;
				display: inline-block;
				width: 28px;
				height: 28px;
				vertical-align: top;
				cursor: pointer;
				background: url(/img/arrow_left_right_in_circle.svg) no-repeat 0 -29px;
			}
		}
		.search {
			.searching-module {
				width: 100%;
				margin: 0;
				.input {
					width: calc(100% - 55px);
				}
			}
		}
		.table_head {
			margin: 10px 0 0 0;
			table-layout: fixed;
			border-top: 1px solid $default-border;
			td {
				height: 44px;
				box-sizing: border-box;
				border-right: 1px dashed $default-border;
				border-bottom: 1px solid $default-border;
				//width: 3%;
				&.left {
					padding: 0 10px 0 14px;
					font-size: 12px;
					background: #f6f6f6;
					border-right: 4px solid $default-border;
					//min-width: 226px;
					.c_title {
						display: block;
					}
					.c_city {
						color: #9b9b9b;
					}
				}
				&.month_date {
					height: 24px;
					padding: 2px 0 0 8px;
					overflow: hidden;
					font-size: 13px;
					text-overflow: ellipsis;
					white-space: nowrap;
					border-right: 1px solid $default-border;
					span {
						font-size: 13px;
						font-weight: bold;
					}
				}
				&.date {
					height: 24px;
					padding: 2px 0 0 0;
					font-size: 13px;
					text-align: center;
					border-bottom: 1px solid $default-border;
					&.wd {
						color: #d0021b;
					}
					&.start_w {
						border-right: 2px solid $default-border;
					}
					&.start_month {
						border-left: 1px solid $default-border;
					}
				}
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	.fon_filter {
		height: 98px;
	}
	#booking_list_table {
		height: calc(100% - 98px);
		overflow: hidden;
		.table_main,
		.table_halls {
			table-layout: fixed;
			tr:first-child {
				td {
					border-top: none;
				}
			}
			.wr_td {
				position: relative;
				&.b_keys {
					margin: 0 -2px 0 0;
					span {
						display: block;
						width: 100%;
						margin: 12px 0 0 0;
						border-top: 1px dashed #4378a4;
					}
				}
				&.not_b_keys {
					margin: 0 -2px 0 0;
					span {
						display: block;
						width: 100%;
						margin: 12px 0 0 0;
						border-top: 1px dashed transparent;
					}
				}
				&.first {
					span {
						display: block;
						float: right;
						width: 30%;
						margin: 12px 0 0 0;
					}
					i {
						position: absolute;
						top: 6px;
						right: 36%;
						font-size: 11px;
						color: #4378a4;
					}
				}
			}
			td {
				height: 44px;
				box-sizing: border-box;
				border-top: 1px solid $default-border;
				border-right: 1px dashed $default-border;
				.wr_name {
					position: relative;
					width: 100%;
					height: 100%;
				}
				&.b_green {
					padding: 0;
					margin: 0;
					background-color: #dcf0db;
					border-top: 1px solid #51b649 !important;
					border-bottom: 1px solid #51b649;
					&.first {
						div {
							position: relative;
							width: 100%;
							height: 100%;
							margin-left: -1px;
							border-left: 1px solid #51b649;
						}
						&.start_w {
							border-left: 0;
						}
					}
					&.last {
						div {
							position: relative;
							width: 100%;
							height: 100%;
							border-right: 1px solid #51b649;
						}
					}
				}
				.name_package {
					position: absolute;
					top: 6px;
					left: 10px;
					z-index: 1;
					font-size: 12px;
					color: #000;
					white-space: nowrap;
				}
				&.left {
					padding: 0 10px 0 14px;
					font-size: 12px;
					background: #f6f6f6;
					border-right: 4px solid $default-border;
					//min-width: 226px;
					.c_title {
						display: block;
						width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.c_city {
						color: #9b9b9b;
					}
					&.active {
						color: #fff;
						background-color: #4378a4;
						.c_city {
							color: #93bbde;
						}
						.fa {
							display: block;
						}
					}
				}
				&:last-child {
					border-right: none;
				}
				&.cimena_halls {
					padding: 0;
					border: none;
				}
				&.start_w {
					border-right: 2px solid $default-border;
				}
				&.start_month {
					border-left: 1px solid $default-border;
				}
			}
		}
		.table_halls {
			border-top: 1px solid #93bbde;
			border-bottom: 1px solid #93bbde;
			tr {
				&:first-child {
					td {
						border-top: none;
					}
				}
				&:last-child {
					td {
						border-bottom: none;
					}
				}
			}
			td {
				background-color: #f6f6f6;
				&.left {
					min-width: 227px;
					max-width: 227px;
					padding: 0 10px 0 30px;
					border-right: none;
				}
			}
		}
		.table_main {
			.project_cinema {
				&.hover:hover {
					color: #fff;
					cursor: pointer;
					background-color: #4378a4;
					.c_city {
						color: #93bbde;
					}
					.fa {
						display: block;
					}
				}
				.fa {
					position: absolute;
					top: 50%;
					right: 0;
					display: none;
					margin-top: -7px;
					font-size: 13px;
					color: #fff;
					transition: transform .3s;
				}
				&.active .fa {
					transform: rotate(180deg);
				}
			}
		}
	}
}

#keygens_wrap {
	#keygen_wr {
		padding-top: 35px;
		padding-bottom: 0;
		.date-point {
			.info {
				padding-right: 40px;
				margin-left: 40px;
			}
		}
	}
}

#keygen_item {
	height: 100%;
	.filter {
		.back {
			float: left;
			margin: 0 15px 0 0;
		}
	}
	#keygen_wr {
		height: calc(100% - 50px);
		box-sizing: border-box;
		padding: 20px 30px 30px;
		overflow: hidden;
		h1 {
			margin: 0 0 5px 0;
			font-size: 30px;
			font-weight: normal;
		}
		.action_key_head {
			float: right;
			margin-right: 14px;
			font-size: 12px;
			color: #4378a4;
			span {
				margin-left: 15px;
				cursor: pointer;
				i {
					margin-right: 4px;
				}
			}
		}
		.descript {
			margin: 0 0 30px 0;
			font-size: 18px;
			color: #9b9b9b;
			span {
				color: #333;
			}
		}
		.date-point {
			height: calc(100% - 90px);
			padding-bottom: 0;
			.info {
				height: 100%;
				margin-left: 0;
				.info_item {
					height: auto;
					&.open {
						.keygen_hall_item {
							display: block;
						}
						.release_arrow {
							transform: rotate(180deg);
						}
					}
					.release_status.error {
						color: #e64c3b;
					}
					.keygen_hall_item {
						display: none;
						font-size: 12px;
						cursor: default;
						background: #fff;
						border-top: 1px solid #d5d7dc;
						.hall_info {
							margin-left: 68px;
							.halls_cell {
								display: inline-block;
								overflow: hidden;
								text-overflow: ellipsis;
								vertical-align: top;
								cursor: default;
							}
							.halls_head {
								padding: 10px 0 4px 10px;
								line-height: 20px;
							}
							.halls_body {
								color: #333;
								padding-left: 10px;
								&:hover {
									outline: 1px solid #94bcdd;
									outline-offset: -1px;
									.action_key {
										display: block;
									}
								}
							}
							.hall_name,
							.hall_server {
								float: left;
								width: 16%;
								input {
									margin-right: 5px;
								}
							}
							.hall_date {
								width: 250px;
								.key_time {
									color: #9b9b9b;
								}
							}
							.action_button {
								float: right;
								max-width: 300px;
							}
							.hall_span_wr {
								float: left;
								.halls_cell {
									display: block;
									float: none;
								}
								&.action_key {
									display: none;
									float: right;
									margin-right: 20px;
									font-size: 12px;
									color: #4378a4;
									&.hide {
										position: absolute;
										right: -9999px;
									}
									a {
										color: #4378a4;
										text-decoration: none;
									}
									span {
										margin-left: 15px;
										cursor: pointer;
										i {
											margin-right: 4px;
										}
									}
								}
							}
							span.hall_status {
								padding-left: 4px;
								.blocked {
									display: none;
									&.show {
										display: inline;
									}
								}
							}
							.address {
								padding: 0 0 0 25px;
								margin: 10px 0 20px 0;
								line-height: 20px;
								color: #333;
								border-left: 1px solid #d5d7dc;
								p {
									margin: 0;
								}
								a {
									color: #4378a4;
									text-decoration: none;
								}
								span {
									white-space: normal;
								}
							}
						}
					}
				}
				.releases_cell span {
					color: #9b9b9b;
				}
				.releases_body {
					position: relative;
					height: calc(100% - 32px);
					overflow-y: auto;
					background: none;
				}
				.release_arrow,
				.release_check {
					width: 30px;
					box-sizing: border-box;
					text-align: center;
					border-right: none;
				}
				.release_arrow {
					margin-left: 10px;
					font-size: 21px;
					line-height: 30px;
					color: #638fb3;
					transition: transform .2s;
				}
				.release_city,
				.release_name {
					width: 32%;
				}
				.release_key {
					width: 11%;
				}
				.release_num {
					width: 5%;
					padding: 0 9px;
				}
				.release_name {
					.text {
						font-style: normal;
					}
				}
			}
		}
	}
}

#bookings_wrap,
#keygens_wrap {
	height: 100%;
	padding: 0;
	overflow: hidden;
	#booking_wr,
	#keygen_wr {
		height: calc(100% - 70px);
		padding-top: 20px;
	}
	.filter {
		.repertoire_sections {
			display: inline-block;
			font-size: 0;
			vertical-align: top;
			.item {
				display: inline-block;
				width: 145px;
				height: 39px;
				font-size: 14px;
				line-height: 38px;
				text-align: center;
				text-decoration: none;
				vertical-align: top;
				cursor: pointer;
				background-color: #fff;
				border-top: 1px solid $default-border;
				border-right: 1px solid $default-border;
				border-bottom: 1px solid $default-border;
				&:first-child {
					border: 1px solid $default-border;
				}
				&.active {
					cursor: default;
					.text {
						border-color: #6083a6;
					}
					&:hover {
						.text {
							border-color: #6083a6;
						}
					}
				}
				&.hide {
					display: none;
				}
				&:hover {
					.text {
						border-color: #aaa;
					}
				}
				.text {
					display: block;
					margin: -1px;
					color: #333;
					border-color: transparent;
					border-top: 2px solid transparent;
				}
			}
		}
		.my_date {
			position: absolute;
			top: 10px;
			left: 50%;
			width: 200px;
			height: 30px;
			margin-left: -100px;
			.prev,
			.next {
				position: absolute;
				top: 0;
				width: 30px;
				height: 30px;
				cursor: pointer;
			}
			.prev {
				left: 0;
			}
			.next {
				right: 0;
			}
			.my_date_prev {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8px;
				height: 13px;
				margin: -7px 0 0 -5px;
				background: url(/img/arrow_left_right.svg) no-repeat;
			}
			.my_date_next {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8px;
				height: 13px;
				margin: -7px 0 0 -4px;
				background: url(/img/arrow_left_right.svg) no-repeat 0 -13px;
			}
			.my_date__date {
				display: block;
				height: 30px;
				font-size: 20px;
				line-height: 30px;
				color: #333;
				text-align: center;
			}
		}
		.screen {
			display: none;
			float: right;
			padding: 2px 11px 0 0;
			font-size: 0;
			.arrow_left {
				position: relative;
				display: inline-block;
				width: 28px;
				height: 28px;
				margin-right: 8px;
				vertical-align: top;
				cursor: pointer;
				background: url(/img/arrow_left_right_in_circle.svg) no-repeat;
			}
			.arrow_right {
				position: relative;
				display: inline-block;
				width: 28px;
				height: 28px;
				vertical-align: top;
				cursor: pointer;
				background: url(/img/arrow_left_right_in_circle.svg) no-repeat 0 -29px;
			}
		}
	}
	.release_name {
		width: 66%;
		padding: 0 0 0 10px;
		span {
			display: none;
			color: #4378a4;
		}
		.text {
			display: inline-block;
			color: #333;
		}
		&:hover {
			span {
				display: inline-block;
				margin: 0 0 0 10px;
				&.text {
					margin: 0;
				}
			}
		}
	}
	.release_num {
		width: 5%;
		padding: 0 9px;
	}
	.releases_body {
		.release_sent,
		.release_total,
		.release_halls {
			text-align: right;
		}
		.release_num {
			text-align: center;
		}
	}
	.release_sent,
	.release_total,
	.release_halls {
		width: 7%;
	}
}

.booking_popup {
	position: relative;
	width: 964px;
	height: 582px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #fff;
	border-radius: 8px;
	* {
		box-sizing: border-box;
	}
	.bp_top {
		position: relative;
		height: 75px;
		padding: 10px 20px;
		border-bottom: 1px solid #e1e8ed;
		.bp_title {
			display: block;
			font-size: 24px;
			line-height: 32px;
		}
		.bp_description {
			font-size: 18px;
			line-height: 22px;
			color: #9b9b9b;
			span {
				color: #757575;
			}
		}
		.exit {
			position: absolute;
			top: 50%;
			width: 30px;
			height: 30px;
			margin-top: -14px;
			text-decoration: none;
			cursor: pointer;
			&.close {
				left: 20px;
			}
			&.save {
				right: 20px;
			}
			.booking_popup__close {
				position: absolute;
				top: 0;
				left: 0;
				width: 31px;
				height: 31px;
				background: url(/img/popup_close.svg) no-repeat;
				opacity: 1;
				transition: opacity .3s, transform .3s;
				&.booking_popup__close_hover {
					background-position: 0 -31.5px;
					opacity: 0;
				}
				&.booking_popup__close_active {
					background-position: 0 -63.5px;
					opacity: 0;
				}
			}
			&:hover {
				.booking_popup__close {
					opacity: 0;
					transform: rotate(180deg);
				}
				.booking_popup__close_hover {
					opacity: 1;
					transform: rotate(180deg);
				}
				.booking_popup__close_active {
					opacity: 0;
					transform: rotate(180deg);
				}
			}
			&:active {
				.booking_popup__close {
					opacity: 0;
					transform: rotate(180deg);
				}
				.booking_popup__close_hover {
					opacity: 0;
					transform: rotate(180deg);
				}
				.booking_popup__close_active {
					opacity: 1;
					transform: rotate(180deg);
				}
			}
		}
	}
	.bp_center {
		padding: 15px 14px;
		h4 {
			padding: 0 0 8px 8px;
			margin: 0;
			font-size: 16px;
			background-color: #fff;
		}
		.bp_cinemas {
			float: left;
			width: 300px;
			height: 422px;
			background-color: #f6f5f3;
			.search {
				position: relative;
				padding: 10px 8px;
				height: 36px;
				.searching-module {
					width: 100%;
					margin: 0;
					.input {
						width: 100%;
					}
				}
			}
			.bp_cinemas_content {
				height: 345px;
				margin: 8px 5px 5px;
				overflow-y: scroll;
				font-size: 13px;
				color: #333;
				background-color: #fff;
				.bp_cinemas_list {
					.bp_cinema_item {
						&.open {
							.cinemas_halls {
								display: block;
							}
						}
					}
					.head_leb {
						display: block;
						padding: 4px 13px;
						cursor: pointer;
						input {
							margin: 0 5px 0 0;
						}
						span {
							color: #9b9b9b;
						}
						.c_title {
							color: #333;
						}
						&:hover {
							background: #f6f5f3;
						}
					}
					.cinemas_halls {
						display: none;
						height: auto !important;
						padding: 0;
						margin: 0;
						list-style: none;
						li {
							margin: 0;
							padding: 4px 0;
							padding-left: 30px;
							input {
								margin: 0 7px 0 0;
							}
							label {
								color: #9b9b9b;
								cursor: pointer;
								span {
									color: #333;
								}
							}
							&:hover {
								color: #333;
								cursor: default;
								background: #f6f5f3;
							}
						}
					}
				}
			}
		}
		.bp_package {
			margin-left: 327px;
			h4 {
				padding: 0 0 11px 10px;
				span {
					margin-left: 5px;
					font-size: 14px;
					font-weight: normal;
					color: #9b9b9b;
				}
			}
			.bp_package_block {
				position: relative;
				float: left;
				width: 597px;
				padding: 13px 12px 12px 19px;
				margin-bottom: 25px;
				background-color: #f6f5f3;
				border-radius: 4px;
				label {
					float: left;
					width: 260px;
					margin-right: 20px;
					margin-bottom: 2px;
					overflow: hidden;
					font-size: 12px;
					text-overflow: ellipsis;
					white-space: nowrap;
					cursor: pointer;
					&.hide {
						display: none;
					}
					&.hide.show {
						display: block;
					}
					input {
						margin-right: 4px;
						margin-left: 2px;
					}
				}
				.more {
					position: absolute;
					right: 8px;
					bottom: 4px;
					font-size: 11px;
					line-height: 13px;
					color: #4378a4;
					cursor: pointer;
					border-bottom: 1px dotted #4378a4;
				}
			}
			.week_button {
				margin-left: 10px;
				.popupWrap__button.week {
					padding: 0 9px 0 8px;
					margin-right: 10px;
					background-color: #fff;
					border: 1px solid #4378a4;
					transition: all .3s;
					&.active,
					&:hover {
						color: #fff;
						background-color: #4378a4;
					}
				}
			}
			.calendar_wr {
				position: relative;
				width: 592px;
				height: 169px;
				margin: 23px 0 0 2px;
				font-size: 11px;
				color: #333;
				border-right: 1px solid $default-border;
				border-left: 1px solid $default-border;
				.prev_month,
				.next_month {
					position: absolute;
					display: block;
					width: 12px;
					height: 169px;
					font-size: 14px;
					color: #4378a4;
					cursor: pointer;
				}
				.prev_month {
					left: -13px;
					padding: 80px 0 0 0;
				}
				.next_month {
					right: -13px;
					padding: 80px 0 0 7px;
				}
			}
			.range_text {
				display: none;
				float: left;
				width: 430px;
				margin: 10px 0 0 55px;
				font-size: 12px;
				color: #333;
				text-align: center;
				.start_date,
				.end_date {
					margin: 0 7px 0 0;
				}
				.separate {
					margin: 0 4px;
					color: #a6a6a6;
				}
				input {
					width: 50px;
					text-align: center;
					border: none;
					border-bottom: 1px dashed #979797;
				}
			}
		}
	}
	.popupWrap__bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		.popupWrap__button {
			height: 26px;
			padding: 0 30px;
			line-height: 25px;
		}
		label {
			margin: 0 0 0 13px;
			font-size: 13px;
			line-height: 26px;
			color: #333;
			input {
				margin-right: 2px;
			}
		}
	}
}
