//
// Button groups
// --------------------------------------------------

.btn-group {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	> .btn {
		position: relative;
		float: left;
		&:hover,
		&:focus,
		&:active,
		&.active {
			z-index: 2;
		}
	}
}

.btn-group {
	.btn + .btn,
	.btn + .btn-group,
	.btn-group + .btn,
	.btn-group + .btn-group {
		margin-left: -1px;
	}
}
.btn-group > .btn:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.btn-group > .btn:first-child {
	margin-left: 0;
	&:not(:last-child) {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
}
