//
// Buttons
// --------------------------------------------------

@mixin button-variant($color, $background, $background-hover, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		color: $color;
		background-color: $background-hover;
	}
	&:active,
	&.active {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;
}

@mixin tab-focus() {
	outline: thin dotted;
	outline-offset: -2px;
}

// Base styles
// --------------------------------------------------

$btn-font-weight: normal;

$font-size-base:            14px;
$line-height-base:          28px;

$padding-base-vertical:     0;
$padding-base-horizontal:   10px;

$border-radius-base:        4px;

$btn-default-color:         #4378a4;
$btn-default-bg:            #f5f7fa;
$btn-default-hover-bg:      #eaf0f8;
$btn-default-border:        #94bcdd;

// Primary button
$btn-primary-color:         #fff;
$btn-primary-bg:            #4378a4;
$btn-primary-hover-bg:      #286090;
$btn-primary-border:        #386489;
// Invite button
$btn-invite-color:         #fff;
$btn-invite-bg:            #007ac2;
$btn-invite-hover-bg:      #286090;
$btn-invite-border:        #007ac2;

// --------------------------------------------------

.btn {
	display: inline-block;
	margin-bottom: 0; // For input.btn
	font-weight: $btn-font-weight;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	transition: background-color .3s;
	@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
	&,
	&:active,
	&.active {
		&:focus,
		&.focus {
			@include tab-focus;
		}
	}
	&:hover,
	&:focus,
	&.focus {
		color: $btn-default-color;
		text-decoration: none;
	}
	&:active,
	&.active {
		background-image: none;
		outline: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		pointer-events: none; // Future-proof disabling of clicks
		cursor: $cursor-disabled;
		box-shadow: none;
		opacity: .65;
	}
	&--large {
		padding: 10px 30px;
		font-size: 18px;
	}
}

// Alternate buttons
// --------------------------------------------------

.btn-default {
	@include button-variant($btn-default-color, $btn-default-bg, $btn-default-hover-bg, $btn-default-border);
	&__back-ico {
		background: url(/img/back.svg) no-repeat;
		width: 16px;
		height: 16px;
		display: inline-block;
		vertical-align: middle;
	}
}

.btn-primary {
	@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-hover-bg, $btn-primary-border);
}
.btn-invite {
	display: block;
	margin: 15px auto;
	@include button-variant($btn-invite-color, $btn-invite-bg, $btn-invite-hover-bg, $btn-invite-border);
}

.btn-tab {
	line-height: 24px;
	margin-right: 5px;
	@include button-variant(#000, #fff, #e4e4e4, #fff);
	&--active {
		pointer-events: none;
		@include button-variant($btn-default-color, #fff, #fff, $btn-default-border);
	}
}

.btn-export{
	&__ico{
		background: url(/img/export_excel@2x.png) no-repeat;
		background-size: 18px auto;
		position: relative;
		top: -1px;
		width: 18px;
		height: 18px;
		display: inline-block;
		vertical-align: middle;
	}
}
.btn-dropdown {
	position: relative;
	padding-right: 30px;
	min-height: 30px;

	@include button-variant(#e5e5e5, #fff, rgba(0,0,0,.1), rgba(0, 0, 0, 0.2));
	&:after {
		position: absolute;
		top: 7px;
		right: 10px;
		font-family: FontAwesome;
		font-size: 14px;
		font-style: normal;
		line-height: 1;
		color: rgba(0, 0, 0, 0.5);
		content: '\f078';
		-webkit-font-smoothing: antialiased;
	}

	&--width_full {
		width: 100%;
		padding: $padding-base-vertical $padding-base-horizontal;
	}
}

.open > .btn-dropdown {
	&:after {
		content: '\f00c';
	}
}
