.context-menu {
	z-index: 10000;
	display: inline-block;
	font-size: 12px;
	background: #fff;
	border: 1px solid #c7c7c7;
	border-radius: 3px;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
	* {
		box-sizing: border-box;
		&:before,
		&:after {
			box-sizing: border-box;
		}
	}
	&__item {
		padding: 5px;
		line-height: 14px;
		color: #333;
		text-decoration: none;
		cursor: pointer;
		border-bottom: 1px solid #eee;
		.fa {
			margin-right: 3px;
		}
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			background: #eaeef2;
		}
	}
}

.comment-popover {
	width: 220px;
	border-radius: 4px;

	@extend .context-menu;
	&__input {
		width: calc(100% - 40px);
		margin: 20px;
		border: none;
	}
	&-actions {
		width: 100%;
		height: 40px;
		padding: 9px;
		margin: 0 auto;
		text-align: center;
		background-color: #f6f6f6;
		border-top: 1px solid $default-border;
		border-radius: 0 0 4px 4px;
	}
	&__save,
	&__delete {
		display: inline-block;
		margin: 0 15px;
		font-size: 14px;
		color: #4378a4;
		cursor: pointer;
		transition: color .3s;
		&:hover {
			color: #00adef;
		}
	}
}
