#dashboard {
	height: 100%;
	box-sizing: border-box;
	padding: 21px;
	overflow-y: auto;
	font-size: 0;
	background-color: #e5e5e5;
	* {
		box-sizing: border-box;
	}
	.premieres_line {
		position: relative;
		display: table;
		width: 100%;
		padding-bottom: 21px;
		transition: height .3s;
		.premieres {
			display: table-cell;
			padding: 21px 15px;
			vertical-align: top;
			background-color: #fff;
			border: 1px solid #d8d8d8;
			border-radius: 3px;
			&.next {
				width: 50%;
			}
			.head,
			.body {
				.item {
					display: inline-block;
					width: calc(100% - 65px);
					padding-right: 9px;
					overflow: hidden;
					font-size: 13px;
					text-overflow: ellipsis;
					white-space: nowrap;
					vertical-align: top;
					background-color: transparent;
					transition: height .3s;
					&:first-child {
						width: 55px;
						padding-right: 15px;
						text-align: right;
						border-right: none;
					}
					&.info {
						width: calc(100% + 9px);
						* {
							box-sizing: content-box;
						}
						.dashboard_release_info_table {
							table-layout: fixed;
							.info_table_title {
								width: 100%;
								height: 21px;
								font-size: 12px;
								line-height: 21px;
								color: #9b9b9b;
								border-top: 1px solid #d5d7dc;
								th {
									padding: 2px 9px 0;
									font-weight: normal;
									text-align: left;
									white-space: nowrap;
									border-bottom: 1px solid #d5d7dc;
									&:last-child {
										border-right: none;
										border-bottom: none;
									}
									&:first-child {
										border-bottom: none;
									}
									&.item_title {
										padding-left: 0;
									}
								}
							}
							.info_table_item {
								width: 100%;
								height: 20px;
								font-size: 13px;
								color: #666;
								transition: background-color .3s;
								td {
									padding: 14px 9px 0;
									overflow: hidden;
									line-height: 18px;
									text-overflow: ellipsis;
									white-space: nowrap;
									vertical-align: top;
									&.item_title {
										padding-top: 10px;
										padding-left: 0;
										white-space: nowrap;
										&:last-child {
											padding-bottom: 15px;
										}
										.cinema_city {
											color: #9b9b9b;
										}
									}
									.releases_popup {
										position: fixed;
										z-index: 5;
										display: none;
										width: 225px;
										padding: 25px;
										white-space: normal;
										cursor: default;
										background-color: #fff;
										border: 1px solid #d5d7dc;
										box-shadow: 0 0 10px rgba(0, 0, 0, .3);
										&:hover {
											display: block;
										}
										&:before,
										&:after {
											position: absolute;
											width: 0;
											height: 0;
											content: '';
											border-color: transparent;
											border-style: solid;
											border-top: 0;
											transform: rotate(-90deg);
										}
										/* Stroke */
										&:before {
											top: 16px;
											left: -17px;
											border-width: 11px;
											border-bottom-color: #d5d7dc;
										}
										/* Fill */
										&:after {
											top: 16px;
											left: -15px;
											border-width: 10px;
											border-bottom-color: #fff;
										}
									}
									.icon-key {
										position: relative;
										display: inline-block;
										margin-top: 3px;
										font-family: 'FontAwesome';
										font-size: 13px;
										font-style: normal;
										color: #ff8080;
										&.active {
											color: #8bc34a;
											&:before {
												content: '';
											}
										}
										&.delivery {
											margin-right: -1px;
											color: #f93;
											&:before {
												content: '';
											}
										}
										&:before {
											content: '';
										}
									}
								}
							}
						}
					}
					.title_block {
						display: inline-block;
						max-width: calc(100% - 80px);
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.distributor_name {
						color: #9b9b9b;
						vertical-align: top;
					}
				}
			}
			.head {
				height: 100%;
				text-align: left;
				background-color: transparent;
				.top {
					padding-bottom: 15px;
					margin-top: -2px;
					.title {
						display: inline-block;
						padding: 0 7px 0 6px;
						font-size: 21px;
						line-height: 24px;
						color: #141823;
						vertical-align: top;
						background-color: transparent;
					}
					.date {
						display: inline-block;
						font-size: 21px;
						line-height: 24px;
						color: #666;
						vertical-align: top;
					}
				}
				.bottom {
					.item {
						color: #9b9b9b;
					}
				}
			}
			.body {
				.line {
					position: relative;
					height: 22px;
					overflow: hidden;
					line-height: 21px;
					cursor: pointer;
					border-bottom: 1px solid #d5d7dc;
					transition: height .3s;
					&:first-child {
						height: 23px;
						border-top: 1px solid #d5d7dc;
					}
					.arrow_down {
						position: absolute;
						top: 5px;
						right: 8px;
						width: 11px;
						height: 11px;
						overflow: hidden;
						background: url('/img/arrow_down.svg') no-repeat scroll 0 0 / 11px rgba(0, 0, 0, 0);
						opacity: .5;
						transition: transform .3s;
						&.arrow_up {
							transform: rotate(180deg);
						}
					}
					&:nth-child(2n-1) {
						background-color: #f6f8fd;
					}
					&:hover {
						background-color: #eaeef2;
					}
					.item {
						color: #141823;
						&.name,
						&.key {
							height: 23px;
						}
						.ico {
							position: relative;
							display: inline-block;
							font-family: 'FontAwesome';
							font-size: 13px;
							font-style: normal;
							color: #ff8080;
							vertical-align: middle;
							&.active {
								color: #b8d688;
								&:before {
									content: '';
								}
							}
							&.delivery {
								margin-right: -1px;
								color: #fd9840;
								&:before {
									content: '';
								}
							}
							&:before {
								content: '';
							}
						}
					}
				}
			}
		}
	}
	.middle_line {
		display: table;
		width: 100%;
		padding-bottom: 21px;
		.releases_news {
			display: table-cell;
			width: 36%;
			padding: 21px 15px;
			margin: 0 21px 21px 0;
			vertical-align: top;
			background-color: #fff;
			border: 1px solid #d8d8d8;
			border-radius: 3px;
			.head {
				height: 100%;
				text-align: left;
				background-color: transparent;
				.top {
					padding-bottom: 15px;
					margin-top: -2px;
					.title {
						display: inline-block;
						padding: 0 7px 0 6px;
						font-size: 21px;
						line-height: 24px;
						color: #141823;
						vertical-align: top;
						background-color: transparent;
					}
					.date {
						display: inline-block;
						font-size: 21px;
						line-height: 24px;
						color: #666;
						vertical-align: top;
					}
				}
				.bottom {
					.item {
						display: inline-block;
						padding-right: 9px;
						font-size: 12px;
						color: #9b9b9b;
						vertical-align: top;
						&.name {
							width: 51%;
							padding-left: 5px;
						}
						&.changed {
							width: 25%;
						}
						&.date {
							width: 24%;
						}
					}
				}
			}
			.list {
				.item {
					height: 21px;
					line-height: 21px;
					color: #000;
					cursor: pointer;
					&:nth-child(2n-1) {
						background-color: #f6f8fd;
					}
					&:hover {
						background-color: #eaeef2;
					}
					.name {
						display: inline-block;
						width: 51%;
						height: inherit;
						padding-right: 9px;
						padding-left: 5px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
						.title_block {
							display: inline-block;
							max-width: calc(100% - 80px);
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.distributor_name {
							margin-left: 2px;
							color: #9b9b9b;
							vertical-align: top;
						}
					}
					.changed {
						display: none;
						width: 25%;
						padding-right: 9px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
						&:nth-child(2) {
							display: inline-block;
						}
					}
					.date {
						display: inline-block;
						width: 24%;
						padding-right: 9px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
					}
				}
			}
			.all {
				display: inline-block;
				margin: 11px 0 0 5px;
				font-size: 13px;
				line-height: 15px;
				color: #4378a4;
				vertical-align: top;
				cursor: pointer;
				&:hover {
					color: #e64c3b;
				}
			}
		}
		.kdm_news {
			display: table-cell;
			padding: 21px 15px;
			margin-bottom: 21px;
			vertical-align: top;
			background-color: #fff;
			border: 1px solid #d8d8d8;
			border-radius: 3px;
			.head {
				height: 100%;
				text-align: left;
				background-color: transparent;
				.top {
					padding-bottom: 15px;
					margin-top: -2px;
					.title {
						display: inline-block;
						padding: 0 7px 0 6px;
						font-size: 21px;
						line-height: 24px;
						color: #141823;
						vertical-align: top;
						background-color: transparent;
					}
					.date {
						display: inline-block;
						font-size: 21px;
						line-height: 24px;
						color: #666;
						vertical-align: top;
					}
				}
				.bottom {
					.item {
						display: inline-block;
						padding-right: 9px;
						font-size: 12px;
						color: #9b9b9b;
						vertical-align: top;
						&.cinema {
							width: 25%;
							padding-left: 5px;
						}
						&.hall {
							width: 14%;
						}
						&.title {
							width: 47%;
						}
						&.date {
							width: 14%;
						}
					}
				}
			}
			.list {
				.item {
					height: 21px;
					line-height: 21px;
					color: #000;
					&:nth-child(2n-1) {
						background-color: #f6f8fd;
					}
					.cinema {
						display: inline-block;
						width: 25%;
						padding-right: 9px;
						padding-left: 5px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
					}
					.hall {
						display: inline-block;
						width: 14%;
						padding-right: 9px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
					}
					.title {
						display: inline-block;
						width: 47%;
						padding-right: 9px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
						background-color: transparent;
						.title_block {
							display: inline-block;
							max-width: calc(100% - 120px);
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.format {
							color: #797979;
							text-transform: uppercase;
							vertical-align: top;
						}
						.distributor_name {
							color: #797979;
							vertical-align: top;
						}
					}
					.date {
						display: inline-block;
						width: 14%;
						padding-right: 9px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
					}
				}
			}
			.help {
				padding-top: 20px;
			}
			.all {
				display: inline-block;
				margin: 11px 0 0 5px;
				font-size: 13px;
				line-height: 15px;
				color: #4378a4;
				vertical-align: top;
				cursor: pointer;
				&:hover {
					color: #e64c3b;
				}
			}
		}
	}
	.left_bottom {
		display: inline-block;
		width: calc(67% - 65px);
		margin: 0 21px 21px 0;
		vertical-align: top;
		.shipment_news {
			display: block;
			padding: 21px 15px;
			background-color: #fff;
			border: 1px solid #d8d8d8;
			border-radius: 3px;
			.head {
				height: 100%;
				text-align: left;
				background-color: transparent;
				.top {
					padding-bottom: 15px;
					margin-top: -2px;
					.title {
						display: inline-block;
						padding: 0 7px 0 6px;
						font-size: 21px;
						line-height: 24px;
						color: #141823;
						vertical-align: top;
						background-color: transparent;
					}
					.date {
						display: inline-block;
						font-size: 21px;
						line-height: 24px;
						color: #666;
						vertical-align: top;
					}
				}
				.bottom {
					.item {
						display: inline-block;
						padding-right: 9px;
						font-size: 12px;
						color: #9b9b9b;
						vertical-align: top;
						&.title {
							width: 29%;
							padding-left: 5px;
						}
						&.format {
							width: 17%;
						}
						&.cinema {
							width: 22%;
						}
						&.date {
							width: 15%;
							padding-left: 3px;
						}
					}
				}
			}
			.list {
				.item {
					height: 21px;
					line-height: 21px;
					color: #000;
					cursor: pointer;
					&:nth-child(2n-1) {
						background-color: #f6f8fd;
					}
					&:hover {
						background-color: #eaeef2;
					}
					.title {
						display: inline-block;
						width: 29%;
						padding-right: 9px;
						padding-left: 5px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
						background-color: transparent;
						.title_block {
							display: inline-block;
							max-width: calc(100% - 80px);
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.distributor_name {
							color: #9b9b9b;
							vertical-align: top;
						}
					}
					.format {
						display: inline-block;
						width: 17%;
						padding-right: 9px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
					}
					.cinema {
						display: inline-block;
						width: 22%;
						padding-right: 9px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
					}
					.date {
						position: relative;
						display: inline-block;
						width: 15%;
						padding-right: 9px;
						padding-left: 3px;
						overflow: hidden;
						font-size: 13px;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
						.status {
							left: 3px;
							display: inline-block;
							margin-right: 2px;
							font-family: 'FontAwesome';
							font-size: 13px;
							color: #8bc34a;
							&:before {
								content: '';
							}
						}
					}
				}
			}
			.all {
				display: inline-block;
				margin: 11px 0 0 5px;
				font-size: 13px;
				line-height: 15px;
				color: #4378a4;
				vertical-align: top;
				cursor: pointer;
				&:hover {
					color: #e64c3b;
				}
			}
		}
		.cinemas {
			display: block;
			padding: 21px 15px;
			margin-top: 21px;
			background-color: #fff;
			border: 1px solid #d8d8d8;
			border-radius: 3px;
			.head {
				height: 65px;
				text-align: left;
				background-color: transparent;
				.top {
					padding-bottom: 15px;
					margin-top: -2px;
					.title {
						display: inline-block;
						padding: 0 7px 0 6px;
						font-size: 21px;
						line-height: 24px;
						color: #141823;
						vertical-align: top;
						background-color: transparent;
					}
					.date {
						display: inline-block;
						font-size: 21px;
						line-height: 24px;
						color: #666;
						vertical-align: top;
					}
				}
				.bottom {
					.item {
						display: inline-block;
						padding-right: 9px;
						font-size: 12px;
						color: #9b9b9b;
						vertical-align: top;
						&.title {
							width: 31%;
							padding-left: 5px;
						}
						&.city {
							width: 21%;
						}
						&.halls {
							width: 33px;
							padding-right: 0;
							text-align: right;
						}
					}
				}
			}
			.body {
				.line {
					height: 21px;
					line-height: 21px;
					&:nth-child(2n-1) {
						background-color: #f6f8fd;
					}
					.item {
						display: inline-block;
						padding-right: 9px;
						overflow: hidden;
						font-size: 13px;
						color: #000;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
						background-color: transparent;
						&.title {
							width: 31%;
							padding-left: 5px;
						}
						&.city {
							width: 21%;
						}
						&.halls {
							width: 33px;
							padding-right: 0;
							text-align: right;
						}
					}
				}
			}
			.more {
				display: inline-block;
				margin: 11px 0 0 5px;
				font-size: 13px;
				line-height: 15px;
				color: #4378a4;
				vertical-align: top;
				cursor: pointer;
				&:hover {
					color: #e64c3b;
				}
			}
		}
	}
	.messages {
		display: inline-block;
		width: calc(33% + 44px);
		min-height: 335px;
		padding: 21px 21px 11px;
		vertical-align: top;
		background-color: #fff;
		border: 1px solid #d8d8d8;
		border-radius: 3px;
		.title {
			display: block;
			margin-top: -2px;
			font-size: 21px;
			line-height: 24px;
			color: #141823;
			background-color: transparent;
		}
		.list {
			margin: 0 -21px;
			.item {
				position: relative;
				padding: 17px 21px;
				overflow: hidden;
				line-height: normal;
				border-bottom: 1px solid #d5d7dc;
				transition: background-color .3s;
				&:hover {
					cursor: pointer;
					background-color: #eaeef2;
				}
			}
		}
		.all {
			display: inline-block;
			margin: 11px 0 0 5px;
			font-size: 13px;
			line-height: 15px;
			color: #4378a4;
			vertical-align: top;
			cursor: pointer;
			&:hover {
				color: #e64c3b;
			}
		}
	}
	.table_space {
		display: table-cell;
		width: 21px;
		background-color: #e5e5e5;
	}
	.dashboard_block {
		&:hover {
			border: 1px solid #94bdde;
		}
		.help_message {
			display: inline-block;
			font-size: 14px;
			font-weight: normal;
			line-height: 20px;
			color: #9b9b9b;
			text-align: center;
			vertical-align: top;
			transition: opacity .3s;
			&.send_to_releases {
				z-index: 1;
				text-decoration: underline;
				cursor: pointer;
			}
		}
		.help {
			display: inline-block;
			width: 100%;
			height: 100px;
			font-size: 14px;
			font-weight: bolder;
			line-height: 20px;
			color: #9b9b9b;
			text-align: center;
			vertical-align: top;
			transition: opacity .3s;
		}
	}
}
