#dashboard_distributor {
	height: 100%;
	font-size: 0;
	.filter {
		.dashboard_sections {
			display: inline-block;
			font-size: 0;
			vertical-align: top;
			.item {
				display: inline-block;
				width: 145px;
				height: 39px;
				font-size: 14px;
				line-height: 38px;
				text-align: center;
				text-decoration: none;
				vertical-align: top;
				cursor: pointer;
				background-color: #fff;
				border-top: 1px solid $default-border;
				border-right: 1px solid $default-border;
				border-bottom: 1px solid $default-border;
				&:first-child {
					border: 1px solid $default-border;
				}
				&.active {
					cursor: default;
					border-bottom-color: transparent;
					.text {
						border-color: #6083a6;
					}
					&:hover {
						.text {
							border-color: #6083a6;
						}
					}
				}
				&:hover {
					.text {
						border-color: #aaa;
					}
				}
				.text {
					display: block;
					margin: -1px;
					color: #333;
					border-color: transparent;
					border-top: 2px solid transparent;
					&.two_lines {
						padding-top: 4px;
						line-height: 15px;
					}
				}
			}
		}
		.b-filter {
			margin-right: 30px;
			.jq-selectbox__dropdown {
				right: 0;
				left: auto !important;
			}
		}
	}
	.distributor_dashboard_wrap {
		height: calc(100% - 50px);
		overflow-y: auto;
		.distributor_analysis,
		.distributor_history {
			width: calc(100% - 60px);
			margin-left: 30px;
		}
		.analysis-table {
			width: 100%;
			margin-bottom: 15px;
			.triangle_down {
				display: inline-block;
				width: 0;
				height: 0;
				margin-left: 4px;
				border-top: 6px solid #000;
				border-right: 3px solid transparent;
				border-left: 3px solid transparent;
				opacity: 0;
				transition: opacity .3s;
			}
			.sorted_item {
				cursor: pointer;
				border-bottom: 1px dashed #888;
			}
		}
		.analysis-confidentially {
			margin: 5px 0 5px;
		}
		.analysis-empty,
		.history_empty {
			margin-top: 200px;
			font-size: 17px;
			text-align: center;
		}
		.history_table {
			width: 100%;
			margin-top: 15px;
			margin-bottom: 15px;
			table-layout: fixed;
			background: #eaeef2;
			th {
				padding: 0 9px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			tr {
				height: 40px;
				line-height: 1.3;
				color: #888;
			}
			td {
				padding: 0 9px;
				overflow: hidden;
				color: #333;
				text-overflow: ellipsis;
				white-space: nowrap;
				.your_film_block {
					padding: 1px 0;
				}
				.your_films_date {
					color: #9b9b9b;
				}
			}
			.history_item {
				background-color: #fbfbfb;
				border-bottom: none;
				&:nth-child(2n-1) {
					background-color: #fff;
					.history_table__from_date,
					.history_table__to_date {
						background-color: #f3f5f8;
					}
				}
				&:hover {
					background-color: #eaeef2;
					.history_table__from_date,
					.history_table__to_date {
						background-color: #eaeef2;
					}
				}
				.history_table__your_films_old,
				.history_table__your_films_new {
					padding: 3px 9px;
				}
				.history_table__from_date,
				.history_table__to_date {
					width: 10%;
					background-color: #eaeef2;
					transition: background-color .3s;
				}
			}
		}
		.line {
			min-height: 132px;
			&:nth-child(2n) {
				.section {
					background-color: #fbfbfb;
					&:nth-child(4) {
						background-color: #eaeef2;
						.item {
							background-color: #eaeef2;
							.title {
								background-color: #eaeef2;
							}
							.dist {
								background-color: #eaeef2;
							}
						}
					}
					.item {
						background-color: #fbfbfb;
						.title {
							background-color: #fbfbfb;
						}
						.dist {
							background-color: #fbfbfb;
						}
					}
				}
			}
			&:hover {
				.section {
					background-color: #eaeef2;
					.item {
						background-color: #eaeef2;
						.title {
							background-color: #eaeef2;
						}
						.dist {
							background-color: #eaeef2;
						}
					}
					&:nth-child(4) {
						background-color: #eaeef2;
						.item {
							background-color: #eaeef2;
							.title {
								background-color: #eaeef2;
							}
							.dist {
								background-color: #eaeef2;
							}
						}
					}
				}
			}
			.section {
				display: inline-block;
				width: calc(100% / 7);
				box-sizing: border-box;
				padding: 16px 7px;
				vertical-align: top;
				background-color: #fff;
				&:first-child {
					padding-left: 17px;
				}
				&:last-child {
					padding-right: 17px;
				}
				&:nth-child(4) {
					background-color: #f3f5f8;
					.date {
						color: #333;
						border-bottom-color: #94bbde;
					}
					.item {
						background-color: #f3f5f8;
						.title {
							background-color: #f3f5f8;
						}
						.dist {
							background-color: #f3f5f8;
						}
					}
				}
				.date {
					display: block;
					padding-bottom: 5px;
					font-size: 16px;
					line-height: 18px;
					color: #9b9b9b;
					border-bottom: 1px solid #d8d8d8;
					.gray {
						color: #9b9b9b;
						background-color: transparent;
					}
				}
				.item {
					padding-top: 11px;
					cursor: pointer;
					&.match {
						.title {
							font-size: 14px;
							font-weight: bold;
							line-height: 16px;
							color: #333;
						}
						.dist {
							font-size: 10px;
							line-height: 15px;
							color: #333;
						}
					}
					&.leave {
						.title {
							font-size: 14px;
							line-height: 16px;
							color: #333;
						}
						.dist {
							font-size: 10px;
							line-height: 15px;
							color: #333;
						}
					}
					&.enemy_match {
						.title {
							font-size: 14px;
							font-weight: bold;
							line-height: 16px;
							color: #ed4110;
						}
						.dist {
							font-size: 10px;
							line-height: 15px;
							color: #ed4110;
						}
					}
					&.enemy_leave {
						.title {
							font-size: 14px;
							line-height: 16px;
							color: #ed4110;
						}
						.dist {
							font-size: 10px;
							line-height: 15px;
							color: #ed4110;
						}
					}
					.title {
						display: block;
						overflow: hidden;
						font-size: 12px;
						line-height: 14px;
						color: #666;
						text-overflow: ellipsis;
						white-space: nowrap;
						background-color: transparent;
					}
					.dist {
						display: block;
						overflow: hidden;
						font-size: 10px;
						line-height: 13px;
						color: #999;
						text-overflow: ellipsis;
						white-space: nowrap;
						background-color: transparent;
					}
				}
			}
		}
		.distributor_prognosis {
			height: 100%;
			.analytics-wrapper {
				padding-top: 10px;
			}
			.prognosis_date {
				display: block;
				width: 1000px;
				margin: 0 auto;
				font-size: 16px;
				line-height: 32px;
			}
		}
	}
}
