#distributors {
	height: 100%;
	.filter_space {
		width: 100%;
		min-width: 805px;
		height: 50px;
	}
	.filter {
		height: 49px;
		padding: 0;
		.search {
			float: left;
			width: 264px;
			height: 100%;
			margin-right: 15px;
			border-right: 1px solid $default-border;
			.searching-module {
				width: 240px;
				margin: 13px 12px 0;
				.input {
					width: 184px;
					height: 22px;
					line-height: 15px;
				}
			}
		}
		.support {
			float: right;
			padding-top: 9px;
			margin-right: 10px;
			font-size: 14px;
			line-height: 16px;
			color: #333;
			text-align: right;
			.light {
				color: #8b8a8a;
			}
		}
	}
	#distributor_wr {
		height: 100%;
		overflow: hidden;

		@include clearfix();
		a {
			color: #3398da;
			text-decoration: none;
		}
		.list {
			float: left;
			width: 264px;
			height: calc(100% - 50px);
			padding-bottom: 1px;
			margin-top: -1px;
			overflow-y: auto;
			font-size: 0;
			border-right: 1px solid $default-border;
			.item {
				position: relative;
				padding: 15px 20px;
				color: #34495e;
				cursor: pointer;
				background-color: #fff;
				&:before {
					position: absolute;
					top: 0;
					right: 0;
					left: 20px;
					height: 1px;
					content: '';
					background-color: #d5d5d5;
				}
				&:after {
					position: absolute;
					right: 0;
					bottom: -1px;
					left: 20px;
					z-index: 1;
					height: 1px;
					content: '';
					background-color: #d5d5d5;
				}
				&:hover {
					background-color: #eaeef2;
					&:before,
					&:after {
						left: 0;
					}
				}
				&:active {
					background-color: #0b385f;
					&:before,
					&:after {
						left: 0;
						background-color: #0b385f;
					}
					.long,
					.short {
						color: #fff;
					}
				}
				&.active {
					cursor: default;
					background-color: #007ac2;
					&:before,
					&:after {
						left: 0;
						z-index: 1;
						background-color: #007ac2;
					}
					.long,
					.short {
						color: #fff;
					}
				}
				.long {
					display: block;
					padding-bottom: 5px;
					font-size: 16px;
					line-height: 19px;
					color: #333;
					.releases_number {
						color: #cacaca;
					}
				}
				.short {
					display: block;
					font-size: 12px;
					line-height: 11px;
					color: #cacaca;
				}
			}
		}
		.info {
			height: calc(100% - 72px);
			padding: 20px 0 0 45px;
			.item {
				min-width: 770px;
				overflow: hidden;
				.films {
					float: right;
					width: 248px;
					padding: 0 26px 14px;
					margin: 105px 0 51px;
					background-color: #f6f6f6;
					.title {
						display: block;
						padding-top: 5px;
						font-size: 18px;
						font-weight: normal;
						color: #000;
						background-color: #f6f6f6;
					}
					.films_item {
						padding-bottom: 16px;
						overflow: hidden;
						background-color: #f6f6f6;
						.image {
							float: left;
							width: 60px;
						}
						.image_cover {
							float: left;
							width: 60px;
							height: 88px;
						}
						.right {
							margin-left: 73px;
							.name {
								display: block;
								width: 100%;
								font-size: 14px;
								line-height: 16px;
								color: #4378a4;
								transition: color .3s;
								&:hover {
									color: #e64c3b;
								}
							}
							.en {
								display: block;
								padding: 4px 0;
								font-size: 13px;
								line-height: 16px;
								color: #9b9b9b;
							}
							.date {
								display: block;
								font-size: 13px;
								line-height: 14px;
								color: #333;
							}
						}
					}
					.all {
						display: inline-block;
						font-size: 14px;
						color: #4378a4;
						vertical-align: top;
						transition: color .3s;
						&:hover {
							color: #e64c3b;
						}
					}
				}
				.top {
					width: 400px;
					font-size: 0;
					white-space: nowrap;
					.left {
						display: inline-block;
						width: 100px;
						height: 100px;
						line-height: 100px;
						vertical-align: top;
						img {
							width: 100%;
							vertical-align: middle;
						}
					}
					.right {
						display: inline-block;
						padding: 15px 0 0 19px;
						vertical-align: top;
						.title {
							display: block;
							margin-bottom: 5px;
							font-size: 36px;
							line-height: 36px;
							color: #000;
							white-space: normal;
							background-color: transparent;
						}
						.short {
							display: block;
							margin: 0;
							font-size: 28px;
							font-weight: normal;
							line-height: 28px;
							color: #9b9b9b;
							white-space: normal;
						}
					}
				}
				.about {
					position: relative;
					width: 400px;
					padding: 27px 0 22px;
					margin-top: 5px;
					&:before {
						position: absolute;
						top: 0;
						left: 120px;
						width: 350px;
						height: 1px;
						content: '';
						background-color: #ececec;
					}
					.table {
						font-size: 14px;
						td {
							padding: 0 0 5px 0;
							color: #333;
							vertical-align: top;
							a {
								color: #4378a4;
								transition: color .3s;
								&:hover {
									color: #e64c3b;
								}
							}
							&.left {
								width: 100px;
								padding: 0 19px 5px 0;
								color: #898989;
								text-align: right;
								vertical-align: top;
							}
						}
					}
				}
				.contacts {
					.contacts__item {
						position: relative;
						width: 400px;
						padding: 27px 0 2px;
						&:before {
							position: absolute;
							top: 0;
							left: 120px;
							width: 350px;
							height: 1px;
							content: '';
							background-color: #ececec;
						}
						.table {
							font-size: 14px;
							td {
								padding: 0 0 5px 0;
								color: #333;
								vertical-align: top;
								&.left {
									width: 100px;
									padding: 0 19px 5px 0;
									color: #898989;
									text-align: right;
									vertical-align: top;
								}
								&.department {
									display: block;
									padding-bottom: 20px;
									font-size: 30px;
									color: #000;
								}
								&.position {
									display: block;
									padding-bottom: 5px;
									font-size: 18px;
									color: #000;
									&:first-letter {
										text-transform: uppercase;
									}
								}
								&.fio {
									display: block;
									padding-bottom: 5px;
									font-size: 18px;
									color: #9b9b9b;
								}
								&.phone {
									display: block;
									font-size: 14px;
									color: #333;
								}
								.mail {
									font-size: 14px;
									color: #4378a4;
									transition: color .3s;
									&:hover {
										color: #e64c3b;
									}
								}
							}
							.last td {
								padding-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}
}
