//
// Dropdown menus
// --------------------------------------------------

$zindex-dropdown: 12000;

$font-size-base:       12px;
$line-height-base:     14px;
$line-height-computed: 0.857;

$dropdown-bg: #fff;
$dropdown-border: #e5e5e5;

$border-radius-base: 4px;

$dropdown-link-color:       #4378a4;
$dropdown-link-hover-color: #4378a4;
$dropdown-link-hover-bg:    #eaf0f8;

$dropdown-link-active-color:   #000;
$dropdown-link-active-bg:      #fff;
$dropdown-link-disabled-color: #333;

$dropdown-divider-bg: #000;
$divider-color:       #eee;
$cursor-disabled: not-allowed;



// The dropdown wrapper (div)
.dropdown {
	position: relative;
	* {
		box-sizing: border-box;
		&:before,
		&:after {
			box-sizing: border-box;
		}
	}
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
	outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: $zindex-dropdown;
	display: none; // none by default, but block on "open" of the menu
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 5px 0 0; // override default ul
	font-size: $font-size-base;
	text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
	list-style: none;
	background-color: $dropdown-bg;
	background-clip: padding-box;
	border: 1px solid $dropdown-border;
	border-radius: $border-radius-base;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	&--padded {
		padding: 0 7px;
		> li a {
			min-height: 26px;
			margin: 7px 0;
			line-height: 26px;
			border: 1px solid rgba(0, 0, 0, .2);
			border-radius: $border-radius-base;
		}
	}
	&--width_full {
		right: 0;
		left: 0;
	}
	// Aligns the dropdown menu to right
	//
	// Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
	&.pull-right {
		right: 0;
		left: auto;
	}
	// Dividers (basically an hr) within the dropdown
	.divider {
		height: 1px;
		margin: (($line-height-computed / 2) - 1) 0;
		overflow: hidden;
		background-color: $divider-color;
	}
	// Reset global li hover :hankey:
	> li:hover {
		background: none;
	}
	// Links within the dropdown menu
	> li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: $line-height-base;
		color: $dropdown-link-color;
		white-space: nowrap; // prevent links from randomly breaking onto new lines
	}
}

// Hover/Focus state
.dropdown-menu > li > a {
	&:hover,
	&:focus {
		color: $dropdown-link-hover-color;
		text-decoration: none;
		background-color: $dropdown-link-hover-bg;
	}
}

// Active state
.dropdown-menu > .active > a {
	&,
	&:hover,
	&:focus {
		color: $dropdown-link-active-color;
		text-decoration: none;
		background-color: $dropdown-link-active-bg;
		outline: 0;
	}
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
	&,
	&:hover,
	&:focus {
		color: $dropdown-link-disabled-color;
	}
	// Nuke hover/focus effects
	&:hover,
	&:focus {
		text-decoration: none;
		cursor: $cursor-disabled;
		background-color: transparent;
		background-image: none; // Remove CSS gradient
	}
}

// Open state for the dropdown
.open {
	// Show the menu
	> .dropdown-menu {
		display: block;
	}
	// Remove the outline when :focus is triggered
	> a {
		outline: 0;
	}
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right {
	right: 0;
	left: auto; // Reset the default from `.dropdown-menu`
}
// With v3, we enabled auto-flipping if you have a dropdown within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default dropdown menu alignment.
//
// This is only for left-aligning a dropdown menu within a `.navbar-right` or
// `.pull-right` nav component.
.dropdown-menu-left {
	right: auto;
	left: 0;
}
