.employees {
	height: calc(100% - 30px);
	padding: 15px;
	overflow-y: scroll;
	font-size: 13px;
	th,
	td {
		text-align: left;
		white-space: normal;
	}
	td:first-child {
		color: #fff;
		text-align: center;
		.fa {
			padding: 5px 7px 3px 7px;
			background: #999;
			border-radius: 10px;
			&.online {
				background: #49bf67;
			}
		}
	}
	&-cinemas {
		display: inline-block;
		line-height: 20px;
		vertical-align: top;
		&:first-of-type {
			padding-left: 15px;
		}
		&__city {
			font-size: 10px;
			color: gray;
		}
	}
}
