.feedback-popup {
	position: fixed;
	top: calc(50% - 190px);
	left: calc(50% - 300px);
	z-index: 10000;
	width: 600px;
	overflow: hidden;
	font-size: 14px;
	background-color: #fff;
	border-radius: 8px;
	* {
		box-sizing: border-box;
	}
	&-top {
		position: relative;
		line-height: 60px;
		text-align: center;
		border-bottom: 1px solid $default-border;
		&__title {
			font-size: 18px;
			color: #000;
			vertical-align: middle;
		}
	}
	&__header {
		padding: 10px 15px;
		text-align: left;
		border-bottom: 1px solid $default-border;
	}
	&__message {
		width: 100%;
		height: 200px;
		padding: 15px;
		overflow-y: auto;
		resize: none;
		border: none;
	}
	&__screenshot {
		margin: 0 5px 0 15px;
	}
}
