#halls {
	display: none;
	height: 100%;
	background-color: #f6f6f6;
	.cinema_schedule {
		position: relative;
		height: calc(100% - 101px);
		overflow-x: hidden;
		overflow-y: scroll;
		border-bottom: 1px solid #ccc;
		&.not_show {
			.add_release {
				display: none !important;
			}
			.release {
				cursor: default;
			}
		}
		.filter {
			position: absolute;
			margin-left: 0;
			.jq-selectbox__dropdown {
				right: auto;
				left: 0;
			}
			.date {
				position: absolute;
				top: 10px;
				left: 50%;
				width: 200px;
				height: 30px;
				margin-left: -100px;
				text-align: center;
				.arrow_left {
					position: absolute;
					top: 0;
					left: 0;
					width: 30px;
					height: 30px;
					cursor: pointer;
					.arrow_left__ico {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 8px;
						height: 13px;
						margin: -7px 0 0 -5px;
						background: url(/img/arrow_left_right.svg) no-repeat;
					}
				}
				.arrow_right {
					position: absolute;
					top: 0;
					right: 0;
					width: 30px;
					height: 30px;
					cursor: pointer;
					.arrow_right__ico {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 8px;
						height: 13px;
						margin: -7px 0 0 -4px;
						background: url(/img/arrow_left_right.svg) no-repeat 0 -13px;
					}
				}
				.month {
					display: inline-block;
					padding: 6px 2px 0 0;
					font-size: 20px;
					color: #333;
					vertical-align: top;
				}
				.year {
					display: inline-block;
					padding-top: 6px;
					font-size: 20px;
					color: #333;
					vertical-align: top;
				}
			}
		}
		.halls_head {
			position: fixed;
			right: 0;
			left: 50px;
			z-index: 10;
			height: 52px;
			overflow: hidden;
			border-bottom: 1px solid #ccc;
			.date {
				position: fixed;
				z-index: 1;
				z-index: 11;
				display: inline-block;
				width: 63px;
				height: 52px;
				font-size: 12px;
				line-height: 52px;
				color: #9a9a9a;
				text-align: center;
				vertical-align: top;
				background-color: #f2f2f2;
				background-color: #f2f2f2;
				border-right: 1px solid #ccc;
			}
			.list {
				position: absolute;
				left: 64px;
				z-index: 1;
				width: calc(100% - 141px);
				width: calc(100% - 63px);
				height: 52px;
				font-size: 0;
				text-align: left;
				white-space: nowrap;
				.item {
					display: inline-block;
					width: calc(100%/7);
					height: 100%;
					box-sizing: border-box;
					line-height: normal;
					vertical-align: top;
					border-right: 1px solid #ccc;
					.title {
						display: block;
						padding: 11px 10px 0 10px;
						overflow: hidden;
						font-size: 12px;
						line-height: 14px;
						color: #333;
						text-overflow: ellipsis;
						white-space: nowrap;
						background: none;
					}
					.capacity {
						display: inline-block;
						padding-top: 4px;
						font-size: 12px;
						line-height: 14px;
						color: #9b9b9b;
						vertical-align: top;
					}
					.bottom {
						display: block;
						padding-top: 4px;
						padding-left: 10px;
						overflow: hidden;
						font-size: 12px;
						line-height: 14px;
						color: #9b9b9b;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
			}
		}
		.halls_body {
			position: relative;
			z-index: 1;
			height: calc(100% - 53px);
			padding-top: 53px;
			.week {
				position: relative;
				display: block;
				width: 100%;
				min-height: 140px;
				font-size: 0;
				background-color: #fff;
				border-bottom: 1px solid #ccc;
				&:last-child {
					border-bottom: none;
				}
				.calendar {
					position: absolute;
					z-index: 1;
					display: inline-block;
					width: 63px;
					height: 100%;
					text-align: center;
					vertical-align: top;
					background-color: #f2f2f2;
					border-right: 1px solid #ccc;
					.info {
						position: absolute;
						top: 11px;
						right: 7px;
						text-align: right;
						.day {
							display: block;
							font-size: 21px;
							line-height: 21px;
							color: #333;
						}
						.month {
							display: block;
							padding-top: 2px 0 1px;
							font-size: 14px;
							line-height: 14px;
							color: #333;
							text-transform: lowercase;
						}
						.percent {
							display: none;
							padding-top: 4px;
							font-size: 11px;
							line-height: 11px;
							color: #9b9b9b;
							&.red {
								color: #e64c3b;
							}
						}
					}
					.repertoire_viewer {
						position: absolute;
						right: 7px;
						bottom: 10px;
						width: 16px;
						height: 13px;
						cursor: pointer;
						background: url(/img/repertoire_viewer@2x.png) no-repeat;
						background-size: 16px;
						&.active {
							background-position: 0 -13px;
						}
					}
				}
				.list {
					position: absolute;
					top: 0;
					left: 64px;
					width: calc(100% - 63px);
					height: 100%;
					line-height: normal;
					white-space: nowrap;
					&.active {
						.section {
							.repertoire__list {
								display: block;
							}
							.add_release {
								display: none;
							}
							.release .status {
								width: 9px;
								height: 12px;
								margin: 0 3px;
								font-size: 9px;
								line-height: 12px;
								text-align: center;
								background-color: transparent !important;
								border: 1px solid #fff;
								border-radius: 0;
								border-radius: 2px;
							}
						}
					}
					.section {
						position: relative;
						display: inline-block;
						width: calc(100% / 7);
						height: 100%;
						box-sizing: border-box;
						font-size: 15px;
						color: #3c3c3c;
						vertical-align: top;
						user-select: none;
						border-right: 1px solid #ccc;
						&.active_cinema {
							background-color: #eee;
						}
						.add_release {
							position: absolute;
							right: 0;
							bottom: 0;
							left: 0;
							height: 20px;
							overflow: hidden;
							font-size: 10px;
							line-height: 20px;
							color: #666;
							text-align: center;
							text-overflow: ellipsis;
							white-space: nowrap;
							cursor: pointer;
							background-color: transparent;
							opacity: 0;
							&.visible {
								opacity: 1;
							}
							&.clicked {
								color: #fff;
								background-color: #007ac2;
							}
						}
						.one-release {
							&-format {
								position: absolute;
								top: 0;
								right: 0;
								display: none;
								width: 33px;
								height: 23px;
								font-size: 12px;
								color: #fff;
								line-height: 23px;
								text-align: center;
								text-transform: uppercase;
							}
							&-poster {
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								display: none;
								cursor: pointer;
								background-repeat: no-repeat;
								background-position: 50% 50%;
								background-size: cover;
							}
							&-status-count {
								position: absolute;
								right: 0;
								bottom: 0;
								left: 0;
								display: none;
								height: 4px;
								font-size: 0;
								color: #fff;
								text-align: center;
								&.full-size {
									height: 20px;
									overflow: hidden;
									font-size: 10px;
									line-height: 20px;
									color: #fff;
									text-overflow: ellipsis;
									white-space: nowrap;
									cursor: pointer;
								}
							}
							&-format,
							&-poster,
							&-status-count {
								&.active {
									display: block;
								}
								&.ex_active {
									display: none;
								}
							}
							&-format,
							&-status-count {
								&[data-status='1'] {
									background-color: #41c2b2;
								}
								&[data-status='2'] {
									background-color: #ff5c23;
								}
								&[data-status='3'] {
									background-color: #6690ff;
								}
								&[data-status='4'] {
									background-color: #bf1de3;
								}
							}
						}
						&:hover {
							background-color: #f6f6f6;
							.add_release {
								opacity: 1;
							}
						}
						&.drop_hover {
							background-color: #94bcdd;
						}
						.repertoire__list {
							display: none;
							.release {
								opacity: .5;
								&:hover {
									background-color: transparent;
									opacity: 1;
									.name {
										background-color: transparent;
									}
								}
								&.added {
									opacity: 1;
									.name {
										color: #2a6496;
									}
								}
							}
						}
						.release {
							position: relative;
							min-height: 14px;
							padding: 3px 0;
							overflow: hidden;
							font-size: 0;
							line-height: normal;
							white-space: normal;
							cursor: pointer;
							@for $i from 1 through length($default-palette) {
								&[data-color="#{nth($default-palette, $i)}"]{
									&.clicked{
										background-color: nth($default-palette, $i);
									}
									.name{
										color: nth($default-palette, $i);
									}
								}
							}
							&.backlight {
								background-color: #e5edf5;
								.status {
									width: 9px;
									height: 12px;
									margin: 0 3px;
									font-size: 9px;
									line-height: 12px;
									text-align: center;
									background-color: transparent !important;
									border: 1px solid #fff;
									border-radius: 0;
									border-radius: 2px;
								}
								.name {
									background-color: #e5edf5;
								}
							}
							&:last-child {
								margin-bottom: 0;
							}
							&.clicked {
								background-color: #007ac2;
								.status {
									width: 9px;
									height: 12px;
									margin: 0 3px;
									font-size: 9px;
									line-height: 12px;
									color: #fff !important;
									text-align: center;
									background-color: transparent !important;
									border: 1px solid #fff !important;
									border-radius: 0;
									border-radius: 2px;
								}
								.name,
								.inline-format,
								.comment {
									color: #fff !important;
								}
							}
							&.ex_clicked{
								background-color: transparent !important;
							}
							.status {
								display: inline-block;
								width: 7px;
								height: 7px;
								margin: 3px 4px 0 6px;
								font-size: 0;
								vertical-align: top;
								border-radius: 50%;
								&[data-status='1'] {
									color: #41c2b2;
									background-color: #41c2b2;
									border-color: #41c2b2;
								}
								&[data-status='2'] {
									color: #ff5c23;
									background-color: #ff5c23;
									border-color: #ff5c23;
								}
								&[data-status='3'] {
									color: #6690ff;
									background-color: #6690ff;
									border-color: #6690ff;
								}
								&[data-status='4'] {
									color: #bf1de3;
									background-color: #bf1de3;
									border-color: #bf1de3;
								}
							}
							.name {
								display: inline-block;
								width: calc(100% - 21px);
								margin: -1px 0 0 0;
								overflow: hidden;
								font-size: 12px;
								line-height: 16px;
								color: #333;
								text-overflow: ellipsis;
								background: transparent;
								&.short {
									width: calc(100% - 37px);
								}
							}
							.comment {
								position: absolute;
								top: 3px;
								right: 4px;
								font-size: 12px;
								color: #333;
							}
							.inline-format {
								font-size: 10px;
								color: #8b8b8b;
							}
						}
					}
				}
			}
		}
		.wrap {
			display: none;
			overflow-y: scroll;
			font-size: 0;
			.weeks {
				position: relative;
				z-index: 11;
				display: inline-block;
				width: 91px;
				text-align: center;
				vertical-align: top;
				background-color: #f2f2f2;
				border-right: 1px solid #ccc;
				.head {
					position: fixed;
					z-index: 1;
					display: block;
					width: 91px;
					height: 52px;
					font-size: 12px;
					line-height: 52px;
					color: #9a9a9a;
					text-align: center;
					background-color: #f2f2f2;
					border-bottom: 1px solid #ccc;
				}
				.item {
					position: relative;
					background-color: #f2f2f2;
					border-bottom: 1px solid #ccc;
					&:nth-child(2) {
						margin-top: 52px;
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}

.seance_info {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 50px;
	z-index: 1;
	height: 50px;
	padding-left: 91px;
	font-size: 0;
	background-color: #f6f6f6;
	border-top: 1px solid #ccc;
	.left {
		display: inline-block;
		padding-left: 15px;
		vertical-align: top;
		.top {
			padding-top: 8px;
			.hall {
				display: inline-block;
				font-size: 16px;
				line-height: 16px;
				color: #333;
				vertical-align: top;
			}
			.release {
				display: inline-block;
				padding: 0 7px 0 6px;
				font-size: 16px;
				font-weight: bold;
				line-height: 16px;
				color: #333;
				vertical-align: top;
			}
			.remove {
				display: inline-block;
				font-size: 14px;
				line-height: 16px;
				color: #e64c3b;
				vertical-align: top;
				cursor: pointer;
			}
		}
		.bottom {
			padding-top: 2px;
			span {
				display: inline-block;
				padding-right: 4px;
				font-size: 13px;
				line-height: 13px;
				color: #666;
				vertical-align: top;
			}
		}
	}
}

.cinema_schedule__popup {
	width: 498px;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
	.top {
		display: none;
		padding: 0 13px;
		.search {
			position: relative;
			height: 73px;
			padding: 19px 0;
			&.match {
				height: auto;
			}
			.input {
				width: calc(100% - 52px);
				height: 24px;
				padding: 0 25px 0 27px;
				font-size: 13px;
				line-height: 13px;
				color: #666;
				background: #fff url(/img/release_search_single.svg) no-repeat 8px 5px;
				border: 1px solid $default-border;
				border-radius: 16px;
			}
			.remove_text {
				position: absolute;
				top: 26px;
				right: 8px;
				display: none;
				width: 12px;
				height: 12px;
				cursor: pointer;
				background: url(/img/release-remove@2x.png) no-repeat;
				-webkit-background-size: 12px;
				        background-size: 12px;
			}
			.results {
				position: relative;
				display: none;
				max-height: 407px;
				margin-top: 5px;
				overflow-x: hidden;
				overflow-y: scroll;
				background-color: #fff;
				border-radius: 4px;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
				.item {
					display: block;
					padding: 11px;
					overflow: hidden;
					text-decoration: none;
					cursor: pointer;
					border-bottom: 1px solid #e4e4e4;
					&:last-child {
						border-bottom: none;
					}
					&.selected {
						background-color: #007ac2;
						.right {
							.ru,
							.en,
							.formats {
								color: #fff;
							}
							.info {
								.date,
								.dist,
								.age {
									color: #fff;
								}
							}
						}
					}
					.left {
						float: left;
						width: 40px;
						.poster {
							width: 100%;
						}
						.poster_ico {
							display: block;
							width: 40px;
							height: 59px;
						}
					}
					.right {
						float: left;
						padding-left: 10px;
						.ru {
							display: block;
							width: 360px;
							padding-bottom: 5px;
							overflow: hidden;
							font-size: 13px;
							line-height: 13px;
							color: #4378a4;
							text-overflow: ellipsis;
							white-space: nowrap;
							.format {
								color: #e64c3b;
							}
						}
						.en {
							display: block;
							width: 360px;
							padding-bottom: 7px;
							overflow: hidden;
							font-size: 12px;
							line-height: 12px;
							color: #333;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.info {
							display: block;
							padding-bottom: 3px;
							padding-left: 0;
							font-size: 0;
							line-height: 11px;
							color: #8c8c8c;
							.date {
								display: inline-block;
								font-size: 11px;
								line-height: 11px;
								vertical-align: top;
							}
							.dist {
								display: inline-block;
								padding-left: 5px;
								font-size: 11px;
								line-height: 11px;
								vertical-align: top;
							}
							.age {
								display: inline-block;
								padding-left: 5px;
								font-size: 11px;
								line-height: 11px;
								vertical-align: top;
							}
						}
					}
				}
			}
			.short_list {
				padding-top: 15px;
				.tabs {
					margin-bottom: 13px;
					overflow: hidden;
					font-size: 0;
					border: 1px solid #94bcdd;
					border-radius: 8px;
					.item {
						display: inline-block;
						width: 50%;
						height: 30px;
						font-size: 14px;
						line-height: 30px;
						color: #4378a4;
						text-align: center;
						vertical-align: top;
						cursor: pointer;
						&:first-child {
							width: calc(50% - 1px);
							border-right: 1px solid #94bcdd;
						}
						&.active {
							cursor: default;
							background-color: #f5f7fa;
						}
					}
				}
				.sections {
					.releases {
						position: relative;
						display: none;
						max-height: 407px;
						margin-top: 5px;
						overflow-x: hidden;
						overflow-y: scroll;
						background-color: #fff;
						border-radius: 4px;
						box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
						&.visible {
							display: block;
						}
						.item {
							display: block;
							padding: 11px;
							overflow: hidden;
							font-size: 13px;
							line-height: 14px;
							text-decoration: none;
							cursor: pointer;
							border-bottom: 1px solid #e4e4e4;
							&:last-child {
								border-bottom: none;
							}
							&.selected {
								background-color: #007ac2;
								.date,
								.formats,
								.title {
									color: #fff;
								}
							}
							.date {
								display: inline-block;
								width: 115px;
								padding-right: 15px;
								color: #333;
								vertical-align: top;
							}
							.formats {
								float: right;
								color: #8c8c8c;
							}
							.title {
								display: inline-block;
								width: 195px;
								overflow: hidden;
								color: #4378a4;
								text-overflow: ellipsis;
								white-space: nowrap;
								vertical-align: top;
								background: none;
							}
						}
					}
				}
			}
		}
	}
}
