#keys {
	height: 100%;

	@include clearfix();
	.filter_space {
		width: 100%;
		min-width: 805px;
		height: 50px;
	}
	.filter {
		height: 49px;
		padding: 0;
		.search {
			float: left;
			width: 264px;
			height: 100%;
			margin-right: 15px;
			border-right: 1px solid $default-border;
			.searching-module {
				width: 240px;
				margin: 13px 12px 0;
				.input {
					width: 184px;
					height: 22px;
					line-height: 15px;
				}
			}
		}
		.right {
			padding-top: 10px;
		}
		.support {
			float: right;
			margin-right: 10px;
			font-size: 14px;
			line-height: 16px;
			color: #333;
			text-align: right;
			.light {
				color: #8b8a8a;
			}
		}
		.jq-selectbox__dropdown {
			right: auto;
			left: 0;
		}
	}
	#keys_wr {
		position: relative;
		height: calc(100% - 50px);
		overflow-y: auto;
		.list {
			float: left;
			width: 264px;
			height: 100%;
			padding-bottom: 1px;
			margin-top: -1px;
			overflow-y: auto;
			font-size: 0;
			border-right: 1px solid $default-border;
			.item {
				position: relative;
				padding: 15px 20px;
				color: #34495e;
				cursor: pointer;
				background-color: #fff;
				border-bottom: 1px solid #d5d5d5;
				&:hover {
					background-color: #eaeef2;
				}
				&:active {
					background-color: #0b385f;
					border-bottom: 1px solid #0b385f;
					.ru {
						color: #fff;
					}
					.active {
						color: #fff;
					}
					.dates {
						color: #fff;
					}
				}
				&.active {
					cursor: default;
					background-color: #007ac2;
					.ru {
						color: #fff;
					}
					.active {
						color: #fff;
					}
					.dates {
						color: #fff;
					}
				}
				.ru {
					display: block;
					padding-bottom: 5px;
					font-size: 16px;
					line-height: 18px;
				}
				.en {
					display: block;
					width: 0;
					height: 0;
					opacity: 0;
				}
				.active {
					display: block;
					font-size: 12px;
					line-height: 14px;
					color: #9b9b9b;
				}
				.dates {
					display: block;
					font-size: 12px;
					line-height: 14px;
					color: #9b9b9b;
				}
			}
		}
		.info {
			height: calc(100% - 30px);
			padding: 15px;
		}
		.missing_keys {
			margin: 150px auto;
			font-size: 24px;
			color: #8b8a8a;
			text-align: center;
		}
		.cinema_title {
			margin-bottom: 10px;
			font-size: 16px;
			color: #333;
		}
		.kdm_table {
			width: 100%;
			margin-bottom: 25px;
			vertical-align: top;
			.item {
				display: inline-block;
				padding: 0 9px;
				overflow: hidden;
				font-size: 12px;
				text-overflow: ellipsis;
				white-space: nowrap;
				vertical-align: top;
				background-color: transparent;
				border-right: 1px solid #d5d7dc;
				&:last-child {
					border-right: none;
				}
				&.item_hall_name {
					width: 10%;
				}
				&.item_format {
					width: 7%;
				}
				&.item_since_until {
					width: 31%;
				}
				&.item_kdm_name {
					width: calc(52% - 225px);
				}
				&.item_play_server {
					width: 61px;
					text-align: center;
				}
				&.item_download {
					width: 50px;
					text-align: center;
					.url {
						width: 10px;
						height: 10px;
						padding: 2px 5px;
						font-size: 16px;
						color: #4378a4;
						text-decoration: none;
						border-radius: 6px;
						&:before {
							display: inline-block;
							font-family: 'FontAwesome';
							content: '';
						}
						&:hover {
							color: #fff;
							cursor: pointer;
							background-color: #007ac2;
							border-color: #007ac2;
						}
						&:active {
							color: #fff;
							background-color: #0b385f;
							border-color: #0b385f;
						}
					}
				}
			}
			.head {
				width: 100%;
				height: 30px;
				font-size: 0;
				line-height: 30px;
				color: #9b9b9b;
				text-align: left;
				white-space: nowrap;
				background-color: #eaeef2;
				border-bottom: 2px solid #d5d7dc;
			}
			.body {
				.kdm_table_item {
					width: 100%;
					height: 31px;
					font-size: 0;
					line-height: 31px;
					background-color: #fff;
					border-bottom: 1px solid #d5d7dc;
					&:nth-child(2n-1) {
						background-color: #f6f8fd;
					}
					.item {
						color: #333;
						border-right-color: transparent;
					}
				}
			}
		}
	}
}
