#network {
	display: none;
	height: 100%;
	background-color: #f6f6f6;
	.network_wrap {
		position: relative;
		height: calc(100% - 50px);
		overflow-x: hidden;
		overflow-y: scroll;
		border-bottom: none;
		&.not_show {
			.add_release {
				display: none !important;
			}
			.release {
				cursor: default;
			}
		}
		.filter {
			position: absolute;
			margin-left: 0;
			.jq-selectbox__dropdown {
				right: auto;
				left: 0;
			}
			.date {
				position: absolute;
				top: 10px;
				left: 50%;
				width: 200px;
				height: 30px;
				margin-left: -100px;
				text-align: center;
				.arrow_left {
					position: absolute;
					top: 0;
					left: 0;
					width: 30px;
					height: 30px;
					cursor: pointer;
					.arrow_left__ico {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 8px;
						height: 13px;
						margin: -7px 0 0 -5px;
						background: url(/img/arrow_left_right.svg) no-repeat;
					}
				}
				.arrow_right {
					position: absolute;
					top: 0;
					right: 0;
					width: 30px;
					height: 30px;
					cursor: pointer;
					.arrow_right__ico {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 8px;
						height: 13px;
						margin: -7px 0 0 -4px;
						background: url(/img/arrow_left_right.svg) no-repeat 0 -13px;
					}
				}
				.month {
					display: inline-block;
					padding: 6px 2px 0 0;
					font-size: 20px;
					color: #333;
					vertical-align: top;
				}
				.year {
					display: inline-block;
					padding-top: 6px;
					font-size: 20px;
					color: #333;
					vertical-align: top;
				}
			}
		}
		.network_head {
			position: fixed;
			right: 0;
			left: 50px;
			z-index: 10;
			height: 52px;
			overflow: hidden;
			border-bottom: 1px solid #ccc;
			.date {
				position: fixed;
				z-index: 1;
				z-index: 11;
				display: inline-block;
				width: 91px;
				height: 52px;
				font-size: 12px;
				line-height: 52px;
				color: #9a9a9a;
				text-align: center;
				vertical-align: top;
				background-color: #f2f2f2;
				background-color: #f2f2f2;
				border-right: 1px solid #ccc;
			}
			.list {
				position: absolute;
				left: 92px;
				z-index: 1;
				width: calc(100% - 141px);
				width: calc(100% - 91px);
				height: 52px;
				font-size: 0;
				text-align: left;
				white-space: nowrap;
				.item {
					display: inline-block;
					width: calc(100%/7);
					height: 100%;
					box-sizing: border-box;
					line-height: normal;
					vertical-align: top;
					border-right: 1px solid #ccc;
					.title {
						display: block;
						padding: 11px 10px 0 10px;
						overflow: hidden;
						font-size: 12px;
						line-height: 14px;
						color: #333;
						text-overflow: ellipsis;
						white-space: nowrap;
						background: none;
					}
					.capacity {
						display: inline-block;
						padding-top: 4px;
						font-size: 12px;
						line-height: 14px;
						color: #9b9b9b;
						vertical-align: top;
					}
					.bottom {
						display: block;
						padding-top: 4px;
						padding-left: 10px;
						overflow: hidden;
						font-size: 12px;
						line-height: 14px;
						color: #9b9b9b;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
			}
		}
		.network_body {
			position: relative;
			z-index: 1;
			height: 100%;
			padding-top: 53px;
			.week {
				position: relative;
				display: block;
				width: 100%;
				min-height: 140px;
				font-size: 0;
				background-color: #fff;
				border-bottom: 1px solid #ccc;
				&:last-child {
					border-bottom: none;
				}
				.calendar {
					position: absolute;
					z-index: 1;
					display: inline-block;
					width: 91px;
					height: 100%;
					text-align: center;
					vertical-align: top;
					background-color: #f2f2f2;
					border-right: 1px solid #ccc;
					.info {
						position: absolute;
						top: 11px;
						right: 7px;
						text-align: right;
						.day {
							display: block;
							font-size: 21px;
							line-height: 21px;
							color: #333;
						}
						.month {
							display: block;
							padding-top: 2px 0 1px;
							font-size: 14px;
							line-height: 14px;
							color: #333;
							text-transform: lowercase;
						}
						.percent {
							display: none;
							padding-top: 4px;
							font-size: 11px;
							line-height: 11px;
							color: #9b9b9b;
							&.red {
								color: #e64c3b;
							}
						}
					}
					.repertoire_viewer {
						position: absolute;
						right: 7px;
						bottom: 10px;
						width: 16px;
						height: 13px;
						cursor: pointer;
						background: url(/img/repertoire_viewer@2x.png) no-repeat;
						background-size: 16px;
						&.active {
							background-position: 0 -13px;
						}
					}
				}
				.list {
					position: absolute;
					top: 0;
					left: 92px;
					width: calc(100% - 91px);
					height: 100%;
					line-height: normal;
					white-space: nowrap;
					&.active {
						.section {
							.zeros {
								display: block;
							}
							&.no_rights {
								.zeros {
									display: none;
								}
							}
							.add_release {
								display: none;
							}
						}
					}
					.section {
						position: relative;
						display: inline-block;
						width: calc(100% / 7);
						height: 100%;
						box-sizing: border-box;
						font-size: 15px;
						color: #3c3c3c;
						vertical-align: top;
						user-select: none;
						border-right: 1px solid #ccc;
						&.active_cinema {
							background-color: #eee;
						}
						.network_list:not(.empty) + .bottom {
							display: none;
						}
						&.no_rights {
							.bottom {
								.copy_left,
								.copy_right {
									display: none;
								}
							}
							& + .ui-droppable {
								.bottom {
									.copy_left {
										display: none;
									}
								}
							}
						}
						&.no_copy_next {
							.bottom {
								.copy_right {
									display: none;
								}
							}
						}
						.add_release {
							display: block;
							height: 20px;
							overflow: hidden;
							font-size: 10px;
							line-height: 20px;
							color: #666;
							text-align: center;
							text-overflow: ellipsis;
							white-space: nowrap;
							cursor: pointer;
							background-color: transparent;
							opacity: 0;
							&.visible {
								opacity: 1;
							}
							&.clicked {
								color: #fff;
								background-color: #007ac2;
							}
						}
						.bottom {
							position: absolute;
							right: 0;
							bottom: 0;
							left: 0;
							display: none;
							height: 20px;
							line-height: 20px;
							color: #3c3c3c;
							text-align: center;
							.copy_left {
								position: absolute;
								top: 0;
								left: 10px;
								font-family: 'FontAwesome';
								font-size: 12px;
								font-style: normal;
								cursor: pointer;
								&:before {
									content: '';
								}
								&:hover {
									color: #e64c3b;
								}
							}
							.copy_right {
								position: absolute;
								top: 0;
								right: 10px;
								font-family: 'FontAwesome';
								font-size: 12px;
								font-style: normal;
								cursor: pointer;
								&:before {
									content: '';
								}
								&:hover {
									color: #e64c3b;
								}
							}
							.generate_timeline {
								display: inline-block;
								width: 15px;
								font-size: 12px;
								font-style: normal;
								vertical-align: top;
								cursor: pointer;
								&.overdose {
									color: #e64c3b;
								}
								&:hover {
									opacity: .6;
								}
							}
						}
						.percent_hall {
							position: absolute;
							right: 0;
							bottom: 0;
							left: 0;
							height: 20px;
							padding-right: 5px;
							font-size: 11px;
							line-height: 20px;
							color: #9b9b9b;
							text-align: right;
						}
						&:hover {
							background-color: #f6f6f6;
							.add_release {
								opacity: 1;
							}
						}
						&.drop_hover {
							background-color: #94bcdd;
						}
						.zeros {
							display: none;
							.release {
								opacity: .5;
								&:hover {
									background-color: transparent;
									opacity: 1;
									.name {
										background-color: transparent;
									}
								}
								&.added {
									opacity: 1;
									.name {
										color: #2a6496;
									}
								}
							}
						}
						.release {
							position: static;
							height: 20px;
							overflow: hidden;
							font-size: 0;
							line-height: normal;
							white-space: normal;
							cursor: default;
							&.hidden {
								display: none;
							}
							&.backlight {
								background-color: #e5edf5;
								.name {
									background-color: #e5edf5;
								}
							}
							&.ui-draggable-dragging {
								position: fixed !important;
								width: 150px;
								height: auto;
								&:hover,
								&.backlight {
									background-color: transparent;
									.name {
										width: 90px;
										background-color: transparent;
									}
								}
							}
							&:last-child {
								margin-bottom: 0;
							}
							&.clicked {
								background-color: #007ac2;
								.status {
									color: #fff !important;
								}
								.name {
									color: #fff;
								}
								.format {
									color: #fff;
									border-color: #fff;
								}
							}
							.line {
								position: relative;
							}
							.halls_list {
								position: absolute;
								top: 0;
								right: 0;
								left: 0;
								z-index: 1;
								display: none;
								height: auto;
								min-height: 100%;
								padding: 0 0 0 11px;
								white-space: normal;
								background-color: #fff;
								box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
								&.visible {
									display: block;
								}
								.halls_release {
									display: block;
									padding: 5px 11px;
									margin-left: -11px;
									overflow: hidden;
									font-size: 13px;
									line-height: 13px;
									color: #333;
									text-align: center;
									text-overflow: ellipsis;
									white-space: nowrap;
								}
								.halls_title {
									display: block;
									height: 15px;
									padding-bottom: 7px;
									margin-left: -11px;
									font-size: 11px;
									line-height: 15px;
									color: #333;
									text-align: center;
								}
								.halls_checkboxes {
									padding-bottom: 32px;
									font-size: 0;
									.one_hall {
										display: inline-block;
										width: 49px;
										height: 15px;
										padding-bottom: 7px;
										vertical-align: top;
										.title {
											padding-left: 7px;
											font-size: 12px;
											line-height: 12px;
											color: #666;
											cursor: pointer;
											background-color: transparent;
										}
									}
								}
								.save_halls {
									position: absolute;
									right: 0;
									bottom: 0;
									left: 0;
									display: block;
									height: 31px;
									font-size: 14px;
									line-height: 30px;
									color: #4378a4;
									text-align: center;
									cursor: pointer;
									background-color: #f6f6f6;
									border-top: 1px solid $default-border;
									border-radius: 0 0 4px 4px;
									transition: color .3s;
									&:hover {
										color: #00adef;
									}
								}
							}
							.status {
								display: inline-block;
								width: 18px;
								height: 20px;
								margin: 0;
								font-size: 12px;
								line-height: 20px;
								text-align: center;
								vertical-align: top;
								border-radius: 0;
								&[data-status='1'] {
									color: #41c2b2;
									background-color: transparent;
								}
								&[data-status='2'] {
									color: #ff5c23;
									background-color: transparent;
								}
								&[data-status='3'] {
									color: #6690ff;
									background-color: transparent;
								}
								&[data-status='4'] {
									color: #bf1de3;
									background-color: transparent;
								}
							}
							.name {
								display: inline-block;
								width: calc(100% - 50px);
								height: 20px;
								margin: 0;
								overflow: hidden;
								font-size: 12px;
								line-height: 20px;
								color: #333;
								text-overflow: ellipsis;
								white-space: nowrap;
								background: transparent;
							}
							.format {
								position: absolute;
								top: 3px;
								right: 4px;
								height: 12px;
								padding: 0 2px;
								font-size: 9px;
								line-height: 12px;
								color: #8b8b8b;
								text-transform: uppercase;
								border: 1px solid #b9b9b9;
								border-radius: 2px;
							}
						}
					}
				}
			}
		}
		.wrap {
			display: none;
			overflow-y: scroll;
			font-size: 0;
			.weeks {
				position: relative;
				z-index: 11;
				display: inline-block;
				width: 91px;
				text-align: center;
				vertical-align: top;
				background-color: #f2f2f2;
				border-right: 1px solid #ccc;
				.head {
					position: fixed;
					z-index: 1;
					display: block;
					width: 91px;
					height: 52px;
					font-size: 12px;
					line-height: 52px;
					color: #9a9a9a;
					text-align: center;
					background-color: #f2f2f2;
					border-bottom: 1px solid #ccc;
				}
				.item {
					position: relative;
					background-color: #f2f2f2;
					border-bottom: 1px solid #ccc;
					&:nth-child(2) {
						margin-top: 52px;
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}
