.nt-sidebar {
	&-toggle {
		float: right;
		user-select: none;
		&-icon {
			position: relative;
			display: inline-block;
			width: 34px;
			height: 34px;
			box-sizing: border-box;
			margin: 8px 0 0 6px;
			cursor: pointer;
			user-select: none;
			background: url(/img/nt-sidebar/nt-sidebar-toggle.svg) no-repeat;
			border: 1px solid transparent;
			border-radius: 50%;
			&.icon-trailers {
				background-position: 6px 4px;
				.nt-sidebar-toggle-icon__counter {
					left: 19px;
				}
				&:hover {
					background-position: 6px -25px;
				}
			}
			&.icon-notifications {
				background-position: -32px 5px;
				.nt-sidebar-toggle-icon__counter {
					left: 15px;
				}
				&:hover {
					background-position: -32px -24px;
				}
			}
			&.icon-chat {
				background-position: -71px 6px;
				.nt-sidebar-toggle-icon__counter {
					left: 20px;
				}
				&:hover {
					background-position: -71px -23px;
				}
			}
			&.icon-updates {
				background-position: -151px 6px;
				&:hover {
					background-position: -151px -23px;
				}
			}
			&.open {
				background-color: #2a6496;
				border-color: #2a6496;
				&.icon-trailers {
					background-position: 6px -55px;
				}
				&.icon-notifications {
					background-position: -32px -53px;
				}
				&.icon-chat {
					background-position: -71px -53px;
				}
				&.icon-updates {
					background-position: -151px -54px;
				}
			}
			&__counter {
				position: absolute;
				top: -2px;
				display: inline-block;
				height: 10px;
				padding: 2px 3px 3px;
				font-size: 12px;
				line-height: 1;
				color: #fff;
				background: #e64c3b;
				border-radius: 4px;
				&.empty {
					display: none;
				}
			}
		}
	}
	&-item {
		position: fixed;
		top: 0;
		z-index: 101;
		display: block;
		height: 100%;
		box-sizing: border-box;
		padding-top: 50px;
		font-size: 13px;
		line-height: 15px;
		color: #6083a6;
		background-color: #fff;
		box-shadow: none;
		transition: right .2s;
		&--chat,
		&--notifications,
		&--user-updates {
			right: -300px;
			width: 300px;
		}
		&--trailers {
			right: -500px;
			width: 500px;
		}
		&--chat,
		&--notifications,
		&--trailers,
		&--user-updates {
			&.open {
				right: 0;
				box-shadow: 1px 0 10px 3px rgba(0,0,0,.3);
			}
		}
		&-header {
			display: block;
			height: 40px;
			box-sizing: border-box;
			padding: 2px 19px 2px 14px;
			line-height: 38px;
			background: #2a6496;
			&__header {
				margin-right: 5px;
				font-size: 16px;
				color: #fff;
			}
			&__read-all {
				display: inline-block;
				width: 15px;
				height: 9px;
				background: transparent url(/img/nt-sidebar/nt-sidebar-readAll.png) 0 0 no-repeat;
				background-size: 14px;
				&:hover {
					background-position: 0 -10px;
				}
				&.empty {
					display: none;
				}
			}
			&__count {
				float: right;
				font-size: 14px;
				color: #61a0c8;
				&.empty {
					display: none;
				}
			}
		}
		&-filter {
			display: block;
			height: 50px;
			text-align: center;
			background: #f6f6f6;
			border-bottom: 1px solid #d4d4d4;
			&__btn {
				float: left;
				width: 70px;
				padding: 7px 0 5px;
				margin-top: 10px;
				margin-left: -1px;
				font-size: 12px;
				line-height: 1.42857143;
				color: #4378a4;
				text-decoration: none;
				cursor: pointer;
				background-color: #f6f6f6;
				border: 1px solid #94bcdd;
				border-right: none;
				transition: background-color .2s;
				&:hover,
				&:focus,
				&:active {
					background-color: #eaf0f8;
				}
				&.active {
					color: #fff;
					background-color: #2a6496;
					border-color: #2a6496;
					+ .nt-sidebar-item-filter__btn {
						border-left: 1px solid #2a6496;
					}
				}
				&:first-child,
				&:last-child {
					border-radius: 4px;
				}
				&:first-child {
					margin-left: 42px;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
				&:last-child {
					padding: 6px;
					border-right: 1px solid #94bcdd;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					&.active {
						border-right: 1px solid #2a6496;
					}
				}
				&:only-of-type {
					margin-left: 20px;
					border-radius: 4px;
				}
				.count {
					color: #a9aaaa;
					pointer-events: none;
					&.empty {
						display: none;
					}
				}
			}
		}
	}
	&-notifications {
		&-box {
			height: calc(100% - 90px);
			overflow-x: hidden;
			overflow-y: scroll;
		}
		&-item {
			padding: 10px 17px 8px 17px;
			border-bottom: 1px solid #d4d4d4;
			&:hover {
				background-color: #f6f8fd;
			}
			&.active {
				background-color: #edeff5;
			}
			&__name {
				font-size: 13px;
				font-weight: bold;
				line-height: 16px;
				color: #2a6496;
				text-decoration: none;
			}
			&__dist {
				font-weight: normal;
				color: #9b9b9b;
			}
			&__changes {
				padding: 0;
				margin: 2px 0 0 0;
				line-height: 1.2;
				color: #4a4a4a;
				list-style-position: inside;
				li {
					cursor: default;
					&:hover {
						color: #4a4a4a;
						background-color: transparent;
					}
				}
			}
			&__date {
				font-size: 11px;
				line-height: 1.2;
				color: #9b9b9b;
			}
		}
	}
	&-user-updates {
		&-box {
			height: calc(100% - 40px);
			overflow-x: hidden;
			overflow-y: scroll;
		}
		&-item {
			padding: 10px 17px 8px 17px;
			font-size: 13px;
			line-height: 1.2;
			color: #4a4a4a;
			border-bottom: 1px solid #d4d4d4;
			&-head_wrapper {
				display: table;

				@include clearfix();
			}
			&__avatar {
				float: left;
				width: 38px;
				height: 38px;
				margin-right: 7px;
				background: #eee url(/img/avatar.png) no-repeat 0 0;
				background-size: cover;
				border-radius: 50%;
			}
			&-user {
				display: table-cell;
				font-weight: bold;
				vertical-align: middle;
				&__action {
					font-weight: normal;
				}
			}
			&__date {
				font-size: 11px;
				font-weight: normal;
				line-height: 1.6;
				color: #9b9b9b;
			}
			&-info_wrapper {
				margin-left: 45px;
			}
			&__name {
				display: block;
				font-size: 13px;
				font-weight: bold;
				line-height: 16px;
				color: #2a6496;
				text-decoration: none;
			}
			&__date-update {
				font-weight: bold;
			}
			&__changes {
				padding: 0;
				margin: 2px 0 5px 0;
				line-height: 1.2;
				color: #4a4a4a;
				list-style-position: inside;
				li {
					cursor: default;
					&:hover {
						color: #4a4a4a;
						background-color: transparent;
					}
				}
			}
			&__data {
				font-size: 11px;
				font-weight: bold;
				color: #666;
				text-transform: uppercase;
			}
		}
	}
	&-chat-send {
		position: absolute;
		bottom: 0;
		width: 300px;
		box-sizing: border-box;
		padding: 10px;
		background-color: #f6f6f6;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		textarea {
			width: 190px;
			box-sizing: border-box;
			padding: 6px 8px;
			font-family: inherit;
			line-height: 1.4;
			border: 1px solid #ddd;
			border-radius: 4px;
		}
		&__btn {
			margin-left: 5px;
			font-size: 14px;
			line-height: 24px;
			color: #61a0c8;
			text-decoration: none;
			vertical-align: bottom;
		}
		&__download-photo {
			display: inline-block;
			margin-bottom: 6px;
			font-size: 12px;
			color: #e64c3b;
			text-decoration: underline;
			vertical-align: top;
			cursor: pointer;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&-chat {
		&-box {
			height: calc(100% - 94px);
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			overflow-x: hidden;
			overflow-y: scroll;
			list-style: none;
			&__message {
				position: relative;
				padding: 15px 15px 10px;
				margin: 0;
				color: #333;
				text-align: left;
				word-wrap: break-word;
				cursor: default !important;
				border-bottom: 1px solid #ddd;

				@include clearfix();
				&:hover {
					color: #333;
					background-color: transparent;
				}
				&-text {
					font-size: 13px;
					margin-left: 45px;
					overflow: hidden;
				}
				&-avatar {
					position: relative;
					float: left;
					width: 38px;
					height: 38px;
					margin: 0 7px 7px 0;
					background: #eee url(/img/avatar.png) no-repeat 0 0;
					background-size: cover;
					border-radius: 50%;
					&__employee {
						position: absolute;
						top: 23px;
						left: 30px;
						width: 12px;
						height: 12px;
						background: url('/img/kinoplan-logo-short@2x.png') no-repeat;
						background-size: 12px;
					}
				}
				&-date {
					float: right;
					font-size: 11px;
					color: #999;
				}
				&-name {
					display: block;
					margin-bottom: 6px;
					font-size: 13px;
					font-weight: bold;
					line-height: 16px;
					color: #2a6496;
					text-decoration: none;
					cursor: pointer;
				}
				&-remove {
					position: absolute;
					top: 4px;
					right: 4px;
					font-size: 13px;
					color: #cbd2d8;
					cursor: pointer;
				}
			}
			&__new-ticket,
			&__ticket {
				position: absolute;
				top: 53px;
				left: 28px;
				color: #4378a4;
				text-decoration: none;
				transition: .3s color;
				&:hover {
					color: #e64c3b;
				}
				&:before {
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					content: '\f1d8';
					transform: translate(0,0);

					text-rendering: auto;
				}
			}
			&__new-ticket:before {
				content: '\f1d9';
			}
			&__no-photo {
				height: calc(100% - 114px);
			}
		}
	}
	&-trailers {
		&__empty {
			display: block;
			padding: 0 70px;
			margin: 30px 0;
			font-size: 14px;
			color: #333;
			text-align: center;
		}
		&-box {
			height: calc(100% - 40px);
			overflow-x: hidden;
			overflow-y: scroll;
		}
		&-item {
			display: block;
			padding: 15px 40px 15px 20px;
			border-bottom: 1px solid #ddd;
			&:hover {
				background-color: #f6f8fd;
				.nt-sidebar-trailers-item__delete {
					display: inline-block;
					float: right;
				}
			}
			&__name {
				display: block;
				font-size: 13px;
				font-weight: bold;
				line-height: 16px;
				color: #2a6496;
				text-decoration: none;
			}
			&__data {
				display: inline-block;
				padding: 1px 3px;
				margin: 3px 3px 3px 0;
				font-size: 11px;
				color: #666;
				vertical-align: top;
				border: 1px solid #b9b9b9;
				border-radius: 4px;
			}
			&__progress-wraper {
				position: relative;
				z-index: 102;
				display: inline-block;
				width: 100%;
				height: 10px;
				box-sizing: border-box;
				margin-top: 3px;
				background-color: #ececec;
				box-shadow: 0 0 0 1px #c4c4c4;
			}
			&__progress {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				height: 10px;
				box-sizing: border-box;
				background: #9b9b9b;
				box-shadow: 0 0 0 1px #8d8d8d;
				&.ready {
					background-color: #b8e986;
					border-color: #7ed321;
				}
				&.download {
					background-color: #2a6496;
					box-shadow: 0 0 0 1px #215887;
				}
			}
			&__control {
				position: absolute;
				top: -3px;
				right: -20px;
				display: inline-block;
				width: 14px;
				height: 14px;
				cursor: pointer;
				cursor: pointer;
				user-select: none;
				background: #bfbfbf url(/img/nt-sidebar/nt-sidebar-trailers-controls.svg) no-repeat;
				border-radius: 50%;
				&:hover,
				&:focus {
					background-color: #a2a2a2;
				}
				&.icon-stop {
					background-position: 0 0;
				}
				&.icon-start {
					background-position: -14px 0;
				}
				&.icon-delete {
					background-position: -28px 0;
				}
			}
			&__status {
				font-size: 11px;
				color: #666;
				.error {
					color: red;
				}
			}
			&__delete {
				display: none;
				font-size: 11px;
				color: #d0021b;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
