#halls_schedule {
	height: 100%;
	.repertoire_loader {
		position: fixed;
		z-index: 1000;
		&.visible {
			display: block;
		}
	}
	.repertoire_blocked {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 999;
		display: none;
		background-color: rgba(0, 0, 0, .4);
	}
	.mechanic_blocked {
		position: fixed;
		top: 50px;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 150;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .4);
		span {
			display: table-cell;
			font-size: 20px;
			font-style: normal;
			line-height: 22px;
			color: #fff;
			text-align: center;
			vertical-align: middle;
		}
	}
	.filter {
		.repertoire_sections {
			display: inline-block;
			font-size: 0;
			vertical-align: top;
			.item {
				display: inline-block;
				width: 145px;
				height: 39px;
				font-size: 14px;
				line-height: 38px;
				text-align: center;
				text-decoration: none;
				vertical-align: top;
				cursor: pointer;
				background-color: #fff;
				border-top: 1px solid $default-border;
				border-right: 1px solid $default-border;
				border-bottom: 1px solid $default-border;
				&:first-child {
					border: 1px solid $default-border;
				}
				&.active {
					cursor: default;
					.text {
						border-color: #6083a6;
					}
					&:hover {
						.text {
							border-color: #6083a6;
						}
					}
				}
				&.hide {
					display: none;
				}
				&:hover {
					.text {
						border-color: #aaa;
					}
				}
				.text {
					display: block;
					margin: -1px;
					color: #333;
					border-color: transparent;
					border-top: 2px solid transparent;
				}
			}
		}
		.my_date {
			position: absolute;
			top: 10px;
			left: 50%;
			width: 200px;
			height: 30px;
			margin-left: -100px;
			text-align: center;
			.prev,
			.next {
				position: absolute;
				top: 0;
				width: 30px;
				height: 30px;
				cursor: pointer;
			}
			.prev {
				left: 0;
			}
			.next {
				right: 0;
			}
			.my_date_prev {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8px;
				height: 13px;
				margin: -7px 0 0 -5px;
				background: url(/img/arrow_left_right.svg) no-repeat;
			}
			.my_date_next {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8px;
				height: 13px;
				margin: -7px 0 0 -4px;
				background: url(/img/arrow_left_right.svg) no-repeat 0 -13px;
			}
			.my_date__date--input {
				position: absolute;
				top: 0;
				right: 30px;
				bottom: 0;
				left: 30px;
				width: 140px;
				height: 100%;
				padding: 0;
				font-size: 0;
				color: transparent;
				cursor: pointer;
				background-color: transparent;
				border: none;
				opacity: 0;
				&.hide {
					display: none;
				}
			}
			.my_date__date {
				display: inline-block;
				height: 30px;
				font-size: 20px;
				line-height: 30px;
				color: #4378a4;
				text-align: center;
				vertical-align: top;
				cursor: pointer;
				border-bottom: 1px dotted #4378a4;
				transition: color .3s;
				&.hover {
					color: #0b385f;
				}
			}
		}
		.full_halls_mode {
			position: relative;
			display: none;
			float: right;
			width: 24px;
			height: 26px;
			padding-left: 2px;
			margin: 2px 15px 0 0;
			overflow: hidden;
			font-family: 'FontAwesome';
			font-size: 21px;
			font-style: normal;
			line-height: 26px;
			color: #4378a4;
			text-align: center;
			cursor: pointer;
			background-color: transparent;
			border: 1px solid #4378a4;
			border-radius: 50%;
			transition: background-color .3s, transform .3s, line-height .3s;
			transform: translateZ(0);
			&:before {
				content: '';
			}
			&.active {
				line-height: 23px;
				background-color: #eaf0f8;
				transform: rotate(-180deg) translateZ(0);
			}
		}
		.full_weeks_mode_wrapper {
			float: right;
			margin: 2px 15px 0 0;
			overflow: hidden;
			font-size: 0;
			border: 1px solid #94bcdd;
			border-radius: 8px;
			&.active {
				.full_weeks_mode {
					background-color: transparent;
				}
				.full_weeks_mode__enable {
					background-color: #eaf0f8;
				}
			}
			.full_weeks_mode {
				position: relative;
				display: inline-block;
				width: 30px;
				height: 26px;
				font-family: 'FontAwesome';
				font-size: 16px;
				font-style: normal;
				line-height: 26px;
				color: #4378a4;
				text-align: center;
				vertical-align: top;
				cursor: pointer;
				background-color: #eaf0f8;
				transition: background-color .3s;
				&:before {
					content: '';
				}
				&__enable {
					background-color: transparent;
					border-left: 1px solid #94bcdd;
					&:before {
						content: '';
					}
				}
			}
		}
		.screen {
			display: none;
			float: right;
			padding: 2px 11px 0 0;
			font-size: 0;
			.arrow_left {
				position: relative;
				display: inline-block;
				width: 28px;
				height: 28px;
				margin-right: 8px;
				vertical-align: top;
				cursor: pointer;
				background: url(/img/arrow_left_right_in_circle.svg) no-repeat;
			}
			.arrow_right {
				position: relative;
				display: inline-block;
				width: 28px;
				height: 28px;
				vertical-align: top;
				cursor: pointer;
				background: url(/img/arrow_left_right_in_circle.svg) no-repeat 0 -29px;
			}
			&.hide {
				display: none;
			}
		}
	}
	#my_repertoire_wr {
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		.repertoire_wrap__head {
			position: fixed;
			right: 0;
			left: 50px;
			z-index: 14;
			display: none;
			height: 64px;
			font-size: 0;
			background-color: #fff;
			border-bottom: 1px solid #ccc;
			.left_side {
				display: inline-block;
				width: 148px;
				height: 100%;
				vertical-align: top;
				background-color: #f2f2f2;
				border-right: 1px solid #ccc;
				.head {
					height: 35px;
					padding-right: 10px;
					text-align: right;
					background-color: transparent;
					border-bottom: 1px solid #ccc;
					.head_info {
						display: inline-block;
						font-size: 12px;
						line-height: normal;
						color: #9b9b9b;
						white-space: nowrap;
						vertical-align: middle;
						.cinema_occupancy {
							display: block;
							padding-top: 4px;
							line-height: 12px;
						}
						.free_time {
							display: block;
							padding-top: 3px;
							line-height: 12px;
						}
					}
				}
				.film {
					display: block;
					height: 28px;
					padding-left: 10px;
					font-size: 12px;
					line-height: 28px;
					color: #9b9b9b;
				}
			}
			.right_side {
				display: inline-block;
				width: calc(100% - 149px);
				vertical-align: top;
				.row {
					position: relative;
					height: 36px;
					&:first-child:after {
						position: absolute;
						right: 0;
						bottom: 0;
						left: 0;
						content: '';
						border-top: 1px solid #ccc;
					}
					&:last-child {
						height: 28px;
						line-height: 28px;
					}
					.week {
						position: relative;
						display: inline-block;
						height: 100%;
						box-sizing: border-box;
						padding: 0;
						overflow: hidden;
						vertical-align: top;
						cursor: pointer;
						border-right: 1px solid #ccc;
						&:last-child {
							border-right: none;
						}
						&:hover {
							.cinema_time,
							.rel_time {
								opacity: .5;
							}
						}
						.duration {
							display: inline-block;
							padding-left: 7px;
							font-size: 12px;
							line-height: normal;
							color: #333;
							white-space: nowrap;
							vertical-align: middle;
							&.numbers {
								vertical-align: top;
							}
							.cinema_time {
								display: block;
								padding-top: 4px;
								line-height: 12px;
								&.low {
									color: #c00;
								}
							}
							.rel_time {
								display: block;
								padding-top: 3px;
								line-height: 12px;
								&.low {
									color: #c00;
								}
							}
						}
						.add_week_release {
							position: absolute;
							top: 50%;
							top: 0;
							right: 0;
							bottom: 0;
							display: inline-block;
							width: 29px;
							vertical-align: top;
							cursor: pointer;
							background: url(/img/icon_add.svg) no-repeat 50% 50%;
							opacity: .3;
							&:hover {
								opacity: 1;
							}
						}
						.cell {
							display: inline-block;
							box-sizing: border-box;
							padding: 0;
							font-size: 12px;
							color: #262626;
							text-align: center;
							vertical-align: middle;
							border-right: 1px dotted #ccc;
							&:last-child {
								border-right: none;
							}
							&.holiday {
								color: #e94141;
								background-color: #f2f2f2;
							}
						}
					}
				}
			}
		}
		.repertoire_wrap__body {
			padding-top: 65px;
			overflow-x: hidden;
			user-select: none;
			.my_add_popup {
				display: none;
			}
			.row {
				display: none;
				height: 36px;
				font-size: 0;
				&:hover {
					.week:not(.colored) {
						background-color: #eaeef2 !important;
					}
					.cell:not(.color) {
						background-color: transparent !important;
					}
					.add_new_release {
						&:hover {
							.cell {
								background-color: transparent;
							}
						}
					}
				}
				&:not(.release) {
					&:hover {
						.week {
							.cell {
								background-color: #fff !important;
								&.holiday {
									background-color: #f2f2f2 !important;
								}
							}
						}
						.left_side {
							background-color: #f2f2f2;
						}
						.add_new_release {
							&:before {
								background-color: #eaeef2 !important;
							}
						}
					}
					.right_side .week:last-child {
						border-right: none;
					}
				}
				&.backlight {
					.cell:not(.color) {
						background-color: #eaeef2 !important;
						transition: background-color .3s;
					}
				}
				&.cell_resize {
					.prolong_release,
					.add_new_release {
						&:before {
							display: none !important;
						}
					}
					.color {
						background-color: transparent !important;
					}
				}
				.left_side {
					display: inline-block;
					width: 149px;
					height: 100%;
					box-sizing: border-box;
					padding: 0 12px 0 10px;
					color: #000;
					vertical-align: top;
					background-color: #f2f2f2;
					border-right: 1px solid #ccc;
					border-bottom: 1px solid #ccc;
					&.linked {
						text-decoration: none;
						cursor: pointer;
						&:hover {
							span {
								opacity: .5;
							}
						}
					}
					span {
						display: block;
						width: 120px;
						overflow: hidden;
						font-size: 12px;
						line-height: 35px;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				&.release .right_side div:nth-last-child(2) {
					border-right: none;
				}
				.right_side {
					position: relative;
					display: inline-block;
					width: calc(100% - 149px);
					height: 100%;
					vertical-align: top;
					.move_block {
						position: absolute;
						top: 0;
						z-index: 2;
						height: 35px;
						background-color: transparent !important;
						border: none !important;
						&.ui-resizable-resizing {
							&.blue {
								background-color: #a2c1ff !important;
							}
							&.orange {
								background-color: #ff9d74 !important;
							}
							&.pink {
								background-color: #da81ed !important;
							}
							&.green {
								background-color: #86dad2 !important;
							}
						}
						.ui-icon {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							width: 10px;
							cursor: e-resize;
						}
					}
					.week {
						position: relative;
						display: inline-block;
						height: 100%;
						box-sizing: border-box;
						padding: 0;
						white-space: nowrap;
						vertical-align: top;
						border-right: 1px solid #ccc;
						border-bottom: 1px solid #ccc;
						&.colored {
							border-left: none !important;
						}
						&.blue {
							background-color: #a2c1ff;
							border-right: 1px solid #7190cf !important;
							border-bottom-color: #7190cf;
							&:before {
								position: absolute;
								top: 0;
								bottom: -1px;
								left: -1px;
								z-index: 1;
								content: '';
								border-left: 1px solid #7190cf;
							}
							&:after {
								position: absolute;
								top: -1px;
								right: -1px;
								left: -1px;
								z-index: 1;
								content: '';
								border-top: 1px solid #7190cf;
							}
						}
						&.pink {
							background-color: #da81ed;
							border-right: 1px solid #9847a9 !important;
							border-bottom-color: #9847a9;
							&:before {
								position: absolute;
								top: 0;
								bottom: -1px;
								left: -1px;
								z-index: 1;
								content: '';
								border-left: 1px solid #9847a9;
							}
							&:after {
								position: absolute;
								top: -1px;
								right: -1px;
								left: -1px;
								z-index: 1;
								content: '';
								border-top: 1px solid #9847a9;
							}
						}
						&.green {
							background-color: #86dad2;
							border-right: 1px solid #4bb4aa !important;
							border-bottom-color: #4bb4aa;
							&:before {
								position: absolute;
								top: 0;
								bottom: -1px;
								left: -1px;
								z-index: 1;
								content: '';
								border-left: 1px solid #4bb4aa;
							}
							&:after {
								position: absolute;
								top: -1px;
								right: -1px;
								left: -1px;
								z-index: 1;
								content: '';
								border-top: 1px solid #4bb4aa;
							}
						}
						&.orange {
							background-color: #ff9d74;
							border-right: 1px solid #ce744e !important;
							border-bottom-color: #ce744e;
							&:before {
								position: absolute;
								top: 0;
								bottom: -1px;
								left: -1px;
								z-index: 1;
								content: '';
								border-left: 1px solid #ce744e;
							}
							&:after {
								position: absolute;
								top: -1px;
								right: -1px;
								left: -1px;
								z-index: 1;
								content: '';
								border-top: 1px solid #ce744e;
							}
						}
						&.prolong_release,
						&.add_new_release {
							position: relative;
							&:hover {
								cursor: pointer;
								&:before {
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									z-index: 1;
									cursor: pointer;
									content: '';
									background: #fff url(/img/icon_add.svg) no-repeat 50% 50%;
								}
							}
							&.tour-tour-element {
								&:before {
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									z-index: 1;
									cursor: pointer;
									content: '';
									background: #fff url(/img/icon_add.svg) no-repeat 50% 50%;
								}
							}
						}
						.cell {
							position: relative;
							display: inline-block;
							height: 35px;
							box-sizing: border-box;
							padding: 0;
							line-height: 35px;
							vertical-align: top;
							border-right: 1px dotted #ccc !important;
							border-left: none !important;
							&:last-child {
								border-right: none !important;
							}
							&.holiday {
								background-color: #f2f2f2;
								&.blue {
									background-color: #9ebdfb;
								}
								&.pink {
									background-color: #d77dea;
								}
								&.green {
									background-color: #82d7ce;
								}
								&.gray {
									background-color: #aaa;
								}
								&.orange {
									background-color: #fb9970;
								}
								&.changed_release {
									background-color: #e06153;
									&:after {
										border-right-color: rgba(145, 145, 145, .9) !important;
									}
								}
							}
							&.color {
								font-size: 10px;
								text-align: center;
								cursor: pointer;
								a {
									position: absolute;
									font-size: 14px;
									font-weight: bold;
									text-decoration: none;
									white-space: nowrap;
								}
								&.changed_release {
									background-color: #e06153;
									&:before {
										border-top: 1px solid #b82212;
									}
									&:after {
										border-bottom: 1px solid #b82212;
									}
									&:first-child {
										&:before {
											border-left: 1px solid #b82212;
										}
									}
									&:last-child {
										&:after {
											border-right: 1px solid #b82212 !important;
										}
									}
								}
							}
							&.key {
								background-image: url(/img/key.png);
								background-repeat: repeat-x;
								background-position: center bottom;
							}
							&.key_first {
								vertical-align: top;
								background-image: url(/img/key-first.png);
								background-repeat: no-repeat;
								background-position: center bottom;
							}
							&.last_safari_key {
								background-image: none;
								&:after {
									position: absolute;
									right: -30px;
									bottom: 0;
									left: 0;
									height: 5px;
									content: '';
									background-image: url(/img/key.png);
									background-repeat: repeat-x;
								}
							}
						}
					}
				}
			}
		}
		.my_repertoire_table {
			position: relative;
			display: none;
			width: 100%;
			height: 100%;
			.head {
				z-index: 10;
				height: 61px;
				text-align: left;
				background-color: #fff;
			}
			.releases_list {
				position: relative;
			}
			.repertoire_table {
				position: relative;
				display: table-row;
				width: 100%;
				border-bottom: 1px solid #ccc;
				transition: background-color .3s;
				&.film {
					.cell {
						height: 25px;
						font-size: 12px;
						line-height: 28px;
						color: #262626;
						text-align: center;
						vertical-align: middle;
					}
					.cell_week {
						height: 25px;
					}
					.holiday {
						color: #e94141;
					}
					.cell.first {
						height: 100%;
						font-size: 12px;
						color: #9b9b9b;
						text-align: left;
					}
					&:hover {
						.cell {
							background-color: transparent;
							&.left_head,
							&.holiday {
								background-color: #f2f2f2;
							}
						}
					}
				}
				&.week {
					.cell {
						border-bottom: none;
					}
					&:hover {
						.cell {
							background-color: transparent;
							&.left_head {
								background-color: #f2f2f2;
							}
						}
					}
				}
				.left_head {
					width: 128px;
					padding: 0 12px 0 10px;
					font-size: 12px;
					font-weight: normal;
					color: #333;
					vertical-align: middle;
					background-color: #f2f2f2;
					&:after {
						border-right-style: solid;
					}
					span {
						display: block;
						width: 120px;
						overflow: hidden;
						line-height: 14px;
						text-align: left;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				.cell_week {
					position: relative;
					display: table-cell;
					height: 35px;
					padding: 0;
					font-size: 12px;
					font-weight: normal;
					border-bottom: 1px solid #ccc;
					&:before {
						transition: background-color .3s;
					}
					&:after {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						z-index: 1;
						width: 1px;
						content: '';
						background-color: #ccc;
					}
					span {
						color: #333;
						white-space: nowrap;
						vertical-align: middle;
					}
					.cell {
						padding: 0;
						border: none !important;
					}
				}
			}
		}
	}
}

.timeline_module_popup {
	width: calc(100% - 100px);
	#timeline_module {
		width: 100%;
		font-size: 0;
		background-color: #f6f6f6;
		.header_timeline {
			position: relative;
			height: 50px;
			font-size: 20px;
			line-height: 40px;
			text-align: center;
			vertical-align: top;
			background-color: #f6f6f6;
			border-bottom: 1px solid #b8b8b8;
			.arcticmodal-close {
				position: absolute;
				top: 50%;
				right: 110px;
				left: auto;
				width: 31px;
				height: 31px;
				margin-top: -15px;
				cursor: pointer;
				background: none;
				.timeline_module__close {
					position: absolute;
					top: 0;
					left: 0;
					width: 31px;
					height: 31px;
					background: url(/img/popup_close.svg) no-repeat;
					opacity: 1;
					transition: opacity .3s, transform .3s;
				}
				.timeline_module__close_hover {
					background-position: 0 -31.5px;
					opacity: 0;
				}
				.timeline_module__close_active {
					background-position: 0 -63.5px;
					opacity: 0;
				}
				&:hover {
					.timeline_module__close {
						opacity: 0;
						transform: rotate(180deg);
					}
					.timeline_module__close_hover {
						opacity: 1;
						transform: rotate(180deg);
					}
					.timeline_module__close_active {
						opacity: 0;
						transform: rotate(180deg);
					}
				}
				&:active {
					.timeline_module__close {
						opacity: 0;
						transform: rotate(180deg);
					}
					.timeline_module__close_hover {
						opacity: 0;
						transform: rotate(180deg);
					}
					.timeline_module__close_active {
						opacity: 1;
						transform: rotate(180deg);
					}
				}
			}
			.info {
				position: absolute;
				left: 10px;
				display: inline-block;
				margin-top: 5px;
				font-size: 15px;
				font-weight: lighter;
				line-height: 20px;
				text-align: left;
				vertical-align: top;
			}
			.filled_info {
				display: inline-block;
				margin-top: 5px;
				font-size: 15px;
				font-weight: lighter;
				line-height: 20px;
				text-align: center;
				vertical-align: top;
			}
			.halls_timeline {
				position: absolute;
				top: 77px;
				left: 0;
				z-index: 3;
				display: inline-block;
				.hall_timeline {
					width: 70px;
					height: 54px;
					text-align: left;
					cursor: pointer;
					background-color: #fff;
					border-right: 1px solid #d8d8d8;
					border-bottom: 1px solid #d8d8d8;
					.hall_number_timeline {
						display: inline-block;
						width: calc(100% - 14px);
						margin-top: 10px;
						margin-left: 7px;
						overflow: hidden;
						font-size: 16px;
						line-height: 16px;
						text-align: left;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
					}
					.hall_places_timeline {
						display: inline-block;
						margin-top: -5px;
						margin-left: 7px;
						font-size: 11px;
						line-height: 11px;
						color: #b8b8b8;
						text-align: center;
						text-align: center;
						vertical-align: top;
						vertical-align: top;
					}
					.repair_changed_films {
						display: inline-block;
						float: right;
						margin-top: -7px;
						margin-right: 3px;
						font-size: 13px;
						color: #000;
						cursor: pointer;
						transition: color .3s;
						&:hover {
							color: #c8041d;
						}
					}
				}
			}
			.timeline_module_exit {
				position: absolute;
				top: 10px;
				right: 10px;
				left: auto;
				display: none;
				width: 31px;
				height: 31px;
				cursor: pointer;
				background: none;
			}
		}
		.left_added_block {
			display: inline-block;
			width: 70px;
			overflow: hidden;
			vertical-align: top;
			.added_time_wrap {
				float: right;
				width: 400px;
				height: 25px;
				overflow: hidden;
				background-color: #ffe4e4;
				border-bottom: 1px solid #b8b8b8;
			}
			.hour_timeline {
				position: relative;
				top: 0;
				display: inline-block;
				float: right;
				height: 25px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.hour_number {
				position: absolute;
				top: 0;
				left: 4px;
				font-size: 10px;
			}
			.half_hour_timeline {
				position: relative;
				top: 17px;
				display: inline-block;
				float: right;
				height: 8px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.minute_timeline {
				position: relative;
				top: 21px;
				display: inline-block;
				float: right;
				height: 4px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.added_films_timeline {
				width: 100%;
				height: 54px;
				background-color: #f1f1f1;
				border-bottom: 1px solid #d8d8d8;
				.added_half_films_timeline {
					width: 100%;
					height: 27px;
					border-bottom: 1px dotted #ddd;
				}
			}
			.added_time_space {
				width: 400px;
				height: 26px;
			}
		}
		.day_timeline_wr {
			position: relative;
			display: inline-block;
			width: 100%;
			vertical-align: top;
			.position_marker_start {
				position: absolute;
				left: -81px;
				z-index: 5;
				width: 1px;
				height: 100%;
				background-color: #f00;
				.position_time {
					position: absolute;
					top: -80px;
					font-size: 10px;
				}
			}
			.position_marker_end {
				position: absolute;
				left: -81px;
				z-index: 4;
				width: 1px;
				height: 100%;
				background-color: #f00;
			}
		}
		.day_timeline {
			display: inline-block;
			width: 100%;
			height: 25px;
			vertical-align: top;
			background-color: #fff;
			border-bottom: 1px solid #b8b8b8;
			.cinema_closed_timeline {
				display: inline-block;
				background-color: #ffe4e4;
			}
			.hour_timeline {
				position: relative;
				top: 0;
				display: inline-block;
				height: 25px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.hour_number {
				position: absolute;
				top: 0;
				left: 4px;
				font-size: 10px;
			}
			.half_hour_timeline {
				position: relative;
				top: 17px;
				display: inline-block;
				height: 8px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.minute_timeline {
				position: relative;
				top: 21px;
				display: inline-block;
				height: 4px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.films_timeline {
				position: relative;
				top: 1px;
				display: inline-block;
				width: 100%;
				height: 54px;
				overflow: visible;
				vertical-align: top;
				background-color: #f1f1f1;
				border-bottom: 1px solid #d8d8d8;
				&.drop-hover {
					background-color: #eaeef2;
				}
				.half_films_timeline {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 27px;
					border-bottom: 1px dotted #ddd;
				}
				.ad_timeline {
					position: absolute;
					z-index: 2;
					display: inline-block;
					height: 54px;
					vertical-align: top;
					background-color: #00c3ef;
					border: none;
					&.disabled_ad {
						background-color: #fff;
					}
					&.chosen_ad {
						background-color: #007ac2;
					}
				}
				.film_item_timeline {
					position: absolute;
					z-index: 2;
					display: inline-block;
					height: 54px;
					text-align: left;
					vertical-align: top;
					background-color: #fff;
					&.changed_duration {
						color: #e64c3b;
					}
					&.same_film {
						background-color: #ebf2f9;
					}
					&.chosen_film {
						z-index: 4;
						color: #fff;
						background-color: #007ac2;
						.film_format_timeline {
							color: #fff;
						}
						.film_start_marker {
							background-color: #007ac2;
						}
					}
					.film_start_marker {
						position: absolute;
						left: 0;
						width: 1px;
						height: 100%;
						background-color: #d8d8d8;
					}
					.remove {
						position: absolute;
						top: 3px;
						right: 3px;
						display: none;
						width: 12px;
						height: 12px;
						font-size: 12px;
						color: #fa1515;
						text-decoration: none;
						cursor: pointer;
						background: url(/img/release-remove@2x.png) 0 0 no-repeat;
						background-size: 12px;
					}
					.film_title_timeline {
						display: inline-block;
						width: calc(100% - 16px);
						height: 13px;
						margin-top: 8px;
						margin-left: 8px;
						overflow: hidden;
						font-size: 12px;
						line-height: 11px;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.film_format_timeline {
						display: block;
						margin-top: -7px;
						margin-left: 8px;
						overflow: hidden;
						font-size: 10px;
						line-height: 10px;
						color: #9b9b9b;
						text-overflow: ellipsis;
						text-transform: uppercase;
						white-space: nowrap;
					}
					.film_time_wrap {
						position: absolute;
						bottom: 0;
						width: 100%;
						height: 20px;
						overflow: hidden;
						.film_start_timeline {
							display: block;
							float: left;
							margin-left: 8px;
							font-size: 10px;
							&.red_time {
								color: #e64c3b;
							}
						}
						.film_end_timeline {
							display: block;
							float: right;
							margin-right: 8px;
							font-size: 10px;
							&.red_time {
								color: #e64c3b;
							}
						}
					}
					&.changed_film_timeline {
						color: #000;
						background-color: #ffe4e4;
						.film_format_timeline {
							color: #9b9b9b;
						}
					}
				}
				.pause_timeline {
					position: absolute;
					z-index: 3;
					display: inline-block;
					height: 54px;
					vertical-align: top;
					background-color: #07a900;
					border: none;
					&.red_pause {
						background-color: #e64c3b;
					}
					&.pause_hover {
						background-color: #e64c3b;
					}
				}
			}
		}
		.right_added_block {
			display: inline-block;
			overflow: hidden;
			vertical-align: top;
			.added_time_wrap {
				float: left;
				width: 400px;
				height: 25px;
				overflow: hidden;
				background-color: #ffe4e4;
				border-bottom: 1px solid #b8b8b8;
			}
			.hour_timeline {
				position: relative;
				top: 0;
				display: inline-block;
				float: left;
				height: 25px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.hour_number {
				position: absolute;
				top: 0;
				left: 4px;
				font-size: 10px;
			}
			.half_hour_timeline {
				position: relative;
				top: 17px;
				display: inline-block;
				float: left;
				height: 8px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.minute_timeline {
				position: relative;
				top: 21px;
				display: inline-block;
				float: left;
				height: 4px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.added_films_timeline {
				width: 100%;
				height: 54px;
				background-color: #f1f1f1;
				border-bottom: 1px solid #d8d8d8;
				.added_half_films_timeline {
					width: 100%;
					height: 27px;
					border-bottom: 1px dotted #ddd;
				}
				&.drop-hover {
					background-color: #eaeef2;
				}
			}
			.added_time_space {
				width: 400px;
				height: 26px;
			}
		}
	}
}

.my_add_popup {
	position: fixed;
	top: 20%;
	left: 50%;
	width: 498px;
	margin: 0 auto 0 -249px;
	overflow: hidden;
	background: #fff;
	border-radius: 8px;
	.my_add_popup_exit {
		position: absolute;
		top: 10px;
		right: 10px;
		left: auto;
		display: none;
		width: 31px;
		height: 31px;
		cursor: pointer;
		background: none;
		.my_add_popup_exit__ico {
			position: absolute;
			top: 0;
			left: 0;
			width: 31px;
			height: 31px;
			background: url(/img/popup_close.svg) no-repeat;
			opacity: 1;
			transition: opacity .3s, transform .3s;
		}
		.my_add_popup_exit__ico_hover {
			background-position: 0 -31.5px;
			opacity: 0;
		}
		.my_add_popup_exit__ico_active {
			background-position: 0 -63.5px;
			opacity: 0;
		}
		&:hover {
			.my_add_popup_exit__ico {
				opacity: 0;
				transform: rotate(180deg);
			}
			.my_add_popup_exit__ico_hover {
				opacity: 1;
				transform: rotate(180deg);
			}
			.my_add_popup_exit__ico_active {
				opacity: 0;
				transform: rotate(180deg);
			}
		}
		&:active {
			.my_add_popup_exit__ico {
				opacity: 0;
				transform: rotate(180deg);
			}
			.my_add_popup_exit__ico_hover {
				opacity: 0;
				transform: rotate(180deg);
			}
			.my_add_popup_exit__ico_active {
				opacity: 1;
				transform: rotate(180deg);
			}
		}
	}
	.list {
		padding: 19px 11px;
		.input {
			width: calc(100% - 52px);
			height: 24px;
			padding: 0 25px 0 27px;
			font-size: 13px;
			line-height: 13px;
			color: #666;
			background: #fff url(/img/release_search_single.svg) no-repeat 8px 5px;
			border: 1px solid $default-border;
			border-radius: 16px;
		}
		.remove_text {
			position: absolute;
			top: 26px;
			right: 16px;
			display: none;
			width: 12px;
			height: 12px;
			cursor: pointer;
			background: url(/img/release-remove@2x.png) no-repeat;
			-webkit-background-size: 12px;
			        background-size: 12px;
		}
		.results {
			display: none;
			max-height: 407px;
			margin-top: 5px;
			overflow-x: hidden;
			overflow-y: scroll;
			background-color: #fff;
			border-radius: 4px;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
			.item {
				display: block;
				padding: 11px;
				overflow: hidden;
				text-decoration: none;
				cursor: pointer;
				border-bottom: 1px solid #e4e4e4;
				&:last-child {
					border-bottom: none;
				}
				&.selected {
					background-color: #007ac2;
					.right {
						.ru,
						.en,
						.formats {
							color: #fff;
						}
						.info {
							.date,
							.dist,
							.age {
								color: #fff;
							}
						}
					}
				}
				.left {
					float: left;
					width: 40px;
					.poster {
						width: 100%;
					}
					.poster_ico {
						display: block;
						width: 40px;
						height: 59px;
					}
				}
				.right {
					float: left;
					padding-left: 10px;
					.ru {
						display: block;
						width: 360px;
						padding-bottom: 5px;
						overflow: hidden;
						font-size: 13px;
						line-height: 13px;
						color: #4378a4;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.en {
						display: block;
						width: 360px;
						padding-bottom: 7px;
						overflow: hidden;
						font-size: 12px;
						line-height: 12px;
						color: #333;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.info {
						padding-bottom: 3px;
						font-size: 0;
						line-height: 11px;
						color: #8c8c8c;
						.date {
							display: inline-block;
							font-size: 11px;
							line-height: 11px;
							vertical-align: top;
						}
						.dist {
							display: inline-block;
							padding-left: 5px;
							font-size: 11px;
							line-height: 11px;
							vertical-align: top;
						}
						.age {
							display: inline-block;
							padding-left: 5px;
							font-size: 11px;
							line-height: 11px;
							vertical-align: top;
						}
					}
					.formats {
						display: block;
						font-size: 11px;
						line-height: 11px;
						color: #8c8c8c;
					}
				}
			}
		}
		.short_list {
			padding-top: 15px;
			.tabs {
				margin-bottom: 13px;
				overflow: hidden;
				font-size: 0;
				border: 1px solid #94bcdd;
				border-radius: 8px;
				.item {
					display: inline-block;
					width: 50%;
					height: 30px;
					font-size: 14px;
					line-height: 30px;
					color: #4378a4;
					text-align: center;
					vertical-align: top;
					cursor: pointer;
					&:first-child {
						width: calc(50% - 1px);
						border-right: 1px solid #94bcdd;
					}
					&.active {
						cursor: default;
						background-color: #f5f7fa;
					}
				}
			}
			.sections {
				.releases {
					display: none;
					max-height: 407px;
					margin-top: 5px;
					overflow-x: hidden;
					overflow-y: scroll;
					background-color: #fff;
					border-radius: 4px;
					box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
					&.visible {
						display: block;
					}
					.item {
						display: block;
						padding: 11px;
						overflow: hidden;
						font-size: 13px;
						line-height: 14px;
						text-decoration: none;
						cursor: pointer;
						border-bottom: 1px solid #e4e4e4;
						&:last-child {
							border-bottom: none;
						}
						&.selected {
							background-color: #007ac2;
							.date,
							.formats,
							.title {
								color: #fff;
							}
						}
						.date {
							display: inline-block;
							width: 115px;
							padding-right: 15px;
							color: #333;
							vertical-align: top;
						}
						.title {
							display: inline-block;
							width: 195px;
							overflow: hidden;
							color: #4378a4;
							text-overflow: ellipsis;
							white-space: nowrap;
							vertical-align: top;
							background: none;
						}
						.formats {
							float: right;
							color: #8c8c8c;
						}
					}
				}
			}
		}
	}
}
