#week_wr {
	height: 100%;
	&.not_show {
		.clear_schedule,
		.item_film {
			cursor: default;
		}
	}
}
.mechanic_blocked {
	position: fixed;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 150;
	display: table;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	span {
		display: table-cell;
		font-size: 20px;
		font-style: normal;
		line-height: 22px;
		color: #fff;
		text-align: center;
		vertical-align: middle;
	}
}
.timing__stop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
	transform: translateZ(0);
}
.week_popup {
	width: 1000px;
	min-width: 400px;
	max-width: 96%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #fff;
	border-radius: 8px;
	transition: opacity .3s;
}

.report-schedule {
	height: 100%;
	overflow: auto;
	.btn {
		float: left;
		margin: 1%;
		i {
			margin-right: 5px;
		}
	}
	&-intervals {
		margin-top: 15px;
		font-size: 14px;
		vertical-align: top;
		.prev-interval,
		.next-interval {
			margin: 0 10px;
			color: #4378a4;
			cursor: pointer;
			transition: color .3s;
			&:hover {
				color: #00adef;
			}
		}
		.prev-interval {
			background: url(/img/blue_side_arrows.svg) no-repeat 0 -14px;
		}
	}
	&-table {
		width: 100%;
		height: 100%;
		thead {
			height: 50px;
			background-color: #f6f6f6;
		}
		td,
		th {
			padding: 0 5px;
			border: 1px dotted #ccc;
		}
		td {
			font-size: calc((13vh + 250%) / 15);
			line-height: 9px;
			white-space: nowrap;
			border-right: 1px solid #ccc;
			transition: background-color .3s;
			&.marked {
				color: #fff;
				background-color: #6083a6;
			}
		}
		th {
			font-size: calc((1vw + 100%) / 3);
			line-height: 14px;
			border: 1px solid #ccc;
		}
		.hall-report {
			border-top: 1px solid #ccc;
		}
		.hall-params {
			height: 3%;
			color: #9b9b9b;
			background-color: #f2f2f2;
			border-right: none;
			border-bottom: 1px solid #b8b8b8;
			border-left: none;
		}
		.hall-title {
			background-color: #f2f2f2;
		}
		.hall-title {
			padding-top: 9px;
			vertical-align: top;
			border-right: 1px solid #ccc;
		}
		.release-duration {
			width: 5%;
			text-align: center;
			border-left: 1px solid #ccc;
		}
		.release-title {
			width: 40%;
		}
		.release-start {
			text-align: center;
		}
	}
}

.week_schedule {
	min-width: 1000px;
	height: 100%;
	.schedule_blocker {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 999;
		display: none;
		background-color: rgba(0, 0, 0, .4);
	}
}
.list_films {
	position: static;
	float: left;
	width: 200px;
	height: 100%;
	padding: 0 5px 0 5px;
	overflow: hidden;
	background-color: #d8d8d8;
	border-right: 1px solid #95bcdc;
	.found-releases {
		.item_film:last-child {
			margin-bottom: 5px;
		}
	}
	.change-display-mode {
		position: absolute;
		left: 190px;
		margin-top: 8px;
		color: #9b9b9b;
		cursor: pointer;
		transition: color .3s;
		&.active {
			color: #000;
		}
	}
	.list_films_wrap {
		width: 250px;
		height: calc(100% - 180px);
		margin-top: 45px;
		overflow-x: hidden;
	}
	.list_films__list {
		width: 250px;
		height: 100%;
		overflow-y: auto;
	}
	.jq-selectbox__select {
		width: 158px;
	}
	.current_week {
		position: relative;
		z-index: 10;
		height: 50px;
		margin: 0 -5px 7px;
		font-size: 14px;
		line-height: 50px;
		color: #333;
		text-align: center;
		background-color: #f6f6f6;
		div {
			position: absolute;
			top: 18px;
			line-height: normal;
			cursor: pointer;
			&.bk {
				left: 16px;
				.bk__ico {
					display: inline-block;
					width: 10px;
					height: 14px;
					vertical-align: top;
					background: url(/img/blue_side_arrows.svg) no-repeat 0 -14px;
				}
			}
			&.ff {
				right: 16px;
				.ff__ico {
					display: inline-block;
					width: 10px;
					height: 14px;
					vertical-align: top;
					background: url(/img/blue_side_arrows.svg) no-repeat;
				}
			}
		}
		&_date {
			color: #4378a4;
			cursor: pointer;
			border-bottom: 1px dotted #4378a4;
			transition: color .3s;
			&:hover {
				color: #0b385f;
			}
		}
	}
	.searching-module {
		float: left;
		.input {
			width: 125px;
		}
	}
	.schedule_generation {
		left: 95px;
		width: 105px;
	}
	.schedule_report {
		left: 7px;
		width: 79px;
	}
	.schedule_generation,
	.schedule_report {
		position: absolute;
		bottom: 46px;
		display: block;
		height: 26px;
		font-size: 14px;
		line-height: 28px;
		color: #4378a4;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		background-color: #f5f7fa;
		border: 1px solid #94bcdd;
		border-radius: 4px;
		transition: background-color .3s;
		&:hover {
			background-color: #eaf0f8;
		}
		.ico {
			display: inline;
			margin-right: 7px;
			margin-left: -3px;
			font-size: 16px;
			color: #4378a4;
		}
	}
	.export {
		position: absolute;
		bottom: 10px;
		left: 7px;
		display: block;
		width: 158px;
		height: 26px;
		font-size: 14px;
		line-height: 28px;
		color: #4378a4;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		background-color: #f5f7fa;
		border: 1px solid #94bcdd;
		border-radius: 4px;
		transition: background-color .3s;
		&:hover {
			background-color: #eaf0f8;
		}
		.excel_ico {
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-top: 4px;
			margin-right: 6px;
			vertical-align: top;
			background: url(/img/export_excel@2x.png);
			background-size: 18px 18px;
		}
	}
	.clear_schedule {
		position: absolute;
		bottom: 10px;
		left: 174px;
		display: block;
		width: 26px;
		height: 26px;
		font-size: 14px;
		line-height: 28px;
		color: #4378a4;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		background-color: #f5f7fa;
		border: 1px solid #94bcdd;
		border-radius: 4px;
		outline: none;
		transition: background-color .3s;
		&:hover {
			background-color: #eaf0f8;
		}
		.trash_ico {
			display: inline-block;
			width: 14px;
			height: 16px;
			margin-top: 5px;
			background: url(/img/trash.svg) no-repeat;
		}
	}
	.item_film {
		position: relative;
		z-index: 5;
		width: 188px;
		height: 30px;
		padding: 5px;
		margin: 0 0 5px 0;
		background-color: #fff;
		border: 1px solid #c7c7c7;
		border-radius: 4px;
		&:last-child {
			margin-bottom: 0;
		}
		.ad_time {
			position: absolute;
			top: 0;
			left: 0;
			vertical-align: top;
			background-color: #00c3ef;
			border: none;
		}
		.film_title {
			width: 150px;
			margin: 0;
			overflow: hidden;
			font-size: 13px;
			line-height: 15px;
			color: #333;
			text-overflow: ellipsis;
			white-space: nowrap;
			&.actual {
				font-weight: bolder;
			}
		}
		.repertoire_count {
			position: absolute;
			top: 2px;
			right: 5px;
			display: inline-block;
			font-size: 11px;
			color: #9b9b9b;
			.excess {
				color: #e64c3b;
			}
		}
		.count {
			position: absolute;
			top: 2px;
			right: 5px;
			display: none;
			font-size: 11px;
			color: #9b9b9b;
			.excess {
				color: #e64c3b;
			}
		}
		.badg_cer {
			position: absolute;
			bottom: 5px;
			left: 5px;
			width: 10px;
			height: 10px;
			border: none !important;
			border-radius: 50%;
			&.blue {
				background-color: #a3c2fd;
			}
			&.pink {
				background-color: #d984eb;
			}
			&.green {
				background-color: #89dad2;
			}
			&.gray {
				background-color: #9b9b9b;
			}
			&.orange {
				background-color: #fd9d78;
			}
		}
		&:hover {
			cursor: move;
		}
		&.default {
			p {
				color: #9b9b9b;
			}
		}
		.release_info {
			position: relative;
			left: 13px;
			display: block;
			width: 173px;
			font-size: 11px;
			color: #9b9b9b;
			i {
				position: absolute;
				right: 0;
				width: 100px;
				overflow: hidden;
				font-style: normal;
				text-align: right;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
.item_week {
	position: static;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	&.gray {
		background-color: #f1f1f1;
	}
	#timeline {
		width: calc(100% + 500px);
		height: 100%;
		font-size: 0;
		background-color: #f1f1f1;
		.header_timeline {
			position: relative;
			width: calc(100% - 500px);
			height: 50px;
			font-size: 20px;
			line-height: 40px;
			text-align: center;
			vertical-align: top;
			background-color: #f6f6f6;
			border-bottom: 1px solid #b8b8b8;
			.halls_timeline {
				position: absolute;
				top: 77px;
				left: 0;
				z-index: 3;
				display: inline-block;
				.hall_timeline {
					width: 70px;
					height: 54px;
					text-align: left;
					cursor: pointer;
					background-color: #fff;
					border-right: 1px solid #d8d8d8;
					border-bottom: 1px solid #d8d8d8;
					.hall_number_timeline {
						display: inline-block;
						width: calc(100% - 14px);
						margin-top: 10px;
						margin-left: 7px;
						overflow: hidden;
						font-size: 16px;
						line-height: 16px;
						text-align: left;
						text-overflow: ellipsis;
						white-space: nowrap;
						vertical-align: top;
					}
					.hall_places_timeline {
						display: inline-block;
						margin-top: -5px;
						margin-left: 7px;
						font-size: 11px;
						line-height: 11px;
						color: #b8b8b8;
						text-align: center;
						text-align: center;
						vertical-align: top;
						vertical-align: top;
					}
					.repair_changed_films {
						display: inline-block;
						float: right;
						margin-top: -7px;
						margin-right: 3px;
						font-size: 13px;
						color: #000;
						cursor: pointer;
						transition: color .3s;
						&:hover {
							color: #c8041d;
						}
					}
				}
			}
			.week_switch {
				display: inline-block;
				float: left;
				width: 76px;
				height: 25px;
				margin-top: 12px;
				margin-left: 12px;
				font-size: 14px;
				line-height: 24px;
				color: #4378a4;
				text-align: center;
				cursor: pointer;
				background-color: #f5f7fa;
				border: 1px solid #94bcdd;
				border-radius: 4px;
				transition: background-color .3s;
				img {
					display: inline-block;
					padding: 0 4px 0 8px;
					margin-top: 6px;
					margin-left: -8px;
					vertical-align: top;
					background: url(/img/back.svg) no-repeat 8px 0;
				}
				&:hover {
					background-color: #eaf0f8;
				}
				&:active {
					background-color: #d6e2f1;
				}
			}
			.chosen_day_timeline {
				position: relative;
				display: inline-block;
				width: 226px;
				height: 40px;
				margin-top: 6px;
				margin-left: -100px;
				font-size: 20px;
				line-height: 38px;
				text-align: center;
				vertical-align: top;
				.prev_day_ico {
					position: absolute;
					top: 50%;
					left: 0;
					width: 10px;
					height: 14px;
					margin-top: -7px;
					cursor: pointer;
					background: url(/img/blue_side_arrows.svg) no-repeat 0 -14px;
				}
				.next_day_ico {
					position: absolute;
					top: 50%;
					right: 0;
					width: 10px;
					height: 14px;
					margin-top: -7px;
					cursor: pointer;
					background: url(/img/blue_side_arrows.svg) no-repeat 0 0;
				}
				.unlock_day {
					position: absolute;
					top: 12px;
					margin-left: 60px;
					font-size: 17px;
					color: #000;
					cursor: pointer;
					transition: color .3s;
					&:hover {
						color: #c8041d;
					}
				}
			}
			.off_ads {
				position: absolute;
				top: 1px;
				right: 10px;
				width: 200px;
				height: 50px;
				font-size: 14px;
				line-height: 50px;
				text-align: center;
				font-size: 0;
				#off_ads {
					display: inline-block;
					vertical-align: middle;
				}
				label {
					display: inline-block;
					padding-left: 7px;
					font-size: 14px;
					vertical-align: middle;
					cursor: pointer;
				}
			}
		}
		.left_added_block {
			display: inline-block;
			width: 70px;
			overflow: hidden;
			vertical-align: top;
			.added_time_wrap {
				float: right;
				width: 400px;
				height: 25px;
				overflow: hidden;
				background-color: #ffe4e4;
				border-bottom: 1px solid #b8b8b8;
			}
			.hour_timeline {
				position: relative;
				top: 0;
				display: inline-block;
				float: right;
				height: 25px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.hour_number {
				position: absolute;
				top: 0;
				left: 4px;
				font-size: 10px;
			}
			.half_hour_timeline {
				position: relative;
				top: 17px;
				display: inline-block;
				float: right;
				height: 8px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.minute_timeline {
				position: relative;
				top: 21px;
				display: inline-block;
				float: right;
				height: 4px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.added_films_timeline {
				width: 100%;
				height: 54px;
				background-color: #f1f1f1;
				border-bottom: 1px solid #d8d8d8;
				.added_half_films_timeline {
					width: 100%;
					height: 27px;
					border-bottom: 1px dotted #ddd;
				}
			}
			.added_time_space {
				width: 400px;
				height: 26px;
			}
		}
		.day_timeline_wr {
			position: relative;
			display: inline-block;
			width: 100%;
			vertical-align: top;
			.position_marker_start {
				position: absolute;
				left: -81px;
				z-index: 5;
				width: 1px;
				height: 100%;
				background-color: #f00;
				.position_time {
					position: absolute;
					top: -80px;
					font-size: 10px;
				}
			}
			.position_marker_end {
				position: absolute;
				left: -81px;
				z-index: 4;
				width: 1px;
				height: 100%;
				background-color: #f00;
			}
		}
		.day_timeline {
			display: inline-block;
			width: 100%;
			height: 25px;
			vertical-align: top;
			background-color: #fff;
			border-bottom: 1px solid #b8b8b8;
			.cinema_closed_timeline {
				display: inline-block;
				background-color: #ffe4e4;
			}
			.hour_timeline {
				position: relative;
				top: 0;
				display: inline-block;
				height: 25px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.hour_number {
				position: absolute;
				top: 0;
				left: 4px;
				font-size: 10px;
			}
			.half_hour_timeline {
				position: relative;
				top: 17px;
				display: inline-block;
				height: 8px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.minute_timeline {
				position: relative;
				top: 21px;
				display: inline-block;
				height: 4px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.films_timeline {
				position: relative;
				top: 1px;
				display: inline-block;
				width: 100%;
				height: 54px;
				overflow: visible;
				vertical-align: top;
				background-color: #f1f1f1;
				border-bottom: 1px solid #d8d8d8;
				&.drop-hover {
					background-color: #eaeef2;
				}
				.half_films_timeline {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 27px;
					border-bottom: 1px dotted #ddd;
				}
				.ad_timeline {
					position: absolute;
					z-index: 2;
					display: inline-block;
					height: 54px;
					vertical-align: top;
					background-color: #00c3ef;
					border: none;
					&.disabled_ad {
						background-color: #fff;
					}
					&.chosen_ad {
						background-color: #007ac2;
					}
				}
				.film_item_timeline {
					position: absolute;
					z-index: 2;
					display: inline-block;
					height: 54px;
					text-align: left;
					vertical-align: top;
					background-color: #fff;
					&:hover {
						.remove {
							display: block;
						}
					}
					&.changed_duration {
						color: #000;
						background-color: #ffe4e4;
						.film_format_timeline {
							color: #9b9b9b;
						}
					}
					&.same_film {
						background-color: #ebf2f9;
					}
					&.chosen_film {
						z-index: 4;
						color: #fff;
						background-color: #007ac2;
						.film_format_timeline {
							color: #fff;
						}
						.film_start_marker {
							background-color: #007ac2;
						}
					}
					.film_start_marker {
						position: absolute;
						left: 0;
						width: 1px;
						height: 100%;
						background-color: #d8d8d8;
					}
					.remove {
						position: absolute;
						top: 3px;
						right: 3px;
						display: none;
						width: 12px;
						height: 12px;
						font-size: 12px;
						color: #fa1515;
						text-decoration: none;
						cursor: pointer;
						background: url(/img/release-remove@2x.png) 0 0 no-repeat;
						background-size: 12px;
					}
					.film_title_timeline {
						display: inline-block;
						width: calc(100% - 16px);
						height: 13px;
						margin-top: 8px;
						margin-left: 8px;
						overflow: hidden;
						font-size: 12px;
						line-height: 11px;
						text-overflow: ellipsis;
						white-space: nowrap;
						&.problem {
							color: #e64c3b;
						}
						.has_copy_kdm,
						.has_copy,
						.has_kdm {
							position: relative;
							display: inline-block;
							width: 12px;
							height: 8px;
							font-size: 12px;
							color: #fa1515;
							text-decoration: none;
							background-size: 12px;
						}
						.has_copy_kdm {
							background: url(/img/dd2.svg) 0 0 no-repeat;
						}
						.has_copy,
						.has_kdm {
							background: url(/img/dd.svg) 0 0 no-repeat;
						}
					}
					.film_format_timeline {
						display: block;
						margin-top: -7px;
						margin-left: 8px;
						overflow: hidden;
						font-size: 10px;
						line-height: 10px;
						color: #9b9b9b;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.film_time_wrap {
						position: absolute;
						bottom: 0;
						width: 100%;
						height: 20px;
						overflow: hidden;
						.film_start_timeline {
							display: block;
							float: left;
							margin-left: 8px;
							font-size: 10px;
							&.red_time {
								color: #e64c3b;
							}
						}
						.film_end_timeline {
							display: block;
							float: right;
							margin-right: 8px;
							font-size: 10px;
							&.red_time {
								color: #e64c3b;
							}
						}
					}
				}
				.pause_timeline {
					position: absolute;
					z-index: 3;
					display: inline-block;
					height: 54px;
					vertical-align: top;
					background-color: #07a900;
					border: none;
					&.red_pause {
						background-color: #e64c3b;
					}
					&.pause_hover {
						background-color: #e64c3b;
					}
				}
			}
		}
		.right_added_block {
			display: inline-block;
			overflow: hidden;
			vertical-align: top;
			.added_time_wrap {
				float: left;
				width: 400px;
				height: 25px;
				overflow: hidden;
				background-color: #ffe4e4;
				border-bottom: 1px solid #b8b8b8;
			}
			.hour_timeline {
				position: relative;
				top: 0;
				display: inline-block;
				float: left;
				height: 25px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.hour_number {
				position: absolute;
				top: 0;
				left: 4px;
				font-size: 10px;
			}
			.half_hour_timeline {
				position: relative;
				top: 17px;
				display: inline-block;
				float: left;
				height: 8px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.minute_timeline {
				position: relative;
				top: 21px;
				display: inline-block;
				float: left;
				height: 4px;
				vertical-align: top;
				border-left: 1px solid #b8b8b8;
			}
			.added_films_timeline {
				width: 100%;
				height: 54px;
				background-color: #f1f1f1;
				border-bottom: 1px solid #d8d8d8;
				.added_half_films_timeline {
					width: 100%;
					height: 27px;
					border-bottom: 1px dotted #ddd;
				}
				&.drop-hover {
					background-color: #eaeef2;
				}
			}
			.added_time_space {
				width: 400px;
				height: 26px;
			}
		}
	}
	.release_block_space {
		width: 100%;
		height: 50px;
	}
	.release_block {
		position: fixed;
		bottom: 0;
		z-index: 5;
		display: none;
		width: 100%;
		height: 50px;
		&.no-rights {
			pointer-events: none;
			.ad_mi,
			.ad_pl,
			.pause_mi,
			.pause_pl,
			.delete_film {
				cursor: 'default';
				opacity: 0;
			}
		}
		.ad_info {
			display: inline-block;
			width: 144px;
			height: 50px;
			padding: 8px;
			font-size: 13px;
			color: #fff;
			text-align: center;
			vertical-align: top;
			background-color: #00c3ef;
			.ad_mi {
				display: inline-block;
				float: left;
				width: 9px;
				height: 13px;
				margin-left: 2px;
				cursor: pointer;
				background: url(/img/block_arrow.svg);
				&.disabled {
					pointer-events: none;
				}
			}
			.ad_duration {
				display: inline-block;
				margin-top: -4px;
				vertical-align: top;
			}
			.ad_pl {
				display: inline-block;
				float: right;
				width: 9px;
				height: 13px;
				margin-right: 2px;
				cursor: pointer;
				background: url(/img/block_arrow.svg);
				transform: rotate(180deg);
			}
			.ad_start {
				display: inline-block;
				float: left;
				margin-top: 18px;
				margin-left: -9px;
				font-size: 13px;
			}
			.ad_end {
				display: inline-block;
				float: right;
				margin-top: 18px;
				margin-right: -9px;
				font-size: 13px;
			}
		}
		.film_item_info {
			display: inline-block;
			width: calc(100% - 597px);
			height: 49px;
			padding: 8px;
			vertical-align: top;
			background-color: #f6f6f6;
			border-top: 1px solid #d8d8d8;
			.hall_title {
				display: inline-block;
				margin-top: -4px;
				font-size: 16px;
				vertical-align: top;
			}
			.film_title {
				display: inline-block;
				margin-top: -4px;
				margin-left: 4px;
				font-size: 16px;
				font-weight: bold;
				vertical-align: top;
			}
			.delete_film {
				display: inline-block;
				margin-top: -4px;
				margin-left: 4px;
				font-size: 14px;
				color: #000;
				vertical-align: top;
				cursor: pointer;
				&:hover {
					color: #e64c3b;
					transition: color .3s;
				}
			}
			.show_and_chrono {
				display: block;
				margin-top: -3px;
				font-size: 13px;
				color: #666;
				vertical-align: top;
			}
		}
		.pause_info {
			display: inline-block;
			width: 144px;
			height: 50px;
			padding: 8px;
			font-size: 13px;
			color: #fff;
			text-align: center;
			vertical-align: top;
			background-color: #07a900;
			.pause_mi {
				display: inline-block;
				float: left;
				width: 9px;
				height: 13px;
				margin-left: 2px;
				cursor: pointer;
				background: url(/img/block_arrow.svg);
				&.disabled {
					pointer-events: none;
				}
			}
			.pause_duration {
				display: inline-block;
				margin-top: -4px;
				vertical-align: top;
			}
			.pause_pl {
				display: inline-block;
				float: right;
				width: 9px;
				height: 13px;
				margin-right: 2px;
				cursor: pointer;
				background: url(/img/block_arrow.svg);
				transform: rotate(180deg);
			}
			.pause_start {
				display: inline-block;
				float: left;
				margin-top: 18px;
				margin-left: -9px;
				font-size: 13px;
			}
			.pause_end {
				display: inline-block;
				float: right;
				margin-top: 18px;
				margin-right: -9px;
				font-size: 13px;
			}
		}
	}
}
.head_day_wr {
	position: absolute;
	left: 211px;
	z-index: 10;
	min-width: 774px;
	height: 50px;
	background-color: #f6f6f6;
	.head_day {
		float: left;
		width: calc((100% + 9px) / 7 - 8px);
		height: 50px;
		box-sizing: border-box;
		margin: 0 0 0 6px;
		line-height: 50px;
		color: #4f5562;
		text-transform: uppercase;
		border-bottom: 4px solid #d8d8d8;
		&.hol {
			color: #c8041d;
			.head_day__day {
				color: #f06073;
			}
			.head_day__left {
				color: #c8041d;
			}
		}
		.head_day__left {
			float: left;
			padding-left: 10px;
			margin-top: 1px;
			font-size: 16px;
			color: #4f5561;
			.head_day__date {
				font-weight: bold;
			}
			.head_day__month {
				font-weight: normal;
				text-transform: lowercase;
			}
		}
		.head_day__day {
			float: right;
			padding-right: 10px;
			font-size: 14px;
			line-height: 56px;
			color: #b1b1b1;
		}
		.timeline_switch {
			float: right;
			margin-top: 19px;
			font-size: 14px;
			line-height: 18px;
			color: #000;
			cursor: pointer;
			transition: color .3s;
			&:hover {
				color: #c8041d;
			}
		}
	}
}

.hall_list_wr {
	padding: 55px 0 0 6px;
	height: calc(100% - 55px);
	&.disable-hover {
		pointer-events: none;
	}
	.hall_item {
		position: relative;
		padding-bottom: 30px;
		&__hall{
			height: 40px;
			background-color: #eaeef2;
			border-bottom: 2px solid #d5d7dc;
			margin: 0 5px 0 0;
			overflow: hidden;
			&__left{
				float: left;
				font-size: 14px;
				line-height: 14px;
				padding: 15px 0 0 10px;
				&__hall{
					color: #333;
					display: inline-block;
					vertical-align: top;
				}
				&__format{
					color: #9b9b9b;
					text-transform: uppercase;
					display: inline-block;
					vertical-align: top;
					padding-left: 5px;
				}
			}
			&__right{
				float: right;
				padding: 15px 10px 0 0;
				font-size: 0;
				line-height: 14px;
				&__copy{
					display: inline-block;
					vertical-align: top;
					color: #4378a4;
					font-size: 14px;
					cursor: pointer;
					transition: color .3s;
					margin-right: 10px;
					&:hover{
						color: #c8041d;
					}
				}
				&__capacity{
					display: inline-block;
					vertical-align: top;
					font-size: 14px;
					color: #9b9b9b;
				}
			}
		}
		.hall_day-wrap{
			margin: 0 5px 0 0;
		}
		.hall_day {
			width: calc((100% + 8px)/7 - 7px);
			margin: 0 0 0 6px;
			float: left;
			box-sizing: border-box;
			&:first-child {
				margin: 0;
			}
			.release_day {
				position: absolute;
				width: calc(100% / 7 - 6px);
				height: 100%;
				padding: 0;
				&.ui-draggable-dragging {
					height: auto;
					background-color: #fff;
					border-radius: 8px;
					border: 1px dashed #95bcdc;
				}
				.rel {
					box-sizing: border-box;
					height: 33px;
					z-index: 2;
					position: relative;
					cursor: pointer;
					width: 100%;
					.remove {
						position: absolute;
						right: 5px;
						top: 10px;
						width: 12px;
						height: 12px;
						background: url(/img/release-remove@2x.png) 0 0 no-repeat;
						background-size: 12px;
						text-decoration: none;
						font-size: 12px;
						color: #fa1515;
						display: none;
						cursor: pointer;
					}
					.fa-comment {
						transition: color 0.3s;
						&:hover {
							color: #000;
						}
					}
					.po {
						position: absolute;
						width: 5px;
						height: 4px;
						background-color: #fff;
						bottom: -2px;
						left: -5px;
					}
					.rel_title {
						line-height: 37px;
						margin: 0;
						font-size: 13px;
						height: 32px;
						display: block;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						color: #333;
						&.problem {
							color: #e64c3b;
						}
						i {
							font-style: normal;
							color: #9b9b9b;
						}
						.has_copy_kdm,
						.has_copy,
						.has_kdm {
							position: relative;
							width: 12px;
							height: 8px;
							background-size: 12px;
							text-decoration: none;
							font-size: 12px;
							color: #fa1515;
							display: inline-block;
						}
						.has_copy_kdm {
							background: url(/img/dd2.svg) 0 0 no-repeat;
						}
						.has_copy,
						.has_kdm {
							background: url(/img/dd.svg) 0 0 no-repeat;
						}
					}
					.rel_time {
						width: 40px;
						font-size: 12px;
						text-align: center;
						line-height: 12px;
						color: #9b9b9b;
						float: left;
						font-weight: normal;
						margin: 0px 3px 0 0;
						height: 12px;
						padding: 13px 0 4px;
						&.changed_duration {
							color: #e64c3b;
						}
					}
					&:hover {
						.remove {
							display: block;
						}
					}
					&.blue {
						border-bottom: 2px solid #a2c1ff;
						border-left: none !important;
						border-right: none !important;
						background: none;
						color: #4a4a4a;
							.rel_time {
								border-bottom: 2px solid #a2c1ff;
							}
					}
					&.pink {
						border-bottom: 2px solid #da81ed;
						border-left: none !important;
						border-right: none !important;
						background: none;
						color: #4a4a4a;
							.rel_time {
								border-bottom: 2px solid #da81ed;
							}
					}
					&.green {
						border-bottom: 2px solid #86dad2;
						border-left: none !important;
						border-right: none !important;
						background: none;
						color: #4a4a4a;
							.rel_time {
								border-bottom: 2px solid #86dad2;
							}
					}
					&.gray {
						border-bottom: 2px solid #aeaeae;
						border-left: none !important;
						border-right: none !important;
						background: none;
						color: #4a4a4a;
							.rel_time {
								border-bottom: 2px solid #aeaeae;
							}
					}
					&.orange {
						border-bottom: 2px solid #ff9d74;
						border-left: none !important;
						border-right: none !important;
						background: none;
						color: #4a4a4a;
							.rel_time {
								border-bottom: 2px solid #ff9d74;
							}
					}
					&.default {
						p {
							color: #aeaeae;
						}
					}
				}
			}
			.head_day {
				box-sizing: border-box;
				background-color: #e0e0e0;
				height: 32px;
				padding: 0 0 0 10px;
				line-height: 32px;
				border-top: 1px solid #d3d3d3;
				border-bottom: 1px dotted #d3d3d3;
				position: relative;
				z-index: 1;
				color: #4f5562;
				&.first {
					z-index: 10;
				}
				p {
					margin: 0;
					white-space: nowrap;
					span {
						font-weight: bold;
						margin: 0 5px 0 0;
					}
				}
			}
			.item_day {
				height: 32px;
				background-color: #f6f8fd;
				height: 32px;
				line-height: 32px;
				border-bottom: 1px dashed #d5d7dc;
				&:nth-child(2n-1){
					background-color: #fff;
				}
			}
			&.hol {
				.head_day {
					background-color: #e5dbdb;
				}
				.item_day {
					background-color: #fff4f4;
					&:nth-child(2n-1){
						background-color: #fff;
					}
				}
			}
			&.drop-hover {
				.head_day {

				}
				.item_day{
					background-color: #eaeef2 !important;
					opacity: 0.8;

				}
			}
		}
		.hall_item__hall+.hall_day{
			margin: 0;
		}
		.hall_head {
			background-color: $default-border;
			height: 32px;
			.head_day {
				box-sizing: border-box;
				margin: 0 0 0 5px;
				width: calc((100% + 5px)/7 - 5px);
				background-color: #e0e0e0;
				height: 32px;
				padding: 0 0 0 10px;
				line-height: 32px;
				float: left;
				border-top: 1px solid #d3d3d3;
				border-bottom: 1px dotted #d3d3d3;
				position: relative;
				z-index: 1;
				color: #4f5562;
				&:first-child {
					margin: 0;
					z-index: 2;
				}
				p {
					margin: 0;
					white-space: nowrap;
					span {
						font-weight: bold;
						margin: 0 5px 0 0;
					}
				}
				&.hol {
					background-color: #e5dbdb;
				}
			}
		}
		.hall_cont {
			height: 32px;
			position: relative;
			.head_day {
				box-sizing: border-box;
				margin: 0 0 0 5px;
				width: calc((100% + 5px)/7 - 5px);
				background-color: #fafafa;
				height: 32px;
				line-height: 32px;
				float: left;
				border-bottom: 1px dotted #d3d3d3;
				&:first-child {
					margin: 0;
				}
				&.hol {
					background-color: #fff4f4;
				}
				&.drop-hover {
					background-color: #edf9e6;
				}
				.drop-time {
					border-bottom: 2px solid rgba(252, 244, 132, 0.7);
					box-sizing: border-box;
					height: 32px;
					width: 100%;
					position: absolute;
				}
			}
			&:last-child {
				.head_day {
					border-bottom: none;
				}
			}
		}
	}
}

.message_schedule {
	width: 500px;
	text-align: center;
	.message {
		border-bottom: 1px solid $default-border;
		display: inline-block;
		height: 85px;
		line-height: 20px;
		padding-top: 50px;
		text-align: center;
		vertical-align: top;
		width: 100%;
	}
	.done{
		background-color: #f6f6f6;
		border: 1px solid #94bcdd;
		color: #4378a4;
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		height: 19px;
		margin: 10px 20px;
		line-height: 12px;
		padding: 8px 15px 0;
		border-radius: 4px;
		transition: background-color 0.3s;
		width: 50px;
		&:hover{
			background-color: #eaf0f8;
		}
		&:active{
			background-color: #d6e2fa;
		}
	}
}

.export_schedule {
	width: 500px;
}

.day_schedule {
	width: 1000px;
	background-color: #fff;
	.day_schedule_head {
		height: 74px;
		position: relative;
		text-align: center;
		.exit {
			text-decoration: none;
			top: 50%;
			margin-top: -15px;
			position: absolute;
			width: 31px;
			height: 31px;
			cursor: pointer;
			&.close {
				left: 20px;
			}
			&.save {
				right: 20px;
			}
			.week_settings__close{
				background: url(/img/popup_close.svg) no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 31px;
				height: 31px;
				opacity: 1;
				transition: opacity 0.3s, transform 0.3s;
				&.week_settings__close_hover{
					background-position: 0 -31.5px;
					opacity: 0;
				}
				&.week_settings__close_active{
					background-position: 0 -63.5px;
					opacity: 0;
				}
			}
			&:hover{
				.week_settings__close{
					opacity: 0;
					transform: rotate(180deg);
				}
				.week_settings__close_hover{
					opacity: 1;
					transform: rotate(180deg);
				}
				.week_settings__close_active{
					opacity: 0;
					transform: rotate(180deg);
				}
			}
			&:active{
				.week_settings__close{
					opacity: 0;
					transform: rotate(180deg);
				}
				.week_settings__close_hover{
					opacity: 0;
					transform: rotate(180deg);
				}
				.week_settings__close_active{
					opacity: 1;
					transform: rotate(180deg);
				}
			}
		}
		.cur_date {
			display: inline-block;
			vertical-align: top;
			line-height: 75px;
			color: #000;
			font-size: 24px;
			text-align: center;
			.weekday {
				text-transform: uppercase;
			}
			a {
				img {
					margin: -4px 0 0 0;
				}
			}
		}
		.unlock_day {
			display: inline-block;
			vertical-align: top;
			line-height: 75px;
			color: #000;
			text-align: center;
			font-size: 18px;
			margin-left: 10px;
			cursor: pointer;
			color: #000;
			transition: color 0.3s;
			&:hover{
				color: #c8041d;
			}
		}
	}
	.day_schedule_content {
		height: 100%;
		background-color: #e7e7e7;
		border-top: 1px solid #95bcdc;
		.list_films {
			float: left;
			width: 240px;
			overflow: hidden;
			padding: 0px;
			height: 100%;
			border-right: 1px solid #95bcdc;
			.searching-module {
				margin: 10px;
				.input {
					width: 140px;
				}
			}
			.change-display-mode {
				position: relative;
				margin-top: 17px;
				left: 0;
				cursor: pointer;
				color: #9b9b9b;
				transition: color 0.3s;
				&.active {
					color: #000;
				}
			}
		}
		.list_films_wrap {
			float: left;
			width: 280px;
			height: calc(100% - 45px);
			overflow: auto;
			padding: 0 10px;
			margin-top: 0px;
			.item_film {
				background-color: #fff;
				border: 1px solid #c7c7c7;
				margin: 0 0 10px 0;
				width: 208px;
				height: 30px;
				padding: 5px;
				z-index: 5;
				position: relative;
				border-radius: 4px;
				.film_title {
					margin: 0;
					width: 175px;
					font-size: 13px;
					line-height: 15px;
					color: #333;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					&.actual {
						font-weight: bolder;
					}
				}
				.repertoire_count {
					display: inline-block;
					position: absolute;
					font-size: 11px;
					color: #9b9b9b;
					right: 5px;
					top: 2px;
					.excess {
						color:#e64c3b;
					}
				}
				.badg_cer {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					position: absolute;
					bottom: 5px;
					left: 5px;
					border: none !important;
					&.blue {
						background-color: #a3c2fd;
					}
					&.pink {
						background-color: #d984eb;
					}
					&.green {
						background-color: #89dad2;
					}
					&.gray {
						background-color: #9b9b9b;
					}
					&.orange {
						background-color: #fd9d78;
					}
				}
				&:hover {
					cursor: move;
				}
				&.default {
					p {
						color: #aeaeae;
					}
				}
				.release_info {
					font-size: 11px;
					display: block;
					color: #9b9b9b;
					position: relative;
					left: 14px;
					bottom: -1px;
					width: 193px;
					i {
						width: 120px;
						position: absolute;
						right: 0;
						overflow: hidden;
						font-style: normal;
						white-space: nowrap;
						text-overflow: ellipsis;
						text-align: right;
					}
				}
			}
		}
		.hall_day {
			margin-left: 241px;
			height: 100%;
			background-color: #f1f1f1;
			&.no-rights {
				pointer-events: none;
			}
			.wr_hall {
				position: relative;
				height: 50px;
				.hall_list {
					list-style: none;
					height: 50px;
					overflow: hidden;
					padding: 0;
					margin: 0;
					li {
						cursor: default;
						height: 14px;
						width: 730px;
						float: left;
						font-size: 14px;
						line-height: 14px;
						padding: 20px 15px 16px;
						background-color: #f1f1f1;
						color: #a3a3a3;
						border-right: 1px solid #e9e9e9;
						&.active {
							border-right: none;
							background-color: #f6f6f6;
							color: #b7b7b7;
						}
						&.title_hall {
							width: 420px;
						}
						.repair_duration {
							color: #000;
							cursor: pointer;
							transition: color 0.3s;
							margin-left: 10px;
							display: none;
							&:hover{
								color: #c8041d;
							}
						}
					}
				}
			}
			.hall_info {
				position: relative;
				p {
					font-size: 14px;
					color: #a2a2a2;
					margin: 0;
					padding: 8px 10px 5px 10px;
					span {
						margin: 0 0 0 20px;
					}
				}
				.formats {
					display: none;
					position: absolute;
					top: 0;
					right: 0;
					p {
						color: #4a4a4a;
					}
					&.active {
						display: block;
					}
				}
			}
			.hall_content {
				position: relative;
				background-color: #8b8b8b;
				overflow-y: hidden;
				.hall_item {
					position: relative;
					display: none;
					background-color: #989898;
					table {
						position: absolute;
						top: 0;
						z-index: 0;
						tr {
							height: 30px;
							border-bottom: 1px solid #ececec;
							&:first-child {
								height: 35px;
							}
							&:nth-child(odd) {
								border-bottom: 1px dotted #ececec;
							}
						}
					}
					.wr_release_day {
						overflow: auto;
						height: 450px;
						background-color: #333333;
						.helper_block {
							display: none;
							vertical-align: top;
							border: 2px dashed #fff;
							border-radius: 8px;
							font-size: 17px;
							line-height: 150px;
							width: 70%;
							margin-top: 110px;
							margin-left: 110px;
							height: 150px;
							opacity: 0.8;
							text-align: center;
							width: 70%;
							color: #fff;
						}
					}
					.release {
						position: relative;
						z-index: 1;
						height: 40px;
						background-color: #333333;
						padding: 10px;
						font-size: 0px;
						&.ui-sortable-helper{
							cursor: move;
						}
						&:nth-child(2) {
							.plus_start,
							.minus_start {
								display: inline-block;
							}
						}
						&:nth-child(2n-1){
							background-color: #3e3e3e;
						}
						&:hover {
							.remove {
								opacity: 1;
							}
						}
						.plus_start,
						.minus_start {
							display: none;
						}
						.remove {
							display: inline-block;
							position: absolute;
							z-index: 10;
							top: 16px;
							right: 19px;
							width: 12px;
							height: 12px;
							background: url(/img/release_day_remove.svg) 0 0 no-repeat;
							transform: rotate(45deg);
							transition: opacity 0.3s;
							background-size: 12px;
							cursor: pointer;
							margin-right: -11px;
							margin-top: 6px;
							opacity: 0;
						}
						.left, .right {
							display: inline-block;
							vertical-align: top;
						}
						.left {
							margin-left: 10px;
							width: 71px;
							height: 36px;
							font-size: 0px;
							text-align: center;
							.rel_day_start {
								width: 100%;
								height: 18px;
								.minus_start {
									float: left;
									background: url("/img/block_arrow.svg");
									height: 13px;
									margin-top: 3px;
									width: 9px;
									cursor: pointer;
								}
								.start_value {
									display: inline-block;
									vertical-align: top;
									font-size: 14px;
									color: #fff;
								}
								.plus_start {
									float: right;
									background: url("/img/block_arrow.svg");
									transform: rotate(180deg);
									height: 13px;
									margin-top: 3px;
									width: 9px;
									cursor: pointer;
								}
							}
							.rel_day_end {
								display: inline-block;
								vertical-align: top;
								font-size: 13px;
								color: #c1c1c1;
							}
						}
						.right{
							margin-left: 14px;
							width: 616px;
							font-size: 0px;
							border-radius: 4px;
							overflow: hidden;
							height: 36px;
							.rel_day_color {
								width: 4px;
								height: 36px;
								display: inline-block;
								vertical-align: top;
								&.blue {
									background-color: #a3c2fd;
								}
								&.pink {
									background-color: #d984eb;
								}
								&.green {
									background-color: #89dad2;
								}
								&.gray {
									background-color: #9b9b9b;
								}
								&.orange {
									background-color: #fd9d78;
								}
							}
							.rel_day_ad {
								width: 80px;
								height: 36px;
								display: inline-block;
								vertical-align: top;
								font-size: 13px;
								background-color: #00c3ef;
								text-align: center;
								line-height: 36px;
								color: #fff;
								.minus_ad {
									float: left;
									background: url("/img/block_arrow.svg");
									display: inline-block;
									height: 13px;
									margin-left: 4px;
									margin-top: 10px;
									width: 9px;
									cursor: pointer;
									opacity: 0;
									transition: opacity 0.3s;
									&.disabled {
										pointer-events: none;
									}
								}
								.ad_value {
									display: inline-block;
									vertical-align: top;
								}
								.plus_ad {
									float: right;
									background: url("/img/block_arrow.svg");
									display: inline-block;
									transform: rotate(180deg);
									height: 13px;
									margin-right: 4px;
									margin-top: 10px;
									width: 9px;
									cursor: pointer;
									opacity: 0;
									transition: opacity 0.3s;
								}
								&:hover {
									.plus_ad, .minus_ad {
										opacity: 1;
									}
								}
							}
							.rel_day {
								display: inline-block;
								vertical-align: top;
								width: 450px;
								height: 36px;
								background-color: #fff;
								line-height: 36px;
								.rel_day_title {
									display: inline-block;
									vertical-align: top;
									font-size: 14px;
									color: #000;
									margin-left: 12px;
									text-overflow: ellipsis;
									white-space: nowrap;
									width: 200px;
									overflow: hidden;
									&.problem {
										color: #e64c3b;
									}
									.has_copy_kdm,
									.has_copy,
									.has_kdm {
										position: relative;
										width: 12px;
										height: 8px;
										background-size: 12px;
										text-decoration: none;
										font-size: 12px;
										color: #fa1515;
										display: inline-block;
									}
									.has_copy_kdm {
										background: url(/img/dd2.svg) 0 0 no-repeat;
									}
									.has_copy,
									.has_kdm {
										background: url(/img/dd.svg) 0 0 no-repeat;
									}
								}
								.rel_day_age {
									float: right;
									display: inline-block;
									vertical-align: top;
									font-size: 12px;
									color: #9b9b9b;
									margin-right: 9px;
								}
								.rel_day_formats {
									float: right;
									display: inline-block;
									vertical-align: top;
									font-size: 12px;
									color: #9b9b9b;
									margin-right: 5px;
									.format_wrap{
										border: 1px solid #9b9b9b;
										border-radius: 4px;
										padding: 0px 3px;
									}
								}
								.rel_day_duration {
									float: right;
									display: inline-block;
									vertical-align: top;
									font-size: 12px;
									color: #9b9b9b;
									margin-right: 5px;
									&.changed_duration {
										color: #e64c3b;
									}
								}

							}
							.rel_day_pause {
								width: 80px;
								height: 36px;
								display: inline-block;
								vertical-align: top;
								font-size: 13px;
								background-color: #06a900;
								text-align: center;
								line-height: 36px;
								color: #fff;
								.minus_pause {
									float: left;
									background: url("/img/block_arrow.svg");
									display: inline-block;
									height: 13px;
									margin-left: 4px;
									margin-top: 10px;
									width: 9px;
									cursor: pointer;
									opacity: 0;
									transition: opacity 0.3s;
									&.disabled {
										pointer-events: none;
									}
								}
								.pause_value {
									display: inline-block;
									vertical-align: top;
								}
								.plus_pause {
									float: right;
									background: url("/img/block_arrow.svg");
									display: inline-block;
									transform: rotate(180deg);
									height: 13px;
									margin-right: 4px;
									margin-top: 10px;
									width: 9px;
									cursor: pointer;
									opacity: 0;
									transition: opacity 0.3s;
								}
								&:hover {
									.plus_pause, .minus_pause {
										opacity: 1;
									}
								}
							}
						}
					}
					&.active {
						display: block;
					}
				}
				&.drop-hover {
					opacity: 0.75;
				}
			}
		}
	}
}

.week-schedule-copy {
	background-color: #fff;
	border-radius: 8px;
	margin: 0 auto;
	width: 850px;
	overflow: hidden;
	transition: opacity 0.3s;
	&__head{
		position: relative;
		height: 50px;
		border-bottom: 1px solid $default-border;
		&_title{
			text-align: center;
			position: absolute;
			top: 50%;
			margin-top: -7px;
			left: 0;
			right: 0;
			font-size: 20px;
			color: #000;
		}
		.arcticmodal-close{
			background: none;
			left: auto;
			position: absolute;
			top: 50%;
			right: 20px;
			width: 31px;
			height: 31px;
			margin-top: -15px;
			cursor: pointer;
			.export__close{
				background: url(/img/popup_close.svg) no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 31px;
				height: 31px;
				opacity: 1;
				transition: opacity 0.3s, transform 0.3s;
			}
			.export__close_hover{
				background-position: 0 -31.5px;
				opacity: 0;
			}
			.export__close_active{
				background-position: 0 -63.5px;
				opacity: 0;
			}
			&:hover{
				.export__close{
					opacity: 0;
					transform: rotate(180deg);
				}
				.export__close_hover{
					opacity: 1;
					transform: rotate(180deg);
				}
				.export__close_active{
					opacity: 0;
					transform: rotate(180deg);
				}
			}
			&:active{
				.export__close{
					opacity: 0;
					transform: rotate(180deg);
				}
				.export__close_hover{
					opacity: 0;
					transform: rotate(180deg);
				}
				.export__close_active{
					opacity: 1;
					transform: rotate(180deg);
				}
			}
		}
	}
	.week-schedule-copy__content{
		padding: 20px;
		font-size: 0px;
		input[type="checkbox"] {
			margin-right: 7px;
		}
		&_alert {
			font-size: 14px;
			text-align: center;
			margin-bottom: 20px;
			display: inline-block;
		}
		.copy-mode {
			font-size: 14px;
			margin-bottom: 20px;
			&_select {
				margin-left: 7px;
			}
		}
		.copy-to-all {
			display: inline-block;
			width: 100%;
			margin-bottom: 20px;
			font-size: 12px;
			color: #a0a0a0;
		}
		.cinemas-group,
		.cinemas-group-no {
			border-bottom: 1px solid #e3e3e3;
			margin-bottom: 10px;
			&__title {
				display: inline-block;
				width: 100%;
				font-size: 14px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			&__cinema {
				display: inline-block;
				width: 50%;
				padding-bottom: 5px;
				font-size: 12px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				&_title {
					color: #a0a0a0;
					&.read-only {
						color: #d4d4d4;
					}
				}
				&_city {
					color: #d4d4d4;
				}
			}
		}
		.cinemas-group-no {
			border-bottom: none;
			margin-bottom: 0px;
		}
	}
	.week-schedule-copy__bottom{
		border-top: 1px solid $default-border;
		background-color: #f6f6f6;
		height: 26px;
		padding: 17px;
	}
}
