.searching-module {
	position: relative;
	height: 26px;
	&.focus {
		&:before {
			background-position: 0 -18px;
		}
		.input:focus {
			width: 308px;
		}
	}
	&:before {
		position: absolute;
		top: 50%;
		left: 8px;
		z-index: 1;
		width: 14px;
		height: 14px;
		margin-top: -7px;
		content: '';
		background: #fff url(/img/release_search.svg) no-repeat;
	}
	&:hover {
		&:before {
			background-position: 0 -18px;
		}
	}
	.input {
		width: 100%;
		height: 24px;
		padding: 0 25px 0 27px;
		font-size: 13px;
		line-height: 13px;
		color: #666;
		border: 1px solid $default-border;
		border-radius: 16px;
		transition: width .3s;
		&:hover {
			border-color: #94bcdd;
		}
		&:focus {
			border-color: #94bcdd;
		}
		&.full {
			width: 308px;
			border-color: #94bcdd;
		}
	}
	&--right {
		float: right;
		margin: 0 24px 0 0;
		.input {
			width: 140px;
		}
	}
	.remove {
		position: absolute;
		top: 7px;
		right: 8px;
		display: none;
		width: 12px;
		height: 12px;
		cursor: pointer;
		background: url(/img/release-remove@2x.png) no-repeat;
		-webkit-background-size: 12px;
		        background-size: 12px;
	}
	.results {
		max-width: 360px;
		max-height: 424px;
		margin-top: 5px;
		overflow-x: hidden;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
		&.has_results {
			overflow-y: scroll;
		}
		.item {
			display: block;
			padding: 11px;
			overflow: hidden;
			text-decoration: none;
			cursor: pointer;
			border-bottom: 1px solid #e4e4e4;
			&:last-child {
				border-bottom: none;
			}
			&.selected {
				background-color: #007ac2;
				.right {
					.ru,
					.en,
					.formats {
						color: #fff;
					}
					.info {
						.date,
						.dist,
						.age {
							color: #fff;
						}
					}
				}
			}
			.left {
				float: left;
				width: 40px;
				.poster {
					width: 100%;
				}
				.poster_ico {
					display: block;
					width: 40px;
					height: 59px;
				}
			}
			.right {
				float: left;
				padding-left: 10px;
				.ru {
					display: block;
					max-width: 250px;
					padding-bottom: 5px;
					overflow: hidden;
					font-size: 13px;
					line-height: 13px;
					color: #4378a4;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.en {
					display: block;
					max-width: 250px;
					padding-bottom: 7px;
					overflow: hidden;
					font-size: 12px;
					line-height: 12px;
					color: #333;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.info {
					padding-bottom: 3px;
					font-size: 0;
					line-height: 11px;
					color: #8c8c8c;
					.date {
						display: inline-block;
						font-size: 11px;
						line-height: 11px;
						vertical-align: top;
					}
					.dist {
						display: inline-block;
						padding-left: 5px;
						font-size: 11px;
						line-height: 11px;
						vertical-align: top;
					}
					.age {
						display: inline-block;
						padding-left: 5px;
						font-size: 11px;
						line-height: 11px;
						vertical-align: top;
					}
				}
				.formats {
					display: block;
					font-size: 11px;
					line-height: 11px;
					color: #8c8c8c;
				}
			}
		}
	}
}

.release_search {
	margin-left: 25px;
}
