.sections-tabs {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
	position: relative;
	bottom: -1px;
	&-item {
		display: inline-block;
		width: 145px;
		height: 39px;
		text-align: center;
		text-decoration: none;
		vertical-align: top;
		background-color: #fff;
		border-top: 1px solid $default-border;
		border-right: 1px solid $default-border;
		border-bottom: 1px solid $default-border;
		&:not(.disabled) {
			cursor: pointer;
		}
		&:first-child {
			border: 1px solid $default-border;
		}
		&:hover:not(.disabled) &__text {
			border-color: #aaa;
		}
		&.active {
			pointer-events: none;
			cursor: default;
			border-bottom-color: transparent;
		}
		&.active &__text,
		&.active:hover &__text {
			border-color: #6083a6;
		}
		&__text {
			display: block;
			height: inherit;
			margin: -1px;
			font-size: 14px;
			line-height: 38px;
			color: #333;
			border-color: transparent;
			border-top: 2px solid transparent;
			&.two-lines {
				padding-top: 4px;
				line-height: 15px;
			}
		}
		&.hide {
			display: none;
		}
		&.disabled {
			pointer-events: none;
		}
		&.disabled &__text {
			color: #ccc;
		}
	}
	&-inner {
		display: block;
		padding: 11px 0;
		&.hide {
			display: none;
		}
		&__item {
			display: inline-block;
			height: 24px;
			padding: 0 10px;
			margin-right: 4px;
			font-size: 14px;
			line-height: 24px;
			color: #666;
			vertical-align: top;
			border: 1px solid transparent;
			border-radius: 4px;
			transition: color .3s, background-color .3s, border-color .3s;
			&:last-child {
				margin-right: 0;
			}
			&:hover:not(.disabled) {
				cursor: pointer;
				background-color: $default-border;
				border-color: $default-border;
			}
			&.active,
			&.active:hover {
				color: #4378a4;
				pointer-events: none;
				cursor: default;
				background-color: transparent;
				border-color: #94bcdd;
			}
			&.disabled {
				color: #ccc;
				pointer-events: none;
			}
		}
	}
}
