.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 200;
	width: 50px;
	overflow: visible;
	background-color: #34485e;
	transform: translateZ(0);
	.head {
		position: relative;
		height: 50px;
		padding-top: 0;
		line-height: 50px;
		text-align: left;
		background-color: #202d3b;
		.logo {
			position: absolute;
			top: 0;
			left: 0;
			width: 180px;
			height: 50px;
			background: url(/img/kinoplan-logo@2x.png) no-repeat 50% 50%;
			background-size: 148px;
			opacity: 0;
			transition: opacity .3s;
			transform: translate3d(0, 0, 0);
		}
		.short-logo {
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			background: url(/img/kinoplan-logo-short@2x.png) no-repeat 50% 50%;
			background-size: 26px;
			opacity: 1;
			transition: opacity .3s;
			transform: translate3d(0, 0, 0);
		}
	}
	.schedule_sidebar {
		position: relative;
		overflow: visible !important;
		.schedule_submenu {
			position: absolute;
			top: 40px;
			left: 50px;
			z-index: 5;
			width: 200px;
			height: 0;
			overflow: hidden;
			background-color: #cbe2f7;
			.timeline_submenu {
				display: block;
				height: 29px;
				padding-left: 14px;
				font-size: 14px;
				line-height: 32px;
				color: #6083a6;
				border-bottom: 1px solid #9dbfe0;
				transition: color .3s;
				&:hover {
					color: #0b385f;
					cursor: pointer;
				}
				.icon_space {
					display: inline-block;
					width: 20px;
					height: 20px;
					i {
						opacity: 1;
					}
				}
			}
		}
		&:hover {
			.schedule_submenu {
				height: 30px;
				transition: height .3s .3s;
			}
		}
	}
	.list,
	.feedback,
	.google_play,
	.app_store,
	.webinar {
		width: 50px;
		height: 39px;
		cursor: pointer;
		background-color: #34485e;
		border-bottom: 1px solid #40546b;
		transition: width .3s;
		h2 {
			margin: 0;
			overflow: hidden;
			font-size: 14px;
			font-weight: normal;
			line-height: 39px;
			white-space: nowrap;
			a {
				display: block;
				font-size: 0;
				color: #6083a6;
				text-decoration: none;
				outline: none;
				transition: color .3s;
				.ico {
					position: relative;
					display: inline-block;
					width: 20px;
					height: 39px;
					padding-top: 0;
					margin: 0 14px;
					vertical-align: middle;
					opacity: 1;
					i {
						position: absolute;
						top: 50%;
						left: 0;
						width: 20px;
						height: 20px;
						margin-top: -10px;
						background-image: url(/img/menu_full@2x.png);
						background-size: 26px;
						opacity: 1;
						transition: opacity .3s;
						&.webinar {
							margin-left: -2px;
							font-family: 'FontAwesome';
							font-size: 20px;
							font-style: normal;
							line-height: 20px;
							color: #e64c3b;
							text-align: center;
							background: none;
							border-bottom: none;
							&:before {
								content: '';
							}
							&.hover {
								color: #fff;
							}
						}
						&.dashboard {
							background: url(/img/menu_dashboard.svg) no-repeat -2px -1px;
							background-size: auto;
						}
						&.dashboard.hover {
							background-position: -2px -21px;
						}
						&.releases {
							background-position: 0 -20px;
						}
						&.releases.hover {
							background-position: 0 0;
						}
						&.distributors {
							background-position: 0 -60px;
						}
						&.distributors.hover {
							background-position: 0 -40px;
						}
						&.repertoire {
							background-position: 0 -180px;
						}
						&.repertoire.hover {
							background-position: 0 -160px;
						}
						&.statistic {
							background-position: 0 -540px;
						}
						&.statistic.hover {
							background-position: 0 -520px;
						}
						&.schedule {
							background-position: 0 -260px;
						}
						&.schedule.hover {
							background-position: 0 -240px;
						}
						&.delivery {
							background-position: 0 -220px;
						}
						&.delivery.hover {
							background-position: 0 -200px;
						}
						&.feedb {
							width: 26px;
							height: 26px;
							margin-top: -13px;
							margin-left: -2px;
							background-position: 0 -591px;
						}
						&.feedb.hover {
							background-position: 0 -561px;
						}
						&.planning {
							background-position: 0 -380px;
						}
						&.planning.hover {
							background-position: 0 -360px;
						}
						&.advertising {
							font-family: 'FontAwesome';
							font-size: 20px;
							line-height: 20px;
							color: #6083a6;
							text-align: center;
							background: none;
							&:before {
								content: '';
							}
							&.hover {
								color: #fff;
							}
						}
						&.reports,
						&.keys,
						&.service {
							font-size: 20px;
							line-height: 20px;
							color: #6083a6;
							text-align: center;
							background: none;
							&.hover {
								color: #fff;
							}
						}
						&.commercials {
							font-family: 'FontAwesome';
							font-size: 18px;
							font-style: normal;
							line-height: 20px;
							color: #6083a6;
							text-align: center;
							background: none;
							&:before {
								content: '';
							}
							&.hover {
								color: #fff;
							}
						}
						&.employee {
							background: url(/img/nt-sidebar/nt-sidebar-toggle.svg) no-repeat;
							background-position: -90px 2px;
							background-size: 135px;
							&.hover {
								background-position: -90px -43px;
							}
						}
						&.cinemas {
							width: 35px;
							background-image: url(/img/sidebar-cinemas-icon.svg);
							background-position: 35px 31px;
							background-size: 100px;
							&.hover {
								background-position: 85px 31px;
							}
						}
						&.booking,
						&.booking.hover {
							font-size: 18px;
							background: none;
						}
						&.keygen,
						&.keygen.hover {
							font-size: 18px;
							background: none;
						}
						&.google_play__ico {
							background-position: 0 -460px;
							&.hover {
								background-position: 0 -440px;
							}
						}
						&.app_store__ico {
							background-position: 0 -500px;
							&.hover {
								background-position: 0 -480px;
							}
						}
					}
					.hover {
						opacity: 0;
					}
				}
				.submenu {
					display: none;
					height: 39px;
					margin-left: 20px;
					font-size: 14px;
					line-height: 40px;
					vertical-align: top;
					opacity: 0;
					transition: opacity .3s;
				}
			}
		}
	}
	.list:active,
	.feedback:active,
	.google_play:active,
	.app_store:active,
	.webinar:active {
		background-color: #0b385f;
		border-bottom-color: #0b385f;
		.submenu {
			opacity: 1;
		}
		h2 {
			a {
				color: #fff;
				i {
					opacity: 0;
				}
				.hover {
					opacity: 1;
				}
			}
		}
	}
	.list:hover,
	.google_play:hover,
	.app_store:hover,
	.webinar:hover {
		width: 250px;
		.submenu {
			display: inline-block;
			opacity: 1;
		}
		h2 {
			a {
				color: #fff;
				i {
					opacity: 0;
				}
				.hover {
					opacity: 1;
				}
			}
		}
	}
	.feedback:hover {
		h2 {
			a {
				color: #fff;
				i {
					opacity: 0;
				}
				.hover {
					opacity: 1;
				}
			}
		}
	}
	.list.active {
		width: 50px;
		background-color: #6083a6;
		border-bottom-color: #6083a6;
		h2 {
			font-size: 16px;
			a {
				color: #fff;
				i {
					opacity: 0;
				}
				.hover {
					opacity: 1;
				}
			}
		}
		&:hover {
			width: 250px;
			cursor: default;
			transition: width .3s;
			i {
				transition-duration: 0s;
			}
		}
	}
	.list[page='planning']:hover,
	.list.active[page='planning']:hover {
		width: 280px;
	}
	.list[page='distributors']:hover,
	.list.active[page='distributors']:hover {
		width: 300px;
	}
	.list_item {
		height: 26px;
		padding: 7px 0 0 25px;
		background-color: #2c3e50;
		border-bottom: 1px solid #34495e;
		h2 {
			margin: 0;
			font-size: 14px;
			font-weight: normal;
			a {
				color: #6083a6;
				text-decoration: none;
			}
		}
	}
	.list_item.active {
		h2 {
			a {
				color: #1abc9c;
			}
		}
	}
	.list_user {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 55px;
		font-size: 14px;
		border-top: 1px solid #2c3e50;
		border-bottom: 1px solid #2c3e50;
		h2 {
			margin: 0;
			margin: 10px 0 0 15px;
			color: #fff;
		}
		a {
			margin: 15px 0 0 15px;
			color: #6083a6;
			text-decoration: none;
		}
	}
	.google_play {
		position: absolute;
		bottom: 80px;
		width: 100%;
		border-top: 1px solid #355578;
	}
	.app_store {
		position: absolute;
		bottom: 40px;
		width: 100%;
		border-top: 1px solid #355578;
	}
	.feedback {
		position: absolute;
		bottom: 0;
		width: 100%;
		border-top: 1px solid #355578;
	}
	.toggle-arrow {
		position: absolute;
		bottom: 0;
		width: 100%;
		a {
			position: relative;
			display: block;
			display: block;
			width: 100%;
			height: 60px;
			cursor: pointer;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 20px;
				height: 20px;
				margin: -10px 0 0 -10px;
				background-image: url(/img/menu@2x.png);
				background-repeat: no-repeat;
				background-position: 0 -300px;
				background-size: 20px;
				opacity: 1;
				transition: opacity .3s, margin-left .3s, transform .3s;
			}
			.hover {
				background-position: 0 -280px;
				opacity: 0;
			}
		}
		&:hover {
			i {
				margin-left: -15px;
				opacity: 0;
			}
			.hover {
				opacity: 1;
			}
		}
		&.toggle-arrow.active {
			a {
				i {
					opacity: 1;
					transform: rotate(180deg);
				}
				.hover {
					opacity: 0;
				}
			}
			&:hover {
				i {
					margin-left: -5px;
					opacity: 0;
				}
				.hover {
					opacity: 1;
				}
			}
		}
	}
	&.show {
		.list,
		.feedback,
		.google_play,
		.app_store {
			h2 {
				a {
					span {
						opacity: 1;
					}
				}
			}
		}
		.head .logo {
			opacity: 1;
		}
		.head .short-logo {
			opacity: 0;
		}
	}
	&.small {
		width: 50px;
		.head .logo {
			opacity: 0;
		}
		.head .short-logo {
			opacity: 1;
		}
	}
}
