#statistic {
	height: calc(100%);
	.filt_select_stat,
	.filt_select_cinema,
	.filt_select_chart {
		display: none;
	}
	#statistic_wr {
		height: calc(100% - 50px);
	}
	.tabs {
		float: left;
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			float: left;
			width: 145px;
			height: 39px;
			font-size: 14px;
			line-height: 38px;
			text-align: center;
			background-color: #fff;
			border-top: 1px solid $default-border;
			border-right: 1px solid $default-border;
			border-bottom: 1px solid $default-border;
			span {
				display: block;
				margin: -1px;
				color: #333;
				cursor: pointer;
				border-color: transparent;
				border-top: 2px solid;
			}
			&:first-child {
				border: 1px solid $default-border;
			}
			&:hover {
				span {
					border-color: #aaa;
				}
			}
			&.active {
				border-bottom: 1px solid #fff;
				span {
					border-color: #6083a6;
				}
			}
		}
	}
	.cinema_search {
		display: none;
		margin: 3px 12px 0 0;
		.input {
			width: 148px;
			&:focus {
				width: 200px;
			}
		}
	}
	.filt_select {
		float: right;
		margin: 4px 6px 0 0;
		label {
			margin: 0 8px 0 0;
			font-size: 14px;
			color: #666;
		}
		.jq-selectbox__dropdown {
			top: 30px;
			left: auto !important;
		}
		#filt_country-styler {
			.jq-selectbox__select {
				width: 66px;
				height: 24px;
				.jq-selectbox__select-text {
					height: 24px;
					line-height: 27px;
				}
			}
		}
	}
	.text_align_right {
		text-align: right;
	}
	.tab {
		display: none;
		&.active {
			display: block;
		}
	}
	.cinema_tab {
		padding: 45px 60px;
		h2 {
			margin: 0 0 14px 0;
			font-size: 24px;
			font-weight: normal;
			line-height: 29px;
			color: #333;
			a {
				color: #333;
				text-decoration: none;
				&:hover {
					color: #007ac2;
				}
			}
		}
		.table_item {
			height: 34px;
			td {
				max-width: 100px;
				height: 34px;
				overflow: hidden;
				text-overflow: ellipsis;
				&:first-child {
					max-width: 250px;
					padding: 3px 9px 0 9px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			&:hover {
				cursor: default;
			}
		}
		.table_title {
			height: 34px;
			th:first-child {
				padding-left: 40px;
			}
		}
		a {
			color: #007ac2;
			text-decoration: none;
		}
	}
	.chart_tab {
		margin-bottom: 30px;
		overflow-x: hidden;
		h2 {
			padding: 15px 15px 0;
			margin: 0 0 14px 0;
			font-size: 24px;
			font-weight: normal;
			line-height: 29px;
			color: #333;
		}
		div {
			svg {
				font-family: Arial, sans-serif !important;
				& > text[text-anchor=end] {
					visibility: hidden;
				}
			}
		}
	}
	.item_container {
		padding: 36px 0 40px 0;
		margin: 0 15px;
		border-bottom: 1px solid $default-border;
		.container_highcharts {
			float: left;
			margin: 16px 20px 0 0;
			text[text-anchor=end] {
				visibility: hidden;
			}
		}
		.table {
			float: left;
			width: 50%;
			box-sizing: border-box;
			&.grafic {
				float: none;
				width: auto;
				margin: 0 8% 0 580px;
				td {
					max-width: 100px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			&.left {
				padding-right: 20px;
				padding-left: 8%;
			}
			&.right {
				padding-right: 8%;
				padding-left: 20px;
			}
			h2 {
				margin: 0 0 14px 0;
				font-size: 24px;
				font-weight: normal;
				line-height: 29px;
				color: #333;
			}
			.table_title {
				height: 34px;
			}
			.table_item {
				height: 34px;
				&:hover {
					cursor: default;
				}
				td {
					font-size: 13px;
					line-height: 15px;
					color: #333;
					a {
						color: #007ac2;
						text-decoration: none;
					}
				}
				td:first-child {
					padding: 3px 3px 0 9px;
				}
				.num {
					font-size: 13px;
					line-height: 15px;
					color: #9b9b9b;
				}
			}
		}
	}
}
