$line-height-base: 1.3;

$table-cell-padding:           12px 10px !default;
$table-condensed-cell-padding:  7px 10px !default;

$table-title-bg-color: #eaeef2;
$table-bg-accent:      #f6f8fd;
$table-bg-hover:       #eaeef2;

$table-border-color:   #d5d7dc;
$table-font-color:     #888;



.table-default {
	* {
		box-sizing: border-box;
	}
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	color: $table-font-color;
	text-align: center;
	// Cells
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $table-cell-padding;
				line-height: $line-height-base;
				vertical-align: top;
				border-bottom: 1px solid $table-border-color;
			}
		}
	}
	// Bottom align for column headings
	> thead > tr > th {
		vertical-align: middle;
		border-bottom: 2px solid $table-border-color;
	}
	// Remove top border from thead by default
	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				font-weight: normal;
				white-space: nowrap;
				background-color: $table-title-bg-color;
				border-top: 0;
				border-right: 1px solid $table-border-color;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	> tbody + tbody {
		border-bottom: 2px solid $table-border-color;
	}

	&--striped {
		> tbody > tr:nth-child(odd) {
			background-color: $table-bg-accent;
		}
	}

	&--condensed {
		> thead,
		> tbody,
		> tfoot {
			> tr {
				> th,
				> td {
					padding: $table-condensed-cell-padding;
				}
			}
		}
	}

	&--hover {
		> tbody > tr {
			transition: background-color .3s;
			&:hover {
				background-color: $table-bg-hover;
			}
		}
	}

	&--links {
		> tbody > tr {
			cursor: pointer;
		}
	}

}