.user_profile {
	width: 491px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #fff;
	border-radius: 8px;
	transition: opacity .3s;
	.popupWrap__button {
		height: 27px;
		padding: 0 15px;
		font-family: inherit;
		line-height: 27px;
	}
	&-top {
		padding: 17px;
		background-color: #f6f6f6;
		border-bottom: 1px solid #e1e8ed;
		.popupWrap__button {
			border: 1px solid transparent;
			&.active,
			&:hover {
				border-color: #94bcdd;
			}
		}
	}
	.top {
		position: relative;
		z-index: 1;
		height: 60px;
		line-height: 60px;
		text-align: center;
		border-bottom: 1px solid $default-border;
		.title {
			display: block;
			height: 60px;
			font-size: 18px;
			line-height: 60px;
			color: #000;
			background: none;
		}
		.close {
			position: absolute;
			top: 50%;
			right: 20px;
			width: 31px;
			height: 31px;
			margin-top: -15px;
			cursor: pointer;
			.arcticmodal-close {
				position: absolute;
				top: 0;
				left: 0;
				width: 31px;
				height: 31px;
				background: url(/img/popup_close.svg) no-repeat;
				opacity: 1;
				transition: opacity .3s, transform .3s;
			}
			.arcticmodal-close_hover {
				background-position: 0 -31.5px;
				opacity: 0;
			}
			.arcticmodal-close_active {
				background-position: 0 -63.5px;
				opacity: 0;
			}
			&:hover {
				.arcticmodal-close {
					opacity: 0;
					transform: rotate(180deg);
				}
				.arcticmodal-close_hover {
					opacity: 1;
					transform: rotate(180deg);
				}
				.arcticmodal-close_active {
					opacity: 0;
					transform: rotate(180deg);
				}
			}
			&:active {
				.arcticmodal-close {
					opacity: 0;
					transform: rotate(180deg);
				}
				.arcticmodal-close_hover {
					opacity: 0;
					transform: rotate(180deg);
				}
				.arcticmodal-close_active {
					opacity: 1;
					transform: rotate(180deg);
				}
			}
		}
	}
	.profile_form {
		padding: 23px 94px 10px;
		.error_text {
			position: absolute;
			top: 55px;
			right: 6px;
			margin: 0;
			font-size: 12px;
			line-height: 13px;
			color: #e64c3b;
		}
		.col {
			position: relative;
			padding-bottom: 19px;
			label,
			.label {
				display: block;
				padding-bottom: 7px;
				font-size: 14px;
				line-height: 14px;
				color: #9c9c9c;
			}
			input,
			.value {
				font-size: 14px;
			}
			input {
				display: block;
				width: 280px;
				height: 30px;
				padding: 0 10px;
				color: #000;
				background-color: #fff;
				border: 1px solid #dadada;
				border-radius: 3px;
				&.error {
					border-color: #e64c3b;
				}
			}
			.link {
				margin-right: 3px;
				font-size: 12px;
				line-height: 30px;
				color: #4378a4;
				text-decoration: none;
				& + span {
					display: none;
					font-size: 12px;
					color: #9c9c9c;
				}
				&:hover {
					text-decoration: underline;
				}
				&.disabled {
					color: #5699D0;
					pointer-events: none;
					cursor: default;
				}
			}
			.photo {
				float: left;
				width: 88px;
				height: 88px;
				margin-right: 13px;
				margin-bottom: 50px;
				text-align: center;
				background: #f6f6f6 url('../img/icon-folder@2x.png') no-repeat;
				background-position: 50%;
				background-size: 32px;
				border: 1px solid $default-border;
				&.loading {
					background-image: none;
					&:after {
						display: inline-block;
						width: 32px;
						height: 32px;
						margin-top: 29px;
						content: '';
						background: transparent url('../img/avatar-spinner.png') no-repeat;
						background-size: 100%;
						animation: spin-counterclockwise 1s linear infinite;
					}
				}
				&.loaded {
					background-color: transparent;
					background-position: 0 0;
					background-size: 100%;
					border-color: transparent;
				}
			}
			.photo__btn {
				display: inline-block;
				font-size: 14px;
				color: #fff;
				text-align: center;
				text-decoration: none;
				vertical-align: middle;
				cursor: pointer;
				background-color: #4378a4;
				border-radius: 4px;
				transition: background-color .3s;
			}
			p {
				font-size: 12px;
				line-height: 1.1;
				color: #9c9c9c;
			}
			.fileupload {
				position: relative;
				width: 96px;
				padding: 2px 10px 0;
				margin-bottom: 10px;
				overflow: hidden;
				font-size: 14px;
				line-height: 27px;
				color: #fff;
				text-align: center;
				background: #4378a4;
				border-radius: 4px;
			}
			.fileupload input.upload {
				position: absolute;
				top: 0;
				right: 0;
				width: auto;
				padding: 0;
				margin: 0;
				cursor: pointer;
				filter: alpha(opacity=0);
				opacity: 0;
			}
		}
	}
}
