<div class="filter">
	<div class="cinemas_search">
		<input type="text" class="input">
		<i class="remove"></i>
	</div>
</div>
<div class="fon_filter"></div>
<div class="cinemas_list_wrapper">

</div>