<a class="distributor_cinemas_cell cinema_name" href="/cinema/{{- id }}" title="{{- title }}">{{- title }}</a>

<a class="distributor_cinemas_cell cinema_location" href="/cinema/{{- id }}" title="{{- location.city ? location.city : '-' }}, {{- location.region ? location.region : '-' }}">
	{{- location.city ? location.city : '-' }}, <span class="grey_text">{{- location.region ? location.region : '-' }}</span>
</a>
<a class="distributor_cinemas_cell cinema_halls_number" href="/cinema/{{- id }}">{{- halls }}</a>
<a class="distributor_cinemas_cell cinema_capacity" href="/cinema/{{- id }}">{{- capacity }}</a>
<a class="distributor_cinemas_cell cinema_formats" href="/cinema/{{- id }}">{{- formats.join(', ') }}</a>