/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 3.x
 *
 * Copyright 2013-2015 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the MIT license. See http://www.opensource.org/licenses/mit-license.php
 *
 * Built for http://www.improvely.com
 */

/* .daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3000;
}*/

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
  float: left;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar,
.daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar {
  float: left;
}

.daterangepicker.single .ranges, .daterangepicker.single .calendar {
  float: none;
}

.daterangepicker .ranges {
  width: 100%;
  text-align: left;
  margin: 10px 0 0 0;
}
.daterangepicker .ranges span {
  color: #A6A6A6;
  float: left;
}

.comiseo-daterangepicker-calendar .ui-datepicker-group {
  float: left;
}

.comiseo-daterangepicker-calendar .ui-datepicker-calendar {
  max-width: 270px;
}

.comiseo-daterangepicker-calendar .ui-datepicker {
  width: 100% !important;
}

.comiseo-daterangepicker-calendar .ui-datepicker a {
  color: #333;
  text-decoration: none;
  display: block;
}

.comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
  background: #b0c4de;
}

.comiseo-daterangepicker-calendar .ui-datepicker-prev, .comiseo-daterangepicker-calendar .ui-datepicker-next {
  cursor: pointer;
  display: block;
  width: 13px;
  height: 170px;
  position: absolute;
  top: -16px;
}

.comiseo-daterangepicker-calendar .ui-datepicker-prev {
  left: -14px;
}
.comiseo-daterangepicker-calendar .ui-datepicker-next {
  right: -14px;
}

.comiseo-daterangepicker-triggerbutton {
  position: absolute;
}

.comiseo-daterangepicker-calendar .ui-datepicker-year {
  display: none;
}

.comiseo-daterangepicker-calendar .ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}

.comiseo-daterangepicker-calendar .ui-datepicker-group-first {
  margin: 0 0 0 60px;
}
.comiseo-daterangepicker-calendar .ui-datepicker-group-last {
  margin: 0 0 0 68px;
}

.comiseo-daterangepicker-calendar .ui-datepicker-unselectable {
  color: #999;
}

.comiseo-daterangepicker-calendar .ui-state-default {
  background: #fff;
}

.comiseo-daterangepicker-calendar .ui-state-highlight {
  background: #DFF4DE;
}

.comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default, .comiseo-daterangepicker-calendar .ui-state-highlight.ui-state-default {
  background: none;
}
.comiseo-daterangepicker-calendar .ui-datepicker-calendar td a {
  outline: none;
}

.comiseo-daterangepicker-calendar .ui-datepicker-calendar td.ui-state-highlight.first, .comiseo-daterangepicker-calendar .ui-datepicker-calendar td.ui-state-highlight.last {
  background: none;
}

.comiseo-daterangepicker-calendar .ui-datepicker-calendar td.ui-state-highlight.first a {
  background: url(/img/popup.svg) 2px -22px no-repeat;
  background-size: 103px;
  color: #fff;
}
.comiseo-daterangepicker-calendar .ui-datepicker-calendar td.ui-state-highlight.last a {
  background: url(/img/popup.svg) -25px -22px no-repeat;
  background-size: 103px;
  color: #fff;
}

.comiseo-daterangepicker-calendar .ui-state-default:hover {
  background: url(/img/popup.svg) -50px -22px no-repeat;
  background-size: 103px;
}
.comiseo-daterangepicker-calendar .ui-state-default.b_selected:hover {
  background: url(/img/popup.svg) -52px 0px no-repeat;
  background-size: 103px;
}




.daterangepicker.show-calendar .calendar {
    display: block;
}

.daterangepicker .calendar.single .calendar-date {
  border: none;
}

.ui-datepicker-calendar th, .ui-datepicker-calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
  min-width: 26px;
  padding: 0;
}
.ui-datepicker-calendar tr {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}
.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  text-shadow: #fff 1px 1px 0px;
  text-transform: uppercase;
  width: 74px;
}

.daterangepicker .ranges input {
  font-size: 11px;
}

.daterangepicker .ranges .input-mini {
  border: none;
  color: #555;
  display: block;
  font-size: 12px;
  line-height: 19px;
  vertical-align: middle;
  margin: 0 0 0px;
  width: 295px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: #08c;
  border: 1px solid #08c;
  color: #fff;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}

/*.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.openscenter:before {
  position: absolute;
  top: -7px;
  left: 0;  
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.openscenter:after {
  position: absolute;
  top: -6px;
  left: 0;  
  right: 0;  
  width: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}*/

.daterangepicker td.off {
  color: #999;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999;
}

.daterangepicker td.in-range {
  background: #DFF4DE;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.start-date {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  position: relative;
}


.daterangepicker .left td.active.start-date.end-date, .daterangepicker .left td.active.start-date.end-date:hover {
  background: url(/img/popup.svg) 2px 0 no-repeat;
  color: #fff;
}

.daterangepicker .right td.active.start-date.end-date, .daterangepicker .right td.active.start-date.end-date:hover {
  background: url(/img/popup.svg) -27px 0 no-repeat;
  color: #fff;
}

.daterangepicker .left td.available.start-date, .daterangepicker .left td.available.start-date:hover {
  background: url(/img/popup.svg) 2px -24px no-repeat;
  color: #fff;
}

.daterangepicker .right td.available.end-date, .daterangepicker .right td.available.end-date:hover {
  background: url(/img/popup.svg) -27px -24px no-repeat;
  color: #fff;
}

.daterangepicker .left td.available:hover {
  background: url(/img/popup.svg) -53px -24px no-repeat;
  color: #333;
}
.daterangepicker .left td.available.in-range:hover {
  background: url(/img/popup.svg) -81px -25px no-repeat;
  color: #333;
}

.daterangepicker .right td.available:hover {
  background: url(/img/popup.svg) -55px 0 no-repeat;
  color: #333;
}
.daterangepicker .right td.available.in-range:hover {
  background: url(/img/popup.svg) -83px 0 no-repeat;
  color: #333;
}




.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}

.daterangepicker_start_input {
  float: left;
}
.daterangepicker_start_input input {
  text-align: right;
  padding-right: 6px;
}

.daterangepicker_end_input {
  float: left;
  width: 288px;
}

.daterangepicker_end_input input {
  text-align: left;
  width: 289px;
  padding-left: 7px;
}

.daterangepicker th.month {
  width: auto;
}
