<div class="left">
	<div class="top">
		<span class="hall">Зал {{- hall_title }}: </span>
		<span class="release">{{- release.title.ru }}</span>
		{{ if (cinema_rights != 1 && cinema_rights != 2) { }}
			<span class="remove">Удалить</span>
		{{ } }}
	</div>
	<div class="bottom">
		<span class="range">{{- dateRange }}. </span>
		<span class="date">{{- dateStart }}. </span>
		<span class="dist">{{- distText }}.</span>
		<span class="age"> {{- release.age }}+ </span>
		{{ if (release.duration.clean) { }}
			<span class="clean">Хроно: {{- release.duration.clean }} мин. </span>
		{{ } }}
		{{ if (release.duration.full) { }}
			<span class="full">С роликами: {{- release.duration.full }} мин.</span>
		{{ } }}
	</div>
</div>