<div class="calendar">
	<div class="info">
		<span class="day">{{- date }}</span>
		<span class="month">{{- Date.create().set({month: currentMonth, day: parseInt(date), year: currentYear }).format('{Mon}') }}</span>
		<div class="percent">
			<span class="number"></span>
			<span class="symbol"></span>
		</div>
	</div>
	{{ if (cinema_rights !== 1 && cinema_rights !== 2) { }}
		<i class="repertoire_viewer"></i>
	{{ } }}
</div>
<div class="list" data-week="{{- week }}" data-cinema="{{- cinemaId }}">
	{{ if (halls.length < 7) { }}
		{{ _.each(halls, function(hall) { }}
			<div class="section" data-hall-id="{{- hall.id }}">
				<div class="repertoire__list"></div>
				{{ if (cinema_rights !== 1 && cinema_rights !== 2) { }}
					<span class="add_release" title="+ Добавить показ">+ Добавить показ</span>
				{{ } }}
				<i class="one-release-poster"></i>
				<span class="one-release-format"></span>
				<span class="one-release-status-count" title="+ Добавить показ">+ Добавить показ</span>
			</div>
		{{ }); }}
		{{ for (var j = halls.length; j<7; j++) { }}
			<div class="section"></div>
		{{ } }}
	{{ } else { }}
		{{ _.each(halls, function(hall) { }}
			<div class="section" data-hall-id="{{- hall.id }}">
				<div class="repertoire__list"></div>
				{{ if (cinema_rights !== 1 && cinema_rights !== 2) { }}
					<span class="add_release" title="+ Добавить показ">+ Добавить показ</span>
				{{ } }}
				<i class="one-release-poster"></i>
				<span class="one-release-format"></span>
				<span class="one-release-status-count" title="+ Добавить показ">+ Добавить показ</span>
			</div>
		{{ }); }}
	{{ } }}
</div>