<span class="status" data-status="{{- status }}">{{- rental }}</span>
<span class="name">{{- title }}
	{{ if (format) { }}
		<span class="inline-format"> ({{- format.toUpperCase() }})</span>
	{{ } }}
</span>
{{ if (comment.length) { }}
	<i class="fa fa-comment comment" title="{{- comment }}"></i>
{{ } }}