{{ if (approved) { }}
	<div class="analytics-filter">
		<span class="analytics__date"></span>
			<select class="b-filter pull-right">
				{{ _.each(filterOptions, function(option) { }}
					<option value="{{- option.value }}" {{- option.value == currentFilter ? 'selected' : '' }}>{{- option.title }}</option>
				{{ }) }}
			</select>
		</div>
	</div>
	<div class="analytics-wrapper"></div>
{{ } else { }}
	<div class="unapproved">
		<a href="/"><b>Кино</b>план</a>
		<p>Благодарим Вас за регистрацию и предоставленную информацию! Как только в кинотеатре, который Вы указали при регистрации подтвердят Ваше трудоустройство — менеджер Киноплана откроет Вам доступ к аналитике.</p>
	</div>
{{ } }}