<table class="table-default table-default--striped table-default--hover">
	<thead>
		<tr>
			<th>Название</th>
			<th>Начало проката</th>
			<th>Неделя</th>
			<th>Доля сеансов<span class="analytics__muted">и разница с пред. днем</span></th>
			<th>Доля экранного времени<span class="analytics__muted">и разница с пред. днем</span></th>
		</tr>
	</thead>
	<tbody>
		{{ _.each(releases, function(release) { }}
			<tr data-id="{{- release.get('release_id') }}">
				<td>
					{{- release.get('title') }}
					{{ if (release.get('new')) { }}
						<span class="analytics-new">new</span>
					{{ } }}
				</td>
				<td>{{- new Date(release.get('date')).format('{dd}.{MM}.{yyyy}') }}</td>
				<td>{{- release.get('hireWeek') }}</td>
				<td>{{- release.get('count').toFixed(1) }}%
					{{ if(release.get('delta_count') && release.get('delta_count').abs() >= 0.05 && !release.get('new')) { }}
						<span class="analytics-{{- release.get('delta_count') < 0 ? 'minus' : 'plus' }}">{{- release.get('delta_count').abs().toFixed(1) }}%</span>
					{{ } }}
				</td>
				<td>{{- release.get('duration').toFixed(1) }}%
					{{ if(release.get('delta_duration') && release.get('delta_duration').abs() >= 0.05 && !release.get('new')) { }}
						<span class="analytics-{{- release.get('delta_duration') < 0 ? 'minus' : 'plus' }}">{{- release.get('delta_duration').abs().toFixed(1) }}%</span>
					{{ } }}
				</td>
			</tr>
		{{ }) }}
	</tbody>
</table>
