<div class="user-cinemas-header">
	<div class="user-cinemas-tabs">
		<span class="user-cinemas__tab user-cinemas__tab--cinemas active" data-tab="cinemas">Мои кинотеатры</span>
		{{ if (cinema.length > 1) { }}
			<span class="user-cinemas__tab user-cinemas__tab--groups" data-tab="groups">Группы кинотеатров</span>
		{{ } }}
	</div>
	<div class="close">
		<i class="arcticmodal-close"></i>
		<i class="arcticmodal-close arcticmodal-close_hover"></i>
		<i class="arcticmodal-close arcticmodal-close_active"></i>
	</div>
</div>
<div class="user-cinemas-wrapper"></div>
<div class="user-cinemas-bottom">
	<span class="user-cinemas__save">Сохранить</span>
</div>
