<div class="top">
	<span class="title">Профиль</span>
	<div class="close">
		<i class="arcticmodal-close"></i>
		<i class="arcticmodal-close arcticmodal-close_hover"></i>
		<i class="arcticmodal-close arcticmodal-close_active"></i>
	</div>
</div>
<div class="user_profile-top">
	<span class="popupWrap__button active" data-tab="#profile_form-name">Мои данные</span>
	<span class="popupWrap__button" data-tab="#profile_form-password">Пароль</span>
	<span class="popupWrap__button" data-tab="#profile_form-photo">Фото</span>
</div>
<form action="" method="POST" id="profile_form-name">
	<div class="profile_form">
		<div class="col">
			<span class="label">Имя</span>
			<span class="value">{{- first_name }}</span>
		</div>
		<div class="col">
			<span class="label">Фамилия</span>
			<span class="value">{{- last_name }}</span>
		</div>
		<div class="col">
			<span class="label">Email</span>
			<span class="value">{{- email }}</span>
		</div>
		<div class="col">
			<label for="user_position">Должность</label>
			<input type="text" name="user_position" id="user_position" maxlength="50" value="{{- user_position }}">
		</div>
		<div class="col">
			<span class="label">Уровень доступа</span>
			<span class="value">{{- desc_type  }}, {{- approved ? 'Подтвержден' : 'Неподтвержден' }}</span>
		</div>
	</div>
	<div class="popupWrap__bottom">
		<input type="submit" class="popupWrap__button" value="Сохранить изменения">
	</div>
</form>
<form method="POST" id="profile_form-password" style="display:none;">
	<div class="profile_form">
		<div class="col">
			<label for="oldpassword">Старый пароль</label>
			<input type="password" name="oldpassword" id="oldpassword" maxlength="50" value="" data-required="true">
			<a href="#" class="link">Забыли пароль?</a><span id="password_send" class="value">Инструкции высланы</span>
		</div>
		<div class="col">
			<label for="password">Пароль</label>
			<input type="password" name="password" id="password" maxlength="50" value="" data-required="true">
		</div>
		<div class="col">
			<label for="password2">Еще раз пароль</label>
			<input type="password" name="password2" id="password2" maxlength="50" value="" data-required="true" data-equalto="#password">
		</div>
	</div>
	<div class="popupWrap__bottom">
		<input type="submit" class="popupWrap__button" value="Изменить пароль">
	</div>
</form>
<form id="profile_form-photo" style="display:none;" enctype="multipart/form-data">
	<div class="profile_form">
		<div class="col clearfix">
			<div class="photo"></div>
			<div class="fileupload">
				<span>Выбрать файл</span>
				<input id="upload_avatar" name="avatar" type="file" class="upload" multiple="0">
			</div>
			<p>Вы можете загрузить изображение в формате JPG, GIF или PNG.</p>
			<p>Если у Вас возникают проблемы с загрузкой, попробуйте выбрать фотографию меньшего размера.</p>
		</div>
	</div>
	<div class="popupWrap__bottom">
		<span class="popupWrap__button close">Готово</span>
	</div>
</form>