<div class="change_my_popup" data-status="3">
	<div class="rep_settings">
		<div class="top">
		<span class="title">Храбрый портняжка и тайна принцесс</span>
		<div class="exit">
			<i class="ico"></i>
			<i class="ico hover"></i>
			<i class="ico active"></i>
		</div>
		</div>
		<div class="center">
		<div class="table">
			<div class="head">
				<span class="week">Неделя</span>
				<span class="format">2d</span>
				<span class="format">3d</span>
				<span class="format">35mm</span>
				<div class="new_format">
					<span class="new_format__top">+ Формат</span>
					<div class="add_format">
						<div class="list">
							<span class="item" data-format="2d">2d</span>
							<span class="item" data-format="3d">3d</span>
							<span class="item" data-format="35mm">35mm</span>
						</div>
						<div class="technology">
							<div class="couple">
								<div class="couple__item">
									<input type="checkbox" name="1" id="dbox">
									<label for="dbox">DBOX</label>
								</div>
								<div class="couple__item">
									<input type="checkbox" name="1" id="4dx">
									<label for="4dx">4DX</label>
								</div>
							</div>
							<div class="couple">
								<div class="couple__item">
									<input type="checkbox" name="2" id="auro">
									<label for="auro">AURO</label>
								</div>
								<div class="couple__item">
									<input type="checkbox" name="2" id="atmos">
									<label for="atmos">ATMOS</label>
								</div>
							</div>
							<div class="couple">
								<div class="couple__item">
									<input type="checkbox" name="3" id="sub">
									<label for="sub">Субтитры</label>
								</div>
							</div>
						</div>
						<div class="actions">
							<span class="add_format_pack">Добавить</span>
						</div>
					</div>
				</div>
			</div>
			<div class="item" data-week="31">
				<span class="week">31<span class="date">31 июл - 6 авг</span></span>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="31" data-format="2d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="31" data-format="3d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="31" data-format="35mm">
				</div>
				<i class="remove_week"></i>
			</div>
			<div class="item" data-week="32">
				<span class="week">32<span class="date">7 - 13 авг</span></span>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="32" data-format="2d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="32" data-format="3d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="32" data-format="35mm">
				</div>
				<i class="remove_week"></i>
			</div>
			<div class="item" data-week="33">
				<span class="week">33<span class="date">14 - 20 авг</span></span>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="33" data-format="2d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="33" data-format="3d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="33" data-format="35mm">
				</div>
				<i class="remove_week"></i>
			</div>
			<div class="item" data-week="34">
				<span class="week">34<span class="date">21 - 27 авг</span></span>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="34" data-format="2d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="34" data-format="3d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="34" data-format="35mm">
				</div>
				<i class="remove_week"></i>
			</div>
			<div class="item" data-week="35">
				<span class="week">35<span class="date">28 авг - 3 сен</span></span>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="35" data-format="2d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="35" data-format="3d">
				</div>
				<div class="format">
					<span class="text">0</span>
					<input type="text" class="input" value="0" data-year="2014" data-week="35" data-format="35mm">
				</div>
				<i class="remove_week"></i>
			</div>
		</div>
		<span class="add">+ Добавить неделю</span>
		</div>
		<div class="bottom">
		<span class="save">Сохранить</span>
		<div class="status">
			<span class="status_name">Статус:</span>
			<div class="choose_wrap">
				<span class="active_status activated" data-status="3">Запланировано</span>
				<div class="choose">
					<span class="item active" data-status="3">Запланировано</span>
					<span class="item" data-status="2">Рассматривается</span>
					<span class="item" data-status="4">Переговоры</span>
					<span class="item" data-status="1">Утверждён</span>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>