<span class="advertising-release__title" title="{{- release.title }}">{{- release.title }}</span>
<span class="advertising-release__age">{{- release.age }}+</span>
<div class="advertising-release-duration">
	<span class="advertising-release-duration__total" title="">
		{{- (release.duration.total / 60).toFixed() }}
	</span>
	{{ if (trailersDuration) { }}
		<span class="advertising-release-duration__trailers">
			{{- _.secondsToMinutes(trailersDuration, '+m:ss') }}
		</span>
	{{ } }}
</div>