<div class="advertising-panel">

	<div class="advertising-sections">
		{{ var date = _.getWeekDates({year: 2015, week: _.getWeekNumber()}) }}
		<div class="advertising-sections__item active"><span class="text">{{- date.start.format('DD.MM.YYYY') }} - {{- date.end.format('DD.MM.YYYY') }}</span></div>
		{{ date = _.getWeekDates({year: 2015, week: _.getWeekNumber() + 1}) }}
		<div class="advertising-sections__item"><span class="text">{{- date.start.format('DD.MM.YYYY') }} - {{- date.end.format('DD.MM.YYYY') }}</span></div>
		{{ date = _.getWeekDates({year: 2015, week: _.getWeekNumber() + 2}) }}
		<div class="advertising-sections__item"><span class="text">{{- date.start.format('DD.MM.YYYY') }} - {{- date.end.format('DD.MM.YYYY') }}</span></div>
		{{ date = _.getWeekDates({year: 2015, week: _.getWeekNumber() + 3}) }}
		<div class="advertising-sections__item"><span class="text">{{- date.start.format('DD.MM.YYYY') }} - {{- date.end.format('DD.MM.YYYY') }}</span></div>
		{{ date = _.getWeekDates({year: 2015, week: _.getWeekNumber() + 4}) }}
		<div class="advertising-sections__item"><span class="text">{{- date.start.format('DD.MM.YYYY') }} - {{- date.end.format('DD.MM.YYYY') }}</span></div>
	</div>

	<label class="advertising-age-restrictions pull-right">
		<input type="checkbox" name="age-restrictions" {{- ageRestrictions ? 'checked' : '' }}>Учитывать возрастные ограничения
	</label>
	<div class="btn-group pull-right">
		<a href="/" class="advertising__mode btn btn-default {{- mode === 'current-week' ? 'active' : '' }}" data-mode="current-week">
			<i class="fa fa-calendar"></i>
		</a>
		<a href="/" class="advertising__mode btn btn-default {{- mode === 'all' ? 'active' : '' }}" data-mode="all">
			<i class="fa fa-calendar-o"></i>
		</a>
	</div>
	{{ if (0) { }}
		<div class="btn btn-default pull-right" href="">Опубликовать</div>
	{{ } }}
</div>
<div class="advertising-header">
	<div class="advertising-legend">
		<span class="advertising-legend__item advertising-legend--inner">Вшитый трейлер</span>
		<span class="advertising-legend__item advertising-legend--added">Дополнительный трейлер</span>
	</div>
	<div class="advertising-trailers"></div>
</div>

<div class="advertising-wrapper">
	<div class="advertising-releases"></div>
	<div class="advertising-data-wrapper">
		<div class="advertising-data"></div>
	</div>
</div>
