{{ var integratedTrailersDuration = integratedTrailersDuration || _.reduce(integrated_trailers, function(memo, trailer) {return memo + trailer.duration;}, 0); }}
{{ var trailersDuration = trailersDuration || _.reduce(trailers, function(memo, trailer) {return memo + trailer.duration;}, 0); }}

<div class="advertising-release-tooltip">
	{{ if(integrated_trailers.length || trailers.length) { }}
		{{ if(integrated_trailers.length) { }}
			<div class="advertising-release-tooltip-list">
				Вшитые трейлеры {{- _.secondsToMinutes(integratedTrailersDuration, 'm:ss') }}<br>
				{{ _.each(integrated_trailers, function(trailer) { }}
					{{- _.secondsToMinutes(trailer.duration, "m:ss") }} {{- trailer.title }}<br>
				{{ }) }}
			</div>
		{{ } }}
		{{ if(trailers.length) { }}
			<div class="advertising-release-tooltip-list">
				Дополнительные трейлеры {{- _.secondsToMinutes(trailersDuration, 'm:ss') }}<br>
				{{ _.each(trailers, function(trailer) { }}
					{{- _.secondsToMinutes(trailer.duration, "m:ss") }} {{- trailer.title }}<br>
				{{ }) }}
			</div>
		{{ } }}
		<div class="advertising-release-tooltip__total">
			Итого: {{- _.secondsToMinutes(integratedTrailersDuration + trailersDuration, 'm:ss') }}
		</div>
	{{ } else { }}
		Отсутствуют дополнительные трейлеры
	{{ } }}
</div>
