<div class="bp_top">
	<span class="bp_title">{{- popupTitle }}</span>
	<span class="bp_description"><span>{{- title }}</span> {{- moment(release_date).format('с D MMMM') }}</span>
	<span class="save exit">
		<i class="booking_popup__close"></i>
		<i class="booking_popup__close booking_popup__close_hover"></i>
		<i class="booking_popup__close booking_popup__close_active"></i>
	</span>
</div>
<div class="bp_center clearfix">
	<div class="bp_cinemas"></div>
	<div class="bp_package">
		<h4>Пакеты</h4>
		<div class="bp_package_block clearfix">
			{{ _.each(requests, function(request, id) { }}
				<label title="{{- request.title }}" class="{{- id > 3 ? 'hide' : '' }}">
					<input type="radio" name="request_id" value="{{- request.id }}" {{- request.id == request_id ? 'checked' : '' }}> {{- request.title }}
				</label>
			{{ }) }}
			{{ if (requests.length > 4) { }}
				<span class="more hide_more">Ещё</span>
			{{ } }}
		</div>

		<h4>Время действия</h4>
		<div class="week_button">
			<div class="popupWrap__button week" data-days="6">1 неделя</div>
			<div class="popupWrap__button week" data-days="13">2 недели</div>
			<div class="popupWrap__button week" data-days="20">3 недели</div>
			<div class="popupWrap__button week" data-days="27">4 недели</div>
			<div class="popupWrap__button week" data-days="34">5 недель</div>
		</div>

		<div class="calendar_wr">
			<span class="prev_month fa fa-caret-left"></span>
			<span class="next_month fa fa-caret-right"></span>
			<div class="daterange"></div>
		</div>
		<div class="range_text">
			<span class="start_date"></span>
			<input type="hidden" class="valid_since">
			<input type="text" class="since_time" value="00:00:00">
			<span class="separate"> – </span>
			<span class="end_date"></span>
			<input type="hidden" class="valid_till">
			<input type="text" class="till_time" value="23:59:59">
		</div>
	</div>
</div>
<div class="popupWrap__bottom">
	<a href="#" class="popupWrap__button add_save">Добавить</a>
	<label for="gener">
		<input type="checkbox" class="generate_key" id="gener"> Сгенерировать и выслать ключи на e-mail в кинотеатры немедленно
	</label>
</div>
