<div class="head_leb">
	<input class="head_leb_input" type="checkbox" value="{{- id }}" {{- checkedHalls.length === halls.length && halls.length ? 'checked' : '' }}>
		<span class="c_title">{{- title }}</span>
		<span>{{- city }}</span>
</div>
<ul class="cinemas_halls">
	{{ _.each(halls, function(hall) { }}
		<li>
			<label>
				<input class="bp_check" type="checkbox" name="hall_id" value="{{- hall.id }}" {{- _.contains(checkedHalls, hall.id) ? 'checked' : '' }}>
				<span>{{- hall.title }}</span> {{- hall.projector }}
			</label>
		</li>
	{{ }) }}
</ul>
