<td colspan="33" class="cimena_halls">
	<div class="qwe">
		<table class="table_halls">
			<colgroup><col span="1" width="190"></colgroup>
			<colgroup><col span="{{- days.length }}" width="28"></colgroup>
			<tbody>
				{{ _.each(halls, function(hall) { }}
					{{ if (hall.keys.length) { }}
						<tr>
							<td class="left">
								<span class="c_title">{{- hall.title }}</span>
								<span class="c_city">{{- hall.capasity }} {{- _.declOfNum(hall.capasity, ['место','места','мест']) }}</span>
							</td>
							{{ _.each(days, function(day) { }}
								<td class="{{- day.day_of_week == 3 ? 'start_w' : '' }} {{- day.day_of_month == 1 ? 'start_month' : '' }}">
									{{ _.each(hall.keys, function(key) { }}
										<div class="wr_td clearfix
											{{- (day.date >= moment(key.valid_since).startOf('day').toDate() && day.date <= moment(key.valid_till).startOf('day').toDate()) ? 'b_keys' : 'not_b_keys' }}
											{{- moment(day.date).format('DD.MM.YYYY') == moment(key.valid_since).format('DD.MM.YYYY') ? 'first' : '' }}
										">
											{{ if (moment(day.date).format('DD.MM.YYYY') == moment(key.valid_since).format('DD.MM.YYYY')) { }}
												<i class="fa fa-key"></i>
											{{ } }}
											<span></span>
										</div>
									{{ }) }}
								</td>
							{{ }) }}
						</tr>
					{{ } }}
				{{ }) }}
			</tbody>
		</table>
	</div>
</td>
