<div class="filter">
	<div class="back">
		<a href="#"><img src="/img/pixel.gif" width="10" height="15" alt=""> Назад</a>
	</div>

	{{ if (request_id) { }}
		<span class="btn btn-primary" data-action="open-popup">Заявка на букинг</span>
	{{ } }}

	<div class="my_date" data-tour="show-planning-week">
		<div class="prev" data-weeks="-4"><i class="my_date_prev"></i></div>
		{{ if (first_week > 0) { }}
			<span class="my_date__date">{{- first_week }}-{{- second_week }} неделя проката</span>
		{{ } else { }}
			<span class="my_date__date">Предпоказ</span>
		{{ } }}
		<div class="next" data-weeks="4"><i class="my_date_next"></i></div>
	</div>
	<div class="filt_select">
		<span>Пакет:</span>
		<select id="filt_dist" class="filt_request">
			<option value="all">Все пакеты</option>
		{{ _.each(requests, function(request) { }}
			<option value="{{- request.id }}" {{- request_id == request.id ? 'selected' : '' }}>{{- request.title }}</option>
		{{ }) }}
		</select>
	</div>
	<table class="table_head">
		<colgroup><col span="1" width="190"></colgroup>
		<colgroup><col span="{{- days.length }}" width="28"></colgroup>
		<tbody>
			<tr>
				<td class="left" rowspan="2">
					<div class="search"></div>
				</td>
				{{ var cMonth = + Date.create(daysCurrentMonth[0].date).format('{MM}') }}

				{{ if (daysNextMonth.length) { var nMonth = + Date.create(daysNextMonth[0].date).format('{MM}') } }}

				<td class="month_date" colspan="{{- daysCurrentMonth.length + 2 }}"><span>{{- (cMonth - 1).toMonthName() }}</span> '{{- currentYear.toString().slice(2) }}</td>
				{{ if (daysNextMonth.length) { }}
					<td class="month_date" colspan="{{- daysNextMonth.length }}"><span>{{- (nMonth - 1).toMonthName() }}</span> '{{- Date.create(daysNextMonth[0].date).format('{yy}') }}</td>
				{{ } }}
			</tr>
			<tr>
				{{ _.each(days, function(day) { }}
					<td class="date {{- (day.day_of_week == 6 || !day.day_of_week) ? 'wd' : '' }} {{- day.day_of_week == 3 ? 'start_w' : '' }} {{- day.day_of_month === 1 ? 'start_month' : '' }}">{{- day.day_of_month }}</td>
				{{ }) }}
			</tr>
		</tbody>
	</table>
</div>
<div class="fon_filter"></div>
<div id="booking_list_table"></div>
