<td class="left project_cinema {{- request_id !== 'all' ? 'hover' : '' }}" data-id="{{- id }}">
	<div class="wr_td">
		<i class="fa fa-chevron-down"></i>
		<span class="c_title">{{- title }}</span>
		<span class="c_city">{{- city }}, {{- halls_count }} {{- _.declOfNum(halls_count, ['зал','зала','залов']) }}</span>
	</div>
</td>
{{ _.each(days, function(day) { }}
	<td class="
		{{- day.day_of_week == 3 ? 'start_w' : '' }}
		{{- day.day_of_month == 1 ? 'start_month' : '' }}
		{{- day.date >= moment(valid_since).startOf('day').toDate() && day.date <= moment(valid_till).startOf('day').toDate() ? 'b_green' : '' }}
		{{- moment(day.date).format('DD.MM.YYYY') == moment(valid_since).format('DD.MM.YYYY') ? 'first' : '' }}
		{{- moment(day.date).format('DD.MM.YYYY') == moment(valid_till).format('DD.MM.YYYY') ? 'last' : '' }}
	"><div></div></td>
{{ }) }}