<div class="calendar">
	<div class="calendar__view">
		<div class="calendar__view__month thursday">{{- date.month }}</div>
		<div class="calendar__view__number">{{- date.day }}</div>
	</div>
	<span class="calendar__day">{{- date.weekday }}</span>
</div>
<div class="info">
	<div class="releases_head">
		<div class="releases_cell release_name">{{- title }}</div>
		<div class="releases_cell release_sent">Отправлено</div>
		<div class="releases_cell release_total">Всего</div>
		<div class="releases_cell release_halls">Залы</div>
	</div>
	<div class="releases_body">
		{{ _.each(requests, function(r) { }}
			<div class="info_item" data-href="/booking/{{- id }}/{{- r.id }}/{{- released }}">
				<span class="releases_cell release_name" title="{{- r.title}}">
					<span class="text">{{- r.title }}</span><span class="new_booking">Новый букинг</span>
				</span>
				<span class="releases_cell release_sent" title="{{- r.sent}}">{{- r.sent }}</span>
				<span class="releases_cell release_total" title="{{- r.total}}">{{- r.total }}</span>
				<span class="releases_cell release_halls" title="{{- r.halls}}">{{- r.halls }}</span>
			</div>
		{{ }) }}
	</div>
</div>
