<div class="commercial-table-header">
	<span class="commercial-table__cell commercial-table__cell--title">Название кампании</span>
	<span class="commercial-table__cell commercial-table__cell--date">Даты</span>
	<span class="commercial-table__cell commercial-table__cell--target">Таргетинг</span>
</div>
<div class="commercial-table-body">
	<div class="commercial-table-wrapper"></div>
</div>
<span class="commercial-table__add">+ Новая кампания</span>