<div class="head">
	<div class="top">
		<span class="title">Новые KDM</span>
	</div>
	<div class="bottom">
		<span class="item cinema">кинотеатр</span>
		<span class="item hall">зал</span>
		<span class="item title">фильм</span>
		<span class="item date">добавлен</span>
	</div>
	<div class="list"></div>
	<span class="all">Посмотреть все &raquo;</span>
</div>
