{{ if (allowPremieres) { }}
	<div class="premieres_line">
		<div class="premieres current dashboard_block">
			<div class="head">
				<div class="top">
					<span class="title">Премьеры</span>
					<span class="date">{{- moment().startOf('week').format('D MMMM') }} &mdash; {{- moment().endOf('week').format('D MMMM') }}</span>
				</div>
			</div>
			<span class="help">
				Добавьте фильм в репертуар и начните отслеживать <br>
				наличие KDM и копий для него!<br>
				<span class="help_message send_to_releases">К списку релизов!</span>
			</span>
		</div>
		<div class="table_space"></div>
		<div class="premieres next dashboard_block">
			<div class="head">
				<div class="top">
					<span class="title">Премьеры</span>
					<span class="date">{{- moment().week(currentWeek + 1).startOf('week').format('D MMMM') }} &mdash; {{- moment().week(currentWeek + 1).endOf('week').format('D MMMM') }}</span>
				</div>
			</div>
			<div class="help_wrapper">
				<span class="help">
					Добавьте фильм в репертуар и начните отслеживать <br>
					наличие KDM и копий для него!<br>
					<span class="help_message send_to_releases">К списку релизов!</span>
				</span>
			</div>
		</div>
	</div>
{{ } }}

<div class="middle_line">
	<div class="releases_news dashboard_block">
		<div class="head">
			<div class="top">
				<span class="title">Новое в релизах</span>
			</div>
		</div>
		<span class="help">
			Информация о новых фильмах<br>
			и изменениях в старых.<br>
			<span class="help_message">
				Чтобы отслеживать изменения по фильмам,<br>
				добавьте их в репертуар.
			</span>
		</span>
	</div>
	<div class="table_space"></div>
	<div class="kdm_news dashboard_block">
		<div class="head">
			<div class="top">
				<span class="title">Новые KDM</span>
			</div>
		</div>
		<span class="help">
			Список самых свежих ключей для фильмов.<br>
			<span class="help_message">Ключи появятся во время ближайшей рассылки.</span>
		</span>
	</div>
</div>

<div class="left_bottom">
	<div class="shipment_news dashboard_block">
		<div class="head">
			<div class="top">
				<span class="title">Доставка</span>
			</div>
		</div>
		<span class="help">
			Текущий статус о цифровых и HDD копий,<br>
			доставляемых компанией DCP24.<br>
			<span class="help_message">
				Частота появления копий зависит от размера кинотеатра,<br>
				ожидайте ближайшей доставки от DCP24.
			</span>
		</span>
	</div>

	<div class="cinemas dashboard_block">
		<div class="head">
			<div class="top">
				<span class="title">Кинотеатры</span>
			</div>
		</div>
		<span class="more">+ Добавить</span>
	</div>
</div>

<div class="messages dashboard_block">
	<span class="title">Сообщения</span>
	<span class="all" data-side="messages">Читать все &raquo;</span>
</div>