<div class="head">
	<div class="top">
		<span class="title">Доставка</span>
	</div>
	<div class="bottom">
		<span class="item title">релиз</span>
		<span class="item format">формат</span>
		<span class="item cinema">кинотеатр</span>
		<span class="item date">статус</span>
		<span class="item date">дата</span>
	</div>
</div>
<div class="list"></div>
<span class="all">Посмотреть все &raquo;</span>