<div class="item key" data-id="{{- id }}"></div>
<span class="item name" title="{{- title.ru }}" data-id="{{- id }}">
	<span class="title_block" title="{{- title.ru }}">{{- title.ru }}</span> <span class="distributor_name">{{- allDistributorsShort.join(', ') }}</span>
</span>
<i class="arrow_down"></i>
<div class="item info">
	<table class="dashboard_release_info_table">
		<thead>
			<tr class="info_table_title">
				<th class="item_free_space" width="37px"></th>
				<th class="item_title" width="25%">кинотеатр</th>
				<th class="item_kdm" width="25%">ключи</th>
				<th class="item_copy" width="25%">копия</th>
				<th class="item_seance" width="30%">расписание</th>
				<th class="item_free_space" width="20px"></th>
			</tr>
		</thead>
		<tbody>

			{{ _.each(userCinemas, function(cinema) { }}
				{{ var cinemaId          = cinema.id; }}
				{{ var cinemaHalls       = cinema.halls; }}
				{{ var curCinemaCopy     = _.find(copy.cinemas, function(cin) { return cin.id == cinemaId; }); }}
				{{ var curCinemaKdm      = _.find(kdm.cinemas, function(cin) { return cin.id == cinemaId; }); }}
				{{ var curCinemaSchedule = _.find(schedule.cinemas, function(cin) { return cin.id == cinemaId; }); }}

				{{ if (curCinemaCopy && curCinemaKdm) { }}
					<tr class="info_table_item">
						<td class="item_free_space"></td>

						<td class="item_title">
							{{- cinema.title.ru || cinema.title.en || '-' }}<br>
							<span class="cinema_city">{{- cinema.city.title.ru || cinema.city.title.en || '-' }}</span>
						</td>

						<td class="item_kdm">
							{{ if (curCinemaKdm.halls.length === 0 && !kdm.lab && !curCinemaKdm.flag) { }}
								<i class="fa icon-key bad"></i>
								<div class="releases_popup">
									Информация по ключам отсутствует
								</div>
							{{ } else if (curCinemaKdm.halls.length > 0) { }}
								<i class="fa icon-key active"></i>
								<div class="releases_popup">
									Ключи загружены на play-сервера в Залах:
									{{ var hallsArr = []; }}

									{{ curCinemaKdm.halls.each(function(hall) { }}
										{{ var curHall = _.find(cinemaHalls, function(el) { return el.id == hall; }); }}
										{{ hallsArr.push(curHall); }}
									{{ }); }}

									{{ var sortedHalls = hallsArr.sortBy(function(hall) { }}
										{{ return hall.number; }}
									{{ }); }}

									{{ var sortedHallsArr = []; }}

									{{ sortedHalls.each(function(hall) { }}
										{{ sortedHallsArr.push(hall.title); }}
									{{ }); }}

									{{- sortedHallsArr.join(', ') }}
								</div>
							{{ } else if (curCinemaKdm.flag) { }}
								<i class="fa icon-key delivery"></i>
								в системе
								<div class="releases_popup">
									Ключ попал в систему Киноплан, но не был загружен на play-сервер из-за некорректной настройки
								</div>
							{{ } else { }}
								<i class="fa icon-key delivery"></i>
									{{- kdm.lab.short_name === 'By D' ? allDistributorsShort.join(', ') : kdm.lab.short_name }}
								<div class="releases_popup">
									<b>Генерация и распространение KDM</b><br>
									{{ if (kdm.lab.phone != '') { }}
										{{- kdm.lab.name === 'Силами дистрибьютора' ? allDistributorsFull.join(', ') : kdm.lab.name }}, тел. {{- kdm.lab.phone }}
									{{ } else { }}
										{{- kdm.lab.name === 'Силами дистрибьютора' ? allDistributorsFull.join(', ') : kdm.lab.name }}
									{{ } }}
								</div>
							{{ } }}
						</td>

						<td class="item_copy">
							{{ if (curCinemaCopy.halls.length > 0) { }}
								<i class="fa icon-key active"></i>
								<div class="releases_popup">
									Копия загружена на play-сервера в Залах:
									{{ var hallsArr = []; }}
									{{ curCinemaCopy.halls.each(function(hall) { }}
										{{ var curHall = _.find(cinemaHalls, function(el) { return el.id == hall; }); }}
										{{ hallsArr.push(curHall); }}
									{{ }); }}

									{{ var sortedHalls = hallsArr.sortBy(function(hall) { }}
										{{ return hall.number; }}
									{{ }); }}

									{{ var sortedHallsArr = []; }}

									{{ sortedHalls.each(function(hall) { }}
										{{ sortedHallsArr.push(hall.title); }}
									{{ }); }}

									{{- sortedHallsArr.join(', ') }}
								</div>
							{{ } else if (curCinemaCopy.shipment) { }}
								{{ if (curCinemaCopy.shipment.status === 'unblocked') { }}
									<i class="fa icon-key delivery"></i>
									разблокирована
									<div class="releases_popup">
										Копия разблокирована {{- Date.create(curCinemaCopy.shipment.date.unblocked).format('{dd}.{MM}.{yyyy}') }}
									</div>
								{{ } else if (curCinemaCopy.shipment.status === 'delivered') { }}
									<i class="fa icon-key delivery"></i>
									доставлена
									<div class="releases_popup">
										Копия доставлена {{- Date.create(curCinemaCopy.shipment.date.delivered).format('{dd}.{MM}.{yyyy}') }}
									</div>
								{{ } else if (curCinemaCopy.shipment.disk) { }}
									<i class="fa icon-key delivery"></i>
									в пути
									<div class="releases_popup">
										<b>Вам отправлен диск с фильмом.</b>
										<br>
										<b>Логист: {{- curCinemaCopy.shipment.shipper.name || curCinemaCopy.shipment.shipper.title || 'неизвестен' }}</b>
										<br>
										Номер накладной: {{- curCinemaCopy.shipment.barcode || 'неизвестен' }}
									</div>
								{{ } else { }}
									<i class="fa icon-key delivery"></i>
									загружается
									<div class="releases_popup">
										<b>Идет загрузка цифровой копии на сервер DCP24</b>
										<br>
										ориентировочная дата окончания: {{- Date.create(curCinemaCopy.shipment.date.estimate).format('{dd}.{MM}.{yyyy}') }}
									</div>
								{{ } }}

							{{ } else if (copy.lab.length > 0 || copy.dd_lab.length > 0) { }}
								<i class="fa icon-key delivery"></i>
								{{ var labsArr = []; }}
								{{ var byD  = false; }}

								{{ for (var i in copy.lab) { }}
									{{ if (copy.lab[i].short_name) { }}
										{{ if (copy.lab[i].short_name === 'By D') { }}
											{{ byD = true; }}
										{{ } else { }}
											{{ labsArr.push(copy.lab[i].short_name); }}
										{{ } }}
									{{ } }}
								{{ } }}

								{{ for (var i in copy.dd_lab) { }}
									{{ if (copy.dd_lab[i].short_name) { }}
										{{ if (copy.dd_lab[i].short_name === 'By D') { }}
											{{ byD = true; }}
										{{ } else { }}
											{{ labsArr.push(copy.dd_lab[i].short_name); }}
										{{ } }}
									{{ } }}
								{{ } }}

								{{ if (byD) { }}
									{{ for (var i in allDistributorsShort) { }}
										{{ labsArr.push(allDistributorsShort[i]); }}
									{{ } }}
								{{ } }}

								{{ labsArr.sort(); }}

								{{- labsArr.join(', ') }}
								<div class="releases_popup">
									{{ if (copy.lab.length > 0) { }}
										<b>Доставка диска</b><br>
										{{ for (var i in copy.lab) { }}
											{{ if (copy.lab[i].phone != '') { }}
												{{- copy.lab[i].name === 'Силами дистрибьютора' ? allDistributorsFull.join(', ') : copy.lab[i].name }}, тел. {{- copy.lab[i].phone }}<br>
											{{ } else { }}
												{{- copy.lab[i].name === 'Силами дистрибьютора' ? allDistributorsFull.join(', ') : copy.lab[i].name }}<br>
											{{ } }}
										{{ } }}
									{{ } }}
									{{ if (copy.dd_lab.length > 0) { }}
										<b>Доставка цифровой копии</b><br>
										{{ for (var i in copy.dd_lab) { }}
											{{ if (copy.dd_lab[i].phone != '') { }}
												{{- copy.dd_lab[i].name === 'Силами дистрибьютора' ? allDistributorsFull.join(', ') : copy.dd_lab[i].name }}, тел. {{- copy.dd_lab[i].phone }}<br>
											{{ } else { }}
												{{- copy.dd_lab[i].name === 'Силами дистрибьютора' ? allDistributorsFull.join(', ') : copy.dd_lab[i].name }}<br>
											{{ } }}
										{{ } }}
									{{ } }}
								</div>
							{{ } else { }}
								<i class="fa icon-key bad"></i>
								<div class="releases_popup">
									Информация по копиям отсутствует
								</div>
							{{ } }}
						</td>
						<td class="item_seance">
							{{ if (curCinemaSchedule.flag) { }}
								<i class="fa icon-key active"></i>
								составлено
							{{ } else { }}
								<i class="fa icon-key bad"></i>
								не составлено
							{{ } }}
						</td>
					</tr>
				{{ } }}
			{{ }) }}
			<tr class="info_table_item"></tr>
		</tbody>
	</table>
</div>