<span class="cinema" title="{{- cinema.title.ru }}">{{- cinema.title.ru }}</span>
<span class="hall">{{- hall.title }}</span>
<span class="title" title="{{- title.ru }}, {{- format }}"><span class="title_block" title="{{- title.ru }}">{{- title.ru }}</span> <span class="format">{{- format }}</span> <span class="distributor_name" title="{{- allDistributorsFull.join(', ') }}">{{- allDistributorsShort.join(', ') }}</span></span>
<span class="date" title="{{- dateText }}">{{- dateText }}</span>
