<i class="fa fa-filter change-display-mode {{- filterReleases ? 'active' : '' }}" title="Фильтрация релизов без росписи {{- filterReleases ? 'включена.' : 'отключена.' }}"></i>
<div class="list_films_wrap">
	<div class="found-releases"></div>
</div>