{{ if (last_releases.length) { }}
	<div class="films">
		<h2 class="title">Фильмы дистрибьютора</h2>
		{{ _.each(last_releases, function(release) { }}
			<div class="films_item">
				{{ if (release.cover) { }}
					<a href="/release/{{- release.id }}" did="{{- release.id }}" class="to_release"><img src="{{- release.cover }}" alt="" class="image"></a>
				{{ } else { }}
					<a href="/release/{{- release.id }}" did="{{- release.id }}" class="to_release"><i class="image_cover gradient_{{- Math.floor(Math.random() * (8)) + 1 }}"></i></a>
				{{ } }}
				<div class="right">
					<a class="name to_release" did="{{- release.id }}" href="/release/{{- release.id }}">{{- release.title.ru }}</a>
					<span class="en">{{- release.title.en }}</span>
					<span class="date">{{- Date.create(release.date.russia.start).format('{d} {month}, {yyyy}') }}</span>
				</div>
			</div>
		{{ }) }}
		<a href="/releases/distributor/{{- id }}" did="{{- id }}" class="all to_dist">Все фильмы &raquo;</a>
	</div>
{{ } }}
<div class="top">
	<div class="left">
		{{ if (logo) { }}
			<img src="{{- logo }}" alt="poster">
		{{ } else { }}
			<img src="/img/distr.png" width="100" height="100">
		{{ } }}
	</div>
	<div class="right">
		<h1 class="title">{{- name.full }}</h1>
		<h2 class="short">{{- name.short }}</h2>
	</div>
</div>
<div class="about">
	<table class="table">
		<tbody>
			{{ if (www) { }}
				<tr>
					<td class="left">сайт</td>
					<td><a href="{{- www }}" target="_blank">{{- www }}</a></td>
				</tr>
			{{ } }}
			{{ if (address) { }}
				<tr>
					<td class="left">адрес</td>
					<td>{{- address }}</td>
				</tr>
			{{ } }}
			{{ if (phone) { }}
				<tr>
					<td class="left">телефон</td>
					<td>{{- phone }}</td>
				</tr>
			{{ } }}
			{{ if (fax) { }}
				<tr>
					<td class="left">факс</td>
					<td>{{- fax }}</td>
				</tr>
			{{ } }}
			{{ if (email) { }}
				<tr>
					<td class="left">email</td>
					<td><a href="mailto:{{- email }}">{{- email }}</a></td>
				</tr>
			{{ } }}
		</tbody>
	</table>
</div>
<div class="contacts">
	{{ var gr = Object.extended(group_contacts).keys().sortBy('length', true); }}

	{{ for (var i in gr) { }}
		<div class="contacts__item">
			<table class="table">
				{{ if (gr[i]) { }}
					<tr>
						<td class="left"></td>
						<td class="department">{{- gr[i] }}</td>
					</tr>
				{{ } }}

				{{ var c = group_contacts[gr[i]]; }}
				{{ for (var j in c) { }}
					{{ if (c[j].position) { }}
						<tr>
							<td class="left"></td>
							<td class="position">{{- c[j].position }}</td>
						</tr>
					{{ } }}

					<tr>
						<td class="left"></td>
						<td class="fio">{{- c[j].fio }}</td>
					</tr>

					{{ if (c[j].phone) { }}
						<tr>
							<td class="left">телефон</td>
							<td class="phone">{{- c[j].phone }}</td>
						</tr>
					{{ } }}

					<tr class="last">
						<td class="left">email</td>
						<td><a class="mail" href="mailto:{{- c[j].email }}">{{- c[j].email }}</a></td>
					</tr>
				{{ } }}
			</table>
		</div>
	{{ } }}
</div>