{{ if (length > 0) { }}
	<div class="analysis-confidentially">КОНФИДЕНЦИАЛЬНО. НЕ ДЛЯ КОПИРОВАНИЯ И РАСПРОСТРАНЕНИЯ.</div>
	<table class="analysis-table analysis-table--width">
		<thead>
			<tr class="table_title">
				<th class="analysis-table__name" title="Название">Название</th>
				<th class="analysis-table__distributor" title="Дистрибьютор">Дистрибьютор</th>
				<th class="analysis-table__start-date" title="Начало проката">Начало проката</th>
				<th class="analysis-table__hire_week" title="Неделя проката"><span class="sorted_item hire_week">Неделя</span><div class="triangle_down"></div></th>

				{{ _.each(weeks, function(week) { }}
					<th class="analysis-table__week {{- (new Date()).getWeek() === week.week ? 'analysis-table__week--current' : '' }}" title="{{- week.start.format('DD.MM') }} - {{- week.end.format('DD.MM') }}">
						{{- week.start.format('DD.MM') }} - {{- week.end.format('DD.MM') }}
					</th>
				{{ }) }}

				<th class="analysis-table__summ">
					<span class="sorted_item summ">Итого</span><div class="triangle_down"></div>
				</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
{{ } else { }}
	<p class="analysis-empty">Анализ недоступен.</p>
{{ } }}