<td class="history_table__film" title="{{- title.ru }}">{{- title.ru }}</td>
<td class="history_table__dist" title="{{- _.map(distributors, function(distributor){ return distributor.name.full || distributor.name.short }).join(', ').toUpperCase() || '-' }}">{{- _.map(distributors, function(distributor){ return distributor.name.short || distributor.name.full }).join(', ').toUpperCase() || '-' }}</td>
<td class="history_table__from_date">
	{{ if (history) { }}
		{{ if (history.date_russia_start) { }}
			{{ if (history.date_russia_start.old) { }}
				<span title="{{- Date.create(history.date_russia_start.old).format('{dd}.{MM}.{yyyy}') }}">{{- Date.create(history.date_russia_start.old).format('{dd}.{MM}.{yyyy}') }}</span>
			{{ } else { }}
				-
			{{ } }}
		{{ } else { }}
			-
		{{ } }}
	{{ } else { }}
		-
	{{ } }}
</td>
<td class="history_table__your_films_old">
	{{ if (history) { }}
		{{ if (history.old_releases) { }}
			{{ var oldReleases = history.old_releases }}
			{{ if (oldReleases.length > 0) { }}
				{{ for ( var release in oldReleases) { }}
					{{ if (release > 0) { }}
						<br>
					{{ } }}
					<span class="your_film_block" title="{{- oldReleases[release].title.ru }} {{- Date.create(oldReleases[release].date.russia.start).format('{dd}.{MM}.{yyyy}') }}">{{- oldReleases[release].title.ru }} <span class="your_films_date">{{- Date.create(oldReleases[release].date.russia.start).format('{dd}.{MM}.{yyyy}') }}</span></span>
				{{ } }}
			{{ } else { }}
				-
			{{ } }}
		{{ } else { }}
			-
		{{ } }}
	{{ } else { }}
		-
	{{ } }}
</td>
<td class="history_table__to_date">
	{{ if (history) { }}
		{{ if (history.date_russia_start) { }}
			{{ if (history.date_russia_start.new) { }}
				<span  title="{{- Date.create(history.date_russia_start.new).format('{dd}.{MM}.{yyyy}') }}">{{- Date.create(history.date_russia_start.new).format('{dd}.{MM}.{yyyy}') }}</span>
			{{ } else if (history.date_russia_string.new) { }}
				<span  title="{{- Date.create(history.date_russia_string.new).format('{dd}.{MM}.{yyyy}') }}">{{- Date.create(history.date_russia_string.new).format('{dd}.{MM}.{yyyy}') }}</span>
			{{ } else { }}
				-
			{{ } }}
		{{ } else { }}
			-
		{{ } }}
	{{ } else { }}
		-
	{{ } }}
</td>
<td class="history_table__your_films_new">
	{{ if (history) { }}
		{{ if (history.new_releases) { }}
			{{ var newReleases = history.new_releases }}
			{{ if (newReleases.length > 0) { }}
				{{ for ( var release in newReleases) { }}
					{{ if (release > 0) { }}
						<br>
					{{ } }}
					<span class="your_film_block" title="{{- newReleases[release].title.ru }} {{- Date.create(newReleases[release].date.russia.start).format('{dd}.{MM}.{yyyy}') }}">{{- newReleases[release].title.ru }} <span class="your_films_date">{{- Date.create(newReleases[release].date.russia.start).format('{dd}.{MM}.{yyyy}') }}</span></span>
				{{ } }}
			{{ } else { }}
				-
			{{ } }}
		{{ } else { }}
			-
		{{ } }}
	{{ } else { }}
		-
	{{ } }}
</td>