{{ _.each(contacts, function(contact) { }}
	<table class="contact_table">
		<tbody>
			{{ if (contact.post.length) { }}
				<tr>
					<td class="left_col"></td>
					<td class="right_col contact_post">{{- contact.post }}</td>
				</tr>
			{{ } }}
			{{ if (contact.name) { }}
				<tr>
					<td class="left_col"></td>
					<td class="right_col contact_name">{{- contact.name }}</td>
				</tr>
			{{ } }}
			{{ if (contact.phone.length) { }}
				<tr>
					<td class="left_col contact_phone">телефон</td>
					<td class="right_col contact_phone">{{- contact.phone.join(', ') }}</td>
				</tr>
			{{ } }}
			{{ if (contact.email) { }}
				<tr>
					<td class="left_col contact_email">email</td>
					<td class="right_col contact_email"><a class="mail" href="mailto:{{- contact.email }}">{{- contact.email }}</a></td>
				</tr>
			{{ } }}
		</tbody>
	</table>
{{ }); }}