{{ if (length) { }}
	<div class="distributor_cinemas_head">
		<span class="distributor_cinemas_cell cinema_name">Кинотеатр</span>
		<span class="distributor_cinemas_cell cinema_location">Город и регион</span>
		<span class="distributor_cinemas_cell cinema_halls_number">Залы</span>
		<span class="distributor_cinemas_cell cinema_capacity">Места</span>
		<span class="distributor_cinemas_cell cinema_formats">Форматы</span>
	</div>
	<div class="distributor_cinemas_body"></div>
{{ } else { }}
	<p class="cinemas_empty">Кинотеатры по выбранному запросу не найдены</p>
{{ } }}