<div class="filter">
	<div class="dashboard_sections">
		<div class="item" data-section="releases">
			<span class="text">Мои релизы</span>
		</div>
		<div class="item" data-section="competitive_environment">
			<span class="text two_lines">Конкурентное окружение</span>
		</div>
		<div class="item" data-section="analysis">
			<span class="text">Анализ</span>
		</div>
		<div class="item" data-section="history">
			<span class="text">История</span>
		</div>
		<div class="item" data-section="prognosis">
			<span class="text">Прогноз</span>
		</div>
	</div>

	<select class="b-filter pull-right">
		{{ _.each(filterOptions, function(option) { }}
			<option value="{{- option.value }}" {{- option.value == currentFilter ? 'selected' : '' }}>{{- option.title }}</option>
		{{ }) }}
	</select>
</div>
<div class="fon_filter"></div>

<div class="distributor_dashboard_wrap"></div>