{{ _.each(weeks, function(center) { }}
	{{ if (center.year == 0) return; }}
	{{ var centerWeek = parseInt(center.week); }}
	{{ var centerYear = parseInt(center.year); }}
	{{ var centerKey = centerYear+'-'+centerWeek; }}
	{{ var centerList = list[centerKey]; }}

	{{ if (!(centerList[0].match)) return; }}

	<div class="line" data-center="{{- centerWeek }}">
		{{ for (var p = centerWeek - 3; p < centerWeek; p++) { }}
			{{ if (p <= 0) { }}
				{{ var prevWeek = moment().year(centerYear).week(p).weeks(); }}
				{{ var prevYear = moment().year(centerYear).week(p).year(); }}
			{{ } else { }}
				{{ var prevWeek = p; }}
				{{ var prevYear = moment().year(centerYear).week(prevWeek).year(); }}
			{{ } }}

			{{ var prevKey = prevYear+'-'+prevWeek; }}
			{{ var prevList = list[prevKey]; }}

			<div class="section" data-week="{{- prevWeek }}">
				<span class="date">{{- moment().week(prevWeek).year(prevYear).startOf('week').format('D MMMM') }}<span class="gray"> '{{- moment().week(prevWeek).year(prevYear).startOf('week').format('YY') }}</span></span>

				{{ _.each(prevList, function(item) { }}
					{{ var shorts = []; }}
					{{ _.each(item.distributors, function(dist){ shorts.push(dist.name.short) }); }}
					{{ if (item.match === 1) { }}
						{{ if (item.status === 1) var status = 'match'; }}
						{{ if (item.status === 0) var status = 'leave'; }}
					{{ } else { }}
						{{ if (item.status === 1 && moment().diff(moment(item.history.created * 1000), 'days') < 7) var status = 'enemy_match'; }}
						{{ if (item.status === 0) var status = 'enemy_leave'; }}
					{{ } }}

					<div class="item {{- status || '' }}" data-id="{{- item.id }}">
						<span class="title" title="{{- item.title.ru }}">{{- item.title.ru }}</span>
						<span class="dist" title="{{- shorts.join(', ') }}">{{- shorts.join(', ') }}</span>
					</div>
				{{ }); }}

			</div>
		{{ } }}

		<div class="section" data-week="{{- centerWeek }}">
			<span class="date">{{- moment().week(centerWeek).year(centerYear).startOf('week').format('D MMMM') }}<span class="gray"> '{{- moment().week(centerWeek).year(centerYear).startOf('week').format('YY') }}</span></span>
			{{ _.each(centerList, function(item) { }}
				{{ var shorts = []; }}
				{{ _.each(item.distributors, function(dist){ shorts.push(dist.name.short) }); }}

				{{ if (item.match == 1) { }}
					{{ if (item.status === 1) var status = 'match'; }}
					{{ if (item.status === 0) var status = 'leave'; }}
				{{ } else { }}
					{{ if (item.status === 1 && moment().diff(moment(item.history.created * 1000), 'days') < 7) var status = 'enemy_match'; }}
					{{ if (item.status === 0) var status = 'enemy_leave'; }}
				{{ } }}

				<div class="item {{- status || '' }}" data-id="{{- item.id }}">
					<span class="title" title="{{- item.title.ru }}">{{- item.title.ru }}</span>
					<span class="dist" title="{{- shorts.join(', ') }}">{{- shorts.join(', ') }}</span>
				</div>
			{{ }); }}
		</div>

		{{ for (var n = centerWeek + 1; n < centerWeek + 4; n++) { }}
			{{ if (n > moment().year(centerYear).endOf('year').weeks()) { }}
				{{ var nextWeek = moment().year(centerYear).week(n).weeks(); }}
				{{ var nextYear = moment().year(centerYear).week(n).year(); }}
			{{ } else { }}
				{{ var nextWeek = n; }}
				{{ var nextYear = moment().year(centerYear).week(nextWeek).year(); }}
			{{ } }}

			{{ var nextKey = nextYear+'-'+nextWeek; }}
			{{ var nextList = list[nextKey]; }}

			<div class="section" data-week="{{- prevWeek }}">
				<span class="date">{{- moment().week(nextWeek).year(nextYear).startOf('week').format('D MMMM') }}<span class="gray"> '{{- moment().week(nextWeek).year(nextYear).startOf('week').format('YY') }}</span></span>
				{{ _.each(nextList, function(item) { }}
					{{ var shorts = []; }}
					{{ _.each(item.distributors, function(dist){ shorts.push(dist.name.short) }); }}

					{{ if (item.match == 1) { }}
						{{ if (item.status === 1) var status = 'match'; }}
						{{ if (item.status === 0) var status = 'leave'; }}
					{{ } else { }}
						{{ if (item.status === 1 && moment().diff(moment(item.history.created * 1000), 'days') < 7) var status = 'enemy_match'; }}
						{{ if (item.status === 0) var status = 'enemy_leave'; }}
					{{ } }}

					<div class="item {{- status || '' }}" data-id="{{- item.id }}">
						<span class="title" title="{{- item.title.ru }}">{{- item.title.ru }}</span>
						<span class="dist" title="{{- shorts.join(', ') }}">{{- shorts.join(', ') }}</span>
					</div>
				{{ }); }}
			</div>
		{{ } }}
	</div>
{{ }); }}