<div class="edit-value-popup-top">
	<i class="edit-value-popup-top__input-minus fa fa-minus-square-o"></i>
	<input class="edit-value-popup-top__input" type="number" min="1" max="500" step="1" pattern="[0-9]*" value="{{- value || 1 }}" autofocus>
	<i class="edit-value-popup-top__input-plus fa fa-plus-square-o"></i>
</div>
<div class="edit-value-popup__save">Сохранить</div>