<table class="table-default table-default--striped table-default--hover">
	<thead>
		<tr>
			<th width="50px">Онлайн</th>
			<th width="250px">Имя</th>
			<th width="200px">Контакты</th>
			<th>Открыт доступ к кинотеатрам</th>
			<th width="140px">Дата последнего захода в систему</th>
		</tr>
	</thead>
	<tbody>
		{{ _.each(employees, function(employee) { }}
			<tr>
				<td><i class="fa fa-desktop {{- (now - employee.actived * 1000) < 300000 ? 'online' : '' }}"></i></td>
				<td>{{- employee.last_name + ' ' + employee.first_name }}</td>
				<td>
					<div>{{- employee.phone }}</div>
					<div>{{- employee.email }}</div>
				</td>
				<td>
					{{ if (employee.cinemas.length ) { }}
						{{ _.chain(employee.cinemas).groupBy(function(element, index) { return index % 2; }).each(function(group) { }}
							<ul class="employees-cinemas">
								{{ _.each(group, function(cinema) {  }}
									<li>
										{{- cinema.title.ru }}
										<div class="employees-cinemas__city">{{- cinema.city.title.ru }}</div>
									</li>
								{{ }) }}
							</ul>
						{{ }) }}
					{{ } }}
				</td>
				<td>{{- employee.actived ? moment(employee.actived * 1000).format('DD.MM.YYYY HH:mm:ss') : '' }}</td>
			</tr>
		{{ }) }}
	</tbody>
</table>
