<div class="export_popup__head">
	<span class="export_popup__title">Экспорт в Excel</span>
	<span class="arcticmodal-close">
		<i class="export__close"></i>
		<i class="export__close export__close_hover"></i>
		<i class="export__close export__close_active"></i>
	</span>
</div>
<div class="export_popup__content">
	<div class="col">
		<div class="date">
			<span class="text">Начиная с</span>
			<input type="text" name="start" value="{{- fromDate }}" class="date_input date_input_from">
		</div>
		<div class="date">
			<span class="text">До</span>
			<input type="text" name="end" value="{{- toDate }}" class="date_input date_input_to">
		</div>
	</div>
	<div class="col">
		<div class="full">
			<span class="text">Укажите e-mail для отправки</span>
			<input type="email" class="email" name="email" placeholder="Не обязательное поле">
		</div>
		<div class="model">
			<span class="text">Формат</span>
			<select name="layout" class="layout">
				<option value="halls">По залам</option>
				<option value="full">По залам, расширенная версия</option>
				<option value="alternative">По залам и фильмам</option>
				<option value="movie">По фильмам</option>
				<option value="trailers">По залам + трейлеры</option>
				{{ if (mirage) { }}
					<option value="mirage">Мираж Синема</option>
				{{ } }}
			</select>
		</div>
	</div>
</div>
<div class="export_popup__bottom">
	<span class="done">Экспорт</span>
</div>
