<div class="export_popup__head">
	<span class="export_popup__title">Экспорт в Excel</span>
	<span class="arcticmodal-close">
		<i class="export__close"></i>
		<i class="export__close export__close_hover"></i>
		<i class="export__close export__close_active"></i>
	</span>
</div>
<div class="export_popup__content export_planning">
	<div class="col">
		<div class="date">
			<span class="text">Месяц</span>
			<input class="date_input" id="date" value="">
		</div>
		<div class="date">
			<span class="text">Кинотеатры</span>
			<select name="layout" class="layout">
				<option value="all">Все кинотеатры</option>
				<option value="current">Текущий кинотеатр</option>
			</select>
		</div>
	</div>
</div>
<div class="export_popup__bottom">
	<span class="done">Экспорт</span>
</div>