<div class="feedback-popup" data-html2canvas-ignore>
	<div class="feedback-popup-top">
		<span class="feedback-popup-top__title">Обращение в службу поддержки</span>
		<div class="closeWrap">
				<i class="arcticmodal-close"></i>
				<i class="arcticmodal-close arcticmodal-close_hover"></i>
				<i class="arcticmodal-close arcticmodal-close_active"></i>
		</div>
	</div>
	<i class="loader"></i>
	<form>
		<div class="feedback-popup__header">Заметили ошибку или появилась идея? Напишите нам:</div>
		<textarea class="feedback-popup__message" name="message" placeholder="Текст сообщения" maxlength="2000"></textarea>
		<div class="popupWrap__bottom">
			<button type="submit" class="btn btn-default">Отправить сообщение</button>
			<label><input class="feedback-popup__screenshot" name="screenshot" type="checkbox">Добавить скриншот страницы</label>
		</div>
	</form>
</div>
