<div class="hall_item__hall" hall="{{- number }}" cinema_id="{{- cinema_id }}" hall_id="{{- id }}" hall_title="{{- title }}">
	<div class="hall_item__hall__left">
		<span class="hall_item__hall__left__hall">Зал {{- title }}</span>
		<span class="hall_item__hall__left__format">
			{{ var allFormats = [] }}

			{{ for (var i in formats) { }}
				{{ if (formats[i] === 'PV') { }}
					{{ allFormats.push('Public video'); }}
				{{ } else { }}
					{{ allFormats.push(formats[i]); }}
				{{ } }}
			{{ } }}

			{{- allFormats.join(', ') }}
		</span>
	</div>
	<div class="hall_item__hall__right">
		{{ if (allowHallsCopy) { }}
			<i class="fa fa-files-o hall_item__hall__right__copy" title="Копирование расписания"></i>
		{{ } }}
		<span class="hall_item__hall__right__capacity">{{- capasity }} мест</span>
	</div>
</div>

{{ _.each(days_week, function(day){ }}
	{{ var index = _.indexOf(days_week, day); }}
	<div class="hall_day {{- day.day_of_week === 2 || day.day_of_week === 3 ? 'hol' : '' }}" hall_title="{{- title }}" formats="{{- formats }}" daym="{{- day.day_of_month }}" day_number="{{- index }}">
		<div class="release_day ui-state" col="{{- 7-index }}" number="{{- index+1 }}">
		</div>
	</div>
{{ }); }}