<div class="popup cinema_schedule__popup" data-status="3">
	<div class="top">
		<div class="search">
			<input type="text" class="input">
			<i class="remove_text"></i>
			<div class="short_list">
				<div class="tabs">
					<span class="item active">Текущая неделя</span>
					<span class="item">Предыдущая неделя</span>
				</div>
				<div class="sections">
					<div class="releases"></div>
					<div class="releases"></div>
				</div>
			</div>
			<div class="results"></div>
		</div>
	</div>
</div>