<span class="date">Неделя</span>
<div class="list">
	{{ if (halls.length < 7) { }}
		{{ _.each(halls, function(hall) { }}
			{{ var hallsFormatsText = hall.formats.join(', '); }}
			{{ if (hall.capasity) { }}
				{{ var hallText = hall.capasity + _.declOfNum(hall.capasity, [' место', ' места', ' мест']) + ', '; }}
			{{ } }}
			<div class="item">
				<span class="title" data-hall-title="{{- hall.title || hall.number }}">Зал {{- hall.title || hall.number }}</span>
				<span class="bottom" title="{{- hallText ? hallText : '' }}{{- hallsFormatsText.toUpperCase() }}">{{- hallText ? hallText : '' }}{{- hallsFormatsText.toUpperCase() }}</span>
			</div>
		{{ }); }}
		{{ for (var j = halls.length; j<7; j++) { }}
			<div class="item inactive">
				<span class="title"></span>
				<span class="bottom"></span>
			</div>
		{{ } }}
	{{ } else { }}
		{{ _.each(halls, function(hall) { }}
			{{ var hallsFormatsText = hall.formats.join(', '); }}
			{{ if (hall.capasity) { }}
				{{ var hallText = hall.capasity + _.declOfNum(hall.capasity, [' мест', ' места', ' мест']) + ', '; }}
			{{ } }}
			<div class="item">
				<span class="title" data-hall-title="{{- hall.title || hall.number }}">Зал {{- hall.title || hall.number }}</span>
				<span class="bottom" title="{{- hallText ? hallText : '' }}{{- hallsFormatsText.toUpperCase() }}">{{- hallText ? hallText : '' }}{{- hallsFormatsText.toUpperCase() }}</span>
			</div>
		{{ }); }}
	{{ } }}
</div>