<span class="releases_cell release_arrow"><i class="fa fa-angle-down"></i></span>
<span class="releases_cell release_check">
	<input type="checkbox" name="cinema_id" value="{{- model.id }}" class="release_item_check"
		{{- model.halls.length === model.checkedHalls.length && model.halls.length ? 'checked' : '' }}>
</span>
<span class="releases_cell release_name"><i class="text">{{- model.title }}</i> <span>{{- model.halls_count }}
	{{- _.declOfNum(model.halls_count, ['зал','зала','залов']) }}</span></span>
<span class="releases_cell release_city">{{- model.city }} <span>{{- model.country }}</span></span>
<span class="releases_cell release_key">{{- _.reduce(model.halls, function(memo, hall) { return memo + hall.keys.length; }, 0) }}</span>
<span class="releases_cell release_status {{- model.error_keys ? 'error' : '' }}">
	{{ if (model.error_keys) { }}
		{{- model.error_keys }} {{- _.declOfNum(model.error_keys, ['ошибка','ошибки','ошибок']) }}
	{{ } else { }}
		Ошибок нет
	{{ } }}
</span>

{{ if (showHallInfo) { }}
	<div class="keygen_hall_item clearfix">
		<div class="hall_info">
			<div class="halls_head">
				<div class="halls_cell hall_name">Зал</div>
				<div class="halls_cell hall_server">Сервер</div>
				<div class="halls_cell hall_date">Дата действия</div>
				<div class="halls_cell hall_status">Статус ключа</div>
			</div>
			{{ _.each(halls, function(hall) { }}
				<div class="halls_body clearfix" data-hall-id="{{- hall.id }}">
					<span class="halls_cell hall_name">
						<input type="checkbox" name="hall_id" value="{{- hall.id }}" class="hall_check" {{- _.contains(checkedHalls, hall.id) ? 'checked' : '' }}>
						<strong>{{- hall.title }}</strong>
					</span>

					<div class="hall_span_wr hall_server">
						{{ for (i in hall.keys) { }}
							<span class="halls_cell">{{- hall.projector ? hall.projector : '-' }}</span>
						{{ } }}
					</div>

					<div class="hall_span_wr">
						{{ _.each(hall.keys, function(key) { }}
							<span class="halls_cell hall_date">
								{{- moment(key.valid_since).format('DD.MM.YYYY') }}, <span class="key_time">{{- moment(key.valid_since).format('hh:mm') }}</span>
								<span class="key_time">—</span>
								{{- moment(key.valid_till).format('DD.MM.YYYY') }}, <span class="key_time">{{- moment(key.valid_till).format('hh:mm') }}</span>
							</span>
						{{ }) }}
					</div>

					<div class="hall_span_wr">
						{{ _.each(hall.keys, function(key) { }}
							<span class="halls_cell hall_status">
								<i class="fa fa-lock blocked {{- key.blocked ? 'show' : '' }} "></i>
								{{- kdm_status[key.kdm_status] }}, {{- email_status[key.email_status] }}</span>
						{{ }) }}
					</div>

					<div class="action_button">
						{{ _.each(hall.keys, function(key) { }}
							<div class="hall_span_wr action_key" data-key-id="{{- key.key_id }}">
								<span class="key_extend"><i class="fa fa-clock-o"></i>Продлить</span>
								<span class="key_lock"><i class="fa fa-lock"></i>{{- key.blocked ? 'Разблокировать' : 'Блокировать' }}</span>
								<!-- <a href="{{- key.link }}" target="_blank"><span><i class="fa fa-cloud-download"></i>Скачать</span></a> -->
							</div>
						{{ }) }}
					</div>
				</div>
			{{ }) }}
			<div class="address">
				<p><strong>Адреса доставки ключей:</strong></p>
				<span>
				{{ _.each(keys_emails, function(addressItem) { }}
					<a href="mailto:{{- addressItem }}">{{- addressItem }}</a>{{ if (+i !== +keys_emails.length - 1) { }},{{ } }}
				{{ }) }}
				</span>
			</div>
		</div>
	</div>
{{ } }}
