<div class="info">
	<div class="releases_head">
		<div class="releases_cell release_num">№</div>
		<div class="releases_cell release_name">Название проекта</div>
		<div class="releases_cell release_sent">Отправлено</div>
		<div class="releases_cell release_total">Всего</div>
		<div class="releases_cell release_halls">Залы</div>
	</div>
	<div class="releases_body">
		{{ _.each(requests, function(r) { }}
			<div class="info_item" data-href="/keygen/{{- id }}/{{- r.id }}">
				<span class="releases_cell release_num" title="{{- r.id}}">{{- r.id }}</span>
				<span class="releases_cell release_name" title="{{- r.title}}">
					<span class="text">{{- r.title }}</span>
					<span class="create_key" data-project_id="{{- id }}" data-request_id="{{- r.id }}">Создать ключ</span>
				</span>
				<span class="releases_cell release_sent" title="{{- r.sent}}">{{- r.sent }}</span>
				<span class="releases_cell release_total" title="{{- r.total}}">{{- r.total }}</span>
				<span class="releases_cell release_halls" title="{{- r.halls}}">{{- r.halls }}</span>
			</div>
		{{ }) }}
	</div>
</div>
