{{ if (_.isEmpty(keysGroups)) { }}
	<div class="missing_keys">Ключи не найдены</div>
{{ } else { }}
	{{ _.each(sortedCinemas, function(cinemaID) { }}
		{{ if (showCinemaTitle) { }}
			{{ var cinema = _.findWhere(cinemas, {id: parseInt(cinemaID) }) }}
			<div class="cinema_title">{{- cinema.title.ru || cinema.title.en || '-' }}, {{- cinema.city.title.ru || cinema.city.title.en || '-' }}</div>
		{{ } }}
		<div class="kdm_table">
			<div class="head">
				<span class="item item_hall_name" title="Название зала">Зал</span>
				<span class="item item_format" title="Формат">Формат</span>
				<span class="item item_since_until" title="Срок действия">Срок действия</span>

				{{ if (accessToKdm) { }}
					<span class="item item_kdm_name" title="Название файла">Название файла</span>
					<span class="item item_play_server">Play server</span>
				{{ } else { }}
					<span class="item item_kdm_name" title="Название файла" style="width: calc(52% - 145px);">Название файла</span>
				{{ } }}

				<span class="item item_download" title="Скачать">Скачать</span>
			</div>
			<div class="body">
				{{ _.each(keysGroups[cinemaID], function(key) { }}
					<div class="kdm_table_item">
						<span class="item item_hall_name" title="Зал: {{- key.hall.title }}">Зал: {{- key.hall.title }}</span>
						<span class="item item_format" title="{{- key.dcp.format || '-' }}">{{- key.dcp.format || '—' }}</span>
						<span class="item item_since_until" title="{{- key.valid_since }} - {{- key.valid_till }}">{{- key.valid_since }} &mdash; {{- key.valid_till }}</span>
						{{ if (accessToKdm) { }}
							<span class="item item_kdm_name" title="{{- key.title }}">{{- key.title }}</span>
							<span class="item item_play_server">{{- key.play_server ? 'Загружен' : '' }}</span>
						{{ } else { }}
							<span class="item item_kdm_name" title="{{- key.title }}" style="width: calc(52% - 145px);">{{- key.title }}</span>
						{{ } }}
						<span class="item item_download" title="Скачать ключ">
						{{ if (key.path) { }}
							<a class="url" download href="{{- key.path }}"></a>
						{{ } }}
						</span>
					</div>
				{{ }); }}
			</div>
		</div>
	{{ }) }}
{{ } }}
