<div class="filter_space">
	<div class="filter">
		<div class="search"></div>
		<div class="right">
			{{ if (cinemas.length > 1) { }}
				<select class="b-filter">
					<option value="" selected>Все кинотеатры</option>
					{{ _.each(cinemas, function(cinema, i) { }}
						<option value="{{- cinema.id }}" {{- cinema.id == currentFilter ? 'selected' : '' }}>
							{{- cinema.title }}
						</option>
					{{ }) }}
				</select>
			{{ } }}

			<div class="support">Нет нужного KDM?<br><b>8 800 100-11-24</b><span class="light"> (круглосуточно)</span></div>
		</div>
	</div>
</div>

<div id="keys_wr">
	<div class="list scroll"></div>
	<div class="info scroll"></div>
</div>
