<div class="mechanic-webinar">
	<div class="mechanic-webinar-top">
		<span class="release-edit-top__title">Скоро мастер-класс!</span>
		<div class="closeWrap">
				<i class="arcticmodal-close"></i>
				<i class="arcticmodal-close arcticmodal-close_hover"></i>
				<i class="arcticmodal-close arcticmodal-close_active"></i>
		</div>
	</div>
	<div class="mechanic-webinar-content">
		<p><b>Узнай как автоматизировать работу с ключами и DCP трейлерами!</b></p>
		<p>Быстро и кратко мы расскажем о том, как упростить вашу работу с ключами и трейлерами в DCP формате.</p>
		Вы сможете:
		<ul class="mechanic-webinar-list">
			<li>собрать все ключи в одной системе </li>
			<li>иметь доступ к ключам в любой момент с любого устройства</li>
			<li>скачать нужный ключ на компьютер</li>
			<li>настроить автоматическую загрузку ключей на плейсервера</li>
			<li>иметь доступ ко всем DCP трейлерам</li>
			<li>автоматически загружать нужные DCP трейлеры на плейсервера</li>
		</ul>
		<p>Время проведения: 12:00, 24 апреля 2015 года</p>
		<a class="mechanic-webinar__link" href="https://kinoplan24.ru/master_class" target="_blank">Записывайтесь на мастер-класс!</a>
	</div>
</div>
