{{ if (show) { }}
	{{ if(item == 'release') { }}

		{{ if(distributors && distributors.length) { }}
			{{ var dist = []; }}
			{{ for (var distributor in distributors) { }}
				{{ dist.push(distributors[distributor].name.short || distributors[distributor].name.full) }}
			{{ } }}
		{{ } }}

		<div class="nt-sidebar-notifications-item {{- is_new ? 'active' : '' }} ">
			{{	 if (event == 'update') { }}
			<a href="/release/{{- item_id }}" class="nt-sidebar-notifications-item__name">{{- title.ru }}
				{{ if (dist && dist.length) { }}
					<span class="nt-sidebar-notifications-item__dist">{{- dist.join(', ') }}</span>
				{{ } }}
			</a>
			<ul class="nt-sidebar-notifications-item__changes">
				{{	for (var i in updated_field) { switch (updated_field[i].field) { case 'duration_clean': if (!updated_field[i].updated.new) { }}
				<li>удалена длительность</li>
				{{ } else if (updated_field[i].updated.old) { }}
				<li>длительность изменена с <b>{{- updated_field[i].updated.old }} мин</b> на <b>{{- updated_field[i].updated.new }} мин</b></li>
				{{ } else { }}
				<li>добавлена длительность - <b>{{- updated_field[i].updated.new }} мин</b></li>
				{{ } break; case 'duration_full': if (!updated_field[i].updated.new) { }}
				<li>удалена длительность с трейлером</li>
				{{ } else if (updated_field[i].updated.old) { }}
				<li>длительность c трейлером изменена с <b>{{- updated_field[i].updated.old }} мин</b> на <b>{{- updated_field[i].updated.new }} мин</b></li>
				{{ } else { }}
				<li>добавлена длительность с трейлером - <b>{{- updated_field[i].updated.new }} мин</b></li>
				{{ } break; case 'date_russia_start': if (!updated_field[i].updated.new) { }}
				<li>удалена дата начала показа в России</li>
				{{ } else if (updated_field[i].updated.old) { }}
				<li>дата начала показа в России изменена с <b>{{- updated_field[i].updated.old }}</b> на <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } else { }}
				<li>добавлена дата начала показа в России - <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } break; case 'date_russia_string': if (!updated_field[i].updated.new) { }}
				<li>удалена дата начала показа</li>
				{{ } else if (updated_field[i].updated.old) { }}
				<li>дата начала показа изменена с <b>{{- updated_field[i].updated.old }}</b> на <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } else { }}
				<li>добавлена дата начала показа - <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } break; case 'date_russia_end': if (!updated_field[i].updated.new) { }}
				<li>удалена дата конца показа в России</li>
				{{ } else if (updated_field[i].updated.old) { }}
				<li>дата конца показа в России изменена с <b>{{- updated_field[i].updated.old }}</b> на <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } else { }}
				<li>добавлена дата конца показа в России - <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } break; case 'date_world_start': if (!updated_field[i].updated.new) { }}
				<li>удалена дата начала мирового показа</li>
				{{ } else if (updated_field[i].updated.old) { }}
				<li>дата начала мирового показа изменена с <b>{{- updated_field[i].updated.old }}</b> на <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } else { }}
				<li>добавлена дата начала мирового показа - <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } break; case 'date_world_end': if (!updated_field[i].updated.new) { }}
				<li>удалена дата конца мирового показа</li>
				{{ } else if (updated_field[i].updated.old) { }}
				<li>дата конца мирового показа изменена с <b>{{- updated_field[i].updated.old }}</b> на <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } else { }}
				<li>добавлена дата конца мирового показа - <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } break; case 'formats': if (!updated_field[i].updated.new) { }}
				<li>удален формат {{- updated_field[i].updated.old }}</li>
				{{ } else if (updated_field[i].updated.old) { }}
				<li>изменен формат с <b>{{- (updated_field[i].updated.old).join(', ') }}</b> на <b>{{- (updated_field[i].updated.new).join(', ') }}</b></li>
				{{ } else { }}
				<li>добавлен формат - <b>{{- updated_field[i].updated.new }}</b></li>
				{{ } break; case 'age': if (!updated_field[i].updated.new) { }}
				<li>удалена возрастная категория</li>
				{{ } else if (updated_field[i].updated.old) { }}
				<li>изменена возрастная категория с <b>{{- updated_field[i].updated.old }} лет</b> на <b>{{- updated_field[i].updated.new }} лет</b></li>
				{{ } else { }}
				<li>добавлена возрастная категория - <b>{{- updated_field[i].updated.new }} лет</b></li>
				{{ } break; } } }}
			</ul>
			{{ } else if (event == 'add') { }}
			<a href="/release/{{- item_id }}" class="nt-sidebar-notifications-item__name">{{- title.ru }}
				{{ if (dist && dist.length) { }}
					<span class="nt-sidebar-notifications-item__dist">{{- dist.join(', ') }}</span>
				{{ } }}
			</a>
			<ul class="nt-sidebar-notifications-item__changes">
				<li>Добавлен в релизы</li>
			</ul>
			{{ } else if (event == 'news') { }}
				<a href="/release/{{- item_id }}" class="nt-sidebar-notifications-item__name">{{- title.ru }}
				{{ if (dist && dist.length) { }}
					<span class="nt-sidebar-notifications-item__dist">{{- dist.join(', ') }}</span>
				{{ } }}
			</a>
			<ul class="nt-sidebar-notifications-item__changes">
				<li>{{- message }}</li>
			</ul>
			{{ } }}
			<span class="nt-sidebar-notifications-item__date">{{- Date.create(created*1000).format('{d} {month} {yyyy}, {HH}:{mm}') }}</span>
		</div>
	{{ } }}

	{{ if(item == 'kdm') { }}
		<div class="nt-sidebar-notifications-item {{- is_new ? 'active' : '' }} ">
			<span class="nt-sidebar-notifications-item__name">{{- cinema.title.ru }}. Зал {{- hall.title }}</span>
			<ul class="nt-sidebar-notifications-item__changes">
				<li>Доступен KDM для фильма «<b>{{- title.ru }}</b>» {{- format || '' }}</li>
			</ul>
			<span class="nt-sidebar-notifications-item__date">{{- Date.create(created*1000).format('{d} {month} {yyyy}, {HH}:{mm}') }}</span>
		</div>
	{{ } }}

	{{ if(item == 'shipment') { }}
		<div class="nt-sidebar-notifications-item {{- is_new ? 'active' : '' }} ">
			<a href="/release/{{- rel_id }}" class="nt-sidebar-notifications-item__name">{{- title.ru }}</a>
			{{ if (shipper == 'DD') { }}
			<ul class="nt-sidebar-notifications-item__changes">
				{{ if (event === 'add') { }}
					<li>Началась загрузка цифровой копии фильма в кинотеатр «<b>{{- cinema.title.ru }}</b>»</li>
				{{ } else { }}
					<li>Цифровая копия фильма доставлена в кинотеатр «<b>{{- cinema.title.ru }}</b>»</li>
				{{ } }}
			</ul>
			{{ } else { }}
			<ul class="nt-sidebar-notifications-item__changes">
				<li>Диск {{- event == 'add' ? 'отправлен' : 'доставлен' }} в кинотеатр «<b>{{- cinema.title.ru }}</b>»</li>
			</ul>
			{{ } }}
			<span class="nt-sidebar-notifications-item__date">{{- _.isNumber(created) ? Date.create(created*1000).format('{d} {month} {yyyy}, {HH}:{mm}') : Date.create(+moment(created)).format('{d} {month} {yyyy}, {HH}:{mm}')  }}</span>
		</div>
	{{ } }}

	{{ if(item == 'custom') { }}
		<div class="nt-sidebar-notifications-item {{- is_new ? 'active' : '' }} ">
			<span class="nt-sidebar-notifications-item__name"></span>
			<ul class="nt-sidebar-notifications-item__changes">
				<li>{{- message || '' }}</li>
			</ul>
			<span class="nt-sidebar-notifications-item__date">{{- Date.create(created*1000).format('{d} {month} {yyyy}, {HH}:{mm}') }}</span>
		</div>
	{{ } }}
{{ } }}
