<div class="nt-sidebar-item-header">
	<span class="nt-sidebar-item-header__header">Оповещения</span>
	<a href="#" class="nt-sidebar-item-header__read-all empty"></a>
	<span class="nt-sidebar-item-header__count empty">Новых: <span class="notify_count">0</span></span>
</div>
<div class="nt-sidebar-item-filter">
	<a href="#" class="nt-sidebar-item-filter__btn active" data-filter="release">Релизы&nbsp;<span class="count empty">0</span></a>
	{{ if ( _.contains(['cinema','mechanic'], user.type) && user.approved && user.cinema.length ) { }}
		<a href="#" class="nt-sidebar-item-filter__btn" data-filter="kdm">Ключи&nbsp;<span class="count empty">0</span></a>
		<a href="#" class="nt-sidebar-item-filter__btn" data-filter="shipment">Доставка&nbsp;<span class="count empty">0</span></a>
	{{ } }}
</div>
<div id="notifications" class="nt-sidebar-notifications-box"></div>
