{{ if (releases_filter != 'distributor' && releases_filter != 'formats') { }}
	<div class="load_prev_releases">+ Загрузить предыдущий месяц</div>
{{ } else if (length) { }}
	{{ if (releases_filter === 'distributor') { }}
		<span class="distributor_name">Релизы {{- distributorName }}</span>
	{{ } }}

	<div class="releases_head">
		<div class="releases_cell star_head"></div>
		<span class="releases_cell release_start_date">Дата</span>
		<span class="releases_cell release_name">Название</span>
		<span class="releases_cell release_name">Оригинальное название</span>
		<span class="releases_cell dist">Дистрибьютор</span>
		<span class="releases_cell time">Хроно</span>
		<span class="releases_cell copies">Копии</span>
		<span class="releases_cell age">Возраст</span>
		<span class="releases_cell formats">Формат</span>
		<span class="releases_cell trailers">Трейлеры</span>
	</div>
	<div class="releases_body"></div>
{{ } else { }}
	<p class="releases_empty">Релизы отсутствуют</p>
{{ } }}