<div class="film_start_marker"></div>
<span class="film_title_timeline {{- problem ? 'problem' : '' }}" release_title="{{- title }}" title="{{- missingPlaning }}">
	{{ if (accessContent) { }}
		{{ if (has_copy && has_kdm) { }}
			<i class="has_copy_kdm" title="Ключ и копии есть"></i>
		{{ } else if (has_copy) { }}
			<i class="has_copy" title="Есть копии, но ключ отсутствует"></i>
		{{ } else if (has_kdm) { }}
			<i class="has_kdm" title="Есть ключ, но копии отсутствуют"></i>
		{{ } }}
	{{ } }}

	{{- relTitle }}
</span>
<span class="film_format_timeline" title="{{- showingFormats }}">{{- showingFormats }}</span>
<div class="film_time_wrap" title="">
	<span class="film_start_timeline">{{- start }}</span>
	<span class="film_end_timeline"></span>
</div>
<i class="remove"></i>