<div class="ad_info">
	<i class="ad_mi {{- !adDuration ? 'disabled' : '' }}" data-minutes-change="-1"></i>
	<span class="ad_duration">{{- adDuration + ' мин.' }}</span>
	<i class="ad_pl" data-minutes-change="1"></i>
	<span class="ad_start">{{- adStart }}</span>
	<span class="ad_end">{{- adEnd }}</span>
</div>
<div class="film_item_info">
	<span class="hall_title">{{- 'Зал ' + hallTitle + ':' }}</span>
	<span class="film_title">{{- filmTitle }}</span>
	<span class="delete_film">Удалить</span>
	<span class="show_and_chrono">{{- 'Шоу: ' + filmShow + ' мин. Хроно: ' + filmDuration + ' мин.' }}</span>
</div>
<div class="pause_info">
	<i class="pause_mi {{- !pauseDuration ? 'disabled' : '' }}" data-minutes-change="-5"></i>
	<span class="pause_duration">{{- pauseDuration + ' мин.' }}</span>
	<i class="pause_pl" data-minutes-change="5"></i>
	<span class="pause_start">{{- pauseStart }}</span>
	<span class="pause_end">{{- pauseEnd }}</span>
</div>