<td class="release-title" data-identifier="{{- id + formats + upgrades }}">{{- title }}, {{- formats }}{{- upgrades ? ', ' + upgrades : '' }}</td>
<td class="release-duration">{{- duration }}</td>
{{ for (var j = 10; j < 26; j++) { }}
	{{ var searchingStart = _.find(starts, function(start) { return parseInt(start.slice(0, 2)) === j || parseInt(start.slice(0, 2)) === j - 24; }); }}
	<td class="release-start" {{- searchingStart ? 'data-identifier='+ id + formats + upgrades : '' }}>{{- searchingStart || '' }}</td>
{{ } }}