<section class="release-card-section">
	<table class="release-card-table">
		{{ if (date.russia.preview && date.russia.preview.length && date.russia.preview !== '0000-00-00') { }}
			<tr>
				<td class="release-card-table__type">предпоказ</td>
				<td>{{- Date.create(date.russia.preview).format('{d} {month} {yyyy}') }}</td>
			</tr>
		{{ } }}

		<tr>
			<td class="release-card-table__type">дата релиза</td>
			<td>
				{{ if (!date.russia.string.match(/\d\d.\d\d.\d\d\d\d/g) && !alternate) { }}
					{{- date.russia.string }}
				{{ } else { }}
					{{-  Date.create(date.russia.start).format('{d} {month} {yyyy}') }}
					{{ if (date.russia.end) { }}
					- {{-  Date.create(date.russia.end).format('{d} {month} {yyyy}') }}
					{{ } }}
				{{ } }}
			</td>
		</tr>

		{{ if (distributors.length) { }}
			<tr>
				<td class="release-card-table__type">дистрибьютор</td>
				<td>
					{{ _.each(distributors, function(distributor, index) { }}
						{{ if (isDistributorsAllowed) { }} <a class="release-card__distributor" href="/distributors/{{- distributor.id }}"> {{ } }}
							{{- distributor.name.full || distributor.name.short }}
						{{ if (isDistributorsAllowed) { }} </a> {{ } }}
						{{ if (index < distributors.length - 1) { }},{{ } }}
					{{ }) }}
				</td>
			</tr>
		{{ } }}

		{{ if (budget && budget.value) { }}
			<tr>
				<td class="release-card-table__type">бюджет</td>
				<td>{{= _.formatCurrency(budget.value, budget.currency) }}</td>
			</tr>
		{{ } }}

		{{ if (genres.length) { }}
			<tr>
				<td class="release-card-table__type">жанр</td>
				<td>{{- genres.join(', ') }}</td>
			</tr>
		{{ } }}

		{{ if (copies) { }}
			<tr>
				<td class="release-card-table__type">копий</td>
				<td>{{- copies}}</td>
			</tr>
		{{ } }}

		{{ if (duration.clean) { }}
			<tr class="{{- !cinemasRights ? 'no-rights' : '' }}">
				<td class="release-card-table__type">хроно</td>
				<td data-duration-type="clean">
					{{- duration.clean }} мин.
					{{ if (userType === 'cinema') { }}
						<i class="fa fa-check {{- chosen_duration === 'clean' || (chosen_duration === 'full' && !duration.full) ? 'active' : 'release-card__choose-duration' }}"></i>
						<i class="fa fa-pencil release-card__edit-duration"></i>
					{{ } }}
				</td>
			</tr>
		{{ } }}

		{{ if (duration.full) { }}
			<tr class="{{- !cinemasRights ? 'no-rights' : '' }}">
				<td class="release-card-table__type">с роликами</td>
				<td data-duration-type="full">
					{{- duration.full }} мин.
					{{ if (userType === 'cinema') { }}
						<i class="fa fa-check {{- chosen_duration === 'full' ? 'active' : 'release-card__choose-duration' }}"></i>
						<i class="fa fa-pencil release-card__edit-duration"></i>
					{{ } }}
				</td>
			</tr>
		{{ } }}

		{{ if ((!duration.clean && !duration.full && duration.custom) || (!_.some(_.values(duration)) && !cinemasRights)) { }}
			<tr>
				<td class="release-card-table__type">хроно</td>
				<td data-duration-type="custom">не задано</td>
			</tr>
		{{ } }}

		{{ if (duration.custom && userType === 'cinema') { }}
			<tr class="{{- !cinemasRights ? 'no-rights' : '' }}">
				<td class="release-card-table__type">используемая</td>
				<td data-duration-type="custom">
					{{- duration.custom }} мин.
					<i class="fa fa-check {{- chosen_duration === 'custom' ? 'active' : 'release-card__choose-duration' }}"></i>
					<i class="fa fa-pencil release-card__edit-duration"></i>
					<i class="fa fa-times release-card__remove-duration"></i>
				</td>
			</tr>
		{{ } }}

		{{ if (!_.some(_.values(duration)) && cinemasRights && userType === 'cinema') { }}
			<tr>
				<td class="release-card-table__type">хроно</td>
				<td>
					<a class="release-card__set-duration" href="#">задать</a>
				</td>
			</tr>
		{{ } }}
	</table>
</section>

{{ if (integrated_trailers.length) { }}
	<section class="release-card-section">
		<h3 class="release-card-section__title">Вшитые ролики</h3>
		<ul class="release-card-list">
		{{ _.each(integrated_trailers, function(trailer) { }}
			<li>{{- _.secondsToMinutes(trailer.duration, 'm:ss') + ' мин.' }} &mdash; {{- trailer.title.ru || trailer.title.en }}</li>
		{{ }) }}
		{{ if (integrated_trailers.length > 1 && integratedTrailersDuration) { }}
			<li>Итого: {{- _.secondsToMinutes(integratedTrailersDuration, 'm:ss') + ' мин.' }}</li>
		{{ } }}
		</ul>
	</section>
{{ } }}

{{ if (description) { }}
	<section class="release-card-section">
		<h3 class="release-card-section__title">Описание сюжета</h3>
		<p class="release-card__description">{{- description }}</p>
	</section>
{{ } }}

{{ if (honors.length) { }}
	<section class="release-card-section">
		<h3 class="release-card-section__title">Номинации и награды</h3>
		<ul class="release-card-list">
			{{ _.each(honors, function(honor) { }}
				<li>{{- honor }}</li>
			{{ }) }}
		</ul>
	</section>
{{ } }}

{{ if (trailersVersions.length || release_trailers.length) { }}
	<section class="release-card-section">
		<h3 class="release-card-section__title">Трейлеры</h3>
		{{ _.each(trailersVersions, function(version) { }}
			<div class="release-card-trailer">
				<a class="release-card-trailer-preview" href="{{- version.preview }}" target="_blank" data-id="{{- version.id }}">
					<img class="release-card-trailer__thumb" src="{{- version.thumbHD || version.thumb || '/img/trailer.jpg' }}">
				</a>
				<div class="release-card-trailer-info">
					<span class="release-card-trailer__version">Трейлер {{- version.version }}</span>
					<span class="release-card-trailer__duration">{{- _.secondsToMinutes(version.duration, 'm:ss') }}</span>
				</div>
			</div>
		{{ }) }}

		{{ _.each(release_trailers, function(trailer) { }}
			<div class="release-card-trailer">
				<a class="release-card-trailer-preview" href="#" target="_blank" data-type="youtube" data-id="{{- trailer.id }}">
					<img class="release-card-trailer__thumb" src="{{- trailer.banner || '/img/image__poster.png' }}">
				</a>
				<div class="release-card-trailer-info">
					<span class="release-card-trailer__version">{{- trailer.title }}</span>
				</div>
			</div>
		{{ }) }}
	</section>
{{ } }}

{{ if (directors.length) { }}
	<section class="release-card-section">
		<h3 class="release-card-section__title">Режиссёр</h3>
		<ul class="release-card-list">
			{{ _.each(directors, function(director) { }}
				<li>{{- director }}</li>
			{{ }) }}
		</ul>
	</section>
{{ } }}

{{ if (_.some([cast.length, rating.kinopoisk, rating.imdb, date.world.start, countries.length, year])) { }}
	<section class="release-card-section">
		<h3 class="release-card-section__title">Титры{{ if (rating.kinopoisk || rating.imdb) { }} и оценки{{ } }}</h3>
		{{ if (cast.length) { }}
			<table class="release-card-table release-card-table--cast">
				<tr>
					<td class="release-card-table__type" rowspan="{{- cast.length }}">актеры</td>
					<td>{{- cast[0] }}</td>
				</tr>
				{{ _.each(cast.slice(1), function(actor) { }}
					<tr>
						<td>{{- actor }}</td>
					</tr>
				{{ }) }}
			</table>
		{{ } }}

		{{ if (rating.kinopoisk || rating.imdb || date.world.start || countries.length || year) { }}
			<table class="release-card-table release-card-table--rating">
				{{ if (rating.kinopoisk) { }}
					<tr>
						<td class="release-card-table__type">кинопоиск</td>
						<td>
							{{ if (kinopoisk_id) { }} <a class="release-card__rating" href="http://www.kinopoisk.ru/film/{{- kinopoisk_id }}" target="_blank"> {{ } }}
								{{- rating.kinopoisk.toFixed(1) }}<span class="release-card__rating-of">/10</span>
							{{ if (kinopoisk_id) { }} </a> {{ } }}
						</td>
					</tr>
				{{ } }}

				{{ if (rating.imdb) { }}
					<tr>
						<td class="release-card-table__type">IMDb</td>
						<td>
							{{ if (imdb_id) { }} <a class="release-card__rating" href="http://www.imdb.com/title/tt{{- imdb_id }}/" target="_blank">{{ } }}
								{{- rating.imdb.toFixed(1) }}<span class="release-card__rating-of">/10</span>
							{{ if (imdb_id) { }} </a> {{ } }}
						</td>
					</tr>
				{{ } }}

				{{ if (date.world.start) { }}
					<tr>
						<td class="release-card-table__type">мир</td>
						<td>{{- Date.create(date.world.start).format('{d} {month} {yyyy}') }}</td>
					</tr>
				{{ } }}

				{{ if (countries) { }}
					<tr>
						<td class="release-card-table__type">страна</td>
						<td>{{- countries }}</td>
					</tr>
				{{ } }}

				{{ if (year) { }}
					<tr>
						<td class="release-card-table__type">год</td>
						<td>{{- year }}</td>
					</tr>
				{{ } }}
			</table>
		{{ } }}
	</section>
{{ } }}
