{{ var releaseFiles = release.files; }}
{{ var youTubeTrailers = release.release_trailers; }}
{{ var dcpTrailers = release.trailers; }}
{{ var releaseUNF = release.unf_passport; }}
{{ var releaseLicense = release.license; }}
{{ var releaseMemorandum = release.memorandum; }}

<span class="looking_release">Количество просмотров релиза: <b>{{- count_click }}</b></span>

{{ if (releaseFiles.length > 0 || releaseUNF || releaseMemorandum || releaseLicense) { }}
	<span class="looking_files_table_title">Статистика по файлам</span>
	<div class="looking_files_table">
		<div class="head">
			<span class="item item_name">Название</span>
			<span class="item item_type">Тип</span>
			<span class="item item_views">Скачиваний</span>
		</div>
		<div class="body">
			{{ if (releaseLicense) { }}
				<div class="looking_files_table_item">
					<span class="item item_name" title="Прокатное удостоверение">Прокатное удостоверение</span>
					<span class="item item_type" title="Документ">Документ</span>
					<span class="item item_views">
						{{ var licenseDoc = _.find(license, function(doc) { return doc.id === 0 }); }}
						{{ if (licenseDoc) { }}
							{{- licenseDoc.count }}
						{{ } else { }}
							0
						{{ } }}
					</span>
				</div>
			{{ } }}

			{{ if (releaseUNF) { }}
				<div class="looking_files_table_item">
					<span class="item item_name" title="Удостоверение национального фильма">УНФ</span>
					<span class="item item_type" title="Документ">Документ</span>
					<span class="item item_views">
						{{ var unfDoc = _.find(unf_passport, function(doc) { return doc.id === 0 }); }}
						{{ if (unfDoc) { }}
							{{- unfDoc.count }}
						{{ } else { }}
							0
						{{ } }}
					</span>
				</div>
			{{ } }}

			{{ if (releaseMemorandum) { }}
				<div class="looking_files_table_item">
					<span class="item item_name" title="Меморандум">Меморандум</span>
					<span class="item item_type" title="Документ">Документ</span>
					<span class="item item_views">
						{{ var memorandumDoc = _.find(memorandum, function(doc) { return doc.id === 0 }); }}
						{{ if (memorandumDoc) { }}
							{{- memorandumDoc.count }}
						{{ } else { }}
							0
						{{ } }}
					</span>
				</div>
			{{ } }}

			{{ for (var file in releaseFiles) { }}
				{{ var curFile = _.find(looking_files, function(r) { return r.id == releaseFiles[file].id; }); }}
				{{ var curFileTitle = '-'; }}

				{{ if (releaseFiles[file].title) { }}
					{{ curFileTitle = releaseFiles[file].title; }}
				{{ } }}

				{{ if (releaseFiles[file].type) { }}
					{{ if (releaseFiles[file].type == 'poster') { }}
						{{ var curFileType = 'Постер'; }}
					{{ } else if (releaseFiles[file].type == 'marketing') { }}
						{{ var curFileType = 'Маркетинг'; }}
					{{ } else if (releaseFiles[file].type == 'document') { }}
						{{ var curFileType = 'Документ'; }}
					{{ } else if (releaseFiles[file].type == 'video') { }}
						{{ var curFileType = 'Видео'; }}
					{{ } else if (releaseFiles[file].type == 'audio') { }}
						{{ var curFileType = 'Аудио'; }}
					{{ } else { }}
						{{ var curFileType = '-'; }}
					{{ } }}
				{{ } }}

				{{ if (curFile) { }}
					<div class="looking_files_table_item">
						<span class="item item_name" title="{{- curFileTitle }}">{{- curFileTitle }}</span>
						<span class="item item_type" title="{{- curFileType }}">{{- curFileType }}</span>
						<span class="item item_views">{{- curFile.count }}</span>
					</div>
				{{ } else { }}
					<div class="looking_files_table_item">
						<span class="item item_name" title="{{- curFileTitle }}">{{- curFileTitle }}</span>
						<span class="item item_type" title="{{- curFileType }}">{{- curFileType }}</span>
						<span class="item item_views">0</span>
					</div>
				{{ } }}
			{{ } }}
		</div>
	</div>
{{ } }}


{{ if (youTubeTrailers.length > 0 || dcpTrailers.length > 0) { }}
	<span class="trailers_statistics_table_title">Статистика по трейлерам</span>
	<div class="trailers_statistics_table">
		<div class="head">
			<span class="item item_version">Версия</span>
			<span class="item item_views">Просмотров</span>
			<span class="item item_downloads">Скачиваний</span>
		</div>
		<div class="body">
			{{ for (var trailer in youTubeTrailers) { }}
				{{ var curTrailerLook = _.find(looking_trailers, function(r) { return r.id == youTubeTrailers[trailer].id; }); }}

				<div class="trailers_statistics_table_item">
					<span class="item item_version" title="Трейлер с youtube">{{- youTubeTrailers[trailer].title }} <span style="color: #9b9b9b;">YouTube</span></span>
					<span class="item item_views">
						{{ if (curTrailerLook) { }}
							{{- curTrailerLook.count }}
						{{ } else { }}
							0
						{{ } }}
					</span>
					<span class="item item_downloads">-</span>
				</div>
			{{ } }}

			{{ for (var trailer in dcpTrailers) { }}
				{{ if (!dcpTrailers[trailer].hidden) { }}
					<div class="trailers_statistics_table_item">
						{{ var curTrailerLook = _.find(looking_trailers, function(r) { return r.id == dcpTrailers[trailer].id; }); }}
						{{ var curTrailerDownload = _.find(download_trailers, function(r) { return r.id == dcpTrailers[trailer].id; }); }}

						<span class="item item_version" title="{{- dcpTrailers[trailer].version }} {{- dcpTrailers[trailer].formats.join(', ') }} {{- dcpTrailers[trailer].aspect }}">{{- dcpTrailers[trailer].version }} {{- dcpTrailers[trailer].formats.join(', ') }} {{- dcpTrailers[trailer].aspect }}</span>
						<span class="item item_views">
							{{ if (curTrailerLook) { }}
								{{- curTrailerLook.count }}
							{{ } else { }}
								0
							{{ } }}
						</span>
						<span class="item item_downloads">
							{{ dcpTrailers[trailer].type.each(function(type) { }}
								<p class="trailer_type">
									{{ if (type == 'hd') { }}
										HD 1080:
									{{ } else if (type == 'hd720') { }}
										HD 720:
									{{ } else { }}
										<b>DCP:</b>
									{{ } }}

									{{ if (curTrailerDownload) { }}
										{{ var downloadCount = _.find(curTrailerDownload, function(num, key) { return key == type; }); }}
										{{ if (downloadCount) { }}
											{{ if (type == 'dcp') { }}
												<b>{{- downloadCount }}</b>
											{{ } else { }}
												{{- downloadCount }}
											{{ } }}
										{{ } else { }}
											{{ if (type == 'dcp') { }}
												<b>0</b>
											{{ } else { }}
												0
											{{ } }}
										{{ } }}
									{{ } else { }}
										0
									{{ } }}
								</p>
							{{ }); }}
						</span>
					</div>
				{{ } }}
			{{ } }}
		</div>
	</div>
{{ } }}