<div class="left">
	<div class="poster">
		{{ if (cover) { }}
			<img class="js-poster" src="{{- cover}}" alt="poster">
		{{ } else { }}
			<div class="release_poster_empty gradient_{{- Math.floor(Math.random() * (8)) + 1 }}">{{- title.ru || title.en || ""}}</div>
		{{ } }}
	</div>
	{{ if (passport) { }}
		<div class="passport">
			<span class="title">Прокатное удостоверение</span>
			<span class="text">
				{{ if (license) { }}
					<a href="{{- license }}" class="url_license" target="blank" download>{{- passport }}</a>
				{{ } else { }}
					<span>{{- passport }}</span>
				{{ } }}
				{{ if (passport_valid && passport_valid.from && passport_valid.from !== '0000-00-00') { }}
					от {{- Date.create(passport_valid.from).format('{dd}.{MM}.{yyyy}') }}
				{{ } }}
			</span>
		</div>
	{{ } }}
	<div class="note {{- note ? 'active' : '' }}">
		<textarea placeholder="Добавить заметку..." class="textarea" name="">{{- note ? note : '' }}</textarea>
		<div class="buttons">
			<span class="add">Добавить</span>
			<span class="save">Сохранить</span>
		</div>
		<i class="remove"></i>
	</div>

	{{ if (currentUser.type === 'cinema') { }}
		<div class="dropdown">
			<div class="btn btn-dropdown btn-dropdown--width_full dropdown-toggle" style="background-color:{{- color || defautPalette[0] }};"></div>
			<ul class="dropdown-menu dropdown-menu--padded dropdown-menu--width_full">
			{{ _.each(_.without(defautPalette, color || defautPalette[0]), function(color) { }}
				<li><a href="#" class="dropdown-menu__item" data-color="{{- color }}" style="background-color:{{- color }};"></a></li>
			{{ }) }}
			</ul>
		</div>
	{{ } }}

	{{ if (editable) { }}
		<div class="edit-release">
			<a href="#" class="edit-release__edit"><i class="fa fa-pencil-square-o"></i> Внести изменения</a>
			<span class="edit-release__date">{{- Date.create(updated*1000).format('{dd}.{MM}.{yy}, {HH}:{mm}') }}</span>
		</div>
	{{ } else { }}
		<span class="last-date">Последнее изменение: {{- Date.create(updated*1000).format('{dd}.{MM}.{yy}, {HH}:{mm}') }}</span>
		<div class="mistake">Сообщить о неточности</div>
	{{ } }}

</div>
<div class="right">
	<div class="top__info">
		<div class="top">
			<div class="top__left">
				<h1 class="ru">{{- title.ru}}
					<span class="age">{{- age}}+</span>
					{{ if (_.findWhere(currentUser.cinema_rights, {master: 1}) && obj.user_id) { }}
						<i class="fa fa-trash-o delete_custom" title="Удалить релиз"></i>
					{{ } }}
				</h1>
				{{ if (title.en) { }}
					<h2 class="en">{{- title.en}}</h2>
				{{ } }}
				<div class="data_list">
					{{ for (var i in formats) { }}
						<span class="data">{{- formats[i] }}</span>
					{{ } }}
					{{ if (image_format.length) { }}
						{{ for (var i in image_format) { }}
							<span class="data">{{- image_format[i] }}</span>
						{{ } }}
					{{ } }}
					{{ if (sound_format.length) { }}
						{{ for (var i in sound_format) { }}
							<span class="data">{{- sound_format[i] }}</span>
						{{ } }}
					{{ } }}
					{{ if (motion_format.length) { }}
						{{ for (var i in motion_format) { }}
							<span class="data">{{- motion_format[i] }}</span>
						{{ } }}
					{{ } }}
				</div>
			</div>
			{{ if (currentUser.type === 'cinema') { }}
				<div class="top__right">
					<span class="favorite {{- my.length > 0 ? 'active' : '' }} js-modal">Мой репертуар</span>
				</div>
			{{ } }}
		</div>
		<div class="tabs">
			{{ if (trailers.length < 0 && !filesNumber && !activeKey && ((currentUser.type !== 'distributor' && !currentUser.vip && !distributorId) || !currentUser.admin) && !currentUser.type !== 'cinema') { }}
				<span class="item single" data-tab="release_info">Информация</span>
			{{ } else { }}
				<span class="item" data-tab="release_info">Информация</span>
			{{ } }}

			{{ if (trailers.length > 0) { }}
				<span class="item" data-tab="release_trailers" onClick="_gaq.push(['_trackEvent', 'Трейлеры', 'Открыли вкладку']);">Трейлеры DCP</span>
			{{ } }}

			{{ if (filesNumber) { }}
				<span class="item" data-tab="release_files">Файлы <span class="item_number">{{- filesNumber }}</span></span>
			{{ } }}

			{{ if (activeKey && currentUser.approved) { }}
				<span class="item" data-tab="release_kdm">Ключи <span class="item_number">{{- activeKey }}</span></span>
			{{ } }}

			{{ if ((currentUser.type === 'distributor' && currentUser.vip && distributorId) || currentUser.admin) { }}
				<span class="item analysis" data-tab="release_analysis">Анализ</span>
				<span class="item statistics" data-tab="release_statistics">Статистика</span>
			{{ } }}

			{{ if (currentUser.type === 'cinema') { }}
				<span class="item painting" data-tab="release_painting">Роспись</span>
			{{ } }}

			{{ if (reportsAccess) { }}
				<span class="item report" data-tab="release_report">Отчет</span>
			{{ } }}
		</div>
	</div>
	<div class="release_card_wrapper"></div>
</div>