{{ var distributorsNames = _.map(distributors, function(item) { return item.name.short || item.name.full}).join(', '); }}
{{ var allFormats = '-'; }}

{{ if (formats.length) { }}
	{{ allFormats = formats.join(', '); }}
	{{ if (sound_format.length) { }}
		{{ allFormats = allFormats + ', ' + sound_format.join(', ') }}
	{{ } }}
	{{ if (motion_format.length) { }}
		{{ allFormats = allFormats + ', ' + motion_format.join(', ') }}
	{{ } }}
{{ } }}

{{ if (collection.releases_filter != 'distributor' && collection.releases_filter != 'formats') { }}
	<div class="releases_cell star_head noclick">
		{{ if(userType === 'cinema') { }}
			<div class="star js-modal"><img class="{{- my.length > 0 ? 'active' : '' }}" widtd="20" height="19" src="/img/pixel.gif" alt=""></div>
		{{ } }}
	</div>
	<a class="releases_cell release_name" href="/release/{{- id }}" title="{{- title.ru}}">{{- title.ru }}</a>

	<a class="releases_cell release_name" href="/release/{{- id }}" title="{{- title.en}}">
		{{  if (title.en) { }}
			{{- title.en}}
		{{ } else { }}
			-
		{{ } }}
	</a>

	<a class="releases_cell dist" href="/release/{{- id }}" title="{{- distributorsNames }}">
		{{- distributorsNames }}
	</a>
	<a class="releases_cell time" href="/release/{{- id }}">
		{{  if (duration.full || duration.clean) { }}
			{{- duration.clean}} {{  if (duration.full) { }}
			({{- duration.full }})
			{{ } }}
		{{ } else { }}
			-
		{{ } }}
	</a>
	<a class="releases_cell copies" href="/release/{{- id }}">
		{{  if (copies) { }}
			{{- copies}}
		{{ } else { }}
			-
		{{ } }}
	</a>
	<a class="releases_cell age" href="/release/{{- id }}">{{- age}}+</a>
	<a class="releases_cell formats" href="/release/{{- id }}" title="{{- allFormats }}">{{- allFormats }}</a>
	<a class="releases_cell trailers" href="/release/{{- id }}">
		{{  if (dcp_trailers != 0) { }}
			{{- dcp_trailers }}
		{{ } else { }}
			-
		{{ } }}
	</a>
{{ } else { }}
	<div class="releases_cell star_head noclick">
		{{ if(userType === 'cinema') { }}
			<div class="star js-modal"><img class="{{- my.length > 0 ? 'active' : '' }}" widtd="20" height="19" src="/img/pixel.gif" alt=""></div>
		{{ } }}
	</div>
	<span class="release_start_date">
		<a class="releases_cell release_start_date">
			{{- Date.create(date.russia.start).format('{dd}.{MM}.{yyyy}') }}
			<span class="releases_start_dow">{{- WEEKDAY[Date.create(date.russia.start).format('{weekday}')] }}</span>
		</a>
	</span>
	<a class="releases_cell release_name" href="/release/{{- id }}" title="{{- title.ru}}">{{- title.ru }}</a>
	<a class="releases_cell release_name" href="/release/{{- id }}" title="{{- title.en}}">
		{{ if (title.en) { }}
			{{- title.en}}
		{{ } else { }}
			-
		{{ } }}
	</a>
	<a class="releases_cell dist" href="/release/{{- id }}" title="{{- distributorsNames }}">
	{{- distributorsNames }}
	</a>
	<a class="releases_cell time" href="/release/{{- id }}">
		{{ if (duration.full || duration.clean) { }}
			{{- duration.clean}}
			{{ if (duration.full) { }}
				({{- duration.full }})
			{{ } }}
		{{ } else { }}
			-
		{{ } }}
	</a>
	<a class="releases_cell copies" href="/release/{{- id }}">
		{{ if (copies) { }}
		{{- copies}}
		{{ } else { }}
		-
		{{ } }}
	</a>
	<a class="releases_cell age" href="/release/{{- id }}">{{- age}}+</a>
	<a class="releases_cell formats" href="/release/{{- id }}" title="{{- allFormats }}">{{- allFormats }}</a>
	<a class="releases_cell trailers" href="/release/{{- id }}">
		{{ if (dcp_trailers != 0) { }}
		{{- dcp_trailers }}

		{{ } else { }}
		-
		{{ } }}
	</a>
{{ } }}
