<div class="left">
	<div class="rel_day_start">
		<i class="minus_start" data-minutes-change="-5"></i>
		<span class="start_value">{{- start }}</span>
		<i class="plus_start" data-minutes-change="5"></i>
	</div>
	<span class="rel_day_end">{{- Date.create(start).addMinutes(duration).addMinutes(ad).format('{HH}:{mm}') }}</span>
</div>

<div class="right">
	<div class="rel_day_color {{- color }}"></div>

	<div class="rel_day_ad">
		<i class="minus_ad" data-minutes-change="-1"></i>
		<span class="ad_value">{{- ad }} мин.</span>
		<i class="plus_ad" data-minutes-change="1"></i>
	</div>

	<div class="rel_day">
		<span class="rel_day_title {{- problem ? 'problem' : '' }}" release_title="{{- title }}" title="{{- missingPlaning }}">
		{{ if (accessContent) { }}
			{{ if (has_copy && has_kdm) { }}
				<i class="has_copy_kdm" title="Ключ и копии есть"></i>
			{{ } else if (has_copy) { }}
				<i class="has_copy" title="Есть копии, но ключ отсутствует"></i>
			{{ } else if (has_kdm) { }}
				<i class="has_kdm" title="Есть ключ, но копии отсутствуют"></i>
			{{ } }}
		{{ } }}

		{{- relTitle }}
		</span>

		{{ if (age) { }}
			<span class="rel_day_age">{{- age }}+</span>
		{{  } }}

		{{ if (showingFormats != '') { }}
			<span class="rel_day_formats">
				<span class="format_wrap">{{- formats }}</span>
				{{- upgrades }}
			</span>
		{{ } }}
		<span class="rel_day_duration {{- changedDurationClass }}">{{- duration }} мин.</span>
	</div>

	<div class="rel_day_pause">
		<i class="minus_pause" data-minutes-change="-5"></i>
		<span class="pause_value">{{- pause }} мин.</span>
		<i class="plus_pause" data-minutes-change="5"></i>
	</div>
</div>

<span class="remove"></span>