<div class="release_painting">
	{{ if (isEmpty) { }}
		<div class="release_painting-empty">
			Данные о росписи данного фильма отсутствуют.
			<div class="to_planning">Добавить в репертуар</div>
		</div>
	{{ } else { }}
		<div class="release_painting-header">
			<a href="{{- exportURL }}" class="btn btn-default" data-action="show-context-menu">
				<i class="btn-export__ico"></i> Экспорт всех заявок
			</a>
			<a href="{{- prolongationURL }}" class="btn btn-default" data-action="show-context-menu">Пролонгация</a>
		</div>
	{{ } }}
</div>
