<div class="left_side">
	<div class="head">
		<span class="head_info">
			<span class="cinema_occupancy">заполненность к/тра:</span>
			<span class="free_time">свободно:</span>
		</span>
	</div>
	<span class="film" data-tour="show-planning-list">фильм</span>
</div>

<div class="right_side">
	<div class="row">
		{{ for (var week in weekGroup) { }}
			{{ var daysCount = weekGroup[week].length; }}
			{{ var weekNumber = weekGroup[week][0].number_of_week; }}
			{{ var free = cinemaDayTime - (duration[weekNumber] || 0); }}
			{{ var cinemaOccupancyPercent = Math.floor( ( (duration[weekNumber] || 0) / cinemaDayTime ) * 100 ); }}

			<div class="week" data-week="{{- weekNumber }}" data-year="{{- curYear }}" data-days="{{- daysCount }}" data-occupancy_percent="{{- cinemaOccupancyPercent }}" data-free_time="{{- free }}" style="width: calc((100% / {{- days.length }}) * {{- daysCount }})">
				<span class="duration {{- (duration && (duration[weekNumber] || 0)) ? 'numbers' : '' }}">
					<span class="cinema_time {{- cinemaOccupancyPercent > 100 ? 'low' : '' }}">{{- cinemaOccupancyPercent }}%</span>
					<span class="rel_time {{- free < 0 ? 'low' : '' }}">{{- free }} мин.</span>
				</span>
				{{ if (cinema) { var cinemaRight = cinema.rights_id; }}
					{{ if (cinemaRight != 1 && cinemaRight != 2) { }}
						<i class="add_week_release" original-title="Добавить релиз"></i>
					{{ } }}
				{{ } }}
			</div>
		{{ } }}
	</div>

	<div class="row">
		{{ for (var week in weekGroup) { }}
			{{ var daysCount = weekGroup[week].length; }}
			{{ var weekNumber = weekGroup[week][0].number_of_week; }}
			{{ var free = cinemaDayTime - (duration[weekNumber] || 0); }}
			{{ var cinemaOccupancyPercent = Math.floor( ( (duration[weekNumber] || 0) / cinemaDayTime ) * 100 ); }}

			<div class="week" data-week="{{- weekNumber }}" data-year="{{- curYear }}" data-days="{{- daysCount }}" style="width: calc((100% / {{- days.length }}) * {{- daysCount }})" data-occupancy_percent="{{- cinemaOccupancyPercent }}" data-free_time="{{- free }}">
				{{ for (var day in weekGroup[week]) { }}
					<div class="cell {{- weekGroup[week][day].day_of_week == 6 || !weekGroup[week][day].day_of_week ? 'holiday' : '' }}" style="width: calc(100% / {{- daysCount }})">{{- weekGroup[week][day].day_of_month }}</div>
				{{ } }}
			</div>
		{{ } }}
	</div>
</table>