<div class="my_add_popup">
	<div class="my_add_popup_exit arcticmodal-close">
		<i class="my_add_popup_exit__ico"></i>
		<i class="my_add_popup_exit__ico my_add_popup_exit__ico_hover"></i>
		<i class="my_add_popup_exit__ico my_add_popup_exit__ico_active"></i>
	</div>
	<div class="list">
		<input type="text" class="input">
		<i class="remove_text"></i>
		<div class="short_list">
			<div class="tabs">
				<span class="item active">Текущая неделя</span>
				<span class="item">Предыдущая неделя</span>
			</div>
			<div class="sections">
				<div class="releases"></div>
				<div class="releases"></div>
			</div>
		</div>
		<div class="results"></div>
	</div>
</div>