{{ _.each(results, function(release) { }}
	{{ var relDate        = Date.create(release.date); }}
	{{ var relDatePrevDay = Date.create(release.date).addDays(-1).format('{yyyy}'); }}

	{{ if (relDate.format('{yyyy}') === relDatePrevDay) { }}
		{{ var date = relDate.format('{dd} {month} {yyyy}'); }}
		{{ if (date === 'Invalid Date') { }}
			{{ date = release.date; }}
		{{ } }}
	{{ } else { }}
		{{ var date = release.date; }}
	{{ } }}

	<div class="item js_my_release" data-id="{{- release.id }}">
		<div class="left">
			{{ if (release.cover) { }}
				<img src="{{- release.cover }}" alt="" class="poster">
			{{ } else { }}
				<i class="poster_ico gradient_{{- getRandomInt(1, 8) }}"></i>
			{{ } }}
		</div>
		<div class="right">
			<span class="ru">{{- release.title.ru }}</span>
			<span class="en">{{- release.title.en || '' }}</span>
			<div class="info">
				<span class="date">{{- date }}</span>
				<span class="dist">{{- release.distributors }},</span>
				<span class="age">{{- release.age }}+</span>
			</div>
			<span class="formats">{{- release.formats.join(', ') }}</span>
		</div>
	</div>
{{ }); }}