<table class="report-schedule-table">
	<thead>
		<tr>
			<th colspan="2" rowspan="2">
				<button class="btn btn-default btn-back"><i class="fa fa-chevron-left"></i>Назад</button>
				<div class="report-schedule-intervals">
					{{ if (intervals.indexOf('ЧТ') === -1) { }}
						<i class="fa fa-chevron-left prev-interval"></i>
					{{ } }}
					<span class="current-interval">{{- intervals }}</span>
					{{ if (intervals.indexOf('СР') === -1) { }}
						<i class="fa fa-chevron-right next-interval"></i>
					{{ } }}
				</div>
			</th>
			<th rowspan="2">Продолж. фильма</th>
			<th colspan="16">Сеансы</th>
		</tr>
		<tr>
			<th>10:00</th>
			<th>11:00</th>
			<th>12:00</th>
			<th>13:00</th>
			<th>14:00</th>
			<th>15:00</th>
			<th>16:00</th>
			<th>17:00</th>
			<th>18:00</th>
			<th>19:00</th>
			<th>20:00</th>
			<th>21:00</th>
			<th>22:00</th>
			<th>23:00</th>
			<th>0:00</th>
			<th>1:00</th>
		</tr>
	</thead>
	<tbody class="halls-report-collection"></tbody>
</table>