<div class="nt-sidebar-item-header">
	<span class="nt-sidebar-item-header__header">Загрузки на сервер цифровой доставки DCP24</span>
	<span class="nt-sidebar-item-header__count empty"><span class="trailers_count">0</span></span>
</div>

<div id="sb-trailers" class="nt-sidebar-trailers-box">
	<i class="loader"></i>
	<span class="nt-sidebar-trailers__empty">Киноплан умеет скачивать трейлеры на сервера DCP24 вашего кинотеатра.</span>
	<span class="nt-sidebar-trailers__empty">Пройдите в раздел Релизы — Трейлеры и нажмите <b>«Загрузить трейлер на сервер DCP24»</b></span>
</div>
