<div class="left">
	{{ if (cover) { }}
		<img src="{{- cover }}" alt="{{- title.ru }}" class="poster">
	{{ } else { }}
		<i class="poster_ico gradient_{{- _.random(1, 8) }}"></i>
	{{ } }}
</div>
<div class="right">
	<span class="ru">{{- title.ru }}</span>
	<span class="en">{{- title.en ? title.en : ' ' }}</span>
	<div class="info">
		<span class="date">{{- moment(date, 'DD.MM.YYYY').isValid() ? moment(date, 'DD.MM.YYYY').format('DD MMMM YYYY') : date }},</span>
		<span class="dist">{{- distributors }},</span>
		<span class="age">{{- age }}+</span>
	</div>
	<span class="formats">{{- formats.join(', ') }}</span>
</div>