<div class="service-device-card__foto service-device-card__foto--{{- device.type }}"></div>

<div class="service-params">
	<span class="service-device-card__title">
		<i class="fa fa-{{- device.type === 'playserver' ? 'database' : 'video-camera' }}"></i>
		{{- device.vendor || '' }} {{- device.model || '' }},
		<span class="service-device-card__hall-title">Зал {{- hall.title }}</span>
	</span>
	<span class="service-device-card__sn service__description">
		s/n: {{- device.serialNumber }}
	</span>
</div>

<div class="service-device-params"></div>