<thead class="service-table-head">
	<tr>
		<th class="service-table-head__cell service-table-head__cell--first">№</th>
		<th class="service-table-head__cell">Лампа</th>
		<th class="service-table-head__cell">Средний срок</th>
		<th class="service-table-head__cell">Гарантия</th>
		<th class="service-table-head__cell">Отработано</th>
		<th class="service-table-head__cell">Период эксплуатации</th>
		<th class="service-table-head__cell">Оборудование</th>
	</tr>
</thead>
<tbody class="service-table-body">
	{{ _.each(archivedLamps, function(lamp, id) { }}
		<tr class="service-table-body__row">
			<td class="service-table-body__cell service-table-body__cell--first">{{- id + 1 }}</td>
			<td class="service-table-body__cell">
				<span class="service__lamp-link" data-serial-number="{{- lamp.serialNumber }}">
				{{ if (lamp.vendor && lamp.model) { }}
					{{- lamp.vendor || '' }} {{- lamp.model || '' }}
				{{ } else { }}
					Неизвестная лампа
				{{ } }}
				</span>
				<span class="service__description">s/n: {{- lamp.serialNumber || '-' }}</span>
			</td>
			<td class="service-table-body__cell">
				{{- lamp.averageTime || '' }}
				<span class="service__description">
					{{- lamp.averageTime ? _.declOfNum(lamp.averageTime, [' час', ' часа', ' часов']) : '-' }}
				</span>
			</td>
			<td class="service-table-body__cell">
				{{- lamp.warranty || '' }}
				<span class="service__description">
					{{- lamp.warranty ? _.declOfNum(lamp.warranty, [' час', ' часа', ' часов']) : '-' }}
				</span>
			</td>
			<td class="service-table-body__cell">
				{{- lamp.workTime || '' }}
				<span class="service__description">
					{{- lamp.workTime ? _.declOfNum(lamp.workTime, [' час', ' часа', ' часов']) : '-' }}
				</span>
			</td>
			<td class="service-table-body__cell">
				<span class="service__description">с
					<span class="service__description--black">
						{{- moment(lamp.installed).isValid() ? moment(lamp.installed).format('D MMMM YYYY') : '-' }}
					</span>
				</span>
				<span class="service__description">по
					<span class="service__description--black">
						{{- moment(lamp.removed).isValid() ? moment(lamp.removed).format('D MMMM YYYY') : '-' }}
					</span>
				</span>
			</td>
			<td class="service-table-body__cell">
				{{ if (lamp.projector && lamp.projector.vendor && lamp.projector.model) { }}
					<span class="service__device-link" data-serial-number="{{- lamp.projector.serialNumber }}">
						{{- lamp.projector.vendor || '' }} {{- lamp.projector.model || '' }}
					</span>
				{{ } else { }}
					-
				{{ } }}
				<span class="service__description">
					{{- lamp.hallTitle ? [lamp.hallTitle, lamp.cinemaTitle, lamp.cinemaCity].join(', ') : '' }}
				</span>
			</td>
		</tr>
	{{ }); }}
</tbody>