<div class="service-device-params-groups">
	{{ _.each(paramsGroups, function(paramsGroupValue, paramsGroupKey) { }}
		<div class="service-device-params-groups__item {{- paramsGroupKey === currentParamsGroupKey ? 'active': '' }}" data-params-group="{{- paramsGroupKey }}">
			<span class="service-device-params__icon">
				<i class="fa fa-circle"></i>
			</span>
			<span class="service-device-params__title">
				{{- paramsGroupsTitles[paramsGroupKey] }}
			</span>
		</div>
	{{ }); }}
</div>

<div class="service-device-params-group"></div>