<div class="service-invite">
	<span class="service-invite__title">{{- !serviceInvite ? 'Оборудование' : 'Спасибо!' }}</span>
	<span class="service-invite__description">Раздел помогает следить за работой аппаратуры в кинотеатре</span>
	{{ if (!serviceInvite) { }}
		<span class="service-invite__description">
			<button class="btn btn--large btn-invite" data-action="invite">Подключить услугу</button>
		</span>
	{{ } else { }}
		<span class="service-invite__description">Наши менеджеры свяжутся с вами в ближайшее время.</span>
	{{ } }}
</div>