<div class="head">
	<a href="/" class="short-logo" title="Киноплан. Система составления расписания и управления кинопоказом"></a>
	<a href="/" class="logo" title="Киноплан. Система составления расписания и управления кинопоказом"></a>
</div>

{{ if (0) { }}
	<div class="webinar">
		<h2>
			<a href="/master_class" target="_blank" onClick="_gaq.push(['_trackEvent', 'Вебинар', 'Открытие']);">
				<span class="ico">
					<i class="webinar"></i>
					<i class="webinar hover"></i>
				</span>
				<span class="submenu">Запись на мастер-класс</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (!_.contains(['guest','partner'], type)) { }}
	<div page="dashboard" class="list" data-tour="dashboard">
		<h2>
			<a href="/dashboard">
				<span class="ico">
					<i class="dashboard"></i>
					<i class="dashboard hover"></i>
				</span>
				<span class="submenu">Главная</span>
			</a>
		</h2>
	</div>
{{ } }}

<div page="releases" class="list" data-tour="releases">
	<h2>
		<a href="/releases">
			<span class="ico">
				<i class="releases"></i>
				<i class="releases hover"></i>
			</span>
			<span class="submenu">Список релизов</span>
		</a>
	</h2>
</div>

{{ if (!_.contains(['guest','partner'], type)) { }}
	<div page="distributors" class="list" data-tour="distributors">
		<h2>
			<a href="/distributors">
				<span class="ico">
					<i class="distributors"></i>
					<i class="distributors hover"></i>
				</span>
				<span class="submenu">Информация о дистрибьюторах</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (_.contains(['cinema','mechanic'], type)) { }}
	<div page="keys" class="list" data-tour="keys">
		<h2>
			<a href="/keys">
				<span class="ico">
					<i class="keys fa fa-key"></i>
					<i class="keys fa fa-key hover"></i>
				</span>
				<span class="submenu">Ключи к фильмам</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (_.contains(['cinema','mechanic','distributor'], type)) { }}
	<div page="cinemas" class="list" data-tour="{{- _.contains(['distributor'], type) ? 'distributor_cinemas' : 'cinemas' }}">
		<h2>
			<a href="/cinemas">
				<span class="ico">
					<i class="cinemas"></i>
					<i class="cinemas hover"></i>
				</span>
				<span class="submenu">{{- _.contains(['distributor'], type) ? 'Кинотеатры' : 'Кинотеатр' }}</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (_.contains(['cinema','mechanic'], type)) { }}
	<div page="service" class="list" data-tour="service">
		<h2>
			<a href="/service">
				<span class="ico">
					<i class="service fa fa-wrench"></i>
					<i class="service fa fa-wrench hover"></i>
				</span>
				<span class="submenu">Оборудование</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (_.contains(['distributor'], type) && _.contains(['LUX', 'VLG'], name.short) && approved) { }}
	<div page="reports" class="list" data-tour="distributor_reports">
		<h2>
			<a href="/reports">
				<span class="ico">
					<i class="reports fa fa-file-text-o"></i>
					<i class="reports fa fa-file-text-o hover"></i>
				</span>
				<span class="submenu">Отчеты</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (_.contains(['cinema','mechanic'], type)) { }}
	<div page="planning" class="list" data-tour="planning">
		<h2>
			<a href="/planning">
				<span class="ico">
					<i class="planning"></i>
					<i class="planning hover"></i>
				</span>
				<span class="submenu">Репертуарное планирование</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (!_.contains(['distributor','guest','partner'], type)) { }}
	<div page="schedule" class="list schedule_sidebar" data-tour="schedule">
		<h2>
			<a href="/schedule">
				<span class="ico">
					<i class="schedule"></i>
					<i class="schedule hover"></i>
				</span>
				<span class="submenu">Расписание сеансов</span>
			</a>
		</h2>
		<div class="schedule_submenu">
			<span class="timeline_submenu" chosen_day="0">
				<span class="icon_space"><i class="fa fa-tasks"></i></span> Многозальный режим
			</span>
		</div>
	</div>
{{ } }}

{{ /* if (type === 'cinema' || (type === 'mechanic' && _.filter(cinema_rights, function(cinema){ if (cinema.master_id && cinema.level !== 'none') return true; }).length === cinema_rights.length)) { */ }}
{{ if(0) { }}
	<div page="advertising" class="list" data-tour="advertising">
		<h2>
			<a href="/advertising">
				<span class="ico">
					<i class="advertising"></i>
					<i class="advertising hover"></i>
				</span>
				<span class="submenu">Медиапланирование</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ /* if (type === 'cinema' || (type === 'mechanic' && _.filter(cinema_rights, function(cinema){if (cinema.master_id) return true; }).length === cinema_rights.length)) { */ }}
{{ if(0) { }}
	<div page="commercials" class="list" data-tour="commercials">
		<h2>
			<a href="/commercials">
				<span class="ico">
					<i class="commercials"></i>
					<i class="commercials hover"></i>
				</span>
				<span class="submenu">Коммерческая реклама</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (access_stat) { }}
	<div page="statistic" class="list" data-tour="statistic">
		<h2>
			<a href="/statistic">
				<span class="ico">
					<i class="statistic"></i>
					<i class="statistic hover"></i>
				</span>
				<span class="submenu">Статистика</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (_.findWhere(cinema_rights, {master: 1})) { }}
	<div page="employee" class="list" data-tour="employee">
		<h2>
			<a href="/employee">
				<span class="ico">
					<i class="employee"></i>
					<i class="employee hover"></i>
				</span>
				<span class="submenu">Коллеги</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (!_.contains(['guest','partner','distributor'], type)) { }}
	<div page="analytics" class="list" data-tour="analytics">
		<h2>
			<a href="/analytics">
				<span class="ico">
					<i class="statistic"></i>
					<i class="statistic hover"></i>
				</span>
				<span class="submenu">Аналитика</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (type === 'distributor' && admin) { }}
	<div page="keygen" class="list" data-tour="keygen">
		<h2>
			<a>
				<span class="ico">
					<i class="keygen fa fa-key"></i>
					<i class="keygen hover fa fa-key"></i>
				</span>
				<span class="submenu">Генерация ключей</span>
			</a>
		</h2>
	</div>
{{ } }}

{{ if (type === 'distributor' && admin) { }}
	<div page="booking" class="list" data-tour="booking">
		<h2>
			<a>
				<span class="ico">
					<i class="booking fa fa-send"></i>
					<i class="booking hover fa fa-send"></i>
				</span>
				<span class="submenu">Букинг</span>
			</a>
		</h2>
	</div>
{{ } }}

<div class="google_play">
	<h2>
		<a href="https://play.google.com/store/apps/details?id=ru.kinoplan24.app" target="_blank" onClick="_gaq.push(['_trackEvent', 'Приложения', 'Google Play']);">
			<span class="ico">
				<i class="google_play__ico"></i>
				<i class="google_play__ico hover"></i>
			</span>
			<span class="submenu">Google Play</span>
		</a>
	</h2>
</div>
<div class="app_store">
	<h2>
		<a href="https://itunes.apple.com/ru/app/kinoplan/id697785442?mt=8" target="_blank" onClick="_gaq.push(['_trackEvent', 'Приложения', 'App Store']);">
			<span class="ico">
				<i class="app_store__ico"></i>
				<i class="app_store__ico hover"></i>
			</span>
			<span class="submenu">App Store</span>
		</a>
	</h2>
</div>
<div id="feedback" class="feedback">
	<h2>
		<a>
			<span class="ico">
				<i class="feedb"></i>
				<i class="feedb hover"></i>
			</span>
		</a>
	</h2>
</div>
