<td><a href="#" class="s_filter" data-filter='cinema'           data-param='{{- cinema_id }}'>{{- cinema_title }}</a></td>
<td><a href="#" class="s_filter" data-filter='city_id'          data-param='{{- city }}'>{{- city_title_ru }}</a></td>
<td class="text_align_right">{{- title }}</td>
<td class="text_align_right">{{- capasity }}</td>
<td><a href="#" class="s_filter" data-filter='integrator'       data-param='{{- integrator }}'>{{- integrator }}</a></td>
<td><a href="#" class="s_filter" data-filter='projector_model'  data-param='{{- projector_model }}'>{{- projector_model }}</a></td>
<td><a href="#" class="s_filter" data-filter='server'           data-param='{{- server }}'>{{- server }}</a></td>
<td><a href="#" class="s_filter" data-filter='type3d'           data-param='{{- type3d }}'>{{- type3d }}</a></td>
<td>{{- installed ? Date.create(installed).format('{d}.{MM}.{yyyy}') : 'Нет данных' }}</td>
