<div class="my_add_popup" data-week="32" data-year="2014" style="text-align: left;">
	<div class="my_add_popup_exit arcticmodal-close">
		<i class="my_add_popup_exit__ico"></i>
		<i class="my_add_popup_exit__ico my_add_popup_exit__ico_hover"></i>
		<i class="my_add_popup_exit__ico my_add_popup_exit__ico_active"></i>
	</div>
	<div class="list">
		<input type="text" class="input">
		<i class="remove_text"></i>
		<div class="short_list">
			<div class="tabs">
				<span class="item active">Текущая неделя</span>
				<span class="item">Предыдущая неделя</span>
			</div>
			<div class="sections">
				<div class="releases ready" style="display: block;"><div class="item js_my_release" data-id="4253"><span class="date">13 августа 2014</span><span class="title">Неудержимые 4</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="2997"><span class="date">11 августа 2014</span><span class="title">Дрифт (На гребне)</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="3002"><span class="date">01 августа 2014</span><span class="title">Только Бог простит</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="3758"><span class="date">01 августа 2014</span><span class="title">Всё, как ты захочешь</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="3571"><span class="date">08 августа 2014</span><span class="title">Черепашки-ниндзя</span><span class="formats">IMAX</span></div><div class="item js_my_release" data-id="3452"><span class="date">07 августа 2014</span><span class="title">Кровавая месть</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="2647"><span class="date">07 августа 2014</span><span class="title">Волшебный футбол 3D</span><span class="formats">2D, 3D</span></div><div class="item js_my_release" data-id="4087"><span class="date">07 августа 2014</span><span class="title">Олли и сокровища пиратов</span><span class="formats">2D, 3D</span></div><div class="item js_my_release" data-id="4237"><span class="date">01 августа 2014</span><span class="title">Особо опасен</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="2881"><span class="date">01 августа 2014</span><span class="title">Страсть</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="3784"><span class="date">07 августа 2014</span><span class="title">Навстречу шторму</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="3909"><span class="date">07 августа 2014</span><span class="title">Домашнее видео: только для взрослых</span><span class="formats">2D</span></div></div>
				<div class="releases"><div class="item js_my_release" data-id="4364"><span class="date">04 августа 2014</span><span class="title">Тропы</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="3529"><span class="date">03 августа 2014</span><span class="title">Танцующий в пустыне</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="3133"><span class="date">03 августа 2014</span><span class="title">Судная ночь 2</span><span class="formats">2D</span></div><div class="item js_my_release" data-id="3580"><span class="date">03 августа 2014</span><span class="title">Стражи Галактики</span><span class="formats">2D, 3D, IMAX</span></div><div class="item js_my_release" data-id="3556"><span class="date">03 августа 2014</span><span class="title">Дружба (И никакого секса)</span><span class="formats">2D</span></div></div>
			</div>
		</div>
		<div class="results"></div>
	</div>
</div>