<div class="user-cinemas-personal-table-col-personal user-cinemas-scroll-table-cell">
	<span class="user-cinemas-scroll-table-cell__name">{{- name }}</span>
</div>
<div class="user-cinemas-personal-table-col-rights user-cinemas-scroll-table-cell">
	<select class="user-cinemas-personal-table__rights-select">
		<option value="0" {{- (rights === 0 ? ' selected' : '') }}>Закрыть доступ</option>
		<option value="1" {{- (rights === 1 ? ' selected' : '') }}>Только чтение</option>
		<option value="2" {{- (rights === 2 ? ' selected' : '') }}>Без репертуара</option>
		<option value="3" {{- (rights === 3 ? ' selected' : '') }}>Полный доступ</option>
	</select>
</div>
