<div class="nt-sidebar-item-header">
	<span class="nt-sidebar-item-header__header">Изменения в репертуаре</span>
</div>
<div id="user_updates" class="nt-sidebar-user-updates-box">
	<i class="loader"></i>
</div>
