<div class="header-user__name">{{- first_name }} {{- last_name }}</div>
<img src="{{- photo_medium || '/img/avatar.png' }}" width="30" height="30" class="header-user__avatar">
<i class="fa fa-caret-down"></i>
<div class="header-user-popup header-user-popup--triangle-top clearfix">
	<img src="{{- photo_medium || '/img/avatar.png' }}" width="80" height="80" class="header-user-popup__avatar">
	<div class="header-user-popup-inner">
		<div class="header-user-popup-inner__name">{{- first_name }} {{- last_name }}</div>

		<span class="header-user-popup-inner__profile">Профиль</span>

		{{ if (_.contains(['cinema','mechanic'], type)) { }}
			<span class="header-user-popup-inner__cinemas">Кинотеатры</span>
		{{ } }}

		{{ if(type === 'distributor') { }}
			<span class="header-user-popup-inner__distributor-setting">Настройки</span>
		{{ } }}

		<div class="header-user-popup-inner__logout">Выход<i class="fa fa-sign-out"></i></div>
	</div>
</div>