{{ var readOnly = !rights_id ? true : false }}
<span class="user-cinemas-settings-container__title">{{- title.ru }}, {{- city.title.ru }}</span>
{{ if (master === 1 || rights_id === 3) { }}
	<div class="user-cinemas-settings-tabs tabs">
		<span class="user-cinemas-settings-tabs-item active">Залы</span>
		<span class="user-cinemas-settings-tabs-item ">Сотрудники <span class="user-cinemas-settings-tabs__personal-count"></span></span>
	</div>
{{ } }}
<div class="user-cinemas-settings-data {{ if (master === 1 || rights_id === 3) { }}user-cinemas-settings-data--halls{{ } }}">

	<div class="user-cinemas-settings-data-block">
		<span class="user-cinemas-settings-data-block__title">Время работы кинотеатра:</span>
		<div class="user-cinemas-settings-data-block-group">
			<span class="user-cinemas-settings-data-block-group__title {{- readOnly ? 'inline' : '' }}">В будние дни с </span>
			{{ if (readOnly) { }}
				<span>{{- cinemaOpen }}</span> до
				<span>{{- cinemaClose }}</span>
			{{ } else { }}
				<input type="text" name="cinemaOpen"  value="{{- cinemaOpen }}" class="user-cinema-settings__settings-input"> до
				<input type="text" name="cinemaClose" value="{{- cinemaClose }}" class="user-cinema-settings__settings-input">
			{{ } }}
		</div>
		<div class="user-cinemas-settings-data-block-group">
			<span class="user-cinemas-settings-data-block-group__title {{- readOnly ? 'inline' : '' }}">В выходные с </span>
			{{ if (readOnly) { }}
				<span>{{-  cinemaWeekendOpen }}</span> до
				<span>{{- cinemaWeekendClose }}</span>
			{{ } else { }}
				<input type="text" name="cinemaWeekendOpen"  value="{{- cinemaWeekendOpen }}" class="user-cinema-settings__settings-input"> до
				<input type="text" name="cinemaWeekendClose" value="{{- cinemaWeekendClose }}" class="user-cinema-settings__settings-input">
			{{ } }}
		</div>
	</div>
	<div class="user-cinemas-settings-data-block">
		<span class="user-cinemas-settings-data-block__title">Расписание:</span>
		<div class="user-cinemas-settings-data-block-group">
			<span class="user-cinemas-settings-data-block-group__title">Округление времени начала/конца сеансов в</span>
			{{ if (readOnly) { }}
				<span class="user-cinemas-settings__schedule-rounding--read_only" value="{{- schedule_rounding }}">
				{{- schedule_rounding === 'ceil' ? 'большую сторону' : 'меньшую сторону' }}
				</span>
			{{ } else { }}
				<select class="user-cinemas-settings-schedule-rounding-select">
					{{ if (schedule_rounding === 'ceil') { }}
						<option value="ceil" selected>большую сторону</option>
						<option value="floor">меньшую сторону</option>
					{{ } else { }}
						<option value="ceil">большую сторону</option>
						<option value="floor" selected>меньшую сторону</option>
					{{ } }}
				</select>
			{{ } }}
			<span class="user-cinemas-settings-data-block__unit">(кратно 5 мин.)</span>
		</div>
	</div>

	<div class="user-cinemas-settings-data-block">
		<span class="user-cinemas-settings-data-block__title">Реклама:</span>
		<div class="user-cinemas-settings-data-block-group">
			<span class="user-cinemas-settings-data-block-group__title">Размер рекламных блоков</span>
			{{ if (readOnly) { }}
				<span class="user-cinemas-settings__advertisement--read_only">{{- moment().startOf('day').minutes(defaultCinemaAd).format('HH:mm') }}</span>
			{{ } else { }}
				<input class="user-cinemas-settings__advertisement-input" type="number" min="0" max="300" step="1" style="width:35px;" value="{{- parseInt(defaultCinemaAd) }}">
			{{ } }}
			<span class="user-cinemas-settings-data-block__unit">(мин.)</span>
		</div>
	</div>
	<div class="user-cinemas-halls-table user-cinemas-scroll-table">
		<div class="user-cinemas-scroll-table-top">
			<div class="user-cinemas-halls-table-col-hall-name user-cinemas-scroll-table-cell">
				<span class="user-cinemas-scroll-table-cell__name">Залы</span>
			</div>
			<div class="user-cinemas-halls-table-col-hall-open user-cinemas-scroll-table-cell">
				<span class="user-cinemas-scroll-table-cell__name" title="Время начала первого сеанса в выбранном зале">Первый сеанс</span>
			</div>
			<div class="user-cinemas-halls-table-col-hall-close user-cinemas-scroll-table-cell">
				<span class="user-cinemas-scroll-table-cell__name" title="Время, не позднее которого должен начаться последний сеанс">Последний сеанс</span>
			</div>
			<div class="user-cinemas-halls-table-col-pause user-cinemas-scroll-table-cell">
				<span class="user-cinemas-scroll-table-cell__name">Перерыв (мин.)</span>
			</div>
			<div class="user-cinemas-halls-table-col-tms user-cinemas-scroll-table-cell">
				<span class="user-cinemas-scroll-table-cell__name" title="TMS ID">Метка</span>
			</div>
		</div>
		<div class="user-cinemas-scroll-table-bottom user-cinemas-halls-table-bottom">
			{{ _.each(halls, function(hall) { }}
				{{var openVal, closeVal, openPause; }}
				{{ openVal  = hall.defaultHallOpen; }}
				{{ closeVal = hall.defaultHallClose; }}
				{{ tmsID    = hall.tms_id; }}
				{{ openPause = (hall.defaultHallPause < 10 ? '0' : '') + hall.defaultHallPause }}
					<div class="user-cinemas-scroll-table-row" data-hall="{{- hall.id }}">
						<div class="user-cinemas-halls-table-col-hall-name user-cinemas-scroll-table-cell">
							<span class="user-cinemas-scroll-table-cell__name">Зал {{- hall.title || hall.number || hall.capasity }} {{ if (!hall.title && !hall.number) { }}мест{{ } }}</span>
						</div>
						<div class="user-cinemas-halls-table-col-hall-open user-cinemas-scroll-table-cell">
							{{ if (readOnly) { }}
								{{- openVal }}
							{{ } else { }}
								<input type="text" class="user-cinemas-halls-table__hall-open-input" data-val="{{- openVal }}" value="{{- openVal }}">
							{{ } }}
						</div>
						<div class="user-cinemas-halls-table-col-hall-close user-cinemas-scroll-table-cell">
							{{ if (readOnly) { }}
								{{- closeVal }}
							{{ } else { }}
								<input type="text" class="user-cinemas-halls-table__hall-close-input" data-val="{{- closeVal }}" value="{{- closeVal }}">
							{{ } }}
						</div>
						<div class="user-cinemas-halls-table-col-pause user-cinemas-scroll-table-cell">
							{{ if (readOnly) { }}
								00:{{- openPause }}
							{{ } else { }}
								<input type="text" class="user-cinemas-halls-table__pause-input" data-val="00:{{- openPause }}">
							{{ } }}
						</div>

						<div class="user-cinemas-halls-table-col-tms user-cinemas-scroll-table-cell">
							{{ if (readOnly) { }}
								{{- tmsID || '' }}
							{{ } else { }}
								<input type="text" class="user-cinemas-halls-table__tms-input" value="{{- tmsID || '' }}" style="width:35px;text-align:center;" maxlength="32">
							{{ } }}
						</div>
					</div>
				{{ }) }}
			</div>
		</div>
	</div>
	{{ if (master === 1 || rights_id === 3) { }}
		<div class="user-cinemas-settings-data user-cinemas-settings-data--personal"></div>
	{{ } }}
</div>
