<span class="user-cinemas-group__title">Название группы</span>
<input type="text" class="user-cinemas-group__name" value="{{- placeholder ? '' : title }}" placeholder="{{- placeholder ? placeholder : '' }}">
<span class="user-cinemas-group__hint">Выберите произвольное название для вашей группы кинотеатров</span>
<span class="user-cinemas-group__title">Кинотеатры</span>
<div class="user-cinemas-group-wrapper">
	<div class="user-cinemas-group-scroll">
		<div class="user-cinemas-group-columns">
			{{ _.each(cinemas, function(cinema) { }}
				<label class="user-cinemas-group-cinema {{- cinema.readonly ? 'disabled' : '' }}" title="{{- cinema.title }}"><input type="checkbox" class="user-cinemas-group__check" {{- cinema.checked ? 'checked' : '' }} {{- cinema.readonly ? 'disabled' : '' }} data-id="{{- cinema.id }}" name="{{- cinema.id }}" id="{{- cinema.id }}"> {{- cinema.title }}</label>
			{{ }); }}
		</div>
	</div>
</div>
<span class="user-cinemas-group__remove">Удалить группу</span>