<div class="user-cinemas-personal-table user-cinemas-scroll-table">
	<div class="user-cinemas-scroll-table-top">
		<div class="user-cinemas-personal-table-col-personal user-cinemas-scroll-table-cell">
			<span class="user-cinemas-scroll-table-cell__name">Сотрудники</span>
		</div>
		<div class="user-cinemas-personal-table-col-rights user-cinemas-scroll-table-cell">
			<span class="user-cinemas-scroll-table-cell__name">Список прав</span>
		</div>
	</div>
	<div class="user-cinemas-scroll-table-bottom user-cinemas-personal-table-bottom">
			{{if (masterUser) { }}
			<div class="user-cinemas-scroll-table-row">
				<div class="user-cinemas-personal-table-col-personal user-cinemas-scroll-table-cell">
					<span class="user-cinemas-scroll-table-cell__name">{{- masterUser.name }}</span>
				</div>
				<div class="user-cinemas-personal-table-col-rights--no-select user-cinemas-scroll-table-cell">
					<span class="user-cinemas-scroll-table-cell__name">Владелец</span>
				</div>
			</div>
		{{ } }}
	</div>
</div>
<div class="user-cinemas-personal-invite" style='display:block'>
	<span class="user-cinemas-personal-invite__text">Пригласить сотрудников:</span>
	<input type="text" class="user-cinemas-personal-invite__input" placeholder="Электронная почта">
	<select class="user-cinemas-personal-invite-select">
		<option value="1">Только чтение</option>
		<option value="2">Без репертуара</option>
		<option value="3">Полный доступ</option>
	</select>
	<div class="user-cinemas-personal-invite-actions">
		<span class="user-cinemas-personal-invite-actions__send">Отправить</span>
		<span class="user-cinemas-personal-invite-actions__cancel">Отмена</span>
	</div>
</div>