<div class="head_day_wr">
	{{ _.each(days_week, function(day) { }}
		<div class="head_day {{- day.day_of_week === 2 || day.day_of_week === 3 ? 'hol' : '' }}">
			<div class="head_day__left">
				<span class="head_day__date">{{- day.day_of_month }}</span>
				<span class="head_day__month">{{- day.month }}</span>
			</div>
			<i class="fa fa-tasks timeline_switch" chosen_day="{{- day.day_of_week }}"></i>
			<span class="head_day__day">{{- WEEKDAY[day.day_of_week] }}</span>
		</div>
	{{ }); }}
</div>
<div class="hall_list_wr"></div>