{{ _.each(trailers, function(trailer, index) { }}
	{{ if (index) { }} <br> {{ } }}

	{{ var duration = moment.duration(trailer.duration, "seconds") }}

	Трейлер{{- trailer.version ? " " + trailer.version : "" }}, {{- moment(trailer.date).format("DD.MM.YYYY") }}<br>

	{{- duration.minutes() + " мин." }} {{- duration.seconds() + " сек.," }}
	{{- trailer.age ? " возраст: " + trailer.age + "+" : "" }}<br>
	{{- trailer.formats.length > 1 ? "Форматы:" : "Формат:" }} {{- trailer.formats.join(", ") }}<br>
{{ }) }}